.p-table {
  width: 500px;
}
tr th {
  white-space: nowrap;
}
.ui-button.in-th {
  height: 28px;
  width: 28px;
  margin: 10px 5px 0px 0px;
}
.ui-button.in-th.btn-disabled {
  pointer-events: none;
  opacity: 0.4;
}
.date-pick {
  position: fixed;
  overflow: visible;
  z-index: 999;
}
.ui-datepicker {
  width: 100px;
}
.ui-calendar {
  display: block;
}
.word-wrap {
  word-wrap: break-word;
}
.text-align-center {
  text-align: center !important;
}
