<div class="p-mb-3">
  <p-button
    type="button"
    icon="pi pi-plus"
    label="Create"
    [ngClass]="{ 'display-none': !canCreate }"
    *ngIf="createBtn"
    (click)="onCreate($event)"
    styleClass="p-button-text"
  ></p-button>
  <p-button type="button" icon="pi pi-refresh" label="Refresh" (click)="onRefresh()" styleClass="p-button-text"> </p-button>
  <p-button
    type="button"
    icon="pi pi-filter"
    label="Filter"
    (click)="this.isSearch = !this.isSearch; this.getMenuBarItem(); onFilter()"
    styleClass="p-button-text"
  ></p-button>
  <p-button type="button" icon="pi pi-fw pi-search" label="Search" *ngIf="isSearch" (click)="onSearch()" styleClass="p-button-text"></p-button>
</div>
<!-- <h1>Fact : {{bindingOption.fact}}</h1>  -->
<div (scroll)="onScrollx($event)" style="overflow-x: auto; overflow-y: hidden; min-height: 390px">
  <p-table
    [value]="bindingDataSource"
    styleClass="p-datatable-gridlines"
    [paginator]="!bindingOption.isAdvance"
    [rows]="10"
    [showCurrentPageReport]="false"
    [totalRecords]="totalRecord"
    [lazy]="true"
    (onPage)="paginate($event)"
    [rowsPerPageOptions]="[10, 20, 30, 40, 50]"
    [selectionMode]="'multiple'"
    [(selection)]="multipleSelected"
    (onRowSelect)="onRowSelect($event)"
    (onRowUnselect)="onRowUnselect($event)"
    (onHeaderCheckboxToggle)="onTableHeaderCheckboxToggle($event, key)"
  >
    <ng-template pTemplate="header">
      <tr [className]="bindingOption.showPaginator ? 'header' : 'header nosort'">
        <th *ngIf="isMultipleSelection" style="width: 3rem">
          <p-checkbox
            (click)="onTableHeaderCheckboxToggle(e, key)"
            #e
            inputId="tableHeaderCheckbox"
            [(ngModel)]="tableHeaderCheckboxIsCheck"
            [binary]="true"
          ></p-checkbox>
        </th>
        <th
          id="action-th"
          *ngIf="(canView || canDelete) && !isMultipleSelection"
          [ngStyle]="actionTh"
          [className]="bindingOption.showPaginator ? '' : 'local'"
        ></th>
        <th
          *ngFor="let header of bindingOption.columns | dgColumn: false; let i = index"
          [ngStyle]="header.width"
          [className]="
            header.type !== 'HIDDEN' && header.visibility && !header.disabled
              ? bindingOption.showPaginator && !bindingOption.isAdvance && !header.disabledFilter
                ? ''
                : 'local'
              : 'display-none'
          "
          (click)="onSort(header)"
        >
          {{ header.label | translate }}
          <i *ngIf="header.sorting == 0" class="pi pi-sort-amount-down"></i>
          <i *ngIf="header.sorting == 1" class="pi pi-sort-amount-up"></i>
        </th>
      </tr>
      <tr *ngIf="isSearch && !bindingOption.isAdvance" class="row-search">
        <th style="width: 3rem" *ngIf="isMultipleSelection"></th>
        <th *ngIf="(canView || canDelete) && !isMultipleSelection" class="p-d-flex p-jc-center">
          <button pButton pRipple type="button" icon="pi pi-refresh" (click)="onFilter()" class="p-button-rounded p-button-text"></button>
        </th>
        <th
          id="filter-th-{{ i }}"
          *ngFor="let header of bindingOption.columns | dgColumn: false; let i = index"
          [className]="header.type !== 'HIDDEN' && header.visibility && !header.disabled ? '' : 'display-none'"
        >
          <ivz-input-text
            inputId="DATAGRID_STRING"
            *ngIf="header.type === columnType.STRING"
            [(ivzModel)]="searchParam.conditions[i].value"
            (keyup.enter)="onSearch()"
            [ivzConfig]="DEFAULT_INPUTTEXT"
            [disabled]="header.disabledFilter"
          ></ivz-input-text>
          <ivz-input-number
            inputId="DATAGRID_NUMBER"
            *ngIf="header.type === columnType.INT"
            [ignoreDefault]="true"
            [(ivzModel)]="searchParam.conditions[i].value"
            (keyup.enter)="onSearch()"
            [ivzConfig]="INTEGER"
            [disabled]="header.disabledFilter"
            [placeholder]="'0'"
          >
          </ivz-input-number>
          <ivz-input-number
            inputId="DATAGRID_DECIMAL"
            *ngIf="header.type === columnType.DECIMAL"
            [ignoreDefault]="true"
            [(ivzModel)]="searchParam.conditions[i].value"
            (keyup.enter)="onSearch()"
            [ivzConfig]="CURRENCY_13_2"
            [disabled]="header.disabledFilter"
            [placeholder]="'0.00'"
          >
          </ivz-input-number>
          <ivz-calendar
            inputId="DATAGRID_DATE"
            *ngIf="header.type === columnType.DATE"
            [(ivzModel)]="searchParam.conditions[i].value"
            [ivzConfig]="DATE"
            [disabled]="header.disabledFilter"
            [minDate]="header.minDate"
            [maxDate]="header.maxDate"
          ></ivz-calendar>
          <ivz-calendar
            inputId="DATAGRID_DATE"
            *ngIf="header.type === columnType.DATERANGE"
            [(ivzModel)]="searchParam.conditions[i].dateOfValues"
            [ivzConfig]="DATERANGE"
            [disabled]="header.disabledFilter"
            [minDate]="header.minDate"
            [maxDate]="header.maxDate"
          ></ivz-calendar>
          <ivz-dropdown
            inputId="DATAGRID_BOOLEAN"
            *ngIf="header.type === columnType.BOOLEAN"
            [(ivzModel)]="searchParam.conditions[i].value"
            [ivzConfig]="DEFAULT_DROPDOWN"
            [options]="header.masterList"
            [disabled]="header.disabledFilter"
          ></ivz-dropdown>
          <ivz-multi-select
            inputId="DATAGRID_MULTISELECT"
            *ngIf="header.type === columnType.MASTER || header.type === columnType.ENUM"
            [options]="header.masterList"
            [ivzConfig]="DEFAULT_MULTISELECT"
            [(ivzModel)]="searchParam.conditions[i].values"
            [disabled]="header.disabledFilter"
          ></ivz-multi-select>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-row let-rowIndex="rowIndex">
      <tr>
        <td *ngIf="isMultipleSelection">
          <p-tableCheckbox [value]="row"></p-tableCheckbox>
        </td>
        <td *ngIf="(canView || canDelete) && !isMultipleSelection" class="td-btn ui-resizable-column">
          <div class="p-grid p-justify-center">
            <button
              class="in-th p-mr-1 ivz-primary-btn"
              pButton
              type="button"
              icon="pi pi-folder-open"
              iconPos="left"
              (click)="onView(row[key], rowIndex, $event)"
              [ngClass]="{ 'display-none': !canView }"
              [disabled]="row.rowAuthorize === accessMode.noAccess"
            ></button>
            <button
              class="in-th ivz-danger-btn p-ml-1"
              *ngIf="deleteBtn"
              pButton
              type="button"
              icon="pi pi-trash"
              iconPos="left"
              (click)="onDelete(row[key], rowIndex)"
              [disabled]="row.rowAuthorize !== accessMode.full"
              [ngClass]="{ 'display-none': !canDelete }"
            ></button>
          </div>
        </td>
        <td
          *ngFor="let col of bindingOption.columns | dgColumn: false; let i = index"
          [className]="col.type !== 'HIDDEN' && col.visibility && !col.disabled ? col.type : 'display-none'"
          [class.word-wrap]="true"
          [class.text-align-center]="col.type === columnType.BOOLEAN"
        >
          <span *ngIf="col.type !== columnType.BOOLEAN" [innerHtml]="row[col.textKey] | dataDisplay: col:col.type:i"></span>
          <span *ngIf="col.type === columnType.BOOLEAN"
            ><p-checkbox [ngModel]="row[col.textKey]" binary="true" readonly="true" inputId="binary"></p-checkbox
          ></span>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr *ngIf="isSearched" class="no-col">
        <td [attr.colspan]="colspan" style="text-align: left">
          <span class="ui-menuitem-text">{{ 'LABEL.NO_DATA' | translate }}</span>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
<div class="p-mb-3 p-d-flex p-ai-center p-jc-end" style="border: none" *ngIf="isShowOKCancel">
  <ivz-button
    inputId="OK"
    [label]="'LABEL.OK' | translate"
    icon="pi pi-times"
    className="ivz-primary-btn p-m-2"
    [ivzConfig]="buttonConfig"
    (click)="onMultipleAction()"
  ></ivz-button>
  <ivz-button
    inputId="CANCEL"
    [label]="'LABEL.CANCEL' | translate"
    icon="pi pi-power-off"
    className="ivz-primary-btn"
    [ivzConfig]="buttonConfig"
    (click)="onCancel()"
  ></ivz-button>
</div>
