<div class="ivz-list-card">
  <p-panel class="ivz-panel">
    <p-header class="p-d-flex p-jc-between w-100 ivz-panel-header">
      <div class="ivz-div-panel-title">
        <i *ngIf="isRelatedMode" class="pi pi-chevron-circle-left goback" (click)="onBack()"></i>
        <span class="ivz-panel-title p-m-2">{{ 'LABEL.KYC' | translate }}</span>
      </div>
      <div class="ivz-div-panel-btn-group">
        <ivz-button
          [label]="'LABEL.EXPORT' | translate"
          icon="pi pi-file-excel"
          className="p-button-text p-m-2"
          [ivzConfig]="SAVE"
          (ivzClick)="getExport($event, getList(exportParam))"
        ></ivz-button>
        <ivz-button
          [label]="'LABEL.COLUMN' | translate"
          icon="pi pi-table"
          className="p-button-text p-m-2"
          [ivzConfig]="SAVE"
          (ivzClick)="popcolumn.toggle($event)"
        ></ivz-button>
      </div>
    </p-header>
    <p-panel-content class="ivz-div-panel-content">
      <ivz-data-grid
        id="KYC"
        [isNewSearch]="true"
        [option]="option"
        [dataSource]="searchResult"
        [createable]="canCreate"
        (createEmit)="onCreate($event)"
        (reloadEmit)="onSearch(getList($event))"
        (searchEmit)="onSearch(getList($event)); setExportParam($event)"
        (viewEmit)="onView($event)"
        (deleteEmit)="onDelete($event)"
        (filterEmit)="onFilter($event)"
        (rowAuthEmit)="getRowAuthorize($event)"
      >
      </ivz-data-grid>
    </p-panel-content>
  </p-panel>
  <p-overlayPanel #popcolumn class="choose-column" appendTo="body">
    <ul *ngIf="isOverlay" class="list-group list-group-flush no-dot">
      <li class="list-group-item" *ngFor="let col of option.columns | dgColumn: false">
        <div class="p-field-checkbox">
          <p-checkbox [(ngModel)]="col.visibility" binary="true" [inputId]="col.textKey"></p-checkbox>
          <label for="{{ col.textKey }}">{{ col.label | translate }}</label>
        </div>
      </li>
    </ul>
  </p-overlayPanel>
</div>
