<div class="ivz-item-card">
  <p-panel [showHeader]="true" [viewonly]="isView" class="ivz-panel">
    <p-header class="p-d-flex p-jc-between w-100">
      <div class="ivz-div-panel-title">
        <span class="ivz-panel-title p-m-2">{{ 'LABEL.CREDIT_APPLICATION_REQUEST' | translate }}</span>
      </div>
      <div class="ivz-div-panel-btn-group">
        <p-tieredMenu [ngClass]="{ none: !isViewWorkflowBtn }" id="MENUWORKFLOW" #workflow [model]="workflowItems" [popup]="true"> </p-tieredMenu>
        <p-button
          id="WORKFLOW"
          #btnfn
          type="button"
          icon="pi pi-cog"
          (click)="workflow.toggle($event); function.hide(); related.hide(); group.hide()"
          [label]="'LABEL.WORKFLOW' | translate"
          styleClass="p-button-text"
        ></p-button>
        <p-tieredMenu id="MENURELATED" #related [model]="relatedInfoItems" [popup]="true"> </p-tieredMenu>
        <p-button
          id="RELATED_INFO"
          #btnfn
          type="button"
          icon="pi pi-share-alt"
          (click)="related.toggle($event); function.hide(); group.hide()"
          [label]="'LABEL.RELATED_INFO' | translate"
          styleClass="p-button-text"
        >
        </p-button>
        <p-tieredMenu id="MENUFUNCTION" #function [model]="functionItems" [popup]="true"> </p-tieredMenu>
        <p-button
          id="FUNCTION"
          #btnfn
          type="button"
          icon="pi pi-cog"
          (click)="function.toggle($event); related.hide(); group.hide()"
          [label]="'LABEL.FUNCTION' | translate"
          styleClass="p-button-text"
        ></p-button>
        <p-tieredMenu id="MENUGROUP" #group [model]="itemsGroup" [popup]="true"> </p-tieredMenu>
        <p-button
          id="GROUP"
          #btnfn
          type="button"
          icon="pi pi-list"
          (click)="group.toggle($event); function.hide(); related.hide()"
          [label]="'LABEL.GROUP' | translate"
          styleClass="p-button-text"
        ></p-button>
      </div>
    </p-header>
    <p-panel-content class="ivz-div-panel-content">
      <p-fieldset [legend]="{ text: 'LABEL.GENERAL' | translate }.text" [toggleable]="true">
        <div class="p-d-flex p-flex-wrap">
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label [required]="custom.isManual">{{ 'LABEL.CREDIT_APPLICATION_REQUEST_ID' | translate }} : </label>
            <ivz-input-text
              inputId="CREDIT_APP_REQUEST_ID"
              [(ivzModel)]="model.creditAppRequestId"
              [ivzConfig]="ID_INPUTTEXT"
              [required]="custom.isManual"
            ></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label required>{{ 'LABEL.DESCRIPTION' | translate }} : </label>
            <ivz-input-text inputId="DESCRIPTION" [(ivzModel)]="model.description" [ivzConfig]="DEFAULT_INPUTTEXT" required></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label required>{{ 'LABEL.PRODUCT_TYPE' | translate }} : </label>
            <ivz-dropdown
              inputId="PRODUCT_TYPE"
              [(ivzModel)]="model.productType"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="productTypeOptions"
              (ivzBindingChange)="onProductTypeChange()"
              required
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label required>{{ 'LABEL.PRODUCT_SUBTYPE_ID' | translate }} : </label>
            <ivz-dropdown
              inputId="PRODUCT_SUB_TYPE_GUID"
              [(ivzModel)]="model.productSubTypeGUID"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="productSubTypeOptions"
              required
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label required>{{ 'LABEL.CREDIT_APPLICATION_REQUEST_TYPE' | translate }} : </label>
            <ivz-dropdown
              inputId="CREDIT_APP_REQUEST_TYPE"
              [(ivzModel)]="model.creditAppRequestType"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="creditAppRequestTypeOptions"
              required
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label required>{{ 'LABEL.CREDIT_LIMIT_TYPE_ID' | translate }} : </label>
            <ivz-dropdown
              inputId="CREDIT_LIMIT_TYPE_GUID"
              [(ivzModel)]="model.creditLimitTypeGUID"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="creditLimitTypeOptions"
              (ivzModelChange)="onCreditLimitTypeChange()"
              (ivzBindingChange)="onCreditLimitTypeBinding()"
              required
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label required>{{ 'LABEL.REQUEST_DATE' | translate }} : </label>
            <ivz-calendar
              inputId="REQUEST_DATE"
              [(ivzModel)]="model.requestDate"
              [ivzConfig]="DATE"
              (ivzModelChange)="onRequestDateChange()"
              required
            ></ivz-calendar>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.PURPOSE_ID' | translate }} : </label>
            <ivz-dropdown
              inputId="DOCUMENT_REASON_GUID"
              [(ivzModel)]="model.documentReasonGUID"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="documentReasonOptions"
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label required>{{ 'LABEL.STATUS' | translate }} : </label>
            <ivz-input-text
              inputId="DOCUMENT_STATUS_GUID"
              [(ivzModel)]="model.documentStatus_Values"
              [ivzConfig]="DEFAULT_INPUTTEXT"
              required
            ></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label [required]="custom.hasParentCreditLimitType">{{ 'LABEL.ORIGINAL_CREDIT_APPLICATION_ID' | translate }} : </label>
            <ivz-dropdown
              inputId="REF_CREDIT_APP_TABLE_GUID"
              [(ivzModel)]="model.refCreditAppTableGUID"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="creditAppTableOptions"
              [required]="custom.hasParentCreditLimitType"
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.REMARK' | translate }} : </label>
            <ivz-textarea inputId="REMARK" [(ivzModel)]="model.remark" [ivzConfig]="DEFAULT_TEXTAREA"> </ivz-textarea>
          </div>
        </div>
      </p-fieldset>
      <p-fieldset [legend]="{ text: 'LABEL.CUSTOMER_INFORMATION' | translate }.text" [toggleable]="true" appendTo="body">
        <div class="p-d-flex p-flex-wrap">
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label required>{{ 'LABEL.CUSTOMER_ID' | translate }} : </label>
            <ivz-dropdown
              inputId="CUSTOMER_TABLE_GUID"
              [(ivzModel)]="model.customerTableGUID"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="customerTableOptions"
              (ivzBindingChange)="onCustomerBinding()"
              (ivzModelChange)="onCustomerChange()"
              required
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.CONSORTIUM_ID' | translate }} : </label>
            <ivz-dropdown
              inputId="CONSORTIUM_TABLE_GUID"
              [(ivzModel)]="model.consortiumTableGUID"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="consortiumTableOptions"
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.TAX_ID_OR_PASSPORT_ID' | translate }} : </label>
            <ivz-input-text inputId="TAX_IDENTIFICATION_ID" [(ivzModel)]="model.taxIdentificationId" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.DATE_OF_ESTABLISH_DATE_OF_BIRTH' | translate }} : </label>
            <ivz-calendar inputId="DATE_OF_ESTABLISH" [(ivzModel)]="model.dateOfEstablish" [ivzConfig]="DATE"></ivz-calendar>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.LINE_OF_BUSINESS_ID' | translate }} : </label>
            <ivz-input-text inputId="LINE_OF_BUSINESS_ID" [(ivzModel)]="model.lineOfBusinessId" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.BUSINESS_TYPE_ID' | translate }} : </label>
            <ivz-input-text inputId="BUSINESS_TYPE_ID" [(ivzModel)]="model.businessTypeId" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.INTRODUCED_BY_ID' | translate }} : </label>
            <ivz-input-text inputId="INTRODUCED_BY_ID" [(ivzModel)]="model.introducedById" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label required>{{ 'LABEL.REGISTERED_ADDRESS_ID' | translate }} : </label>
            <ivz-dropdown
              inputId="REGISTERED_ADDRESS_GUID"
              [(ivzModel)]="model.registeredAddressGUID"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="addressTransOptions"
              (ivzModelChange)="onRegisteredAddressChange()"
              required
            ></ivz-dropdown>
            <ivz-textarea
              inputId="UNBOUND_REGISTERED_ADDRESS"
              [(ivzModel)]="model.unboundRegisteredAddress"
              maxlength="500"
              [ivzConfig]="DEFAULT_TEXTAREA"
            >
            </ivz-textarea>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.SALES_AVERAGE_PER_MONTH' | translate }} : </label>
            <ivz-input-number inputId="SALES_AVG_PER_MONTH" [(ivzModel)]="model.salesAvgPerMonth" [ivzConfig]="CURRENCY_13_2"> </ivz-input-number>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.BANK_ACCOUNT_CONTROL_ID' | translate }} : </label>
            <ivz-dropdown
              inputId="BANK_ACCOUNT_CONTROL_GUID"
              [(ivzModel)]="model.bankAccountControlGUID"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="custBankBankAccountControlOptions"
              (ivzOnFocus)="onCustBankByBankAccountControlDropdownFocus($event)"
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.PDC_BANK_ID' | translate }} : </label>
            <ivz-dropdown
              inputId="PDC_BANK_GUID"
              [(ivzModel)]="model.pdcBankGUID"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="custBankPDCOptions"
              (ivzOnFocus)="onCustBankByPDCDropdownFocus($event)"
            ></ivz-dropdown>
          </div>
        </div>
      </p-fieldset>
      <p-fieldset [legend]="{ text: 'LABEL.CREDIT_LIMIT_REQUEST_CONDITION' | translate }.text" [toggleable]="true">
        <div class="p-d-flex p-flex-wrap">
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label required>{{ 'LABEL.CREDIT_LIMIT_REQUEST' | translate }} : </label>
            <ivz-input-number
              inputId="CREDIT_LIMIT_REQUEST"
              [(ivzModel)]="model.creditLimitRequest"
              [ivzConfig]="CURRENCY_13_2"
              (ivzModelChange)="onCreditLimitRequestChange()"
              required
            >
            </ivz-input-number>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.CUSTOMER_CREDIT_LIMIT' | translate }} : </label>
            <ivz-input-number inputId="CUSTOMER_CREDIT_LIMIT" [(ivzModel)]="model.customerCreditLimit" [ivzConfig]="CURRENCY_13_2">
            </ivz-input-number>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.CUSTOMER_ALL_BUYER_OUTSTANDING' | translate }} : </label>
            <ivz-input-number inputId="CUSTOMER_ALL_BUYER_OUTSTANDING" [(ivzModel)]="model.customerAllBuyerOutstanding" [ivzConfig]="CURRENCY_13_2">
            </ivz-input-number>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label required>{{ 'LABEL.CREDIT_LIMIT_EXPIRATION' | translate }} : </label>
            <ivz-dropdown
              inputId="CREDIT_LIMIT_EXPIRATION"
              [(ivzModel)]="model.creditLimitExpiration"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="creditLimitExpirationOptions"
              (ivzBindingChange)="onCreditLimitExpirationBinding()"
              (ivzModelChange)="onCreditLimitExpirationChange()"
              required
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.START_DATE' | translate }} : </label>
            <ivz-calendar inputId="START_DATE" [(ivzModel)]="model.startDate" [ivzConfig]="DATE"></ivz-calendar>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label [required]="custom.bySpecific">{{ 'LABEL.EXPIRY_DATE' | translate }} : </label>
            <ivz-calendar inputId="EXPIRY_DATE" [(ivzModel)]="model.expiryDate" [ivzConfig]="DATE" [required]="custom.bySpecific"></ivz-calendar>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.CREDIT_LIMIT_REMARK' | translate }} : </label>
            <ivz-textarea inputId="CREDIT_LIMIT_REMARK" [(ivzModel)]="model.creditLimitRemark" [ivzConfig]="DEFAULT_TEXTAREA"> </ivz-textarea>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.ASSIGNMENT_METHOD_ID' | translate }} : </label>
            <ivz-dropdown
              inputId="ASSIGNMENT_METHOD_GUID"
              [(ivzModel)]="model.assignmentMethodGUID"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="assignmentMethodOptions"
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.PURCHASE_WITHDRAWAL_CONDITION' | translate }} : </label>
            <ivz-input-text
              inputId="PURCHASE_WITHDRAWN_CONDITION"
              [(ivzModel)]="model.purchaseWithdrawalCondition"
              [ivzConfig]="DEFAULT_INPUTTEXT"
            ></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.CREDIT_REQUEST_FEE_PCT' | translate }} : </label>
            <ivz-input-number
              inputId="CREDIT_REQUEST_FEE_PCT"
              [(ivzModel)]="model.creditRequestFeePct"
              [ivzConfig]="PERCENT_5_2"
              (ivzModelChange)="onCreditRequestFeePctChange()"
            >
            </ivz-input-number>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label required>{{ 'LABEL.CREDIT_REQUEST_FEE_AMOUNT' | translate }} : </label>
            <ivz-input-number inputId="CREDIT_REQUEST_FEE_AMOUNT" [(ivzModel)]="model.creditRequestFeeAmount" [ivzConfig]="CURRENCY_13_2" required>
            </ivz-input-number>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label required>{{ 'LABEL.INTEREST_TYPE_ID' | translate }} : </label>
            <ivz-dropdown
              inputId="INTEREST_TYPE_GUID"
              [(ivzModel)]="model.interestTypeGUID"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="interestTypeOptions"
              (ivzModelChange)="onInterestTypeChange()"
              required
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label required>{{ 'LABEL.INTEREST_ADJUSTMENT_PCT' | translate }} : </label>
            <ivz-input-number
              inputId="INTEREST_ADJUSTMENT"
              [(ivzModel)]="model.interestAdjustment"
              [ivzConfig]="PERCENT_5_2"
              (ivzModelChange)="onInterestAdjustmentChange()"
              required
            >
            </ivz-input-number>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.TOTAL_INTEREST_PCT' | translate }} : </label>
            <ivz-input-number inputId="TOTAL_INTEREST_PCT" [(ivzModel)]="model.totalInterestPct" [ivzConfig]="PERCENT_5_2"> </ivz-input-number>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.CA_CONDITION' | translate }} : </label>
            <ivz-textarea inputId="CA_CONDITION" [(ivzModel)]="model.caCondition" [ivzConfig]="DEFAULT_TEXTAREA"> </ivz-textarea>
          </div>
        </div>
      </p-fieldset>
      <p-fieldset [legend]="{ text: 'LABEL.CREDIT_INFORMATION' | translate }.text" [toggleable]="true">
        <div class="p-d-flex p-flex-wrap">
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.SIGNING_CONDITION' | translate }} : </label>
            <ivz-input-text inputId="SIGNING_CONDITION" [(ivzModel)]="model.signingCondition" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.FINANCIAL_CREDIT_CHECKED_DATE' | translate }} : </label>
            <ivz-calendar inputId="FINANCIAL_CREDIT_CHECKED_DATE" [(ivzModel)]="model.financialCreditCheckedDate" [ivzConfig]="DATE"></ivz-calendar>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.FINANCIAL_CREDIT_CHECKED_BY' | translate }} : </label>
            <ivz-input-text inputId="FINANCIAL_CHECKED_BY" [(ivzModel)]="model.financialCheckedBy" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.NCB_CHECKED_DATE' | translate }} : </label>
            <ivz-calendar inputId="NCB_CHECKED_DATE" [(ivzModel)]="model.ncbCheckedDate" [ivzConfig]="DATE"></ivz-calendar>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.NCB_CHECKED_BY' | translate }} : </label>
            <ivz-input-text inputId="NCB_CHECKED_BY" [(ivzModel)]="model.ncbCheckedBy" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.BLACKLIST_STATUS_ID' | translate }} : </label>
            <ivz-dropdown
              inputId="BLACKLIST_STATUS_GUID"
              [(ivzModel)]="model.blacklistStatusGUID"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="blacklistStatusOptions"
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.KYC_ID' | translate }} : </label>
            <ivz-dropdown inputId="KYCGUID" [(ivzModel)]="model.kycguid" [ivzConfig]="DEFAULT_DROPDOWN" [options]="kycOptions"></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.CREDIT_SCORING_ID' | translate }} : </label>
            <ivz-dropdown
              inputId="CREDIT_SCORING_GUID"
              [(ivzModel)]="model.creditScoringGUID"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="creditScoringOptions"
            ></ivz-dropdown>
          </div>
        </div>
      </p-fieldset>
      <p-fieldset [legend]="{ text: 'LABEL.BILLING_INFORMATION' | translate }.text" [toggleable]="true">
        <div class="p-d-flex p-flex-wrap">
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.BILLING_CONTACT_PERSON_ID' | translate }} : </label>
            <ivz-dropdown
              inputId="BILLING_CONTACT_PERSON_GUID"
              [(ivzModel)]="model.billingContactPersonGUID"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="billingContactPersonTransOptions"
              (ivzOnFocus)="onBillingContactPersonTransDropdownFocus($event)"
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.BILLING_ADDRESS_ID' | translate }} : </label>
            <ivz-dropdown
              inputId="BILLING_ADDRESS_GUID"
              [(ivzModel)]="model.billingAddressGUID"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="addressTransOptions"
              (ivzModelChange)="onBillingedAddressChange()"
            ></ivz-dropdown>
            <ivz-textarea inputId="UNBOUND_BILLING_ADDRESS" [(ivzModel)]="model.unboundBillingAddress" maxlength="500" [ivzConfig]="DEFAULT_TEXTAREA">
            </ivz-textarea>
          </div>
        </div>
      </p-fieldset>
      <p-fieldset [legend]="{ text: 'LABEL.RECEIPT_INFORMATION' | translate }.text" [toggleable]="true">
        <div class="p-d-flex p-flex-wrap">
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.RECEIPT_CONTACT_PERSON_ID' | translate }} : </label>
            <ivz-dropdown
              inputId="RECEIPT_CONTACT_PERSON_GUID"
              [(ivzModel)]="model.receiptContactPersonGUID"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="receiptContactPersonTransOptions"
              (ivzOnFocus)="onReceiptContactPersonTransDropdownFocus($event)"
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.RECEIPT_ADDRESS_ID' | translate }} : </label>
            <ivz-dropdown
              inputId="RECEIPT_ADDRESS_GUID"
              [(ivzModel)]="model.receiptAddressGUID"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="addressTransOptions"
              (ivzModelChange)="onReceiptAddressChange()"
            ></ivz-dropdown>
            <ivz-textarea inputId="UNBOUND_RECEIPT_ADDRESS" [(ivzModel)]="model.unboundReceiptAddress" maxlength="500" [ivzConfig]="DEFAULT_TEXTAREA">
            </ivz-textarea>
          </div>
        </div>
      </p-fieldset>
      <p-fieldset [legend]="{ text: 'LABEL.ADDRESS_INFORMATION' | translate }.text" [toggleable]="true">
        <div class="p-d-flex p-flex-wrap">
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.INVOICE_ADDRESS_ID' | translate }} : </label>
            <ivz-dropdown
              inputId="INVOICE_ADDRESS_GUID"
              [(ivzModel)]="model.invoiceAddressGUID"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="addressTransOptions"
              (ivzModelChange)="onInvoiceAddressChange()"
            ></ivz-dropdown>
            <ivz-textarea inputId="UNBOUND_INVOICE_ADDRESS" [(ivzModel)]="model.unboundInvoiceAddress" maxlength="500" [ivzConfig]="DEFAULT_TEXTAREA">
            </ivz-textarea>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.MAILING_RECEIPT_ADDRESS_ID' | translate }} : </label>
            <ivz-dropdown
              inputId="MAILING_RECEIPT_ADDRESS_GUID"
              [(ivzModel)]="model.mailingReceiptAddressGUID"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="addressTransOptions"
              (ivzModelChange)="onMailingReceiptAddressChange()"
            ></ivz-dropdown>
            <ivz-textarea
              inputId="UNBOUND_MAILING_RECEIPT_ADDRESS"
              [(ivzModel)]="model.unboundMailingReceiptAddress"
              maxlength="500"
              [ivzConfig]="DEFAULT_TEXTAREA"
            >
            </ivz-textarea>
          </div>
        </div>
      </p-fieldset>
      <p-fieldset [legend]="{ text: 'LABEL.FACTORING' | translate }.text" [toggleable]="true">
        <div class="p-d-flex p-flex-wrap">
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.MAXIMUM_PURCHASE_PCT' | translate }} : </label>
            <ivz-input-number inputId="MAX_PURCHASE_PCT" [(ivzModel)]="model.maxPurchasePct" [ivzConfig]="PERCENT_5_2"> </ivz-input-number>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.MAXIMUM_RETENTION_PCT' | translate }} : </label>
            <ivz-input-number
              inputId="MAX_RETENTION_PCT"
              [(ivzModel)]="model.maxRetentionPct"
              [ivzConfig]="PERCENT_5_2"
              (ivzModelChange)="onMaxRetentionAmountChange()"
            >
            </ivz-input-number>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.MAXIMUM_RETENTION_AMOUNT' | translate }} : </label>
            <ivz-input-number inputId="MAX_RETENTION_AMOUNT" [(ivzModel)]="model.maxRetentionAmount" [ivzConfig]="CURRENCY_13_2"> </ivz-input-number>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.PURCHASE_FEE_PCT' | translate }} : </label>
            <ivz-input-number inputId="PURCHASE_FEE_PCT" [(ivzModel)]="model.purchaseFeePct" [ivzConfig]="PERCENT_5_2"> </ivz-input-number>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label required>{{ 'LABEL.PURCHASE_FEE_CALCULATE_BASE' | translate }} : </label>
            <ivz-dropdown
              inputId="PURCHASE_FEE_CALCULATE_BASE"
              [(ivzModel)]="model.purchaseFeeCalculateBase"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="purchaseFeeCalculateBaseOptions"
              required
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.NUMBER_OF_REGISTERED_BUYER' | translate }} : </label>
            <ivz-input-number
              inputId="NUMBER_OF_REGISTERED_BUYER"
              [(ivzModel)]="model.numberOfRegisteredBuyer"
              [ivzConfig]="INTEGER"
            ></ivz-input-number>
          </div>
        </div>
      </p-fieldset>
      <p-fieldset [legend]="{ text: 'LABEL.PROJECT_FINANCE' | translate }.text" [toggleable]="true">
        <div class="p-d-flex p-flex-wrap">
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.CREDIT_TERM_ID' | translate }} : </label>
            <ivz-dropdown
              inputId="CREDIT_TERM_GUID"
              [(ivzModel)]="model.creditTermGUID"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="creditTermOptions"
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.EXTENSION_SERVICE_FEE_CONDITION_TEMPLATE_ID' | translate }} : </label>
            <ivz-dropdown
              inputId="EXTENSION_SERVICE_FEE_COND_TEMPLATE_GUID"
              [(ivzModel)]="model.extensionServiceFeeCondTemplateGUID"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="serviceFeeCondTemplateTableOptions"
              (ivzOnFocus)="onServiceFeeCondTemplateTableDropdownFocus($event)"
            ></ivz-dropdown>
          </div>
        </div>
      </p-fieldset>
      <p-fieldset [legend]="{ text: 'LABEL.LEASING' | translate }.text" [toggleable]="true">
        <div class="p-d-flex p-flex-wrap">
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.APPLICATION_ID' | translate }} : </label>
            <ivz-dropdown
              inputId="APPLICATION_TABLE_GUID"
              [(ivzModel)]="model.applicationTableGUID"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="applicationTableOptions"
            ></ivz-dropdown>
          </div>
        </div>
      </p-fieldset>
      <p-fieldset [legend]="{ text: 'LABEL.APPROVAL' | translate }.text" [toggleable]="true">
        <div class="p-d-flex p-flex-wrap">
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.APPROVED_CREDIT_LIMIT_REQUEST' | translate }} : </label>
            <ivz-input-number
              inputId="APPROVED_CREDIT_LIMIT_REQUEST"
              [(ivzModel)]="model.approvedCreditLimitRequest"
              [ivzConfig]="CURRENCY_13_2"
              (ivzModelChange)="onApprovedCreditLimitRequestChange()"
            >
            </ivz-input-number>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.APPROVED_DATE' | translate }} : </label>
            <ivz-calendar inputId="APPROVED_DATE" [(ivzModel)]="model.approvedDate" [ivzConfig]="DATE"></ivz-calendar>
          </div>
        </div>
      </p-fieldset>
      <p-fieldset [legend]="{ text: 'LABEL.COMMENT' | translate }.text" [toggleable]="true">
        <div class="p-d-flex p-flex-wrap">
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.MARKETING_COMMENT' | translate }} : </label>
            <ivz-textarea inputId="MARKETING_COMMENT" [(ivzModel)]="model.marketingComment" maxlength="500"> </ivz-textarea>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.CREDIT_COMMENT' | translate }} : </label>
            <ivz-textarea inputId="CREDIT_COMMENT" [(ivzModel)]="model.creditComment" maxlength="500"> </ivz-textarea>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.APPROVER_COMMENT' | translate }} : </label>
            <ivz-textarea inputId="APPROVER_COMMENT" [(ivzModel)]="model.approverComment" maxlength="500"> </ivz-textarea>
          </div>
        </div>
      </p-fieldset>
      <p-fieldset [legend]="{ text: 'LABEL.FINANCIAL_DIMENSIONS' | translate }.text" [toggleable]="true">
        <div class="p-d-flex p-flex-wrap">
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.DIMENSION_1' | translate }} : </label>
            <ivz-dropdown
              inputId="DIMENSION1GUID"
              [(ivzModel)]="model.dimension1GUID"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="ledgerDimensionOptions1"
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.DIMENSION_2' | translate }} : </label>
            <ivz-dropdown
              inputId="DIMENSION2GUID"
              [(ivzModel)]="model.dimension2GUID"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="ledgerDimensionOptions2"
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.DIMENSION_3' | translate }} : </label>
            <ivz-dropdown
              inputId="DIMENSION3GUID"
              [(ivzModel)]="model.dimension3GUID"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="ledgerDimensionOptions3"
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.DIMENSION_4' | translate }} : </label>
            <ivz-dropdown
              inputId="DIMENSION4GUID"
              [(ivzModel)]="model.dimension4GUID"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="ledgerDimensionOptions4"
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.DIMENSION_5' | translate }} : </label>
            <ivz-dropdown
              inputId="DIMENSION5GUID"
              [(ivzModel)]="model.dimension5GUID"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="ledgerDimensionOptions5"
            ></ivz-dropdown>
          </div>
        </div>
      </p-fieldset>
      <p-fieldset [legend]="{ text: 'LABEL.SYSTEM' | translate }.text" [toggleable]="true">
        <div class="p-d-flex p-flex-wrap">
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.CREATED_BY' | translate }} : </label>
            <ivz-input-text inputId="CREATED_BY" [(ivzModel)]="model.createdBy" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.CREATED_DATE_TIME' | translate }} : </label>
            <ivz-calendar inputId="CREATED_DATE_TIME" [(ivzModel)]="model.createdDateTime" [ivzConfig]="DATETIME"></ivz-calendar>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.MODIFIED_BY' | translate }} : </label>
            <ivz-input-text inputId="MODIFIED_BY" [(ivzModel)]="model.modifiedBy" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.MODIFIED_DATE_TIME' | translate }} : </label>
            <ivz-calendar inputId="MODIFIED_DATE_TIME" [(ivzModel)]="model.modifiedDateTime" [ivzConfig]="DATETIME"></ivz-calendar>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label required>{{ 'LABEL.COMPANY_ID' | translate }} : </label>
            <ivz-input-text inputId="COMPANY_ID" [(ivzModel)]="model.companyId" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label required>{{ 'LABEL.BUSINESS_UNIT_ID' | translate }} : </label>
            <ivz-input-text inputId="BUSINESS_UNIT_ID" [(ivzModel)]="model.ownerBusinessUnitId" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label required>{{ 'LABEL.OWNER' | translate }} : </label>
            <ivz-input-text inputId="OWNER" [(ivzModel)]="model.owner" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
          </div>
        </div>
      </p-fieldset>
      <p-fieldset *ngIf="isUpdateMode" [legend]="{ text: 'LABEL.CREDIT_APPLICATION_REQUEST_LINE' | translate }.text" [toggleable]="true" listview>
        <div class="p-grid p-col-12 p-justify-start div-form-input">
          <credit-app-request-line-list [pageInfo]="childPaths[0]"></credit-app-request-line-list>
        </div>
      </p-fieldset>
    </p-panel-content>
    <p-footer class="ivz-panel-footer">
      <div class="p-d-flex p-jc-end">
        <ivz-button
          inputId="SAVE"
          [label]="'LABEL.SAVE' | translate"
          icon="pi pi-save"
          className="ivz-primary-btn p-m-2"
          [ivzConfig]="buttonConfig"
          (formValidate)="onSave($event)"
        ></ivz-button>
        <ivz-button
          inputId="SAVE_AND_CLOSE"
          [label]="'LABEL.SAVE_AND_CLOSE' | translate"
          icon="pi pi-times"
          className="ivz-primary-btn p-m-2"
          [ivzConfig]="buttonConfig"
          (formValidate)="onSaveAndClose($event)"
        >
        </ivz-button>
        <ivz-button
          inputId="CLOSE"
          [label]="'LABEL.CLOSE' | translate"
          icon="pi pi-power-off"
          className="ivz-primary-btn p-m-2"
          [ivzConfig]="buttonConfig"
          (click)="onClose()"
        >
        </ivz-button>
      </div>
    </p-footer>
  </p-panel>
</div>
