<div class="route-bar">
  <div *ngIf="isLoggedInAndSiteSelected()">
    <a (click)="showCompanyMapping($event)" style="cursor: pointer; overflow: 'auto'"> <i class="pi pi-map-marker"></i> {{ displayCompany }} </a>
  </div>
</div>
<ul
  app-submenu
  [item]="app.grouped ? modelGrouped : modelUngrouped"
  root="true"
  class="layout-menu"
  visible="true"
  [reset]="reset"
  parentActive="true"
></ul>

<!-- <ul class="layout-menu">
                <li app-menuitem *ngFor="let item of (app.grouped ? modelGrouped : modelUngrouped); let i = index;"
                    [item]="item" [index]="i" [visible]="true" [root]="true"></li>
            </ul> -->
