<div class="ivz-item-card function-l">
  <p-panel [showHeader]="true" [viewonly]="isView" class="ivz-panel">
    <p-header class="p-d-flex p-jc-between w-100">
      <div class="ivz-div-panel-title">
        <span class="ivz-panel-title p-m-2">{{ 'LABEL.UPDATE_ASSIGNMENT_AGREEMENT_AMOUNT' | translate }}</span>
      </div>
    </p-header>
    <p-panel-content class="ivz-div-panel-content">
      <p-fieldset [legend]="{ text: 'LABEL.ASSIGNMENT_AGREEMENT_INFORMATION' | translate }.text" [toggleable]="true">
        <div class="p-d-flex p-flex-wrap">
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.INTERNAL_ASSIGNMENT_AGREEMENT_ID' | translate }} : </label>
            <ivz-input-text
              inputId="INTERNAL_ASSIGNMENT_AGREEMENT_ID"
              [(ivzModel)]="model.internalAssignmentAgreementId"
              [ivzConfig]="ID_INPUTTEXT"
            ></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.ASSIGNMENT_AGREEMENT_ID' | translate }} : </label>
            <ivz-input-text inputId="ASSIGNMENT_AGREEMENT_ID" [(ivzModel)]="model.assignmentAgreementId" [ivzConfig]="ID_INPUTTEXT"></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-100">
            <label>{{ 'LABEL.DESCRIPTION' | translate }} : </label>
            <ivz-input-text inputId="DESCRIPTION" [(ivzModel)]="model.description" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.CUSTOMER_ID' | translate }} : </label>
            <ivz-input-text
              inputId="CUSTOMER_TABLE_GUID"
              [(ivzModel)]="model.customerTable_Values"
              maxlength="1000"
              [ivzConfig]="DEFAULT_INPUTTEXT"
            ></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.CUSTOMER_NAME' | translate }} : </label>
            <ivz-input-text inputId="CUSTOMER_NAME" [(ivzModel)]="model.customerName" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.BUYER_ID' | translate }} : </label>
            <ivz-input-text
              inputId="BUYER_TABLE_GUID"
              [(ivzModel)]="model.buyerTable_Values"
              maxlength="1000"
              [ivzConfig]="DEFAULT_INPUTTEXT"
            ></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.BUYER_NAME' | translate }} : </label>
            <ivz-input-text inputId="BUYER_NAME" [(ivzModel)]="model.buyerName" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.ASSIGNMENT_METHOD_ID' | translate }} : </label>
            <ivz-input-text
              inputId="ASSIGNMENT_METHOD_ID"
              [(ivzModel)]="model.assignmentMethodId"
              maxlength="1000"
              [ivzConfig]="DEFAULT_INPUTTEXT"
            ></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.ASSIGNMENT_AGREEMENT_DATE' | translate }} : </label>
            <ivz-calendar inputId="AGREEMENT_DATE" [(ivzModel)]="model.agreementDate" [ivzConfig]="DATE"></ivz-calendar>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.ASSIGNMENT_AGREEMENT_AMOUNT' | translate }} : </label>
            <ivz-input-number inputId="ASSIGNMENT_AGREEMENT_AMOUNT" [(ivzModel)]="model.assignmentAgreementAmount" [ivzConfig]="CURRENCY_13_2">
            </ivz-input-number>
          </div>
        </div>
      </p-fieldset>
      <p-fieldset [legend]="{ text: 'LABEL.UPDATE_ASSIGNMENT_AGREEMENT_AMOUNT' | translate }.text" [toggleable]="true">
        <div class="p-d-flex p-flex-wrap">
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label required>{{ 'LABEL.NEW_ASSIGNMENT_AGREEMENT_AMOUNT' | translate }} : </label>
            <ivz-input-number
              inputId="NEW_ASSIGNMENT_AGREEMENT_AMOUNT"
              [(ivzModel)]="model.newAssignmentAgreementAmount"
              [ivzConfig]="CURRENCY_13_2"
              required
            >
            </ivz-input-number>
          </div>
        </div>
      </p-fieldset>
    </p-panel-content>
    <p-footer class="ivz-panel-footer">
      <div class="p-d-flex p-jc-end">
        <ivz-button
          inputId="OK"
          [label]="'LABEL.OK' | translate"
          icon="pi pi-times"
          className="ivz-primary-btn p-m-2"
          [ivzConfig]="buttonConfig"
          (formValidate)="onSaveAndClose($event)"
        >
        </ivz-button>
        <ivz-button
          inputId="CLOSE"
          [label]="'LABEL.CLOSE' | translate"
          icon="pi pi-power-off"
          className="ivz-primary-btn p-m-2"
          [ivzConfig]="buttonConfig"
          (click)="onClose()"
        >
        </ivz-button>
      </div>
    </p-footer>
  </p-panel>
</div>
