<div class="ivz-item-card function-l">
  <p-panel [showHeader]="true" [viewonly]="isView" class="ivz-panel">
    <p-header class="p-d-flex p-jc-between w-100">
      <div class="ivz-div-panel-title">
        <span class="ivz-panel-title p-m-2">{{ 'LABEL.ACTION_WORKFLOW' | translate }}</span>
      </div>
    </p-header>
    <p-panel-content class="ivz-div-panel-content">
      <div class="p-d-flex p-flex-wrap">
        <div class="p-d-flex p-flex-column ele-box-w-25">
          <label>{{ 'LABEL.DEMO_ID' | translate }} : </label>
          <ivz-input-text inputId="DEMO_ID" [(ivzModel)]="model.demoId" [ivzConfig]="ID_INPUTTEXT" required></ivz-input-text>
        </div>

        <div class="p-d-flex p-flex-column ele-box-w-25">
          <label>{{ 'LABEL.ACTION_NAME' | translate }} : </label>
          <ivz-dropdown inputId="ACTION_NAME" [(ivzModel)]="workflow.action" [ivzConfig]="DEFAULT_DROPDOWN" [options]="actionOptions"></ivz-dropdown>
        </div>

        <div class="p-d-flex p-flex-column ele-box-w-50">
          <label required>{{ 'LABEL.COMMENTS' | translate }} : </label>
          <ivz-textarea inputId="COMMENTS" [(ivzModel)]="comment" maxlength="100" [ivzConfig]="DEFAULT_TEXTAREA" required> </ivz-textarea>
        </div>
      </div>
    </p-panel-content>
    <p-footer class="ivz-panel-footer">
      <div class="p-d-flex p-jc-end">
        <ivz-button
          inputId="OK"
          [label]="'LABEL.OK' | translate"
          icon="pi pi-times"
          className="ivz-primary-btn p-m-2"
          [ivzConfig]="buttonConfig"
          (formValidate)="onSaveAndClose($event)"
        >
        </ivz-button>
        <ivz-button
          inputId="CANCEL"
          [label]="'LABEL.CANCEL' | translate"
          icon="pi pi-power-off"
          className="ivz-primary-btn p-m-2"
          [ivzConfig]="buttonConfig"
          (click)="onClose()"
        >
        </ivz-button>
      </div>
    </p-footer>
  </p-panel>
</div>
