<div class="ivz-item-card function-l">
  <p-panel [showHeader]="true" [viewonly]="isView" class="ivz-panel">
    <p-header class="p-d-flex p-jc-between w-100">
      <div class="ivz-div-panel-title">
        <span class="ivz-panel-title p-m-2">{{ 'LABEL.PRINT_LABEL' | translate }}</span>
      </div>
    </p-header>
    <p-panel-content class="ivz-div-panel-content">
      <div class="w-100" *ngIf="isViewBody">
        <p-fieldset [legend]="{ text: 'LABEL.GENERAL' | translate }.text" [toggleable]="true">
          <div class="p-d-flex p-flex-wrap">
            <div class="p-d-flex p-flex-column ele-box-w-50">
              <label>{{ 'LABEL.DOCUMENT_RETURN_ID' | translate }} : </label>
              <ivz-input-text inputId="DOCUMENT_RETURN_ID" [(ivzModel)]="model.documentReturnId" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
            </div>
            <div class="p-d-flex p-flex-column ele-box-w-50">
              <label>{{ 'LABEL.CONTACT_TO' | translate }} : </label>
              <ivz-dropdown
                inputId="CONTACT_TO"
                [(ivzModel)]="model.contactTo"
                [ivzConfig]="DEFAULT_DROPDOWN"
                [options]="contactToOptions"
              ></ivz-dropdown>
            </div>
            <div class="p-d-flex p-flex-column ele-box-w-100">
              <label>{{ 'LABEL.CONTACT_PERSON_NAME' | translate }} : </label>
              <ivz-input-text inputId="CONTACT_PERSON_NAME" [(ivzModel)]="model.contactPersonName" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
            </div>
            <div class="p-d-flex p-flex-column ele-box-w-100">
              <label>{{ 'LABEL.CONTACT_ADDRESS' | translate }} : </label>
              <ivz-textarea inputId="ADDRESS" [(ivzModel)]="model.address" maxlength="500" [ivzConfig]="DEFAULT_TEXTAREA"> </ivz-textarea>
            </div>
          </div>
        </p-fieldset>
      </div>
      <div class="w-100">
        <ivz-report-form [parameter]="parameters" (reportReady)="onReportReady($event)"></ivz-report-form>
      </div>
    </p-panel-content>
    <p-footer class="ivz-panel-footer">
      <div class="p-d-flex p-jc-end">
        <ivz-button
          *ngIf="isViewBody"
          inputId="OK"
          [label]="'LABEL.OK' | translate"
          icon="pi pi-times"
          className="ivz-primary-btn p-m-2"
          [ivzConfig]="buttonConfig"
          (formValidate)="onSaveAndClose($event)"
        >
        </ivz-button>
        <ivz-button
          inputId="CLOSE"
          [label]="'LABEL.CLOSE' | translate"
          icon="pi pi-power-off"
          className="ivz-primary-btn p-m-2"
          [ivzConfig]="buttonConfig"
          (click)="onClose()"
        >
        </ivz-button>
      </div>
    </p-footer>
  </p-panel>
</div>
