<div class="ivz-item-card">
  <p-panel [showHeader]="true" [viewonly]="isView" class="ivz-panel">
    <p-header class="p-d-flex p-jc-between w-100">
      <div class="ivz-div-panel-title">
        <span class="ivz-panel-title p-m-2">{{ 'LABEL.SERVICE_FEE_TRANSACTIONS' | translate }}</span>
      </div>
      <div class="ivz-div-panel-btn-group">
        <p-tieredMenu id="MENURELATED" #related [model]="relatedInfoItems" [popup]="true"> </p-tieredMenu>
        <p-button
          id="RELATED_INFO"
          #btnfn
          type="button"
          icon="pi pi-share-alt"
          (click)="related.toggle($event); function.hide(); group.hide()"
          [label]="'LABEL.RELATED_INFO' | translate"
          styleClass="p-button-text"
        >
        </p-button>
        <p-tieredMenu id="MENUFUNCTION" #function [model]="functionItems" [popup]="true"> </p-tieredMenu>
        <p-button
          id="FUNCTION"
          #btnfn
          type="button"
          icon="pi pi-cog"
          (click)="function.toggle($event); related.hide(); group.hide()"
          [label]="'LABEL.FUNCTION' | translate"
          styleClass="p-button-text"
        ></p-button>
        <p-tieredMenu id="MENUGROUP" #group [model]="itemsGroup" [popup]="true"> </p-tieredMenu>
        <p-button
          id="GROUP"
          #btnfn
          type="button"
          icon="pi pi-list"
          (click)="group.toggle($event); function.hide(); related.hide()"
          [label]="'LABEL.GROUP' | translate"
          styleClass="p-button-text"
        ></p-button>
      </div>
    </p-header>
    <p-panel-content class="ivz-div-panel-content">
      <p-fieldset [legend]="{ text: 'LABEL.GENERAL' | translate }.text" [toggleable]="true">
        <div class="p-d-flex p-flex-wrap">
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label required>{{ 'LABEL.ORDERING' | translate }} : </label>
            <ivz-input-number inputId="ORDERING" [(ivzModel)]="model.ordering" [ivzConfig]="INTEGER" required></ivz-input-number>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label required>{{ 'LABEL.SERVICE_FEE_TYPE_ID' | translate }} : </label>
            <ivz-dropdown
              inputId="INVOICE_REVENUE_TYPE_GUID"
              [(ivzModel)]="model.invoiceRevenueTypeGUID"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="invoiceRevenueTypeOptions"
              (ivzModelChange)="onInvoiceRevenueTypeChange()"
              required
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label required>{{ 'LABEL.DESCRIPTION' | translate }} : </label>
            <ivz-input-text inputId="DESCRIPTION" [(ivzModel)]="model.description" [ivzConfig]="DEFAULT_INPUTTEXT" required></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label required>{{ 'LABEL.FEE_AMOUNT' | translate }} : </label>
            <ivz-input-number
              inputId="FEE_AMOUNT"
              [(ivzModel)]="model.feeAmount"
              [ivzConfig]="CURRENCY_13_2"
              (ivzModelChange)="onFeeAmountChange()"
              required
            >
            </ivz-input-number>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.INCLUDE_TAX' | translate }} : </label>
            <ivz-input-switch inputId="INCLUDE_TAX" [(ivzModel)]="model.includeTax" (ivzModelChange)="onIncludeTaxChange()"></ivz-input-switch>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.TAX_CODE' | translate }} : </label>
            <ivz-dropdown
              inputId="TAX_TABLE_GUID"
              [(ivzModel)]="model.taxTableGUID"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="taxTableOptions"
              (ivzModelChange)="onTaxTableChange()"
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.TAX_AMOUNT' | translate }} : </label>
            <ivz-input-number inputId="TAX_AMOUNT" [(ivzModel)]="model.taxAmount" [ivzConfig]="CURRENCY_13_2" (ivzModelChange)="onTaxAmountChange()">
            </ivz-input-number>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.AMOUNT_BEFORE_TAX' | translate }} : </label>
            <ivz-input-number inputId="AMOUNT_BEFORE_TAX" [(ivzModel)]="model.amountBeforeTax" [ivzConfig]="CURRENCY_13_2"> </ivz-input-number>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.AMOUNT_INCLUDE_TAX' | translate }} : </label>
            <ivz-input-number inputId="AMOUNT_INCLUDE_TAX" [(ivzModel)]="model.amountIncludeTax" [ivzConfig]="CURRENCY_13_2"> </ivz-input-number>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.WITHHOLDING_TAX_CODE' | translate }} : </label>
            <ivz-dropdown
              inputId="WITHHOLDING_TAX_TABLE_GUID"
              [(ivzModel)]="model.withholdingTaxTableGUID"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="withholdingTaxTableOptions"
              (ivzModelChange)="onWithholdingTaxTableChange()"
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.WITHHOLDING_TAX_AMOUNT' | translate }} : </label>
            <ivz-input-number inputId="WHT_AMOUNT" [(ivzModel)]="model.whtAmount" [ivzConfig]="CURRENCY_13_2"> </ivz-input-number>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.WHT_SLIP_RECEIVED_BY_CUSTOMER' | translate }} : </label>
            <ivz-input-switch
              inputId="WHT_SLIP_RECEIVED_BY_CUSTOMER"
              [(ivzModel)]="model.wHTSlipReceivedByCustomer"
              (ivzModelChange)="onIncludeTaxChange()"
            ></ivz-input-switch>
          </div>
        </div>
      </p-fieldset>
      <p-fieldset [legend]="{ text: 'LABEL.SETTLEMENT' | translate }.text" [toggleable]="true">
        <div class="p-d-flex p-flex-wrap">
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.SETTLE_AMOUNT' | translate }} : </label>
            <ivz-input-number
              inputId="SETTLE_AMOUNT"
              [(ivzModel)]="model.settleAmount"
              [ivzConfig]="CURRENCY_13_2"
              (ivzModelChange)="onSettleAmountChange()"
              [ivzValidation]="custom.onSettleAmountValidate(model)"
            >
            </ivz-input-number>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.SETTLE_WITHHOLDING_TAX_AMOUNT' | translate }} : </label>
            <ivz-input-number
              inputId="SETTLE_WHT_AMOUNT"
              [(ivzModel)]="model.settleWHTAmount"
              [ivzConfig]="CURRENCY_13_2"
              (ivzModelChange)="onSettleWHTAmountChange()"
              [ivzValidation]="custom.onSettleWHTAmountValidate(model)"
            >
            </ivz-input-number>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.SETTLE_INVOICE_AMOUNT' | translate }} : </label>
            <ivz-input-number inputId="SETTLE_INVOICE_AMOUNT" [(ivzModel)]="model.settleInvoiceAmount" [ivzConfig]="CURRENCY_13_2">
            </ivz-input-number>
          </div>
        </div>
      </p-fieldset>
      <p-fieldset [legend]="{ text: 'LABEL.CREDIT_NOTE_REFERENCE' | translate }.text" [toggleable]="true">
        <div class="p-d-flex p-flex-wrap">
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label [required]="custom.isRequiredCon1">{{ 'LABEL.CN_REASON_ID' | translate }} : </label>
            <ivz-dropdown
              inputId="CN_REASON_GUID"
              [(ivzModel)]="model.cnReasonGUID"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="documentReasonOptions"
              [required]="custom.isRequiredCon1"
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.ORIGINAL_INVOICE' | translate }} : </label>
            <ivz-dropdown
              inputId="ORIG_INVOICE"
              [(ivzModel)]="model.origInvoice"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="invoiceTableOptions"
              (ivzModelChange)="onOriginalInvoiceChange()"
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label [required]="custom.isRequiredCon1">{{ 'LABEL.ORIGINAL_INVOICE_ID' | translate }} : </label>
            <ivz-input-text
              inputId="ORIG_INVOICE_ID"
              [(ivzModel)]="model.origInvoiceId"
              [ivzConfig]="DEFAULT_INPUTTEXT"
              [required]="custom.isRequiredCon1"
            ></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label [required]="custom.isRequiredCon1">{{ 'LABEL.ORIGINAL_INVOICE_AMOUNT' | translate }} : </label>
            <ivz-input-number
              inputId="ORIG_INVOICE_AMOUNT"
              [(ivzModel)]="model.origInvoiceAmount"
              [ivzConfig]="CURRENCY_13_2"
              [required]="custom.isRequiredCon1"
            >
            </ivz-input-number>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.ORIGINAL_TAX_INVOICE_ID' | translate }} : </label>
            <ivz-input-text inputId="ORIG_TAX_INVOICE_ID" [(ivzModel)]="model.origTaxInvoiceId" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.ORIGINAL_TAX_INVOICE_AMOUNT' | translate }} : </label>
            <ivz-input-number inputId="ORIG_TAX_INVOICE_AMOUNT" [(ivzModel)]="model.origTaxInvoiceAmount" [ivzConfig]="CURRENCY_13_2">
            </ivz-input-number>
          </div>
        </div>
      </p-fieldset>
      <p-fieldset [legend]="{ text: 'LABEL.REFERENCE' | translate }.text" [toggleable]="true">
        <div class="p-d-flex p-flex-wrap">
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label required>{{ 'LABEL.REFERENCE_TYPE' | translate }} : </label>
            <ivz-dropdown
              inputId="REF_TYPE"
              [(ivzModel)]="model.refType"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="refTypeOptions"
              required
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label required>{{ 'LABEL.REFERENCE_ID' | translate }} : </label>
            <ivz-input-text inputId="REF_ID" [(ivzModel)]="model.refId" [ivzConfig]="DEFAULT_INPUTTEXT" required></ivz-input-text>
          </div>
        </div>
      </p-fieldset>
      <p-fieldset [legend]="{ text: 'LABEL.FINANCIAL_DIMENSIONS' | translate }.text" [toggleable]="true">
        <div class="p-d-flex p-flex-wrap">
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.DIMENSION_1' | translate }} : </label>
            <ivz-dropdown
              inputId="DIMENSION1GUID"
              [(ivzModel)]="model.dimension1GUID"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="dimension1Options"
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.DIMENSION_2' | translate }} : </label>
            <ivz-dropdown
              inputId="DIMENSION2GUID"
              [(ivzModel)]="model.dimension2GUID"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="dimension2Options"
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.DIMENSION_3' | translate }} : </label>
            <ivz-dropdown
              inputId="DIMENSION3GUID"
              [(ivzModel)]="model.dimension3GUID"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="dimension3Options"
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.DIMENSION_4' | translate }} : </label>
            <ivz-dropdown
              inputId="DIMENSION4GUID"
              [(ivzModel)]="model.dimension4GUID"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="dimension4Options"
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.DIMENSION_5' | translate }} : </label>
            <ivz-dropdown
              inputId="DIMENSION5GUID"
              [(ivzModel)]="model.dimension5GUID"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="dimension5Options"
            ></ivz-dropdown>
          </div>
        </div>
      </p-fieldset>
      <p-fieldset [legend]="{ text: 'LABEL.SYSTEM' | translate }.text" [toggleable]="true">
        <div class="p-d-flex p-flex-wrap">
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.CREATED_BY' | translate }} : </label>
            <ivz-input-text inputId="CREATED_BY" [(ivzModel)]="model.createdBy" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.CREATED_DATE_TIME' | translate }} : </label>
            <ivz-calendar inputId="CREATED_DATE_TIME" [(ivzModel)]="model.createdDateTime" [ivzConfig]="DATETIME"></ivz-calendar>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.MODIFIED_BY' | translate }} : </label>
            <ivz-input-text inputId="MODIFIED_BY" [(ivzModel)]="model.modifiedBy" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.MODIFIED_DATE_TIME' | translate }} : </label>
            <ivz-calendar inputId="MODIFIED_DATE_TIME" [(ivzModel)]="model.modifiedDateTime" [ivzConfig]="DATETIME"></ivz-calendar>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label required>{{ 'LABEL.COMPANY_ID' | translate }} : </label>
            <ivz-input-text inputId="COMPANY_ID" [(ivzModel)]="model.companyId" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label required>{{ 'LABEL.BUSINESS_UNIT_ID' | translate }} : </label>
            <ivz-input-text inputId="BUSINESS_UNIT_ID" [(ivzModel)]="model.ownerBusinessUnitId" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label required>{{ 'LABEL.OWNER' | translate }} : </label>
            <ivz-input-text inputId="OWNER" [(ivzModel)]="model.owner" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
          </div>
        </div>
      </p-fieldset>
    </p-panel-content>
    <p-footer class="ivz-panel-footer">
      <div class="p-d-flex p-jc-end">
        <ivz-button
          inputId="SAVE"
          [label]="'LABEL.SAVE' | translate"
          icon="pi pi-save"
          className="ivz-primary-btn p-m-2"
          [ivzConfig]="buttonConfig"
          (formValidate)="onSave($event)"
        ></ivz-button>
        <ivz-button
          inputId="SAVE_AND_CLOSE"
          [label]="'LABEL.SAVE_AND_CLOSE' | translate"
          icon="pi pi-times"
          className="ivz-primary-btn p-m-2"
          [ivzConfig]="buttonConfig"
          (formValidate)="onSaveAndClose($event)"
        >
        </ivz-button>
        <ivz-button
          inputId="CLOSE"
          [label]="'LABEL.CLOSE' | translate"
          icon="pi pi-power-off"
          className="ivz-primary-btn p-m-2"
          [ivzConfig]="buttonConfig"
          (click)="onClose()"
        >
        </ivz-button>
      </div>
    </p-footer>
  </p-panel>
</div>
