<div class="ivz-item-card">
  <p-panel [showHeader]="true" [viewonly]="isView" class="ivz-panel">
    <p-header class="p-d-flex p-jc-between w-100">
      <div class="ivz-div-panel-title">
        <span class="ivz-panel-title p-m-2">{{ 'LABEL.GUARANTOR_AGREEMENT_LINE' | translate }}</span>
      </div>
      <div class="ivz-div-panel-btn-group">
        <p-tieredMenu id="MENURELATED" #related [model]="relatedInfoItems" [popup]="true"> </p-tieredMenu>
        <p-button
          id="RELATED_INFO"
          #btnfn
          type="button"
          icon="pi pi-share-alt"
          (click)="related.toggle($event); function.hide(); group.hide()"
          [label]="'LABEL.RELATED_INFO' | translate"
          styleClass="p-button-text"
        >
        </p-button>
        <p-tieredMenu id="MENUFUNCTION" #function [model]="functionItems" [popup]="true"> </p-tieredMenu>
        <p-button
          id="FUNCTION"
          #btnfn
          type="button"
          icon="pi pi-cog"
          (click)="function.toggle($event); related.hide(); group.hide()"
          [label]="'LABEL.FUNCTION' | translate"
          styleClass="p-button-text"
        >
        </p-button>
        <p-tieredMenu id="MENUGROUP" #group [model]="itemsGroup" [popup]="true"> </p-tieredMenu>
        <p-button
          id="GROUP"
          #btnfn
          type="button"
          icon="pi pi-list"
          (click)="group.toggle($event); function.hide(); related.hide()"
          [label]="'LABEL.GROUP' | translate"
          styleClass="p-button-text"
        >
        </p-button>
      </div>
    </p-header>
    <p-panel-content class="ivz-div-panel-content">
      <p-fieldset [legend]="{ text: 'LABEL.GENERAL' | translate }.text" [toggleable]="true">
        <div class="p-d-flex p-flex-wrap">
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label required>{{ 'LABEL.INTERNAL_GUARANTOR_AGREEMENT_ID' | translate }} : </label>
            <ivz-input-text
              inputId="GUARANTOR_AGREEMENT_TABLE_GUID"
              [(ivzModel)]="model.guarantorAgreementTable_InternalGuarantorAgreementId"
              maxlength="1000"
              [ivzConfig]="DEFAULT_INPUTTEXT"
              required
            >
            </ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label required>{{ 'LABEL.ORDERING' | translate }} : </label>
            <ivz-input-number inputId="ORDERING" [(ivzModel)]="model.ordering" [ivzConfig]="INTEGER" required></ivz-input-number>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label required>{{ 'LABEL.GUARANTOR_ID' | translate }} : </label>
            <ivz-dropdown
              inputId="GUARANTOR_TRANS_GUID"
              [(ivzModel)]="model.guarantorTransGUID"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="guarantorTransOptions"
              (ivzModelChange)="onGuarantorTransChange($event)"
              (ivzOnFocus)="onGuarantorTransDropdownFocus($event)"
              required
            >
            </ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label required>{{ 'LABEL.NAME' | translate }} : </label>
            <ivz-input-text inputId="NAME" [(ivzModel)]="model.name" [ivzConfig]="DEFAULT_INPUTTEXT" required></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.OPERATED_BY' | translate }} : </label>
            <ivz-input-text inputId="OPERATED_BY" [(ivzModel)]="model.operatedBy" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.TAX_ID' | translate }} : </label>
            <ivz-input-text inputId="TAX_ID" [(ivzModel)]="model.taxId" [ivzConfig]="TAX_ID_INPUTTEXT"></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.PASSPORT_ID' | translate }} : </label>
            <ivz-input-text inputId="PASSPORT_ID" [(ivzModel)]="model.passportId" [ivzConfig]="ID_INPUTTEXT"></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.WORK_PERMIT_ID' | translate }} : </label>
            <ivz-input-text inputId="WORK_PERMIT_ID" [(ivzModel)]="model.workPermitId" [ivzConfig]="ID_INPUTTEXT"></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.DATE_OF_ISSUE' | translate }} : </label>
            <ivz-calendar inputId="DATE_OF_ISSUE" [(ivzModel)]="model.dateOfIssue" [ivzConfig]="DATE"></ivz-calendar>
          </div>
        </div>
        <div class="p-d-flex p-flex-column ele-box-w-25">
          <label>{{ 'LABEL.MAXIMUM_GUARANTEE_AMOUNT' | translate }} : </label>
          <ivz-input-number
            inputId="MAXIMUM_GUARANTEE_AMOUNT"
            [(ivzModel)]="model.maximumGuaranteeAmount"
            [ivzConfig]="CURRENCY_13_2"
          ></ivz-input-number>
        </div>
      </p-fieldset>
      <!-- -------------- -->
      <p-fieldset [legend]="{ text: 'LABEL.AFFILIATE' | translate }.text" [toggleable]="true">
        <div class="p-d-flex p-flex-wrap">
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.AFFILIATE' | translate }} : </label>
            <ivz-input-switch inputId="AFFILIATE" [(ivzModel)]="model.affiliate"></ivz-input-switch>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.CUSTOMER_ID' | translate }} : </label>
            <ivz-dropdown
              inputId="CUSTOMER_TABLE_GUID"
              [options]="customerOption"
              [(ivzModel)]="model.customerTableGUID"
              (ivzModelChange)="onCustomerChange()"
              [ivzConfig]="DEFAULT_DROPDOWN"
            >
            </ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.CREDIT_APPLICATION_ID' | translate }} : </label>
            <ivz-dropdown
              inputId="CREDIT_APP_TABLE_GUID"
              [options]="creditAppOptions"
              [(ivzModel)]="model.creditAppTableGUID"
              (ivzModelChange)="onCreditAppChange($event)"
              [ivzConfig]="DEFAULT_DROPDOWN"
            >
            </ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.APPROVED_CREDIT_LIMIT' | translate }} : </label>
            <ivz-input-number inputId="APPROVED_CREDIT_LIMIT" [(ivzModel)]="model.approvedCreditLimit" [ivzConfig]="CURRENCY_13_2">
            </ivz-input-number>
          </div>
        </div>
      </p-fieldset>
      <!-- ---------- -->
      <p-fieldset [legend]="{ text: 'LABEL.PERSONAL_INFORMATION' | translate }.text" [toggleable]="true">
        <div class="p-d-flex p-flex-wrap">
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.DATE_OF_BIRTH' | translate }} : </label>
            <ivz-calendar inputId="DATE_OF_BIRTH" [(ivzModel)]="model.dateOfBirth" [ivzConfig]="DATE"></ivz-calendar>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.AGE' | translate }} : </label>
            <ivz-input-number inputId="AGE" [(ivzModel)]="model.age" [ivzConfig]="INTEGER"></ivz-input-number>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.NATIONALITY' | translate }} : </label>
            <ivz-dropdown
              inputId="NATIONALITY_GUID"
              [(ivzModel)]="model.nationalityGUID"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="nationalityOptions"
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.RACE' | translate }} : </label>
            <ivz-dropdown inputId="RACE_GUID" [(ivzModel)]="model.raceGUID" [ivzConfig]="DEFAULT_DROPDOWN" [options]="raceOptions"></ivz-dropdown>
          </div>
        </div>
      </p-fieldset>
      <p-fieldset [legend]="{ text: 'LABEL.ADDRESS' | translate }.text" [toggleable]="true">
        <div class="p-d-flex p-flex-wrap">
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.PRIMARY_ADDRESS_1' | translate }} : </label>
            <ivz-textarea inputId="PRIMARY_ADDRESS1" [(ivzModel)]="model.primaryAddress1" [ivzConfig]="DEFAULT_TEXTAREA"> </ivz-textarea>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.PRIMARY_ADDRESS_2' | translate }} : </label>
            <ivz-textarea inputId="PRIMARY_ADDRESS2" [(ivzModel)]="model.primaryAddress2" [ivzConfig]="DEFAULT_TEXTAREA"> </ivz-textarea>
          </div>
        </div>
      </p-fieldset>
      <p-fieldset [legend]="{ text: 'LABEL.TEXT' | translate }.text" [toggleable]="true">
        <div class="p-d-flex p-flex-wrap">
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.GUARANTEE_LAND' | translate }} : </label>
            <ivz-textarea inputId="GUARANTEE_LAND" [(ivzModel)]="model.guaranteeLand" [ivzConfig]="DEFAULT_TEXTAREA"> </ivz-textarea>
          </div>
        </div>
      </p-fieldset>
      <p-fieldset [legend]="{ text: 'LABEL.SYSTEM' | translate }.text" [toggleable]="true">
        <div class="p-d-flex p-flex-wrap">
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.CREATED_BY' | translate }} : </label>
            <ivz-input-text inputId="CREATED_BY" [(ivzModel)]="model.createdBy" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.CREATED_DATE_TIME' | translate }} : </label>
            <ivz-calendar inputId="CREATED_DATE_TIME" [(ivzModel)]="model.createdDateTime" [ivzConfig]="DATETIME"></ivz-calendar>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.MODIFIED_BY' | translate }} : </label>
            <ivz-input-text inputId="MODIFIED_BY" [(ivzModel)]="model.modifiedBy" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.MODIFIED_DATE_TIME' | translate }} : </label>
            <ivz-calendar inputId="MODIFIED_DATE_TIME" [(ivzModel)]="model.modifiedDateTime" [ivzConfig]="DATETIME"></ivz-calendar>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label required>{{ 'LABEL.COMPANY_ID' | translate }} : </label>
            <ivz-input-text inputId="COMPANY_ID" [(ivzModel)]="model.companyId" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label required>{{ 'LABEL.BUSINESS_UNIT_ID' | translate }} : </label>
            <ivz-input-text inputId="BUSINESS_UNIT_ID" [(ivzModel)]="model.ownerBusinessUnitId" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label required>{{ 'LABEL.OWNER' | translate }} : </label>
            <ivz-input-text inputId="OWNER" [(ivzModel)]="model.owner" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
          </div>
        </div>
      </p-fieldset>
      <p-fieldset *ngIf="isUpdateMode" [legend]="{ text: 'LABEL.GUARANTOR_AGREEMENT_LINE_AFFILIATE' | translate }.text" [toggleable]="true" listview>
        <div class="p-grid p-col-12 p-justify-start div-form-input">
          <guarantor-agreement-line-affiliate-list [pageInfo]="childPaths[0]"></guarantor-agreement-line-affiliate-list>
        </div>
      </p-fieldset>
    </p-panel-content>
    <p-footer class="ivz-panel-footer">
      <div class="p-d-flex p-jc-end">
        <ivz-button
          inputId="SAVE"
          [label]="'LABEL.SAVE' | translate"
          icon="pi pi-save"
          className="ivz-primary-btn p-m-2"
          [ivzConfig]="buttonConfig"
          (formValidate)="onSave($event)"
        ></ivz-button>
        <ivz-button
          inputId="SAVE_AND_CLOSE"
          [label]="'LABEL.SAVE_AND_CLOSE' | translate"
          icon="pi pi-times"
          className="ivz-primary-btn p-m-2"
          [ivzConfig]="buttonConfig"
          (formValidate)="onSaveAndClose($event)"
        >
        </ivz-button>
        <ivz-button
          inputId="CLOSE"
          [label]="'LABEL.CLOSE' | translate"
          icon="pi pi-power-off"
          className="ivz-primary-btn p-m-2"
          [ivzConfig]="buttonConfig"
          (click)="onClose()"
        >
        </ivz-button>
      </div>
    </p-footer>
  </p-panel>
</div>
