<div class="ivz-item-card function-m">
  <p-panel [showHeader]="true" [viewonly]="isView" class="ivz-panel">
    <p-header class="p-d-flex p-jc-between w-100">
      <div class="ivz-div-panel-title">
        <span class="ivz-panel-title p-m-2">{{ custom.title | translate }}</span>
      </div>
    </p-header>
    <p-panel-content class="ivz-div-panel-content">
      <p-fieldset [legend]="{ text: 'LABEL.PARAMETER' | translate }.text" [toggleable]="true">
        <div class="p-d-flex p-flex-wrap">
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label required>{{ 'LABEL.AS_OF_DATE' | translate }} : </label>
            <ivz-calendar inputId="AS_OF_DATE" [(ivzModel)]="model.asOfDate" [ivzConfig]="DATE" required></ivz-calendar>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-100">
            <label required>{{ 'LABEL.CUSTOMER_ID' | translate }} : </label>
            <ivz-multi-select
              inputId="CUSTOMER_TABLE_GUID"
              [ivzConfig]="DEFAULT_MULTISELECT"
              [(ivzModel)]="model.customerTableGUID"
              [options]="customerTableOptions"
              required
            ></ivz-multi-select>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-100">
            <label required>{{ 'LABEL.BUYER_ID' | translate }} : </label>
            <ivz-multi-select
              inputId="BUYER_TABLE_GUID"
              [ivzConfig]="DEFAULT_MULTISELECT"
              [(ivzModel)]="model.buyerTableGUID"
              [options]="buyerTableOptions"
              required
            ></ivz-multi-select>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label required>{{ 'LABEL.PRODUCT_TYPE' | translate }} : </label>
            <ivz-dropdown
              inputId="PRODUCT_TYPE"
              [(ivzModel)]="model.productType"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="productTypeOptions"
              required
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label required>{{ 'LABEL.SUSPENSE_INVOICE_TYPE' | translate }} : </label>
            <ivz-dropdown
              inputId="SUSPENSE_INVOICE_TYPE"
              [(ivzModel)]="model.suspenseInvoiceType"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="suspenseInvoiceTypeOptions"
              required
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label required>{{ 'LABEL.REFERENCE_TYPE' | translate }} : </label>
            <ivz-multi-select
              inputId="REF_TYPE"
              [(ivzModel)]="model.refType"
              [ivzConfig]="DEFAULT_MULTISELECT"
              [options]="refTypeOptions"
              required
            ></ivz-multi-select>
          </div>
        </div>
      </p-fieldset>
    </p-panel-content>
    <p-footer class="ivz-panel-footer">
      <div class="p-d-flex p-jc-end">
        <ivz-button
          inputId="OK"
          [label]="'LABEL.OK' | translate"
          icon="pi pi-times"
          className="ivz-primary-btn p-m-2"
          [ivzConfig]="buttonConfig"
          (formValidate)="onSaveAndClose($event)"
        >
        </ivz-button>
        <ivz-button
          inputId="CANCEL"
          [label]="'LABEL.CANCEL' | translate"
          icon="pi pi-power-off"
          className="ivz-primary-btn p-m-2"
          [ivzConfig]="buttonConfig"
          (click)="onClose()"
        >
        </ivz-button>
      </div>
    </p-footer>
  </p-panel>
</div>
