<div class="layout-topbar">
  <a href="#" class="layout-topbar-logo">
    <img id="layout-topbar-logo" src="assets/layout/images/logo-white.png" alt="babylon-layout" />
  </a>

  <a class="layout-menu-button" href="#" (click)="app.onMenuButtonClick($event)">
    <i class="pi pi-bars"></i>
  </a>

  <a id="topbar-menu-button" href="#" (click)="app.onTopbarMenuButtonClick($event)">
    <i class="pi pi-ellipsis-v"></i>
  </a>

  <ul class="topbar-menu fadeInDown" [ngClass]="{ 'topbar-menu-visible': app.topbarMenuActive }">
    <li #loginbutton *ngIf="!isLoggedIn()">
      <a (click)="onLoginClick($event)" style="cursor: pointer; color: #000000"> Login </a>
    </li>
    <li
      #profile
      class="user-profile"
      *ngIf="app.profileMode === 'popup' || app.isHorizontal()"
      [ngClass]="{ 'active-topmenuitem': app.activeTopbarItem === profile }"
    >
      <a href="#" (click)="app.onTopbarItemClick($event, profile)">
        <img
          alt="babylon-layout"
          id="userImg"
          style="max-height: 100%; object-fit: cover; vertical-align: middle; border-radius: inherit"
          [src]="imgContent"
        />
        <span class="topbar-item-name" [ngStyle]="{ color: 'black' }">{{ displayName }}</span>
        <span class="topbar-badge" *ngIf="unseenCount !== 0">{{ unseenCount }}</span>
      </a>

      <ul class="fadeInDown">
        <li role="menuitem">
          <a style="cursor: pointer" (click)="onUserSettingsClick($event)" [attr.tabindex]="-1">
            <i class="pi pi-user"></i>
            <span>User Settings</span>
          </a>
        </li>

        <li role="menuitem">
          <a href="#" (click)="onNotificationClick($event)">
            <i class="pi pi-bell"></i>
            <span>Notifications</span>
            <span class="topbar-submenuitem-badge" *ngIf="unseenCount !== 0">{{ unseenCount }}</span>
          </a>
        </li>
        <li role="menuitem">
          <a style="cursor: pointer" (click)="onAbout($event)" [attr.tabindex]="-1">
            <i class="pi pi-info-circle"></i>
            <span>About</span>
          </a>
        </li>
        <li role="menuitem">
          <a style="cursor: pointer" (click)="onLogOutClick($event)" [attr.tabindex]="-1">
            <i class="pi pi-sign-out"></i>
            <span>Log out</span>
          </a>
        </li>
      </ul>
    </li>
    <li>
      <span class="username-display">{{ displayName }}</span>
    </li>
  </ul>
</div>
<p-dialog
  #notificationdialog
  header="Notifications"
  [(visible)]="showNotiList"
  [modal]="true"
  [responsive]="true"
  blockScroll="true"
  [(style)]="notiDialogStyle"
  [(contentStyle)]="notiDialogContentStyle"
  [draggable]="false"
  [maximizable]="true"
  [baseZIndex]="10000"
  [resizable]="false"
  (onHide)="onHideNotiDialog()"
  (onShow)="onShowNotiDialog()"
  (visibleChange)="setDialogWindowState()"
  [closeOnEscape]="true"
>
  <app-notification-list #notificationlist (showSystemLogDetail)="onShowSystemLogDetail($event)"></app-notification-list>
  <p-footer>
    <ivz-button
      [label]="'LABEL.CLOSE' | translate"
      icon="pi pi-power-off"
      className="ivz-primary-btn p-m-2"
      [ivzConfig]="buttonConfig"
      (click)="onNotificationListClose()"
    >
    </ivz-button>
  </p-footer>
</p-dialog>
