<div class="ivz-item-card function-l">
  <p-panel [showHeader]="true" [viewonly]="isView" class="ivz-panel">
    <p-header class="p-d-flex p-jc-between w-100">
      <div class="ivz-div-panel-title">
        <span class="ivz-panel-title p-m-2">{{ 'LABEL.UPDATE_STATUS' | translate }}</span>
      </div>
    </p-header>
    <p-panel-content class="ivz-div-panel-content">
      <div class="p-d-flex p-flex-wrap">
        <div class="p-d-flex p-flex-column ele-box-w-50">
          <label>{{ 'LABEL.VERIFICATION_ID' | translate }} : </label>
          <ivz-input-text inputId="VERIFICATION_TABLE_GUID" [(ivzModel)]="model.verificationId" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
        </div>
        <div class="p-d-flex p-flex-column ele-box-w-50">
          <label>{{ 'LABEL.ORIGINAL_STATUS' | translate }} : </label>
          <ivz-input-text
            inputId="ORIGINAL_DOCUMENT_STATUS"
            [(ivzModel)]="model.documentStatus_Values"
            [ivzConfig]="DEFAULT_INPUTTEXT"
          ></ivz-input-text>
        </div>
        <div class="p-d-flex p-flex-column ele-box-w-50">
          <label required>{{ 'LABEL.NEW_STATUS' | translate }} : </label>
          <ivz-dropdown
            inputId="DOCUMENT_STATUS_GUID"
            [(ivzModel)]="model.documentStatusGUID"
            [ivzConfig]="DEFAULT_DROPDOWN"
            [options]="documentStatusOptions"
            [ivzValidation]="getDocumentStatusValidation()"
            required
          ></ivz-dropdown>
        </div>
      </div>
    </p-panel-content>
    <p-footer class="ivz-panel-footer">
      <div class="p-d-flex p-jc-end">
        <ivz-button
          inputId="OK"
          [label]="'LABEL.OK' | translate"
          icon="pi pi-times"
          className="ivz-primary-btn p-m-2"
          [ivzConfig]="buttonConfig"
          (formValidate)="onSaveAndClose($event)"
        >
        </ivz-button>
        <ivz-button
          inputId="CANCEL"
          [label]="'LABEL.CANCEL' | translate"
          icon="pi pi-power-off"
          className="ivz-primary-btn p-m-2"
          [ivzConfig]="buttonConfig"
          (click)="onClose()"
        >
        </ivz-button>
      </div>
    </p-footer>
  </p-panel>
</div>
