<div class="ivz-item-card">
  <p-panel [showHeader]="true" [viewonly]="isView" class="ivz-panel">
    <p-header class="p-d-flex p-jc-between w-100">
      <div class="ivz-div-panel-title">
        <span class="ivz-panel-title p-m-2">{{ 'LABEL.USER_SETTINGS' | translate }}</span>
      </div>
      <div class="ivz-div-panel-btn-group">
        <p-tieredMenu id="MENURELATED" #related [model]="relatedInfoItems" [popup]="true"> </p-tieredMenu>
        <p-button
          id="RELATED_INFO"
          #btnfn
          type="button"
          icon="pi pi-share-alt"
          (click)="related.toggle($event); function.hide(); group.hide()"
          [label]="'LABEL.RELATED_INFO' | translate"
          styleClass="p-button-text"
        >
        </p-button>
        <p-tieredMenu id="MENUFUNCTION" #function [model]="functionItems" [popup]="true"> </p-tieredMenu>
        <p-button
          id="FUNCTION"
          #btnfn
          type="button"
          icon="pi pi-cog"
          (click)="function.toggle($event); related.hide(); group.hide()"
          [label]="'LABEL.FUNCTION' | translate"
          styleClass="p-button-text"
        ></p-button>
        <p-tieredMenu id="MENUGROUP" #group [model]="itemsGroup" [popup]="true"> </p-tieredMenu>
        <p-button
          id="GROUP"
          #btnfn
          type="button"
          icon="pi pi-list"
          (click)="group.toggle($event); function.hide(); related.hide()"
          [label]="'LABEL.GROUP' | translate"
          styleClass="p-button-text"
        ></p-button>
      </div>
    </p-header>
    <!-- GROUP GENERAL-->
    <p-fieldset [legend]="{ text: 'LABEL.GENERAL' | translate }.text" [toggleable]="true">
      <div class="p-d-flex p-flex-wrap">
        <div class="p-d-flex p-flex-column ele-box-w-50">
          <label>{{ 'LABEL.USER_NAME' | translate }} : </label>
          <ivz-input-text inputId="USER_NAME" [ivzConfig]="DEFAULT_INPUTTEXT" [(ivzModel)]="model.userName"></ivz-input-text>
        </div>
        <div class="p-d-flex p-flex-column ele-box-w-50">
          <label>{{ 'LABEL.NAME' | translate }} : </label>
          <ivz-input-text inputId="NAME" [ivzConfig]="DEFAULT_INPUTTEXT" [(ivzModel)]="model.name"></ivz-input-text>
        </div>
        <div class="p-d-flex p-flex-column ele-box-w-50">
          <label>{{ 'LABEL.EMAIL' | translate }} : </label>
          <ivz-input-text inputId="EMAIL" [ivzConfig]="DEFAULT_INPUTTEXT" [(ivzModel)]="model.email"></ivz-input-text>
        </div>
        <div class="p-d-flex p-flex-column ele-box-w-50">
          <label>{{ 'LABEL.PHONE_NUMBER' | translate }} : </label>
          <ivz-input-text inputId="PHONE_NUMBER" [ivzConfig]="DEFAULT_INPUTTEXT" [(ivzModel)]="model.phoneNumber"></ivz-input-text>
        </div>

        <div class="p-col-12 p-lg-6 p-sm-12 p-dir-col i-field-container">
          <label>{{ 'LABEL.IN_ACTIVE' | translate }} : </label>
          <ivz-input-switch inputId="IN_ACTIVE" [(ivzModel)]="model.inActive"> </ivz-input-switch>
        </div>
      </div>
    </p-fieldset>
    <p-panel-content class="ivz-div-panel-content">
      <p-fieldset [legend]="{ text: 'LABEL.SETUP' | translate }.text" [toggleable]="true">
        <div class="p-d-flex p-flex-wrap">
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.LANGUAGE' | translate }} : </label>
            <ivz-dropdown
              inputId="LANGUAGE"
              [options]="sysLanguageOptions"
              [(ivzModel)]="model.languageId"
              [ivzConfig]="DEFAULT_DROPDOWN"
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.SHOW_SYSTEM_LOG' | translate }} : </label>
            <ivz-input-switch inputId="SHOW_SYSTEM_LOG" [(ivzModel)]="model.showSystemLog"></ivz-input-switch>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.DEFAULT_COMPANY_ID' | translate }} : </label>
            <ivz-dropdown
              inputId="DEFAULT_COMPANY_ID"
              [options]="companyOptions"
              [(ivzModel)]="model.defaultCompanyGUID"
              (ivzModelChange)="onCompanyChange($event)"
              [ivzConfig]="DEFAULT_DROPDOWN"
            ></ivz-dropdown>
          </div>
          
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.USER_IMAGE' | translate }} : </label>
            <ivz-file-upload
              #fileUploadCmpnt
              [multiple]="false"
              [model]="fileUpload"
              [viewOnly]="false"
              [browse]="true"
              [showPreviewBtn]="true"
              [showDownloadBtn]="true"
              [fileSizeLimit]="0.5"
              [acceptFormat]="custom.pictureType"
              (fileChange)="onFileChange($event)"
            >
            </ivz-file-upload>
          </div>
        </div>
      </p-fieldset>
    </p-panel-content>
    <p-footer class="ivz-panel-footer">
      <div class="p-d-flex p-jc-end">
        <ivz-button
          inputId="SAVE"
          [label]="'LABEL.SAVE' | translate"
          icon="pi pi-save"
          className="ivz-primary-btn p-m-2"
          [ivzConfig]="buttonConfig"
          (formValidate)="onSave($event)"
        ></ivz-button>
        <ivz-button
          inputId="SAVE_AND_CLOSE"
          [label]="'LABEL.SAVE_AND_CLOSE' | translate"
          icon="pi pi-times"
          className="ivz-primary-btn p-m-2"
          [ivzConfig]="buttonConfig"
          (formValidate)="onSaveAndClose($event)"
        >
        </ivz-button>
        <ivz-button
          [label]="'LABEL.CLOSE' | translate"
          icon="pi pi-power-off"
          className="ivz-primary-btn p-m-2"
          [ivzConfig]="buttonConfig"
          (click)="onClose()"
        >
        </ivz-button>
      </div>
    </p-footer>
  </p-panel>
</div>
