<div class="ivz-item-card function-l">
  <p-panel [showHeader]="true" [viewonly]="isView" class="ivz-panel">
    <p-header class="p-d-flex p-jc-between w-100">
      <div class="ivz-div-panel-title">
        <span class="ivz-panel-title p-m-2">{{ 'LABEL.TERM_EXTENSION_WITHDRAWAL' | translate }}</span>
      </div>
    </p-header>
    <p-panel-content class="ivz-div-panel-content">
      <div class="w-100" *ngIf="isViewBody">
        <p-fieldset [legend]="{ text: 'LABEL.GENERAL' | translate }.text" [toggleable]="true">
          <div class="p-d-flex p-flex-wrap">
            <div class="p-d-flex p-flex-column ele-box-w-50">
              <label>{{ 'LABEL.WITHDRAWAL_ID' | translate }} : </label>
              <ivz-input-text inputId="WITHDRAWAL_ID" [(ivzModel)]="model.withdrawalId" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
            </div>
            <div class="p-d-flex p-flex-column ele-box-w-50">
              <label>{{ 'LABEL.STATUS' | translate }} : </label>
              <ivz-input-text inputId="DOCUMENT_STATUS" [(ivzModel)]="model.documentStatus" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
            </div>
            <div class="p-d-flex p-flex-column ele-box-w-50">
              <label>{{ 'LABEL.CUSTOMER_ID' | translate }} : </label>
              <ivz-input-text inputId="CUSTOMER_ID" [(ivzModel)]="model.customerId" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
            </div>
            <div class="p-d-flex p-flex-column ele-box-w-50">
              <label>{{ 'LABEL.BUYER_ID' | translate }} : </label>
              <ivz-input-text inputId="BUYER_ID" [(ivzModel)]="model.buyerId" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
            </div>
            <div class="p-d-flex p-flex-column ele-box-w-25">
              <label>{{ 'LABEL.TERM_EXTENSION' | translate }} : </label>
              <ivz-input-switch inputId="TERM_EXTENSION" [(ivzModel)]="model.termExtension"></ivz-input-switch>
            </div>
            <div class="p-d-flex p-flex-column ele-box-w-25">
              <label>{{ 'LABEL.NUMBER_OF_EXTENSION' | translate }} : </label>
              <ivz-input-number inputId="NUMBER_OF_EXTENSION" [(ivzModel)]="model.numberOfExtension" [ivzConfig]="INTEGER"></ivz-input-number>
            </div>
            <div class="p-d-flex p-flex-column ele-box-w-25">
              <label>{{ 'LABEL.WITHDRAWAL_DATE' | translate }} : </label>
              <ivz-calendar inputId="WITHDRAWAL_DATE" [(ivzModel)]="model.withdrawalDate" [ivzConfig]="DATE"></ivz-calendar>
            </div>
            <div class="p-d-flex p-flex-column ele-box-w-25">
              <label>{{ 'LABEL.DUE_DATE' | translate }} : </label>
              <ivz-calendar inputId="DUE_DATE" [(ivzModel)]="model.dueDate" [ivzConfig]="DATE"></ivz-calendar>
            </div>
            <div class="p-d-flex p-flex-column ele-box-w-50">
              <label>{{ 'LABEL.CREDIT_TERM_ID' | translate }} : </label>
              <ivz-input-text inputId="CREDIT_TERM_ID" [(ivzModel)]="model.creditTermId" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
            </div>
            <div class="p-d-flex p-flex-column ele-box-w-25">
              <label>{{ 'LABEL.TOTAL_INTEREST_PCT' | translate }} : </label>
              <ivz-input-number inputId="TOTAL_INTEREST_PCT" [(ivzModel)]="model.totalInterestPct" [ivzConfig]="PERCENT_5_2"> </ivz-input-number>
            </div>
            <div class="p-d-flex p-flex-column ele-box-w-25">
              <label>{{ 'LABEL.WITHDRAWAL_AMOUNT' | translate }} : </label>
              <ivz-input-number inputId="WITHDRAWAL_AMOUNT" [(ivzModel)]="model.withdrawalAmount" [ivzConfig]="CURRENCY_13_2"> </ivz-input-number>
            </div>
          </div>
        </p-fieldset>
      </div>
      <div class="w-100">
        <ivz-report-form [parameter]="parameters" (reportReady)="onReportReady($event)"></ivz-report-form>
      </div>
    </p-panel-content>
    <p-footer class="ivz-panel-footer">
      <div class="p-d-flex p-jc-end">
        <ivz-button
          *ngIf="isViewBody"
          inputId="OK"
          [label]="'LABEL.OK' | translate"
          icon="pi pi-times"
          className="ivz-primary-btn p-m-2"
          [ivzConfig]="buttonConfig"
          (formValidate)="onSaveAndClose($event)"
        >
        </ivz-button>
        <ivz-button
          inputId="CLOSE"
          [label]="'LABEL.CLOSE' | translate"
          icon="pi pi-power-off"
          className="ivz-primary-btn p-m-2"
          [ivzConfig]="buttonConfig"
          (click)="onClose()"
        >
        </ivz-button>
      </div>
    </p-footer>
  </p-panel>
</div>
