<div class="ivz-item-card">
  <p-panel [showHeader]="true" [viewonly]="isView" class="ivz-panel">
    <p-header class="p-d-flex p-jc-between w-100">
      <div class="ivz-div-panel-title">
        <span class="ivz-panel-title p-m-2">{{ 'LABEL.COLLECTION_FOLLOW_UP' | translate }}</span>
      </div>
      <div class="ivz-div-panel-btn-group">
        <p-tieredMenu id="MENURELATED" #related [model]="relatedInfoItems" [popup]="true"> </p-tieredMenu>
        <p-button
          id="RELATED_INFO"
          #btnfn
          type="button"
          icon="pi pi-share-alt"
          (click)="related.toggle($event); function.hide(); group.hide()"
          [label]="'LABEL.RELATED_INFO' | translate"
          styleClass="p-button-text"
        >
        </p-button>
        <p-tieredMenu id="MENUFUNCTION" #function [model]="functionItems" [popup]="true"> </p-tieredMenu>
        <p-button
          id="FUNCTION"
          #btnfn
          type="button"
          icon="pi pi-cog"
          (click)="function.toggle($event); related.hide(); group.hide()"
          [label]="'LABEL.FUNCTION' | translate"
          styleClass="p-button-text"
        ></p-button>
        <p-tieredMenu id="MENUGROUP" #group [model]="itemsGroup" [popup]="true"> </p-tieredMenu>
        <p-button
          id="GROUP"
          #btnfn
          type="button"
          icon="pi pi-list"
          (click)="group.toggle($event); function.hide(); related.hide()"
          [label]="'LABEL.GROUP' | translate"
          styleClass="p-button-text"
        ></p-button>
      </div>
    </p-header>
    <p-panel-content class="ivz-div-panel-content">
      <p-fieldset [legend]="{ text: 'LABEL.GENERAL' | translate }.text" [toggleable]="true">
        <div class="p-d-flex p-flex-wrap">
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label required>{{ 'LABEL.COLLECTION_DATE' | translate }} : </label>
            <ivz-calendar inputId="COLLECTION_DATE" [(ivzModel)]="model.collectionDate" [ivzConfig]="DATE" required></ivz-calendar>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label required>{{ 'LABEL.DESCRIPTION' | translate }} : </label>
            <ivz-input-text
              inputId="DESCRIPTION"
              [(ivzModel)]="model.description"
              [ivzConfig]="DEFAULT_INPUTTEXT"
              required
              [ivzValidation]="custom.onValidateMandatoryText(model.description)"
            ></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label required>{{ 'LABEL.RECEIVED_FROM' | translate }} : </label>
            <ivz-dropdown
              inputId="RECEIVED_FROM"
              [(ivzModel)]="model.receivedFrom"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="receivedFromOptions"
              required
              [ivzValidation]="custom.onValidateMandatory(model.receivedFrom)"
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label required>{{ 'LABEL.CUSTOMER_ID' | translate }} : </label>
            <ivz-input-text
              inputId="CUSTOMER_TABLE_GUID"
              [(ivzModel)]="model.customerTable_Values"
              maxlength="1000"
              [ivzConfig]="DEFAULT_INPUTTEXT"
              required
            ></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label required>{{ 'LABEL.BUYER_ID' | translate }} : </label>
            <ivz-input-text
              inputId="BUYER_TABLE_GUID"
              [(ivzModel)]="model.buyerTable_Values"
              maxlength="1000"
              [ivzConfig]="DEFAULT_INPUTTEXT"
              required
            ></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label required>{{ 'LABEL.DOCUMENT_ID' | translate }} : </label>
            <ivz-input-text inputId="DOCUMENT_ID" [(ivzModel)]="model.documentId" [ivzConfig]="ID_INPUTTEXT" required></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label required>{{ 'LABEL.METHOD_OF_PAYMENT_ID' | translate }} : </label>
            <ivz-dropdown
              inputId="METHOD_OF_PAYMENT_GUID"
              [(ivzModel)]="model.methodOfPaymentGUID"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="methodOfPaymentOptions"
              required
              [ivzValidation]="custom.onValidateMandatory(model.methodOfPaymentGUID)"
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label required>{{ 'LABEL.COLLECTION_AMOUNT' | translate }} : </label>
            <ivz-input-number
              inputId="COLLECTION_AMOUNT"
              [(ivzModel)]="model.collectionAmount"
              [ivzConfig]="CURRENCY_13_2_POS"
              required
              [ivzValidation]="custom.onValidateMandatory(model.collectionAmount)"
            >
            </ivz-input-number>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label required>{{ 'LABEL.FOLLOW_UP_RESULT' | translate }} : </label>
            <ivz-dropdown
              inputId="COLLECTION_FOLLOW_UP_RESULT"
              [(ivzModel)]="model.collectionFollowUpResult"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="collectionFollowUpResultOptions"
              required
              (ivzModelChange)="onCollectionFollowUpResultChange()"
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.NEW_COLLECTION_DATE' | translate }} : </label>
            <ivz-calendar inputId="NEW_COLLECTION_DATE" [(ivzModel)]="model.newCollectionDate" [ivzConfig]="DATE"></ivz-calendar>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.REMARK' | translate }} : </label>
            <ivz-textarea inputId="REMARK" [(ivzModel)]="model.remark" [ivzConfig]="DEFAULT_TEXTAREA"> </ivz-textarea>
          </div>
        </div>
      </p-fieldset>
      <p-fieldset [legend]="{ text: 'LABEL.CHEQUE_INFORMATION' | translate }.text" [toggleable]="true">
        <div class="p-d-flex p-flex-wrap">
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.CHEQUE_DATE' | translate }} : </label>
            <ivz-calendar inputId="CHEQUE_DATE" [(ivzModel)]="model.chequeDate" [ivzConfig]="DATE"></ivz-calendar>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.CHEQUE_NO.' | translate }} : </label>
            <ivz-input-text inputId="CHEQUE_NO" [(ivzModel)]="model.chequeNo" [ivzConfig]="ID_INPUTTEXT"></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.CHEQUE_BANK_ACCOUNT_NO.' | translate }} : </label>
            <ivz-input-text inputId="CHEQUE_BANK_ACC_NO" [(ivzModel)]="model.chequeBankAccNo" [ivzConfig]="ID_INPUTTEXT"></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.CHEQUE_BANK_GROUP_ID' | translate }} : </label>
            <ivz-dropdown
              inputId="CHEQUE_BANK_GROUP_GUID"
              [(ivzModel)]="model.chequeBankGroupGUID"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="bankGroupOptions"
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.CHEQUE_BRANCH' | translate }} : </label>
            <ivz-input-text inputId="CHEQUE_BRANCH" [(ivzModel)]="model.chequeBranch" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.CHEQUE_AMOUNT' | translate }} : </label>
            <ivz-input-number inputId="CHEQUE_AMOUNT" [(ivzModel)]="model.chequeAmount" [ivzConfig]="CURRENCY_13_2"> </ivz-input-number>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.RECIPIENT_NAME' | translate }} : </label>
            <ivz-input-text inputId="RECIPIENT_NAME" [(ivzModel)]="model.recipientName" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label [required]="custom.isRequiredChequeCollectionResult">{{ 'LABEL.CHEQUE_COLLECTION_RESULT' | translate }} : </label>
            <ivz-dropdown
              inputId="CHEQUE_COLLECTION_RESULT"
              [(ivzModel)]="model.chequeCollectionResult"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="resultOptions"
              [required]="custom.isRequiredChequeCollectionResult"
            ></ivz-dropdown>
          </div>
        </div>
      </p-fieldset>
      <p-fieldset [legend]="{ text: 'LABEL.REFERENCE' | translate }.text" [toggleable]="true">
        <div class="p-d-flex p-flex-wrap">
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.REFERENCE_TYPE' | translate }} : </label>
            <ivz-dropdown inputId="REF_TYPE" [(ivzModel)]="model.refType" [ivzConfig]="DEFAULT_DROPDOWN" [options]="refTypeOptions"></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.REFERENCE_ID' | translate }} : </label>
            <ivz-input-text inputId="REF_ID" [(ivzModel)]="model.refId" [ivzConfig]="ID_INPUTTEXT"></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.CREDIT_APPLICATION_LINE' | translate }} : </label>
            <ivz-input-text
              inputId="CREDIT_APP_LINE_GUID"
              [(ivzModel)]="model.creditAppLine_Values"
              maxlength="1000"
              [ivzConfig]="DEFAULT_INPUTTEXT"
            ></ivz-input-text>
          </div>
        </div>
      </p-fieldset>
      <p-fieldset [legend]="{ text: 'LABEL.SYSTEM' | translate }.text" [toggleable]="true">
        <div class="p-d-flex p-flex-wrap">
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.CREATED_BY' | translate }} : </label>
            <ivz-input-text inputId="CREATED_BY" [(ivzModel)]="model.createdBy" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.CREATED_DATE_TIME' | translate }} : </label>
            <ivz-calendar inputId="CREATED_DATE_TIME" [(ivzModel)]="model.createdDateTime" [ivzConfig]="DATETIME"></ivz-calendar>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.MODIFIED_BY' | translate }} : </label>
            <ivz-input-text inputId="MODIFIED_BY" [(ivzModel)]="model.modifiedBy" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.MODIFIED_DATE_TIME' | translate }} : </label>
            <ivz-calendar inputId="MODIFIED_DATE_TIME" [(ivzModel)]="model.modifiedDateTime" [ivzConfig]="DATETIME"></ivz-calendar>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label required>{{ 'LABEL.COMPANY_ID' | translate }} : </label>
            <ivz-input-text inputId="COMPANY_ID" [(ivzModel)]="model.companyId" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label required>{{ 'LABEL.BUSINESS_UNIT_ID' | translate }} : </label>
            <ivz-input-text inputId="BUSINESS_UNIT_ID" [(ivzModel)]="model.ownerBusinessUnitId" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label required>{{ 'LABEL.OWNER' | translate }} : </label>
            <ivz-input-text inputId="OWNER" [(ivzModel)]="model.owner" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
          </div>
        </div>
      </p-fieldset>
    </p-panel-content>
    <p-footer class="ivz-panel-footer">
      <div class="p-d-flex p-jc-end">
        <ivz-button
          inputId="SAVE"
          [label]="'LABEL.SAVE' | translate"
          icon="pi pi-save"
          className="ivz-primary-btn p-m-2"
          [ivzConfig]="buttonConfig"
          (formValidate)="onSave($event)"
        ></ivz-button>
        <ivz-button
          inputId="SAVE_AND_CLOSE"
          [label]="'LABEL.SAVE_AND_CLOSE' | translate"
          icon="pi pi-times"
          className="ivz-primary-btn p-m-2"
          [ivzConfig]="buttonConfig"
          (formValidate)="onSaveAndClose($event)"
        >
        </ivz-button>
        <ivz-button
          inputId="CLOSE"
          [label]="'LABEL.CLOSE' | translate"
          icon="pi pi-power-off"
          className="ivz-primary-btn p-m-2"
          [ivzConfig]="buttonConfig"
          (click)="onClose()"
        >
        </ivz-button>
      </div>
    </p-footer>
  </p-panel>
</div>
