<div class="ivz-item-card">
  <p-panel [showHeader]="true" [viewonly]="isView" class="ivz-panel">
    <p-header class="p-d-flex p-jc-between w-100">
      <div class="ivz-div-panel-title">
        <span class="ivz-panel-title p-m-2">{{ 'LABEL.AGREEMENT_INFORMATION' | translate }}</span>
      </div>
      <div class="ivz-div-panel-btn-group">
        <p-tieredMenu id="MENURELATED" #related [model]="relatedInfoItems" [popup]="true"> </p-tieredMenu>
        <p-button
          id="RELATED_INFO"
          #btnfn
          type="button"
          icon="pi pi-share-alt"
          (click)="related.toggle($event); function.hide(); group.hide()"
          [label]="'LABEL.RELATED_INFO' | translate"
          styleClass="p-button-text"
        >
        </p-button>
        <p-tieredMenu id="MENUFUNCTION" #function [model]="functionItems" [popup]="true"> </p-tieredMenu>
        <p-button
          id="FUNCTION"
          #btnfn
          type="button"
          icon="pi pi-cog"
          (click)="function.toggle($event); related.hide(); group.hide()"
          [label]="'LABEL.FUNCTION' | translate"
          styleClass="p-button-text"
        ></p-button>
        <p-tieredMenu id="MENUGROUP" #group [model]="itemsGroup" [popup]="true"> </p-tieredMenu>
        <p-button
          id="GROUP"
          #btnfn
          type="button"
          icon="pi pi-list"
          (click)="group.toggle($event); function.hide(); related.hide()"
          [label]="'LABEL.GROUP' | translate"
          styleClass="p-button-text"
        ></p-button>
      </div>
    </p-header>
    <p-tabView [activeIndex]="custom.activeIndex">
      <p-tabPanel [header]="{ text: 'LABEL.AGREEMENT_INFORMATION' | translate }.text">
        <p-panel-content class="ivz-div-panel-content">
          <p-fieldset [legend]="{ text: 'LABEL.GENERAL' | translate }.text" [toggleable]="true">
            <div class="p-d-flex p-flex-wrap">
              <div class="p-d-flex p-flex-column ele-box-w-25">
                <label required>{{ 'LABEL.REFERENCE_TYPE' | translate }} : </label>
                <ivz-dropdown
                  inputId="REF_TYPE"
                  [(ivzModel)]="model.refType"
                  [ivzConfig]="DEFAULT_DROPDOWN"
                  [options]="refTypeOptions"
                  required
                ></ivz-dropdown>
              </div>
              <div class="p-d-flex p-flex-column ele-box-w-50">
                <label required>{{ 'LABEL.REFERENCE_ID' | translate }} : </label>
                <ivz-input-text inputId="REF_ID" [(ivzModel)]="model.refId" [ivzConfig]="DEFAULT_INPUTTEXT" required></ivz-input-text>
              </div>
              <div class="p-d-flex p-flex-column ele-box-w-50">
                <label>{{ 'LABEL.GUARANTOR_NAME' | translate }} : </label>
                <ivz-textarea inputId="GUARANTOR_NAME" [(ivzModel)]="model.guarantorName" maxlength="500" [ivzConfig]="DEFAULT_TEXTAREA">
                </ivz-textarea>
              </div>
              <div class="p-d-flex p-flex-column ele-box-w-50">
                <label>{{ 'LABEL.GUARANTEE_TEXT' | translate }} : </label>
                <ivz-textarea inputId="GUARANTEE_TEXT" [(ivzModel)]="model.guaranteeText" maxlength="1000" [ivzConfig]="DEFAULT_TEXTAREA">
                </ivz-textarea>
              </div>
            </div>
          </p-fieldset>
          <p-fieldset [legend]="{ text: 'LABEL.CUSTOMER_INFORMATION' | translate }.text" [toggleable]="true">
            <div class="p-d-flex p-flex-wrap">
              <div class="p-d-flex p-flex-column ele-box-w-50">
                <label>{{ 'LABEL.CUSTOMER_ADDRESS_ID' | translate }} : </label>
                <ivz-dropdown
                  inputId="CUSTOMER_ADDRESS_GUID"
                  [(ivzModel)]="model.customerAddressGUID"
                  [ivzConfig]="DEFAULT_DROPDOWN"
                  [options]="addressTransOptions"
                  (ivzModelChange)="onCustomerAddressChange()"
                ></ivz-dropdown>
                <ivz-textarea
                  inputId="UNBOUND_CUSTOMER_ADDRESS"
                  [(ivzModel)]="model.unboundCustomerAddress"
                  maxlength="100"
                  [ivzConfig]="DEFAULT_TEXTAREA"
                >
                </ivz-textarea>
              </div>
              <div class="p-d-flex p-flex-column ele-box-w-25">
                <label>{{ 'LABEL.CUSTOMER_AUTHORIZED_PERSON_1' | translate }} : </label>
                <ivz-dropdown
                  inputId="AUTHORIZED_PERSON_TRANS_CUSTOMER1GUID"
                  [(ivzModel)]="model.authorizedPersonTransCustomer1GUID"
                  [ivzConfig]="DEFAULT_DROPDOWN"
                  [options]="authorizedPersonTransOptions"
                ></ivz-dropdown>
              </div>
              <div class="p-d-flex p-flex-column ele-box-w-25">
                <label>{{ 'LABEL.CUSTOMER_AUTHORIZED_PERSON_2' | translate }} : </label>
                <ivz-dropdown
                  inputId="AUTHORIZED_PERSON_TRANS_CUSTOMER2GUID"
                  [(ivzModel)]="model.authorizedPersonTransCustomer2GUID"
                  [ivzConfig]="DEFAULT_DROPDOWN"
                  [options]="authorizedPersonTransOptions"
                ></ivz-dropdown>
              </div>
              <div class="p-d-flex p-flex-column ele-box-w-25">
                <label>{{ 'LABEL.CUSTOMER_AUTHORIZED_PERSON_3' | translate }} : </label>
                <ivz-dropdown
                  inputId="AUTHORIZED_PERSON_TRANS_CUSTOMER3GUID"
                  [(ivzModel)]="model.authorizedPersonTransCustomer3GUID"
                  [ivzConfig]="DEFAULT_DROPDOWN"
                  [options]="authorizedPersonTransOptions"
                ></ivz-dropdown>
              </div>
              <div class="p-d-flex p-flex-column ele-box-w-25">
                <label>{{ 'LABEL.CUSTOMER_AUTHORIZED_PERSON_TYPE' | translate }} : </label>
                <ivz-dropdown
                  inputId="AUTHORIZED_PERSON_TYPE_CUSTOMER_GUID"
                  [(ivzModel)]="model.authorizedPersonTypeCustomerGUID"
                  [ivzConfig]="DEFAULT_DROPDOWN"
                  [options]="authorizedPersonTypeOptions"
                ></ivz-dropdown>
              </div>
              <div class="p-d-flex p-flex-column ele-box-w-50">
                <label>{{ 'LABEL.CUSTOMER_WITNESS_1' | translate }} : </label>
                <ivz-input-text inputId="WITNESS_CUSTOMER1" [(ivzModel)]="model.witnessCustomer1" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
              </div>
              <div class="p-d-flex p-flex-column ele-box-w-50">
                <label>{{ 'LABEL.CUSTOMER_WITNESS_2' | translate }} : </label>
                <ivz-input-text inputId="WITNESS_CUSTOMER2" [(ivzModel)]="model.witnessCustomer2" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
              </div>
            </div>
          </p-fieldset>
          <p-fieldset [legend]="{ text: 'LABEL.BUYER_INFORMATION' | translate }.text" [toggleable]="true">
            <div class="p-d-flex p-flex-wrap">
              <div class="p-d-flex p-flex-column ele-box-w-50">
                <label>{{ 'LABEL.BUYER_ADDRESS_ID' | translate }} : </label>
                <ivz-dropdown
                  inputId="BUYER_ADDRESS_GUID"
                  [(ivzModel)]="model.buyerAddressGUID"
                  [ivzConfig]="DEFAULT_DROPDOWN"
                  [options]="addressTransOptions"
                  (ivzModelChange)="onBuyerAddressChange()"
                ></ivz-dropdown>
                <ivz-textarea inputId="UNBOUND_BUYER_ADDRESS" [(ivzModel)]="model.unboundBuyerAddress" maxlength="100" [ivzConfig]="DEFAULT_TEXTAREA">
                </ivz-textarea>
              </div>
              <div class="p-d-flex p-flex-column ele-box-w-25">
                <label>{{ 'LABEL.BUYER_AUTHORIZED_PERSON_1' | translate }} : </label>
                <ivz-dropdown
                  inputId="AUTHORIZED_PERSON_TRANS_BUYER1GUID"
                  [(ivzModel)]="model.authorizedPersonTransBuyer1GUID"
                  [ivzConfig]="DEFAULT_DROPDOWN"
                  [options]="authorizedPersonTransOptions"
                ></ivz-dropdown>
              </div>
              <div class="p-d-flex p-flex-column ele-box-w-25">
                <label>{{ 'LABEL.BUYER_AUTHORIZED_PERSON_2' | translate }} : </label>
                <ivz-dropdown
                  inputId="AUTHORIZED_PERSON_TRANS_BUYER2GUID"
                  [(ivzModel)]="model.authorizedPersonTransBuyer2GUID"
                  [ivzConfig]="DEFAULT_DROPDOWN"
                  [options]="authorizedPersonTransOptions"
                ></ivz-dropdown>
              </div>
              <div class="p-d-flex p-flex-column ele-box-w-25">
                <label>{{ 'LABEL.BUYER_AUTHORIZED_PERSON_3' | translate }} : </label>
                <ivz-dropdown
                  inputId="AUTHORIZED_PERSON_TRANS_BUYER3GUID"
                  [(ivzModel)]="model.authorizedPersonTransBuyer3GUID"
                  [ivzConfig]="DEFAULT_DROPDOWN"
                  [options]="authorizedPersonTransOptions"
                ></ivz-dropdown>
              </div>
              <div class="p-d-flex p-flex-column ele-box-w-25">
                <label>{{ 'LABEL.BUYER_AUTHORIZED_PERSON_TYPE' | translate }} : </label>
                <ivz-dropdown
                  inputId="AUTHORIZED_PERSON_TYPE_BUYER_GUID"
                  [(ivzModel)]="model.authorizedPersonTypeBuyerGUID"
                  [ivzConfig]="DEFAULT_DROPDOWN"
                  [options]="authorizedPersonTypeOptions"
                ></ivz-dropdown>
              </div>
            </div>
          </p-fieldset>
          <p-fieldset [legend]="{ text: 'LABEL.COMPANY_INFORMATION' | translate }.text" [toggleable]="true">
            <div class="p-d-flex p-flex-wrap">
              <div class="p-d-flex p-flex-column ele-box-w-50">
                <label>{{ 'LABEL.COMPANY_NAME' | translate }} : </label>
                <ivz-input-text inputId="COMPANY_NAME" [(ivzModel)]="model.companyName" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
              </div>
              <div class="p-d-flex p-flex-column ele-box-w-50">
                <label>{{ 'LABEL.COMPANY_ALIAS_NAME' | translate }} : </label>
                <ivz-input-text inputId="COMPANY_ALT_NAME" [(ivzModel)]="model.companyAltName" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
              </div>
              <div class="p-d-flex p-flex-column ele-box-w-50">
                <label>{{ 'LABEL.COMPANY_ADDRESS' | translate }} : </label>
                <ivz-textarea
                  inputId="UNBOUND_COMPANY_ADDRESS"
                  [(ivzModel)]="model.unboundCompanyAddress"
                  maxlength="100"
                  [ivzConfig]="DEFAULT_TEXTAREA"
                >
                </ivz-textarea>
              </div>
              <div class="p-d-flex p-flex-column ele-box-w-50">
                <label>{{ 'LABEL.COMPANY_PHONE' | translate }} : </label>
                <ivz-input-text inputId="COMPANY_PHONE" [(ivzModel)]="model.companyPhone" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
              </div>
              <div class="p-d-flex p-flex-column ele-box-w-50">
                <label>{{ 'LABEL.COMPANY_FAX' | translate }} : </label>
                <ivz-input-text inputId="COMPANY_FAX" [(ivzModel)]="model.companyFax" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
              </div>
              <div class="p-d-flex p-flex-column ele-box-w-25">
                <label>{{ 'LABEL.COMPANY_AUTHORIZED_PERSON_1' | translate }} : </label>
                <ivz-dropdown
                  inputId="AUTHORIZED_PERSON_TRANS_COMPANY1GUID"
                  [(ivzModel)]="model.authorizedPersonTransCompany1GUID"
                  [ivzConfig]="DEFAULT_DROPDOWN"
                  [options]="companySignatureOptions"
                ></ivz-dropdown>
              </div>
              <div class="p-d-flex p-flex-column ele-box-w-25">
                <label>{{ 'LABEL.COMPANY_AUTHORIZED_PERSON_2' | translate }} : </label>
                <ivz-dropdown
                  inputId="AUTHORIZED_PERSON_TRANS_COMPANY2GUID"
                  [(ivzModel)]="model.authorizedPersonTransCompany2GUID"
                  [ivzConfig]="DEFAULT_DROPDOWN"
                  [options]="companySignatureOptions"
                ></ivz-dropdown>
              </div>
              <div class="p-d-flex p-flex-column ele-box-w-25">
                <label>{{ 'LABEL.COMPANY_AUTHORIZED_PERSON_3' | translate }} : </label>
                <ivz-dropdown
                  inputId="AUTHORIZED_PERSON_TRANS_COMPANY3GUID"
                  [(ivzModel)]="model.authorizedPersonTransCompany3GUID"
                  [ivzConfig]="DEFAULT_DROPDOWN"
                  [options]="companySignatureOptions"
                ></ivz-dropdown>
              </div>
              <div class="p-d-flex p-flex-column ele-box-w-25">
                <label>{{ 'LABEL.COMPANY_AUTHORIZED_PERSON_TYPE' | translate }} : </label>
                <ivz-dropdown
                  inputId="AUTHORIZED_PERSON_TYPE_COMPANY_GUID"
                  [(ivzModel)]="model.authorizedPersonTypeCompanyGUID"
                  [ivzConfig]="DEFAULT_DROPDOWN"
                  [options]="authorizedPersonTypeOptions"
                ></ivz-dropdown>
              </div>
              <div class="p-d-flex p-flex-column ele-box-w-25">
                <label>{{ 'LABEL.COMPANY_WITNESS_1' | translate }} : </label>
                <ivz-dropdown
                  inputId="WITNESS_COMPANY1GUID"
                  [(ivzModel)]="model.witnessCompany1GUID"
                  [ivzConfig]="DEFAULT_DROPDOWN"
                  [options]="employeeTableOptions"
                ></ivz-dropdown>
              </div>
              <div class="p-d-flex p-flex-column ele-box-w-25">
                <label>{{ 'LABEL.COMPANY_WITNESS_2' | translate }} : </label>
                <ivz-dropdown
                  inputId="WITNESS_COMPANY2GUID"
                  [(ivzModel)]="model.witnessCompany2GUID"
                  [ivzConfig]="DEFAULT_DROPDOWN"
                  [options]="employeeTableOptions"
                ></ivz-dropdown>
              </div>
              <div class="p-d-flex p-flex-column ele-box-w-25">
                <label>{{ 'LABEL.COMPANY_BANK_ID' | translate }} : </label>
                <ivz-dropdown
                  inputId="COMPANY_BANK_GUID"
                  [(ivzModel)]="model.companyBankGUID"
                  [ivzConfig]="DEFAULT_DROPDOWN"
                  [options]="companyBankOptions"
                ></ivz-dropdown>
              </div>
            </div>
          </p-fieldset>
          <p-fieldset [legend]="{ text: 'LABEL.SYSTEM' | translate }.text" [toggleable]="true">
            <div class="p-d-flex p-flex-wrap">
              <div class="p-d-flex p-flex-column ele-box-w-25">
                <label>{{ 'LABEL.CREATED_BY' | translate }} : </label>
                <ivz-input-text inputId="CREATED_BY" [(ivzModel)]="model.createdBy" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
              </div>
              <div class="p-d-flex p-flex-column ele-box-w-25">
                <label>{{ 'LABEL.CREATED_DATE_TIME' | translate }} : </label>
                <ivz-calendar inputId="CREATED_DATE_TIME" [(ivzModel)]="model.createdDateTime" [ivzConfig]="DATETIME"></ivz-calendar>
              </div>
              <div class="p-d-flex p-flex-column ele-box-w-25">
                <label>{{ 'LABEL.MODIFIED_BY' | translate }} : </label>
                <ivz-input-text inputId="MODIFIED_BY" [(ivzModel)]="model.modifiedBy" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
              </div>
              <div class="p-d-flex p-flex-column ele-box-w-25">
                <label>{{ 'LABEL.MODIFIED_DATE_TIME' | translate }} : </label>
                <ivz-calendar inputId="MODIFIED_DATE_TIME" [(ivzModel)]="model.modifiedDateTime" [ivzConfig]="DATETIME"></ivz-calendar>
              </div>
              <div class="p-d-flex p-flex-column ele-box-w-25">
                <label required>{{ 'LABEL.COMPANY_ID' | translate }} : </label>
                <ivz-input-text inputId="COMPANY_ID" [(ivzModel)]="model.companyId" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
              </div>
              <div class="p-d-flex p-flex-column ele-box-w-25">
                <label required>{{ 'LABEL.BUSINESS_UNIT_ID' | translate }} : </label>
                <ivz-input-text inputId="BUSINESS_UNIT_ID" [(ivzModel)]="model.ownerBusinessUnitId" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
              </div>
              <div class="p-d-flex p-flex-column ele-box-w-25">
                <label required>{{ 'LABEL.OWNER' | translate }} : </label>
                <ivz-input-text inputId="OWNER" [(ivzModel)]="model.owner" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
              </div>
            </div>
          </p-fieldset>
        </p-panel-content>
      </p-tabPanel>
      <p-tabPanel [header]="{ text: 'LABEL.AGREEMENT_INFORMATION_TEXT' | translate }.text">
        <p-panel-content class="ivz-div-panel-content">
          <p-fieldset [legend]="{ text: 'LABEL.TEXT' | translate }.text" [toggleable]="true">
            <div class="p-d-flex p-flex-wrap">
              <div class="p-d-flex p-flex-column ele-box-w-100">
                <label>{{ 'LABEL.TEXT_1' | translate }} : </label>
                <ivz-textarea inputId="TEXT1" [(ivzModel)]="model.agreementTableInfoText_Text1" maxlength="1000" [ivzConfig]="DEFAULT_TEXTAREA">
                </ivz-textarea>
              </div>
              <div class="p-d-flex p-flex-column ele-box-w-100">
                <label>{{ 'LABEL.TEXT_2' | translate }} : </label>
                <ivz-textarea inputId="TEXT2" [(ivzModel)]="model.agreementTableInfoText_Text2" maxlength="1000" [ivzConfig]="DEFAULT_TEXTAREA">
                </ivz-textarea>
              </div>
              <div class="p-d-flex p-flex-column ele-box-w-100">
                <label>{{ 'LABEL.TEXT_3' | translate }} : </label>
                <ivz-textarea inputId="TEXT3" [(ivzModel)]="model.agreementTableInfoText_Text3" maxlength="1000" [ivzConfig]="DEFAULT_TEXTAREA">
                </ivz-textarea>
              </div>
              <div class="p-d-flex p-flex-column ele-box-w-100">
                <label>{{ 'LABEL.TEXT_4' | translate }} : </label>
                <ivz-textarea inputId="TEXT4" [(ivzModel)]="model.agreementTableInfoText_Text4" maxlength="1000" [ivzConfig]="DEFAULT_TEXTAREA">
                </ivz-textarea>
              </div>
            </div>
          </p-fieldset>
        </p-panel-content>
      </p-tabPanel>
    </p-tabView>
    <p-footer class="ivz-panel-footer">
      <div class="p-d-flex p-jc-end">
        <ivz-button
          inputId="SAVE"
          [label]="'LABEL.SAVE' | translate"
          icon="pi pi-save"
          className="ivz-primary-btn p-m-2"
          [ivzConfig]="buttonConfig"
          (formValidate)="onSave($event)"
        ></ivz-button>
        <ivz-button
          inputId="SAVE_AND_CLOSE"
          [label]="'LABEL.SAVE_AND_CLOSE' | translate"
          icon="pi pi-times"
          className="ivz-primary-btn p-m-2"
          [ivzConfig]="buttonConfig"
          (formValidate)="onSaveAndClose($event)"
        >
        </ivz-button>
        <ivz-button
          inputId="CLOSE"
          [label]="'LABEL.CLOSE' | translate"
          icon="pi pi-power-off"
          className="ivz-primary-btn p-m-2"
          [ivzConfig]="buttonConfig"
          (click)="onClose()"
        >
        </ivz-button>
      </div>
    </p-footer>
  </p-panel>
</div>
