<div class="p-field-checkbox">
  <p-checkbox
    [inputId]="bindingInputId"
    [(ngModel)]="bindingModel"
    binary="bindingBinary"
    [label]="bindingLabel"
    [disabled]="bindingDisabled"
    [required]="bindingRequired"
    [name]="bindingName"
    [readonly]="getReadonly(bindingInputId)"
    (onChange)="ivzModelChange.next(ivzModel)"
  >
  </p-checkbox>
  <label for="bindingInputId"></label>
</div>
