<div class="ivz-item-card">
  <p-panel [showHeader]="true" [viewonly]="isView" class="ivz-panel">
    <p-header class="p-d-flex p-jc-between w-100">
      <div class="ivz-div-panel-title">
        <span class="ivz-panel-title p-m-2">{{ 'LABEL.CUSTOMER' | translate }}</span>
      </div>
      <div class="ivz-div-panel-btn-group">
        <p-tieredMenu id="MENURELATED" #related [model]="relatedInfoItems" [popup]="true"> </p-tieredMenu>
        <p-button
          id="RELATED_INFO"
          #btnfn
          type="button"
          icon="pi pi-share-alt"
          (click)="related.toggle($event); function.hide(); group.hide()"
          [label]="'LABEL.RELATED_INFO' | translate"
          styleClass="p-button-text"
        >
        </p-button>
        <p-tieredMenu id="MENUFUNCTION" #function [model]="functionItems" [popup]="true"> </p-tieredMenu>
        <p-button
          id="FUNCTION"
          #btnfn
          type="button"
          icon="pi pi-cog"
          (click)="function.toggle($event); related.hide(); group.hide()"
          [label]="'LABEL.FUNCTION' | translate"
          styleClass="p-button-text"
        ></p-button>
        <p-tieredMenu id="MENUGROUP" #group [model]="itemsGroup" [popup]="true"> </p-tieredMenu>
        <p-button
          id="GROUP"
          #btnfn
          type="button"
          icon="pi pi-list"
          (click)="group.toggle($event); function.hide(); related.hide()"
          [label]="'LABEL.GROUP' | translate"
          styleClass="p-button-text"
        ></p-button>
      </div>
    </p-header>
    <p-panel-content class="ivz-div-panel-content">
      <p-fieldset [legend]="{ text: 'LABEL.GENERAL' | translate }.text" [toggleable]="true">
        <div class="p-d-flex p-flex-wrap">
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label [required]="custom.isManunal">{{ 'LABEL.CUSTOMER_ID' | translate }} : </label>
            <ivz-input-text inputId="CUSTOMER_ID" [(ivzModel)]="model.customerId" [ivzConfig]="ID_INPUTTEXT" required></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label required>{{ 'LABEL.NAME' | translate }} : </label>
            <ivz-input-text inputId="NAME" [(ivzModel)]="model.name" [ivzConfig]="DEFAULT_INPUTTEXT" required></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label required>{{ 'LABEL.CUSTOMER_GROUP_ID' | translate }} : </label>
            <ivz-dropdown
              inputId="CUST_GROUP_GUID"
              [(ivzModel)]="model.custGroupGUID"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="custGroupOptions"
              (ivzModelChange)="onCustGroupChange()"
              required
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.ALIAS' | translate }} : </label>
            <ivz-input-text inputId="ALT_NAME" [(ivzModel)]="model.altName" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.STATUS_ID' | translate }} : </label>
            <ivz-dropdown
              inputId="DOCUMENT_STATUS_GUID"
              [(ivzModel)]="model.documentStatusGUID"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="documentStatusOptions"
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label required>{{ 'LABEL.CURRENCY_ID' | translate }} : </label>
            <ivz-dropdown
              inputId="CURRENCY_GUID"
              [(ivzModel)]="model.currencyGUID"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="currencyOptions"
              required
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label required>{{ 'LABEL.RECORD_TYPE' | translate }} : </label>
            <ivz-dropdown
              inputId="RECORD_TYPE"
              [(ivzModel)]="model.recordType"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="recordTypeOptions"
              required
              (ivzModelChange)="onRecordTypeChange()"
              (ivzBindingChange)="onRecordTypeBinding()"
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.REFERENCE_ID' | translate }} : </label>
            <ivz-input-text inputId="REFERENCE_ID" [(ivzModel)]="model.referenceId" [ivzConfig]="ID_INPUTTEXT"></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.PARENT_COMPANY_ID' | translate }} : </label>
            <ivz-dropdown
              inputId="PARENT_COMPANY_GUID"
              [(ivzModel)]="model.parentCompanyGUID"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="parentCompanyOptions"
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label required>{{ 'LABEL.RESPONSIBLE_BY' | translate }} : </label>
            <ivz-dropdown
              inputId="RESPONSIBLE_BY_GUID"
              [(ivzModel)]="model.responsibleByGUID"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="employeeTableOptions"
              required
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.VENDOR_ID' | translate }} : </label>
            <ivz-dropdown
              inputId="VENDOR_TABLE_GUID"
              [(ivzModel)]="model.vendorTableGUID"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="vendorTableOptions"
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.COMPANY_WEBSITE' | translate }} : </label>
            <ivz-input-text inputId="COMPANY_WEBSITE" [(ivzModel)]="model.companyWebsite" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
          </div>
        </div>
      </p-fieldset>
      <p-fieldset [legend]="{ text: 'LABEL.TAX_INFORMATION' | translate }.text" [toggleable]="true">
        <div class="p-d-flex p-flex-wrap">
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label required>{{ 'LABEL.IDENTIFICATION_TYPE' | translate }} : </label>
            <ivz-dropdown
              inputId="IDENTIFICATION_TYPE"
              [(ivzModel)]="model.identificationType"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="identificationTypeOptions"
              (ivzModelChange)="onIdentificationTypeChange()"
              (ivzBindingChange)="onIdentificationTypeBinding()"
              required
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label [required]="custom.isTaxIdMandatory">{{ 'LABEL.TAX_ID' | translate }} : </label>
            <ivz-input-text
              inputId="TAX_ID"
              [(ivzModel)]="model.taxID"
              [ivzConfig]="TAX_ID_INPUTTEXT"
              [required]="custom.isTaxIdMandatory"
              [ivzValidation]="onTaxIDValidation()"
              (ivzModelChange)="onTaxIDChange()"
            ></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label [required]="custom.isPassportIdMandatory">{{ 'LABEL.PASSPORT_ID' | translate }} : </label>
            <ivz-input-text
              inputId="PASSPORT_ID"
              [(ivzModel)]="model.passportID"
              [ivzConfig]="ID_INPUTTEXT"
              [required]="custom.isPassportIdMandatory"
              [ivzValidation]="onPassportIDValidation()"
              (ivzModelChange)="onPassportIDChange()"
            ></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label [required]="custom.isWorkPermitIdMandatory">{{ 'LABEL.WORK_PERMIT_ID' | translate }} : </label>
            <ivz-input-text
              inputId="WORK_PERMIT_ID"
              [(ivzModel)]="model.workPermitID"
              [ivzConfig]="ID_INPUTTEXT"
              [required]="custom.isWorkPermitIdMandatory"
            ></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.ISSUED_BY' | translate }} : </label>
            <ivz-input-text inputId="ISSUED_BY" [(ivzModel)]="model.issuedBy" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.DATE_OF_ISSUE' | translate }} : </label>
            <ivz-calendar
              inputId="DATE_OF_ISSUE"
              [(ivzModel)]="model.dateOfIssue"
              [ivzConfig]="DATE"
              [ivzValidation]="onDateOfIssueChange()"
            ></ivz-calendar>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.DATE_OF_EXPIRY' | translate }} : </label>
            <ivz-calendar
              inputId="DATE_OF_EXPIRY"
              [(ivzModel)]="model.dateOfExpiry"
              [ivzConfig]="DATE"
              [ivzValidation]="onDateOfExpiryChange()"
            ></ivz-calendar>
          </div>
        </div>
      </p-fieldset>
      <p-fieldset [legend]="{ text: 'LABEL.REGISTRATION' | translate }.text" [toggleable]="true">
        <div class="p-d-flex p-flex-wrap">
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.BUSINESS_SEGMENT_ID' | translate }} : </label>
            <ivz-dropdown
              inputId="BUSINESS_SEGMENT_GUID"
              [(ivzModel)]="model.businessSegmentGUID"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="businessSegmentOptions"
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.REGISTRATION_TYPE_ID' | translate }} : </label>
            <ivz-dropdown
              inputId="REGISTRATION_TYPE_GUID"
              [(ivzModel)]="model.registrationTypeGUID"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="registrationTypeOptions"
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.PUBLIC_AR_PCT' | translate }} : </label>
            <ivz-input-number inputId="PUBLIC_AR_PCT" [(ivzModel)]="model.publicARPct" [ivzConfig]="PERCENT_5_2"> </ivz-input-number>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.PRIVATE_AR_PCT' | translate }} : </label>
            <ivz-input-number inputId="PRIVATE_AR_PCT" [(ivzModel)]="model.privateARPct" [ivzConfig]="PERCENT_5_2"> </ivz-input-number>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.DATE_OF_ESTABLISH' | translate }} : </label>
            <ivz-calendar
              inputId="DATE_OF_ESTABLISH"
              [(ivzModel)]="model.dateOfEstablish"
              [ivzConfig]="DATE"
              [ivzValidation]="onDateOfEstablishChange()"
            ></ivz-calendar>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.PAID_UP_CAPITAL' | translate }} : </label>
            <ivz-input-number inputId="PAID_UP_CAPITAL" [(ivzModel)]="model.paidUpCapital" [ivzConfig]="CURRENCY_13_2"> </ivz-input-number>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.REGISTERED_CAPITAL' | translate }} : </label>
            <ivz-input-number inputId="REGISTERED_CAPITAL" [(ivzModel)]="model.registeredCapital" [ivzConfig]="CURRENCY_13_2"> </ivz-input-number>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.LABOR' | translate }} : </label>
            <ivz-input-number inputId="LABOR" [(ivzModel)]="model.labor" [ivzConfig]="INTEGER"></ivz-input-number>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.FIXED_ASSETS_VALUE' | translate }} : </label>
            <ivz-input-number inputId="FIXED_ASSET" [(ivzModel)]="model.fixedAsset" [ivzConfig]="CURRENCY_13_2"> </ivz-input-number>
          </div>
        </div>
      </p-fieldset>
      <p-fieldset [legend]="{ text: 'LABEL.PERSONAL_INFORMATION' | translate }.text" [toggleable]="true">
        <div class="p-d-flex p-flex-wrap">
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.DATE_OF_BIRTH' | translate }} : </label>
            <ivz-calendar
              inputId="DATE_OF_BIRTH"
              [(ivzModel)]="model.dateOfBirth"
              [ivzConfig]="DATE"
              (ivzModelChange)="onDateOfBirthChange()"
              [ivzValidation]="onDateOfBirthValidation()"
            ></ivz-calendar>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.AGE' | translate }} : </label>
            <ivz-input-number inputId="AGE" [(ivzModel)]="model.age" [ivzConfig]="INTEGER"></ivz-input-number>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.NATIONALITY_ID' | translate }} : </label>
            <ivz-dropdown
              inputId="NATIONALITY_GUID"
              [(ivzModel)]="model.nationalityGUID"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="nationalityOptions"
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.RACE_ID' | translate }} : </label>
            <ivz-dropdown inputId="RACE_GUID" [(ivzModel)]="model.raceGUID" [ivzConfig]="DEFAULT_DROPDOWN" [options]="raceOptions"></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.GENDER_ID' | translate }} : </label>
            <ivz-dropdown
              inputId="GENDER_GUID"
              [(ivzModel)]="model.genderGUID"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="genderOptions"
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.MARITAL_STATUS_ID' | translate }} : </label>
            <ivz-dropdown
              inputId="MARITAL_STATUS_GUID"
              [(ivzModel)]="model.maritalStatusGUID"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="maritalStatusOptions"
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.SPOUSE_NAME' | translate }} : </label>
            <ivz-input-text inputId="SPOUSE_NAME" [(ivzModel)]="model.spouseName" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.OCCUPATION_ID' | translate }} : </label>
            <ivz-dropdown
              inputId="OCCUPATION_GUID"
              [(ivzModel)]="model.occupationGUID"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="occupationOptions"
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.POSITION' | translate }} : </label>
            <ivz-input-text inputId="POSITION" [(ivzModel)]="model.position" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.WORK_EXPERIENCE_YEAR' | translate }} : </label>
            <ivz-input-number inputId="WORK_EXPERIENCE_YEAR" [(ivzModel)]="model.workExperienceYear" [ivzConfig]="INTEGER"></ivz-input-number>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.WORK_EXPERIENCE_MONTH' | translate }} : </label>
            <ivz-input-number inputId="WORK_EXPERIENCE_MONTH" [(ivzModel)]="model.workExperienceMonth" [ivzConfig]="INTEGER"></ivz-input-number>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.COMPANY_NAME' | translate }} : </label>
            <ivz-input-text inputId="COMPANY_NAME" [(ivzModel)]="model.companyName" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.INCOME' | translate }} : </label>
            <ivz-input-number inputId="INCOME" [(ivzModel)]="model.income" [ivzConfig]="CURRENCY_13_2"> </ivz-input-number>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.OTHER_SOURCE_INCOME' | translate }} : </label>
            <ivz-input-text inputId="OTHER_SOURCE_INCOME" [(ivzModel)]="model.otherSourceIncome" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.OTHER_INCOME' | translate }} : </label>
            <ivz-input-number inputId="OTHER_INCOME" [(ivzModel)]="model.otherIncome" [ivzConfig]="CURRENCY_13_2"> </ivz-input-number>
          </div>
        </div>
      </p-fieldset>
      <p-fieldset [legend]="{ text: 'LABEL.BUSINESS_INFORMATION' | translate }.text" [toggleable]="true">
        <div class="p-d-flex p-flex-wrap">
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.LINE_OF_BUSINESS_ID' | translate }} : </label>
            <ivz-dropdown
              inputId="LINE_OF_BUSINESS_GUID"
              [(ivzModel)]="model.lineOfBusinessGUID"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="lineOfBusinessOptions"
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.BUSINESS_TYPE_ID' | translate }} : </label>
            <ivz-dropdown
              inputId="BUSINESS_TYPE_GUID"
              [(ivzModel)]="model.businessTypeGUID"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="businessTypeOptions"
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.BUSINESS_SIZE_ID' | translate }} : </label>
            <ivz-dropdown
              inputId="BUSINESS_SIZE_GUID"
              [(ivzModel)]="model.businessSizeGUID"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="businessSizeOptions"
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.TERRITORY_ID' | translate }} : </label>
            <ivz-dropdown
              inputId="TERRITORY_GUID"
              [(ivzModel)]="model.territoryGUID"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="territoryOptions"
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.INTRODUCED_BY_ID' | translate }} : </label>
            <ivz-dropdown
              inputId="INTRODUCED_BY_GUID"
              [(ivzModel)]="model.introducedByGUID"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="introducedByOptions"
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.INTRODUCED_BY_REMARK' | translate }} : </label>
            <ivz-input-text inputId="INTRODUCED_BY_REMARK" [(ivzModel)]="model.introducedByRemark" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
          </div>
        </div>
      </p-fieldset>
      <p-fieldset [legend]="{ text: 'LABEL.CREDIT_INFORMATION' | translate }.text" [toggleable]="true">
        <div class="p-d-flex p-flex-wrap">
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.EXPOSURE_GROUP_ID' | translate }} : </label>
            <ivz-dropdown
              inputId="EXPOSURE_GROUP_GUID"
              [(ivzModel)]="model.exposureGroupGUID"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="exposureGroupOptions"
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.BLACKLIST_STATUS_ID' | translate }} : </label>
            <ivz-dropdown
              inputId="BLACKLIST_STATUS_GUID"
              [(ivzModel)]="model.blacklistStatusGUID"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="blacklistStatusOptions"
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.BOT_RATING' | translate }} : </label>
            <ivz-input-text inputId="BOT_RATING" [(ivzModel)]="model.botRating" [ivzConfig]="DEFAULT_INPUTTEXT" maxlength="100"></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.NCB_ACCOUNT_STATUS_ID' | translate }} : </label>
            <ivz-dropdown
              inputId="NCB_ACCOUNT_STATUS_GUID"
              [(ivzModel)]="model.ncbAccountStatusGUID"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="ncbAccountStatusOptions"
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.KYC_ID' | translate }} : </label>
            <ivz-dropdown
              inputId="KYC_SETUP_GUID"
              [(ivzModel)]="model.kycSetupGUID"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="kycSetupOptions"
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.GRADE_CLASSIFICATION_ID' | translate }} : </label>
            <ivz-dropdown
              inputId="GRADE_CLASSIFICATION_GUID"
              [(ivzModel)]="model.gradeClassificationGUID"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="gradeClassificationOptions"
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.CREDIT_SCORING_ID' | translate }} : </label>
            <ivz-dropdown
              inputId="CREDIT_SCORING_GUID"
              [(ivzModel)]="model.creditScoringGUID"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="creditScoringOptions"
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.SIGNING_CONDITION' | translate }} : </label>
            <ivz-input-text inputId="SIGNING_CONDITION" [(ivzModel)]="model.signingCondition" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
          </div>
        </div>
      </p-fieldset>
      <p-fieldset [legend]="{ text: 'LABEL.RECIEPT_INFORMATION' | translate }.text" [toggleable]="true">
        <div class="p-d-flex p-flex-wrap">
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label required>{{ 'LABEL.DUE_DAY' | translate }} : </label>
            <ivz-dropdown
              inputId="DUE_DAY"
              [(ivzModel)]="model.dueDay"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="dayOfMonthOptions"
              required
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label required>{{ 'LABEL.INVOICE_ISSUE_DAY' | translate }} : </label>
            <ivz-dropdown
              inputId="INVOICE_ISSUING_DAY"
              [(ivzModel)]="model.invoiceIssuingDay"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="dayOfMonthOptions"
              required
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.METHOD_OF_PAYMENT_ID' | translate }} : </label>
            <ivz-dropdown
              inputId="METHOD_OF_PAYMENT_GUID"
              [(ivzModel)]="model.methodOfPaymentGUID"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="methodOfPaymentOptions"
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.WITHHOLDING_TAX_GROUP_ID' | translate }} : </label>
            <ivz-dropdown
              inputId="WITHHOLDING_TAX_GROUP_GUID"
              [(ivzModel)]="model.withholdingTaxGroupGUID"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="withholdingTaxGroupOptions"
            ></ivz-dropdown>
          </div>
        </div>
      </p-fieldset>
      <p-fieldset [legend]="{ text: 'LABEL.FINANCIAL_DIMENSIONS' | translate }.text" [toggleable]="true">
        <div class="p-d-flex p-flex-wrap">
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.DIMENSION_1' | translate }} : </label>
            <ivz-dropdown
              inputId="DIMENSION1GUID"
              [(ivzModel)]="model.dimension1GUID"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="ledgerDimensionOptions1"
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.DIMENSION_2' | translate }} : </label>
            <ivz-dropdown
              inputId="DIMENSION2GUID"
              [(ivzModel)]="model.dimension2GUID"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="ledgerDimensionOptions2"
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.DIMENSION_3' | translate }} : </label>
            <ivz-dropdown
              inputId="DIMENSION3GUID"
              [(ivzModel)]="model.dimension3GUID"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="ledgerDimensionOptions3"
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.DIMENSION_4' | translate }} : </label>
            <ivz-dropdown
              inputId="DIMENSION4GUID"
              [(ivzModel)]="model.dimension4GUID"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="ledgerDimensionOptions4"
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.DIMENSION_5' | translate }} : </label>
            <ivz-dropdown
              inputId="DIMENSION5GUID"
              [(ivzModel)]="model.dimension5GUID"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="ledgerDimensionOptions5"
            ></ivz-dropdown>
          </div>
        </div>
      </p-fieldset>
      <p-fieldset [legend]="{ text: 'LABEL.SYSTEM' | translate }.text" [toggleable]="true">
        <div class="p-d-flex p-flex-wrap">
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.CREATED_BY' | translate }} : </label>
            <ivz-input-text inputId="CREATED_BY" [(ivzModel)]="model.createdBy" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.CREATED_DATE_TIME' | translate }} : </label>
            <ivz-calendar inputId="CREATED_DATE_TIME" [(ivzModel)]="model.createdDateTime" [ivzConfig]="DATETIME"></ivz-calendar>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.MODIFIED_BY' | translate }} : </label>
            <ivz-input-text inputId="MODIFIED_BY" [(ivzModel)]="model.modifiedBy" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.MODIFIED_DATE_TIME' | translate }} : </label>
            <ivz-calendar inputId="MODIFIED_DATE_TIME" [(ivzModel)]="model.modifiedDateTime" [ivzConfig]="DATETIME"></ivz-calendar>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label required>{{ 'LABEL.COMPANY_ID' | translate }} : </label>
            <ivz-input-text inputId="COMPANY_ID" [(ivzModel)]="model.companyId" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label required>{{ 'LABEL.BUSINESS_UNIT_ID' | translate }} : </label>
            <ivz-input-text inputId="BUSINESS_UNIT_ID" [(ivzModel)]="model.ownerBusinessUnitId" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label required>{{ 'LABEL.OWNER' | translate }} : </label>
            <ivz-input-text inputId="OWNER" [(ivzModel)]="model.owner" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
          </div>
        </div>
      </p-fieldset>
    </p-panel-content>
    <p-footer class="ivz-panel-footer">
      <div class="p-d-flex p-jc-end">
        <ivz-button
          inputId="SAVE"
          [label]="'LABEL.SAVE' | translate"
          icon="pi pi-save"
          className="ivz-primary-btn p-m-2"
          [ivzConfig]="buttonConfig"
          (formValidate)="onSave($event)"
        ></ivz-button>
        <ivz-button
          inputId="SAVE_AND_CLOSE"
          [label]="'LABEL.SAVE_AND_CLOSE' | translate"
          icon="pi pi-times"
          className="ivz-primary-btn p-m-2"
          [ivzConfig]="buttonConfig"
          (formValidate)="onSaveAndClose($event)"
        >
        </ivz-button>
        <ivz-button
          inputId="CLOSE"
          [label]="'LABEL.CLOSE' | translate"
          icon="pi pi-power-off"
          className="ivz-primary-btn p-m-2"
          [ivzConfig]="buttonConfig"
          (click)="onClose()"
        >
        </ivz-button>
      </div>
    </p-footer>
  </p-panel>
</div>
