<div class="ivz-item-card">
  <p-panel [showHeader]="true" [viewonly]="isView" class="ivz-panel">
    <p-header class="p-d-flex p-jc-between w-100">
      <div class="ivz-div-panel-title">
        <span class="ivz-panel-title p-m-2">{{ 'LABEL.AMEND_CREDIT_APPLICATION_LINE' | translate }}</span>
      </div>
      <div class="ivz-div-panel-btn-group">
        <p-tieredMenu [ngClass]="{ none: !isViewWorkflowBtn }" id="MENUWORKFLOW" #workflow [model]="workflowItems" [popup]="true"> </p-tieredMenu>
        <p-button
          id="WORKFLOW"
          #btnfn
          type="button"
          icon="pi pi-cog"
          (click)="custom.isAmendBuyerInfo ? custom.isReturn() : workflow.toggle($event); function.hide(); related.hide(); group.hide()"
          [label]="'LABEL.WORKFLOW' | translate"
          styleClass="p-button-text"
          [disabled]="custom.isAmendBuyerInfo"
        ></p-button>
        <p-tieredMenu id="MENURELATED" #related [model]="relatedInfoItems" [popup]="true"> </p-tieredMenu>
        <p-button
          id="RELATED_INFO"
          #btnfn
          type="button"
          icon="pi pi-share-alt"
          (click)="related.toggle($event); function.hide(); group.hide()"
          [label]="'LABEL.RELATED_INFO' | translate"
          styleClass="p-button-text"
        >
        </p-button>
        <p-tieredMenu id="MENUFUNCTION" #function [model]="functionItems" [popup]="true"> </p-tieredMenu>
        <p-button
          id="FUNCTION"
          #btnfn
          type="button"
          icon="pi pi-cog"
          (click)="function.toggle($event); related.hide(); group.hide()"
          [label]="'LABEL.FUNCTION' | translate"
          styleClass="p-button-text"
        ></p-button>
        <p-tieredMenu id="MENUGROUP" #group [model]="itemsGroup" [popup]="true"> </p-tieredMenu>
        <p-button
          id="GROUP"
          #btnfn
          type="button"
          icon="pi pi-list"
          (click)="group.toggle($event); function.hide(); related.hide()"
          [label]="'LABEL.GROUP' | translate"
          styleClass="p-button-text"
        ></p-button>
      </div>
    </p-header>
    <p-panel-content class="ivz-div-panel-content">
      <p-fieldset [legend]="{ text: 'LABEL.GENERAL' | translate }.text" [toggleable]="true">
        <div class="p-d-flex p-flex-wrap">
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label [required]="custom.isManual">{{ 'LABEL.CREDIT_APPLICATION_REQUEST_ID' | translate }} : </label>
            <ivz-input-text
              inputId="CREDIT_APP_REQUEST_ID"
              [(ivzModel)]="model.creditAppRequestTable_CreditAppRequestId"
              [ivzConfig]="ID_INPUTTEXT"
              [required]="custom.isManual"
            ></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label required>{{ 'LABEL.DESCRIPTION' | translate }} : </label>
            <ivz-input-text
              inputId="DESCRIPTION"
              [(ivzModel)]="model.creditAppRequestTable_Description"
              [ivzConfig]="DEFAULT_INPUTTEXT"
              required
            ></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label required>{{ 'LABEL.CREDIT_APPLICATION_REQUEST_TYPE' | translate }} : </label>
            <ivz-dropdown
              inputId="CREDIT_APP_REQUEST_TYPE"
              [(ivzModel)]="model.creditAppRequestTable_CreditAppRequestType"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="creditAppRequestTypeOptions"
              required
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label required>{{ 'LABEL.REQUEST_DATE' | translate }} : </label>
            <ivz-calendar inputId="REQUEST_DATE" [(ivzModel)]="model.creditAppRequestTable_RequestDate" [ivzConfig]="DATE" required></ivz-calendar>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label required>{{ 'LABEL.STATUS' | translate }} : </label>
            <ivz-input-text
              inputId="DOCUMENT_STATUS"
              [(ivzModel)]="model.documentStatus_Values"
              [ivzConfig]="DEFAULT_INPUTTEXT"
              required
            ></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label required>{{ 'LABEL.CUSTOMER_ID' | translate }} : </label>
            <ivz-input-text inputId="CUSTOMER_ID" [(ivzModel)]="model.customerTable_Values" [ivzConfig]="DEFAULT_INPUTTEXT" required></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label required>{{ 'LABEL.BUYER_ID' | translate }} : </label>
            <ivz-input-text inputId="BUYER_ID" [(ivzModel)]="model.buyerTable_Values" [ivzConfig]="DEFAULT_INPUTTEXT" required></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.CUSTOMER_CREDIT_LIMIT' | translate }} : </label>
            <ivz-input-number
              inputId="CUSTOMER_CREDIT_LIMIT"
              [(ivzModel)]="model.creditAppRequestTable_CustomerCreditLimit"
              [ivzConfig]="CURRENCY_13_2"
            >
            </ivz-input-number>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.REFERENCE_CREDIT_APPLICATION_ID' | translate }} : </label>
            <ivz-input-text
              inputId="REF_CREDIT_APP_ID"
              [(ivzModel)]="model.refCreditAppTable_Values"
              [ivzConfig]="DEFAULT_INPUTTEXT"
            ></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.CA_CONDITION' | translate }} : </label>
            <ivz-textarea inputId="CA_CONDITION" [(ivzModel)]="model.creditAppRequestTable_CACondition" [ivzConfig]="DEFAULT_TEXTAREA">
            </ivz-textarea>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.REMARK' | translate }} : </label>
            <ivz-textarea inputId="REMARK" [(ivzModel)]="model.creditAppRequestTable_Remark" [ivzConfig]="DEFAULT_TEXTAREA"> </ivz-textarea>
          </div>
        </div>
      </p-fieldset>
      <p-fieldset *ngIf="isUpdateMode" [legend]="{ text: 'LABEL.CREDIT_INFORMATION' | translate }.text" [toggleable]="true">
        <div class="p-d-flex p-flex-wrap">
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.BLACKLIST_STATUS_ID' | translate }} : </label>
            <ivz-dropdown
              inputId="BLACKLIST_STATUS_GUID"
              [(ivzModel)]="model.creditAppRequestLine_BlacklistStatusGUID"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="blacklistStatusOptions"
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.KYC_ID' | translate }} : </label>
            <ivz-dropdown
              inputId="KYC_SETUP_GUID"
              [(ivzModel)]="model.creditAppRequestLine_KYCSetupGUID"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="kycSetupOptions"
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.CREDIT_SCORING_ID' | translate }} : </label>
            <ivz-dropdown
              inputId="CREDIT_SCORING_GUID"
              [(ivzModel)]="model.creditAppRequestLine_CreditScoringGUID"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="creditScoringOptions"
            ></ivz-dropdown>
          </div>
        </div>
      </p-fieldset>
      <p-fieldset
        *ngIf="isUpdateMode && !custom.isAmendBuyerInfo"
        [legend]="{ text: 'LABEL.AMEND_BUYER_CREDIT_LIMIT' | translate }.text"
        [toggleable]="true"
      >
        <div class="p-d-flex p-flex-wrap">
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.ORIGINAL_CREDIT_LIMIT_LINE_REQUEST' | translate }} : </label>
            <ivz-input-number
              inputId="ORIGINAL_CREDIT_LIMIT_LINE_REQUEST"
              [(ivzModel)]="model.originalCreditLimitLineRequest"
              [ivzConfig]="CURRENCY_13_2"
            >
            </ivz-input-number>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label required>{{ 'LABEL.NEW_CREDIT_LIMIT_LINE_REQUEST' | translate }} : </label>
            <ivz-input-number
              inputId="NEW_CREDIT_LIMIT_LINE_REQUEST"
              [(ivzModel)]="model.creditAppRequestLine_NewCreditLimitLineRequest"
              [ivzConfig]="CURRENCY_13_2"
              required
            >
            </ivz-input-number>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.BUYER_CREDIT_LIMIT' | translate }} : </label>
            <ivz-input-number inputId="BUYER_CREDIT_LIMIT" [(ivzModel)]="model.creditAppRequestLine_BuyerCreditLimit" [ivzConfig]="CURRENCY_13_2">
            </ivz-input-number>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.APPROVED_CREDIT_LIMIT_LINE_REQUEST' | translate }} : </label>
            <ivz-input-number
              inputId="APPROVED_CREDIT_LIMIT_LINE_REQUEST"
              [(ivzModel)]="model.creditAppRequestLine_ApprovedCreditLimitLineRequest"
              [ivzConfig]="CURRENCY_13_2"
            >
            </ivz-input-number>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.ALL_CUSTOMER_BUYER_OUTSTANDING' | translate }} : </label>
            <ivz-input-number
              inputId="ALL_CUSTOMER_BUYER_OUTSTANDING"
              [(ivzModel)]="model.creditAppRequestLine_AllCustomerBuyerOutstanding"
              [ivzConfig]="CURRENCY_13_2"
            >
            </ivz-input-number>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.CUSTOMER_BUYER_OUTSTANDING' | translate }} : </label>
            <ivz-input-number
              inputId="CUSTOMER_BUYER_OUTSTANDING"
              [(ivzModel)]="model.creditAppRequestLine_CustomerBuyerOutstanding"
              [ivzConfig]="CURRENCY_13_2"
            >
            </ivz-input-number>
          </div>
        </div>
      </p-fieldset>
      <p-fieldset
        [hidden]="!(isUpdateMode && custom.isAmendBuyerInfo)"
        [legend]="{ text: 'LABEL.AMEND_BUYER_INFORMATION' | translate }.text"
        [toggleable]="true"
      >
        <div class="p-d-flex p-flex-wrap">
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.AMEND_RATE' | translate }} : </label>
            <ivz-input-switch inputId="AMEND_RATE" [(ivzModel)]="model.amendRate" (ivzModelChange)="onAmendRateChange()"></ivz-input-switch>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.AMEND_ASSIGNMENT_METHOD' | translate }} : </label>
            <ivz-input-switch
              inputId="AMEND_ASSIGNMENT_METHOD"
              [(ivzModel)]="model.amendAssignmentMethod"
              (ivzModelChange)="onAmendAssignmentMethodeChange()"
            ></ivz-input-switch>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.AMEND_BILLING_INFORMATION' | translate }} : </label>
            <ivz-input-switch
              inputId="AMEND_BILLING_INFORMATION"
              [(ivzModel)]="model.amendBillingInformation"
              (ivzModelChange)="onAmendBillingInformationChange()"
            ></ivz-input-switch>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.AMEND_BILLING_DOCUMENT_CONDITION' | translate }} : </label>
            <ivz-input-switch
              inputId="AMEND_BILLING_DOCUMENT_CONDITION"
              [(ivzModel)]="model.amendBillingDocumentCondition"
              (ivzModelChange)="onAmendBillingDocumentConditionChange()"
            ></ivz-input-switch>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.AMEND_RECEIPT_INFORMATION' | translate }} : </label>
            <ivz-input-switch
              inputId="AMEND_RECEIPT_INFORMATION"
              [(ivzModel)]="model.amendReceiptInformation"
              (ivzModelChange)="onAmendReceiptInformationChange()"
              (ivzBindingChange)="onAmendReceiptInformationBinding()"
            ></ivz-input-switch>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.AMEND_RECEIPT_DOCUMENT_CONDITION' | translate }} : </label>
            <ivz-input-switch
              inputId="AMEND_RECEIPT_DOCUMENT_CONDITION"
              [(ivzModel)]="model.amendReceiptDocumentCondition"
              (ivzModelChange)="onAmendReceiptDocumentConditionChange()"
            ></ivz-input-switch>
          </div>
        </div>
        <!-- Tab -->
        <p-tabView [activeIndex]="custom.activeIndex">
          <p-tabPanel [header]="{ text: 'LABEL.RATE' | translate }.text" [disabled]="custom.checkAmendRate">
            <p-fieldset [legend]="{ text: 'LABEL.PURCHASE_RATE' | translate }.text" [toggleable]="true">
              <div class="p-d-flex p-flex-wrap">
                <div class="p-d-flex p-flex-column ele-box-w-50">
                  <label>{{ 'LABEL.ORIGINAL_MAXIMUM_PURCHASE_PCT' | translate }} : </label>
                  <ivz-input-number inputId="ORIGINAL_MAX_PURCHASE_PCT" [(ivzModel)]="model.originalMaxPurchasePct" [ivzConfig]="PERCENT_5_2">
                  </ivz-input-number>
                </div>
                <div class="p-d-flex p-flex-column ele-box-w-50">
                  <label>{{ 'LABEL.NEW_MAXIMUM_PURCHASE_PCT' | translate }} : </label>
                  <ivz-input-number
                    inputId="NEW_MAX_PURCHASE_PCT"
                    [(ivzModel)]="model.creditAppRequestLine_NewMaxPurchasePct"
                    [ivzConfig]="PERCENT_5_2"
                  >
                  </ivz-input-number>
                </div>
                <div class="p-d-flex p-flex-column ele-box-w-50">
                  <label>{{ 'LABEL.ORIGINAL_PURCHASE_FEE_PCT' | translate }} : </label>
                  <ivz-input-number inputId="ORIGINAL_PURCHASE_FEE_PCT" [(ivzModel)]="model.originalPurchaseFeePct" [ivzConfig]="PERCENT_5_2">
                  </ivz-input-number>
                </div>
                <div class="p-d-flex p-flex-column ele-box-w-50">
                  <label>{{ 'LABEL.NEW_PURCHASE_FEE_PCT' | translate }} : </label>
                  <ivz-input-number
                    inputId="NEW_PURCHASE_FEE_PCT"
                    [(ivzModel)]="model.creditAppRequestLine_NewPurchaseFeePct"
                    [ivzConfig]="PERCENT_5_2"
                  >
                  </ivz-input-number>
                </div>
                <div class="p-d-flex p-flex-column ele-box-w-50">
                  <label>{{ 'LABEL.ORIGINAL_PURCHASE_FEE_CALCULATE_BASE' | translate }} : </label>
                  <ivz-dropdown
                    inputId="ORIGINAL_PURCHASE_FEE_CALCULATE_BASE"
                    [(ivzModel)]="model.originalPurchaseFeeCalculateBase"
                    [ivzConfig]="DEFAULT_DROPDOWN"
                    [options]="purchaseFeeCalculateBaseOptions"
                  ></ivz-dropdown>
                </div>
                <div class="p-d-flex p-flex-column ele-box-w-50">
                  <label required>{{ 'LABEL.NEW_PURCHASE_FEE_CALCULATE_BASE' | translate }} : </label>
                  <ivz-dropdown
                    inputId="NEW_PURCHASE_FEE_CALCULATE_BASE"
                    [(ivzModel)]="model.creditAppRequestLine_NewPurchaseFeeCalculateBase"
                    [ivzConfig]="DEFAULT_DROPDOWN"
                    [options]="purchaseFeeCalculateBaseOptions"
                    required
                  ></ivz-dropdown>
                </div>
              </div>
            </p-fieldset>
          </p-tabPanel>
          <p-tabPanel [header]="{ text: 'LABEL.ASSIGNMENT_METHOD' | translate }.text" [disabled]="custom.checkAmendAssignmentMethod">
            <p-fieldset [legend]="{ text: 'LABEL.ASSIGNMENT_METHOD' | translate }.text" [toggleable]="true">
              <div class="p-d-flex p-flex-wrap">
                <div class="p-d-flex p-flex-column ele-box-w-50">
                  <label>{{ 'LABEL.ORIGINAL_ASSIGNMENT_METHOD_ID' | translate }} : </label>
                  <ivz-input-text
                    inputId="ORIGINAL_ASSIGNMENT_METHOD_GUID"
                    [(ivzModel)]="model.originalAssignmentMethod_Values"
                    maxlength="1000"
                    [ivzConfig]="DEFAULT_INPUTTEXT"
                  ></ivz-input-text>
                </div>
                <div class="p-d-flex p-flex-column ele-box-w-50">
                  <label>{{ 'LABEL.NEW_ASSIGNMENT_METHOD_ID' | translate }} : </label>
                  <ivz-dropdown
                    inputId="NEW_ASSIGNMENT_METHOD_GUID"
                    [(ivzModel)]="model.creditAppRequestLine_AssignmentMethodGUID"
                    [ivzConfig]="DEFAULT_DROPDOWN"
                    [options]="assignmentMethodOptions"
                    (ivzModelChange)="onAssignmentMethodChange()"
                  ></ivz-dropdown>
                </div>
                <div class="p-d-flex p-flex-column ele-box-w-50">
                  <label>{{ 'LABEL.ORIGINAL_ASSIGNMENT_METHOD_REMARK' | translate }} : </label>
                  <ivz-textarea
                    inputId="ORIGINAL_ASSIGNMENT_METHOD_REMARK"
                    [(ivzModel)]="model.originalAssignmentMethodRemark"
                    [ivzConfig]="DEFAULT_TEXTAREA"
                  >
                  </ivz-textarea>
                </div>
                <div class="p-d-flex p-flex-column ele-box-w-50">
                  <label>{{ 'LABEL.NEW_ASSIGNMENT_METHOD_REMARK' | translate }} : </label>
                  <ivz-textarea
                    inputId="NEW_ASSIGNMENT_METHOD_REMARK"
                    [(ivzModel)]="model.creditAppRequestLine_NewAssignmentMethodRemark"
                    [ivzConfig]="DEFAULT_TEXTAREA"
                  >
                  </ivz-textarea>
                </div>
              </div>
            </p-fieldset>
          </p-tabPanel>
          <p-tabPanel [header]="{ text: 'LABEL.BILLING_INFORMATION' | translate }.text" [disabled]="custom.checkAmendBillingInformation">
            <p-fieldset [legend]="{ text: 'LABEL.BILLING_INFORMATION' | translate }.text" [toggleable]="true">
              <div class="p-d-flex p-flex-wrap">
                <div class="p-d-flex p-flex-column ele-box-w-50">
                  <label>{{ 'LABEL.ORIGINAL_BILLING_ADDRESS_ID' | translate }} : </label>
                  <ivz-input-text
                    inputId="ORIGINAL_BILLING_ADDRESS_GUID"
                    [(ivzModel)]="model.originalBillingAddress_Values"
                    maxlength="1000"
                    [ivzConfig]="DEFAULT_INPUTTEXT"
                  ></ivz-input-text>
                  <ivz-textarea
                    inputId="UNBOUND_ORIGINAL_BILLING_ADDRESS"
                    [(ivzModel)]="model.unboundOriginalBillingAddress"
                    [ivzConfig]="DEFAULT_TEXTAREA"
                  >
                  </ivz-textarea>
                </div>
                <div class="p-d-flex p-flex-column ele-box-w-50">
                  <label>{{ 'LABEL.NEW_BILLING_ADDRESS_ID' | translate }} : </label>
                  <ivz-dropdown
                    inputId="NEW_BILLING_ADDRESS_GUID"
                    [(ivzModel)]="model.creditAppRequestLine_NewBillingAddressGUID"
                    [ivzConfig]="DEFAULT_DROPDOWN"
                    [options]="addressOptions"
                    (ivzModelChange)="onBillingAddressChange()"
                  ></ivz-dropdown>
                  <ivz-textarea inputId="UNBOUND_NEW_BILLING_ADDRESS" [(ivzModel)]="model.unboundNewBillingAddress" [ivzConfig]="DEFAULT_TEXTAREA">
                  </ivz-textarea>
                </div>
              </div>
            </p-fieldset>
          </p-tabPanel>
          <p-tabPanel
            [header]="{ text: 'LABEL.BILLING_DOCUMENT_CONDITION_TRANSACTIONS' | translate }.text"
            [disabled]="custom.checkAmendBillingDocumentCondition"
          >
            <p-fieldset
              *ngIf="isUpdateMode && !custom.checkAmendBillingDocumentCondition"
              [legend]="{ text: 'LABEL.BILLING_DOCUMENT_CONDITION_TRANSACTIONS' | translate }.text"
              [toggleable]="true"
              listview
            >
              <div class="p-grid p-col-12 p-justify-start div-form-input">
                <document-condition-trans-list [pageInfo]="childPaths[0]" listview></document-condition-trans-list>
              </div>
            </p-fieldset>
          </p-tabPanel>
          <p-tabPanel [header]="{ text: 'LABEL.RECEIPT_INFORMATION' | translate }.text" [disabled]="custom.checkAmendReceiptInformation">
            <p-fieldset [legend]="{ text: 'LABEL.RECEIPT_INFORMATION' | translate }.text" [toggleable]="true">
              <div class="p-d-flex p-flex-wrap">
                <div class="p-d-flex p-flex-column ele-box-w-50">
                  <label>{{ 'LABEL.ORIGINAL_METHOD_OF_PAYMENT_ID' | translate }} : </label>
                  <ivz-input-text
                    inputId="ORIGINAL_METHOD_OF_PAYMENT_GUID"
                    [(ivzModel)]="model.originalMethodOfPayment_Values"
                    maxlength="1000"
                    [ivzConfig]="DEFAULT_INPUTTEXT"
                  ></ivz-input-text>
                </div>
                <div class="p-d-flex p-flex-column ele-box-w-50">
                  <label>{{ 'LABEL.NEW_METHOD_OF_PAYMENT_ID' | translate }} : </label>
                  <ivz-dropdown
                    inputId="NEW_METHOD_OF_PAYMENT_GUID"
                    [(ivzModel)]="model.creditAppRequestLine_NewMethodOfPaymentGUID"
                    [ivzConfig]="DEFAULT_DROPDOWN"
                    [options]="methodOfPaymentOptions"
                    (ivzModelChange)="onMethodOfPaymentChange()"
                  ></ivz-dropdown>
                </div>
                <div class="p-d-flex p-flex-column ele-box-w-50">
                  <label>{{ 'LABEL.ORIGINAL_RECEIPT_REMARK' | translate }} : </label>
                  <ivz-textarea inputId="ORIGINAL_RECEIPT_REMARK" [(ivzModel)]="model.originalReceiptRemark" [ivzConfig]="DEFAULT_TEXTAREA">
                  </ivz-textarea>
                </div>
                <div class="p-d-flex p-flex-column ele-box-w-50">
                  <label>{{ 'LABEL.NEW_RECEIPT_REMARK' | translate }} : </label>
                  <ivz-textarea
                    inputId="NEW_RECEIPT_REMARK"
                    [(ivzModel)]="model.creditAppRequestLine_NewReceiptRemark"
                    [ivzConfig]="DEFAULT_TEXTAREA"
                  >
                  </ivz-textarea>
                </div>
                <div class="p-d-flex p-flex-column ele-box-w-50">
                  <label>{{ 'LABEL.ORIGINAL_RECEIPT_ADDRESS_ID' | translate }} : </label>
                  <ivz-input-text
                    inputId="ORIGINAL_RECEIPT_ADDRESS_GUID"
                    [(ivzModel)]="model.originalReceiptAddress_Values"
                    maxlength="1000"
                    [ivzConfig]="DEFAULT_INPUTTEXT"
                  ></ivz-input-text>
                  <ivz-textarea
                    inputId="UNBOUND_ORIGINAL_RECEIPT_ADDRESS"
                    [(ivzModel)]="model.unboundOriginalReceiptAddress"
                    [ivzConfig]="DEFAULT_TEXTAREA"
                  >
                  </ivz-textarea>
                </div>
                <div class="p-d-flex p-flex-column ele-box-w-50">
                  <label>{{ 'LABEL.NEW_RECEIPT_ADDRESS_ID' | translate }} : </label>
                  <ivz-dropdown
                    inputId="NEW_RECEIPT_ADDRESS_GUID"
                    [(ivzModel)]="model.creditAppRequestLine_NewReceiptAddressGUID"
                    [ivzConfig]="DEFAULT_DROPDOWN"
                    [options]="addressOptions"
                    (ivzModelChange)="onReceiptAddressChange()"
                  ></ivz-dropdown>
                  <ivz-textarea inputId="UNBOUND_NEW_RECEIPT_ADDRESS" [(ivzModel)]="model.unboundNewReceiptAddress" [ivzConfig]="DEFAULT_TEXTAREA">
                  </ivz-textarea>
                </div>
              </div>
            </p-fieldset>
          </p-tabPanel>
          <p-tabPanel
            [header]="{ text: 'LABEL.RECEIPT_DOCUMENT_CONDITION_TRANSACTIONS' | translate }.text"
            [disabled]="custom.checkAmendReceiptDocumentCondition"
          >
            <p-fieldset
              *ngIf="isUpdateMode && !custom.checkAmendReceiptDocumentCondition"
              [legend]="{ text: 'LABEL.RECEIPT_DOCUMENT_CONDITION_TRANSACTIONS' | translate }.text"
              [toggleable]="true"
              listview
            >
              <div class="p-grid p-col-12 p-justify-start div-form-input">
                <document-condition-trans-list [pageInfo]="childPaths[1]" listview></document-condition-trans-list>
              </div>
            </p-fieldset>
          </p-tabPanel>
        </p-tabView>
      </p-fieldset>
      <p-fieldset *ngIf="isUpdateMode" [legend]="{ text: 'LABEL.APPROVAL' | translate }.text" [toggleable]="true">
        <div class="p-d-flex p-flex-wrap">
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.APPROVED_DATE' | translate }} : </label>
            <ivz-calendar inputId="APPROVED_DATE" [(ivzModel)]="model.creditAppRequestTable_ApprovedDate" [ivzConfig]="DATE"></ivz-calendar>
          </div>
        </div>
      </p-fieldset>
      <p-fieldset *ngIf="isUpdateMode" [legend]="{ text: 'LABEL.COMMENT' | translate }.text" [toggleable]="true">
        <div class="p-d-flex p-flex-wrap">
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.MARKETING_COMMENT' | translate }} : </label>
            <ivz-textarea
              inputId="MARKETING_COMMENT"
              [(ivzModel)]="model.creditAppRequestLine_MarketingComment"
              maxlength="500"
              [ivzConfig]="DEFAULT_TEXTAREA"
            >
            </ivz-textarea>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.CREDIT_COMMENT' | translate }} : </label>
            <ivz-textarea
              inputId="CREDIT_COMMENT"
              [(ivzModel)]="model.creditAppRequestLine_CreditComment"
              maxlength="500"
              [ivzConfig]="DEFAULT_TEXTAREA"
            >
            </ivz-textarea>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.APPROVER_COMMENT' | translate }} : </label>
            <ivz-textarea
              inputId="APPROVER_COMMENT"
              [(ivzModel)]="model.creditAppRequestLine_ApproverComment"
              maxlength="500"
              [ivzConfig]="DEFAULT_TEXTAREA"
            >
            </ivz-textarea>
          </div>
        </div>
      </p-fieldset>
      <p-fieldset [legend]="{ text: 'LABEL.SYSTEM' | translate }.text" [toggleable]="true">
        <div class="p-d-flex p-flex-wrap">
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.CREATED_BY' | translate }} : </label>
            <ivz-input-text inputId="CREATED_BY" [(ivzModel)]="model.createdBy" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.CREATED_DATE_TIME' | translate }} : </label>
            <ivz-calendar inputId="CREATED_DATE_TIME" [(ivzModel)]="model.createdDateTime" [ivzConfig]="DATETIME"></ivz-calendar>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.MODIFIED_BY' | translate }} : </label>
            <ivz-input-text inputId="MODIFIED_BY" [(ivzModel)]="model.modifiedBy" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.MODIFIED_DATE_TIME' | translate }} : </label>
            <ivz-calendar inputId="MODIFIED_DATE_TIME" [(ivzModel)]="model.modifiedDateTime" [ivzConfig]="DATETIME"></ivz-calendar>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label required>{{ 'LABEL.COMPANY_ID' | translate }} : </label>
            <ivz-input-text inputId="COMPANY_ID" [(ivzModel)]="model.companyId" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label required>{{ 'LABEL.BUSINESS_UNIT_ID' | translate }} : </label>
            <ivz-input-text inputId="BUSINESS_UNIT_ID" [(ivzModel)]="model.ownerBusinessUnitId" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label required>{{ 'LABEL.OWNER' | translate }} : </label>
            <ivz-input-text inputId="OWNER" [(ivzModel)]="model.owner" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
          </div>
        </div>
      </p-fieldset>
    </p-panel-content>
    <p-footer class="ivz-panel-footer">
      <div class="p-d-flex p-jc-end">
        <ivz-button
          inputId="SAVE"
          [label]="'LABEL.SAVE' | translate"
          icon="pi pi-save"
          className="ivz-primary-btn p-m-2"
          [ivzConfig]="buttonConfig"
          (formValidate)="onSave($event)"
        ></ivz-button>
        <ivz-button
          inputId="SAVE_AND_CLOSE"
          [label]="'LABEL.SAVE_AND_CLOSE' | translate"
          icon="pi pi-times"
          className="ivz-primary-btn p-m-2"
          [ivzConfig]="buttonConfig"
          (formValidate)="onSaveAndClose($event)"
        >
        </ivz-button>
        <ivz-button
          inputId="CLOSE"
          [label]="'LABEL.CLOSE' | translate"
          icon="pi pi-power-off"
          className="ivz-primary-btn p-m-2"
          [ivzConfig]="buttonConfig"
          (click)="onClose()"
        >
        </ivz-button>
      </div>
    </p-footer>
  </p-panel>
</div>
