<div class="ivz-item-card function-l">
  <p-panel [showHeader]="true" [viewonly]="isView" class="ivz-panel">
    <p-header class="p-d-flex p-jc-between w-100">
      <div class="ivz-div-panel-title">
        <span class="ivz-panel-title p-m-2">{{ 'LABEL.IMPORT_TAX_REPORT' | translate }}</span>
      </div>
    </p-header>
    <p-panel-content class="ivz-div-panel-content">
      <p-fieldset [legend]="{ text: 'LABEL.GENERAL' | translate }.text" [toggleable]="true">
        <div class="p-d-flex p-flex-wrap">
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.REFERENCE_TYPE' | translate }} : </label>
            <ivz-dropdown 
              inputId="REF_TYPE"
              [(ivzModel)]="model.refType"
              [ivzConfig]="DEFAULT_DROPDOWN" 
              [options]="refTypeOptions">
            </ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.REFERENCE_ID' | translate }} : </label>
            <ivz-input-text inputId="REF_ID" [(ivzModel)]="model.refId" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-100">
            <label>{{ 'LABEL.NAME' | translate }} : </label>
            <ivz-input-text inputId="NAME" [(ivzModel)]="model.name" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
          </div>
        </div>
      </p-fieldset>
      <p-fieldset [legend]="{ text: 'LABEL.ATTACHED_FILE' | translate }.text" [toggleable]="true">
        <div class="p-d-flex p-flex-wrap">
          <div class="p-d-flex p-flex-column ele-box-w-100">
            <div class="p-d-flex p-flex-column ele-box-w-50">
              <ivz-file-upload
                #fileUploadCmpnt
                [multiple]="false"
                [model]="fileUpload"
                [viewOnly]="isView"
                [browse]="!isView && !isUpdateMode"
                [showPreviewBtn]="isUpdateMode"
                [showDownloadBtn]="isUpdateMode"
                [acceptFormat]="docxType"
                (fileChange)="onFileChange($event)"
              >
              </ivz-file-upload>
            </div>
          </div>         
        </div>
      </p-fieldset>
    </p-panel-content>
    <p-footer class="ivz-panel-footer">
      <div class="p-d-flex p-jc-end">
        <ivz-button
          inputId="OK"
          [label]="'LABEL.OK' | translate"
          icon="pi pi-times"
          className="ivz-primary-btn p-m-2"
          [ivzConfig]="buttonConfig"
          (formValidate)="onSaveAndClose($event)"
        >
        </ivz-button>
        <ivz-button
          inputId="CANCEL"
          [label]="'LABEL.CANCEL' | translate"
          icon="pi pi-power-off"
          className="ivz-primary-btn p-m-2"
          [ivzConfig]="buttonConfig"
          (click)="onClose()"
        >
        </ivz-button>
      </div>
    </p-footer>
  </p-panel>
</div>