<div class="ivz-item-card">
  <p-panel [showHeader]="true" [viewonly]="isView" class="ivz-panel">
    <p-header class="p-d-flex p-jc-between w-100">
      <div class="ivz-div-panel-title">
        <span class="ivz-panel-title p-m-2">{{ 'LABEL.RECEIPT' | translate }}</span>
      </div>
      <div class="ivz-div-panel-btn-group">
        <p-tieredMenu id="MENURELATED" #related [model]="relatedInfoItems" [popup]="true"> </p-tieredMenu>
        <p-button
          id="RELATED_INFO"
          #btnfn
          type="button"
          icon="pi pi-share-alt"
          (click)="related.toggle($event); function.hide(); group.hide()"
          [label]="'LABEL.RELATED_INFO' | translate"
          styleClass="p-button-text"
        >
        </p-button>
        <p-tieredMenu id="MENUFUNCTION" #function [model]="functionItems" [popup]="true"> </p-tieredMenu>
        <p-button
          id="FUNCTION"
          #btnfn
          type="button"
          icon="pi pi-cog"
          (click)="function.toggle($event); related.hide(); group.hide()"
          [label]="'LABEL.FUNCTION' | translate"
          styleClass="p-button-text"
        ></p-button>
        <p-tieredMenu id="MENUGROUP" #group [model]="itemsGroup" [popup]="true"> </p-tieredMenu>
        <p-button
          id="GROUP"
          #btnfn
          type="button"
          icon="pi pi-list"
          (click)="group.toggle($event); function.hide(); related.hide()"
          [label]="'LABEL.GROUP' | translate"
          styleClass="p-button-text"
        ></p-button>
      </div>
    </p-header>
    <p-panel-content class="ivz-div-panel-content">
      <p-fieldset [legend]="{ text: 'LABEL.GENERAL' | translate }.text" [toggleable]="true">
        <div class="p-d-flex p-flex-wrap">
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label required>{{ 'LABEL.RECEIPT_ID' | translate }} : </label>
            <ivz-input-text inputId="RECEIPT_ID" [(ivzModel)]="model.receiptId" [ivzConfig]="ID_INPUTTEXT" required></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label required>{{ 'LABEL.RECEIPT_DATE' | translate }} : </label>
            <ivz-calendar inputId="RECEIPT_DATE" [(ivzModel)]="model.receiptDate" [ivzConfig]="DATE" required></ivz-calendar>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label required>{{ 'LABEL.TRANSACTION_DATE' | translate }} : </label>
            <ivz-calendar inputId="TRANS_DATE" [(ivzModel)]="model.transDate" [ivzConfig]="DATE" required></ivz-calendar>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label required>{{ 'LABEL.CUSTOMER_ID' | translate }} : </label>
            <ivz-input-text
              inputId="CUSTOMER_TABLE_GUID"
              [(ivzModel)]="model.customerTable_Values"
              maxlength="1000"
              [ivzConfig]="DEFAULT_INPUTTEXT"
              required
            ></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.METHOD_OF_PAYMENT_ID' | translate }} : </label>
            <ivz-input-text
              inputId="METHOD_OF_PAYMENT_GUID"
              [(ivzModel)]="model.methodopayment_Values"
              maxlength="1000"
              [ivzConfig]="DEFAULT_INPUTTEXT"
            ></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.CURRENCY_ID' | translate }} : </label>
            <ivz-input-text
              inputId="CURRENCY_GUID"
              [(ivzModel)]="model.currency_Values"
              maxlength="1000"
              [ivzConfig]="DEFAULT_INPUTTEXT"
            ></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.EXCHANGE_RATE' | translate }} : </label>
            <ivz-input-number inputId="EXCHANGE_RATE" [(ivzModel)]="model.exchangeRate" [ivzConfig]="CURRENCY_13_2"> </ivz-input-number>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.STATUS' | translate }} : </label>
            <ivz-input-text
              inputId="DOCUMENT_STATUS_GUID"
              [(ivzModel)]="model.documentStatus_Description"
              maxlength="1000"
              [ivzConfig]="DEFAULT_INPUTTEXT"
            ></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.RECEIPT_ADDRESS' | translate }} : </label>
            <ivz-textarea inputId="UNBOUND_RECEIPT_ADDRESS" [(ivzModel)]="model.receiptAddress_Values" [ivzConfig]="DEFAULT_TEXTAREA"> </ivz-textarea>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.REMARK' | translate }} : </label>
            <ivz-textarea inputId="REMARK" [(ivzModel)]="model.remark" [ivzConfig]="DEFAULT_TEXTAREA"> </ivz-textarea>
          </div>
        </div>
      </p-fieldset>
      <p-fieldset [legend]="{ text: 'LABEL.AMOUNT' | translate }.text" [toggleable]="true">
        <div class="p-d-flex p-flex-wrap">
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.SETTLE_BASE_AMOUNT' | translate }} : </label>
            <ivz-input-number inputId="SETTLE_BASE_AMOUNT" [(ivzModel)]="model.settleBaseAmount" [ivzConfig]="CURRENCY_13_2"> </ivz-input-number>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.SETTLE_TAX_AMOUNT' | translate }} : </label>
            <ivz-input-number inputId="SETTLE_TAX_AMOUNT" [(ivzModel)]="model.settleTaxAmount" [ivzConfig]="CURRENCY_13_2"> </ivz-input-number>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.SETTLE_AMOUNT' | translate }} : </label>
            <ivz-input-number inputId="SETTLE_AMOUNT" [(ivzModel)]="model.settleAmount" [ivzConfig]="CURRENCY_13_2"> </ivz-input-number>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.SETTLE_BASE_AMOUNT_MST' | translate }} : </label>
            <ivz-input-number inputId="SETTLE_BASE_AMOUNT_MST" [(ivzModel)]="model.settleBaseAmountMST" [ivzConfig]="CURRENCY_13_2">
            </ivz-input-number>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.SETTLE_TAX_AMOUNT_MST' | translate }} : </label>
            <ivz-input-number inputId="SETTLE_TAX_AMOUNT_MST" [(ivzModel)]="model.settleTaxAmountMST" [ivzConfig]="CURRENCY_13_2"> </ivz-input-number>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.SETTLE_AMOUNT_MST' | translate }} : </label>
            <ivz-input-number inputId="SETTLE_AMOUNT_MST" [(ivzModel)]="model.settleAmountMST" [ivzConfig]="CURRENCY_13_2"> </ivz-input-number>
          </div>
        </div>
      </p-fieldset>
      <p-fieldset [legend]="{ text: 'LABEL.RECEIPT_INFORMATION' | translate }.text" [toggleable]="true">
        <div class="p-d-flex p-flex-wrap">
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.CHEQUE_DATE' | translate }} : </label>
            <ivz-calendar inputId="CHEQUE_DATE" [(ivzModel)]="model.chequeDate" [ivzConfig]="DATE"></ivz-calendar>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.CHEQUE_NO' | translate }} : </label>
            <ivz-input-text inputId="CHEQUE_NO" [(ivzModel)]="model.chequeNo" [ivzConfig]="ID_INPUTTEXT"></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.CHEQUE_BANK_GROUP_GUID' | translate }} : </label>
            <ivz-input-text
              inputId="CHEQUE_BANK_GROUP_GUID"
              [(ivzModel)]="model.chequeBankGroupGUID"
              maxlength="1000"
              [ivzConfig]="DEFAULT_INPUTTEXT"
            ></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.CHEQUE_BRANCH' | translate }} : </label>
            <ivz-input-text inputId="CHEQUE_BRANCH" [(ivzModel)]="model.chequeBranch" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
          </div>
        </div>
      </p-fieldset>
      <p-fieldset [legend]="{ text: 'LABEL.REFERENCE' | translate }.text" [toggleable]="true">
        <div class="p-d-flex p-flex-wrap">
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.INVOICE_SETTLEMENT_ID' | translate }} : </label>
            <ivz-input-text
              inputId="INVOICE_SETTLEMENT_DETAIL_GUID"
              [(ivzModel)]="model.invoiceSettlementDetail_Values"
              [ivzConfig]="ID_INPUTTEXT"
            ></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label required>{{ 'LABEL.REFERENCE_TYPE' | translate }} : </label>
            <ivz-dropdown
              inputId="REF_TYPE"
              [(ivzModel)]="model.refType"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="refTypeOptions"
              required
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.REFERENCE_ID' | translate }} : </label>
            <ivz-input-text inputId="REF_ID" [(ivzModel)]="model.refId" [ivzConfig]="ID_INPUTTEXT"></ivz-input-text>
          </div>
        </div>
      </p-fieldset>
      <p-fieldset [legend]="{ text: 'LABEL.SYSTEM' | translate }.text" [toggleable]="true">
        <div class="p-d-flex p-flex-wrap">
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.CREATED_BY' | translate }} : </label>
            <ivz-input-text inputId="CREATED_BY" [(ivzModel)]="model.createdBy" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.CREATED_DATE_TIME' | translate }} : </label>
            <ivz-calendar inputId="CREATED_DATE_TIME" [(ivzModel)]="model.createdDateTime" [ivzConfig]="DATETIME"></ivz-calendar>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.MODIFIED_BY' | translate }} : </label>
            <ivz-input-text inputId="MODIFIED_BY" [(ivzModel)]="model.modifiedBy" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.MODIFIED_DATE_TIME' | translate }} : </label>
            <ivz-calendar inputId="MODIFIED_DATE_TIME" [(ivzModel)]="model.modifiedDateTime" [ivzConfig]="DATETIME"></ivz-calendar>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label required>{{ 'LABEL.COMPANY_ID' | translate }} : </label>
            <ivz-input-text inputId="COMPANY_ID" [(ivzModel)]="model.companyId" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label required>{{ 'LABEL.BUSINESS_UNIT_ID' | translate }} : </label>
            <ivz-input-text inputId="BUSINESS_UNIT_ID" [(ivzModel)]="model.ownerBusinessUnitId" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label required>{{ 'LABEL.OWNER' | translate }} : </label>
            <ivz-input-text inputId="OWNER" [(ivzModel)]="model.owner" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label required>{{ 'LABEL.BRANCH_ID' | translate }} : </label>
            <ivz-input-text inputId="BRANCH_ID" [(ivzModel)]="model.branchId" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
          </div>
        </div>
      </p-fieldset>
      <p-fieldset *ngIf="true" [legend]="{ text: 'LABEL.RECEIPT_LINE' | translate }.text" [toggleable]="true" listview>
        <div class="p-grid p-col-12 p-justify-start div-form-input">
          <receipt-line-list [pageInfo]="childPaths[0]"></receipt-line-list>
        </div>
      </p-fieldset>
    </p-panel-content>
    <p-footer class="ivz-panel-footer">
      <div class="p-d-flex p-jc-end">
        <ivz-button
          inputId="SAVE"
          [label]="'LABEL.SAVE' | translate"
          icon="pi pi-save"
          className="ivz-primary-btn p-m-2"
          [ivzConfig]="buttonConfig"
          (formValidate)="onSave($event)"
        ></ivz-button>
        <ivz-button
          inputId="SAVE_AND_CLOSE"
          [label]="'LABEL.SAVE_AND_CLOSE' | translate"
          icon="pi pi-times"
          className="ivz-primary-btn p-m-2"
          [ivzConfig]="buttonConfig"
          (formValidate)="onSaveAndClose($event)"
        >
        </ivz-button>
        <ivz-button
          inputId="CLOSE"
          [label]="'LABEL.CLOSE' | translate"
          icon="pi pi-power-off"
          className="ivz-primary-btn p-m-2"
          [ivzConfig]="buttonConfig"
          (click)="onClose()"
        >
        </ivz-button>
      </div>
    </p-footer>
  </p-panel>
</div>
