<div class="ivz-item-card function-l">
  <p-panel [showHeader]="true" [viewonly]="isView" class="ivz-panel">
    <p-header class="p-d-flex p-jc-between w-100">
      <div class="ivz-div-panel-title">
        <span class="ivz-panel-title p-m-2">{{ 'LABEL.EXTEND_GUARANTOR_AGREEMENT' | translate }}</span>
      </div>
    </p-header>
    <p-panel-content class="ivz-div-panel-content">
      <p-fieldset [legend]="{ text: 'LABEL.GUARANTOR_AGREEMENT' | translate }.text" [toggleable]="true">
        <div class="p-d-flex p-flex-wrap">
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.MAIN_AGREEMENT_ID' | translate }} : </label>
            <ivz-input-text
              inputId="INTERNAL_MAIN_AGREEMENT_ID"
              [(ivzModel)]="model.mainAgreementTable_MainAgreementId"
              maxlength="1000"
              [ivzConfig]="DEFAULT_INPUTTEXT"
            ></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.INTERNAL_GUARANTOR_AGREEMENT_ID' | translate }} : </label>
            <ivz-input-text
              inputId="INTERNAL_GUARANTOR_AGREEMENT_ID"
              [(ivzModel)]="model.internalGuarantorAgreementId"
              maxlength="1000"
              [ivzConfig]="DEFAULT_INPUTTEXT"
            ></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.GUARANTOR_AGREEMENT_ID' | translate }} : </label>
            <ivz-input-text inputId="GUARANTOR_AGREEMENT_ID" [(ivzModel)]="model.guarantorAgreementId" [ivzConfig]="ID_INPUTTEXT"></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-100">
            <label>{{ 'LABEL.DESCRIPTION' | translate }} : </label>
            <ivz-input-text inputId="DESCRIPTION" [(ivzModel)]="model.description" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.AGREEMENT_DATE' | translate }} : </label>
            <ivz-calendar inputId="AGREEMENT_DATE" [(ivzModel)]="model.agreementDate" [ivzConfig]="DATE"></ivz-calendar>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.EXPIRY_DATE' | translate }} : </label>
            <ivz-calendar inputId="EXPIRY_DATE" [(ivzModel)]="model.expiryDate" [ivzConfig]="DATE"></ivz-calendar>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.AFFILIATE' | translate }} : </label>
            <ivz-input-switch inputId="AFFILIATE" [(ivzModel)]="model.affiliate"></ivz-input-switch>
          </div>
        </div>
      </p-fieldset>
      <p-fieldset [legend]="{ text: 'LABEL.EXTENSION_INFORMATION' | translate }.text" [toggleable]="true">
        <div class="p-d-flex p-flex-wrap">
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.AGREEMENT_DOCUMENT_TYPE' | translate }} : </label>
            <ivz-dropdown
              inputId="AGREEMENT_DOC_TYPE"
              [(ivzModel)]="model.agreementDocType"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="agreementDocTypeOptions"
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.AGREEMENT_EXTENSION' | translate }} : </label>
            <ivz-input-number inputId="AGREEMENT_EXTENSION" [(ivzModel)]="model.agreementExtension" [ivzConfig]="INTEGER"></ivz-input-number>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label [required]="custom.isManualInternalGuarantorAgreementId"
              >{{ 'LABEL.EXTEND_INTERNAL_GUARANTOR_AGREEMENT_ID' | translate }} :
            </label>
            <ivz-input-text
              inputId="EXTEND_INTERNAL_GUARANTOR_AGREEMENT_ID"
              [(ivzModel)]="model.extendInternalGuarantorAgreementId"
              [ivzConfig]="DEFAULT_INPUTTEXT"
              [required]="custom.isManualInternalGuarantorAgreementId"
            ></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label required>{{ 'LABEL.NEW_AGREEMENT_DATE' | translate }} : </label>
            <ivz-calendar inputId="NEW_AGREEMENT_DATE" [(ivzModel)]="model.newAgreementDate" [ivzConfig]="DATE" required></ivz-calendar>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-100">
            <label required>{{ 'LABEL.NEW_AGREEMENT_DESCRIPTION' | translate }} : </label>
            <ivz-input-text inputId="NEW_DESCRIPTION" [(ivzModel)]="model.newDescription" [ivzConfig]="DEFAULT_INPUTTEXT" required></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-100">
            <label required>{{ 'LABEL.REASON_ID' | translate }} : </label>
            <ivz-dropdown
              inputId="DOCUMENT_REASON_GUID"
              [(ivzModel)]="model.documentReasonGUID"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="documentReasonOptions"
              (ivzModelChange)="onDocumentReasonChange($event)"
              (ivzBindingChange)="onDocumentReasonChange($event)"
              required
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-100">
            <label required>{{ 'LABEL.REASON_REMARK' | translate }} : </label>
            <ivz-textarea inputId="REASON_REMARK" [(ivzModel)]="model.reasonRemark" [ivzConfig]="DEFAULT_TEXTAREA" required> </ivz-textarea>
          </div>
        </div>
      </p-fieldset>
    </p-panel-content>
    <p-footer class="ivz-panel-footer">
      <div class="p-d-flex p-jc-end">
        <ivz-button
          inputId="OK"
          [label]="'LABEL.OK' | translate"
          icon="pi pi-times"
          className="ivz-primary-btn p-m-2"
          [ivzConfig]="buttonConfig"
          (formValidate)="onSaveAndClose($event)"
        >
        </ivz-button>
        <ivz-button
          inputId="CLOSE"
          [label]="'LABEL.CLOSE' | translate"
          icon="pi pi-power-off"
          className="ivz-primary-btn p-m-2"
          [ivzConfig]="buttonConfig"
          (click)="onClose()"
        >
        </ivz-button>
      </div>
    </p-footer>
  </p-panel>
</div>
