<p-listbox
  [options]="bindingOptions"
  [metaKeySelection]="true"
  [checkbox]="true"
  [filter]="false"
  [multiple]="true"
  optionLabel="label"
  [listStyle]="{ 'max-height': '250px' }"
  [style]="{ width: '15rem' }"
>
  <ng-template let-item pTemplate="item">
    <div>
      <div>{{ item.label }}</div>
    </div>
  </ng-template>
</p-listbox>
