<div class="ivz-item-card">
  <p-panel [showHeader]="true" [viewonly]="isView" class="ivz-panel">
    <p-header class="p-d-flex p-jc-between w-100">
      <div class="ivz-div-panel-title">
        <span class="ivz-panel-title p-m-2">{{ custom.title | translate }}</span>
      </div>
      <div class="ivz-div-panel-btn-group">
        <p-tieredMenu id="MENURELATED" #related [model]="relatedInfoItems" [popup]="true"> </p-tieredMenu>
        <p-button
          id="RELATED_INFO"
          #btnfn
          type="button"
          icon="pi pi-share-alt"
          (click)="related.toggle($event); function.hide(); group.hide()"
          [label]="'LABEL.RELATED_INFO' | translate"
          styleClass="p-button-text"
        >
        </p-button>
        <p-tieredMenu id="MENUFUNCTION" #function [model]="functionItems" [popup]="true"> </p-tieredMenu>
        <p-button
          id="FUNCTION"
          #btnfn
          type="button"
          icon="pi pi-cog"
          (click)="function.toggle($event); related.hide(); group.hide()"
          [label]="'LABEL.FUNCTION' | translate"
          styleClass="p-button-text"
        ></p-button>
        <p-tieredMenu id="MENUGROUP" #group [model]="itemsGroup" [popup]="true"> </p-tieredMenu>
        <p-button
          id="GROUP"
          #btnfn
          type="button"
          icon="pi pi-list"
          (click)="group.toggle($event); function.hide(); related.hide()"
          [label]="'LABEL.GROUP' | translate"
          styleClass="p-button-text"
        ></p-button>
      </div>
    </p-header>
    <p-panel-content class="ivz-div-panel-content">
      <p-fieldset [legend]="{ text: 'LABEL.GENERAL' | translate }.text" [toggleable]="true">
        <div class="p-d-flex p-flex-wrap">
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label required>{{ 'LABEL.CREDIT_APPLICATION_ID' | translate }} : </label>
            <ivz-input-text
              inputId="CREDIT_APP_TABLE_GUID"
              [(ivzModel)]="model.creditAppTable_Values"
              [ivzConfig]="DEFAULT_INPUTTEXT"
              required
            ></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label required>{{ 'LABEL.LINE' | translate }} : </label>
            <ivz-input-number inputId="LINE_NUM" [(ivzModel)]="model.lineNum" [ivzConfig]="INTEGER" required></ivz-input-number>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.REVIEWED_DATE' | translate }} : </label>
            <ivz-calendar inputId="REVIEW_DATE" [(ivzModel)]="model.reviewDate" [ivzConfig]="DATE"></ivz-calendar>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.REFERENCE_CREDIT_APPLICATION_REQUEST_ID' | translate }} : </label>
            <ivz-input-text
              inputId="REF_CREDIT_APP_REQUEST_TABLE_GUID"
              [(ivzModel)]="model.refCreditAppRequestTable_Values"
              [ivzConfig]="DEFAULT_INPUTTEXT"
            ></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.REFERENCE_CREDIT_APPLICATION_REQUEST_LINE' | translate }} : </label>
            <ivz-input-text
              inputId="REF_CREDIT_APP_REQUEST_LINE_GUID"
              [(ivzModel)]="model.refCreditAppRequestLine_Values"
              [ivzConfig]="DEFAULT_INPUTTEXT"
            ></ivz-input-text>
          </div>
        </div>
      </p-fieldset>
      <p-fieldset [legend]="{ text: 'LABEL.BUYER_INFORMATION' | translate }.text" [toggleable]="true">
        <div class="p-d-flex p-flex-wrap">
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label required>{{ 'LABEL.BUYER_ID' | translate }} : </label>
            <ivz-input-text
              inputId="BUYER_TABLE_GUID"
              [(ivzModel)]="model.buyerTable_Values"
              [ivzConfig]="DEFAULT_INPUTTEXT"
              required
            ></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.BUSINESS_SEGMENT_ID' | translate }} : </label>
            <ivz-input-text
              inputId="BUSINESS_SEGMENT_GUID"
              [(ivzModel)]="model.businessSegment_Values"
              [ivzConfig]="DEFAULT_INPUTTEXT"
            ></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.LINE_OF_BUSINESS_ID' | translate }} : </label>
            <ivz-input-text
              inputId="LINE_OF_BUSINESS_GUID"
              [(ivzModel)]="model.lineOfBusiness_Values"
              [ivzConfig]="DEFAULT_INPUTTEXT"
            ></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.BUSINESS_TYPE_ID' | translate }} : </label>
            <ivz-input-text inputId="BUSINESS_TYPE_GUID" [(ivzModel)]="model.businessType_Values" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.DATE_OF_ESTABLISH' | translate }} : </label>
            <ivz-calendar inputId="DATE_OF_ESTABLISH" [(ivzModel)]="model.dateOfEstablish" [ivzConfig]="DATE"></ivz-calendar>
          </div>
        </div>
      </p-fieldset>
      <p-fieldset [legend]="{ text: 'LABEL.CUSTOMER_RELATED_INFORMATION' | translate }.text" [toggleable]="true">
        <div class="p-d-flex p-flex-wrap">
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.CREDIT_TERM_ID' | translate }} : </label>
            <ivz-input-text inputId="CREDIT_TERM_GUID" [(ivzModel)]="model.creditTerm_Values" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.CREDIT_TERM_DESCRIPTION' | translate }} : </label>
            <ivz-input-text
              inputId="CREDIT_TERM_DESCRIPTION"
              [(ivzModel)]="model.creditTermDescription"
              [ivzConfig]="DEFAULT_INPUTTEXT"
            ></ivz-input-text>
          </div>
        </div>
      </p-fieldset>
      <p-fieldset [legend]="{ text: 'LABEL.BUYER_BILLING_INFORMATION' | translate }.text" [toggleable]="true">
        <div class="p-d-flex p-flex-wrap">
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label required>{{ 'LABEL.BILLING_DAY' | translate }} : </label>
            <ivz-dropdown
              inputId="BILLING_DAY"
              [(ivzModel)]="model.billingDay"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="dayOfMonthOptions"
              required
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.BILLING_DESCRIPTION' | translate }} : </label>
            <ivz-input-text inputId="BILLING_DESCRIPTION" [(ivzModel)]="model.billingDescription" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.BILLING_ADDRESS_ID' | translate }} : </label>
            <ivz-input-text
              inputId="BILLING_ADDRESS_GUID"
              [(ivzModel)]="model.billingAddress_Values"
              [ivzConfig]="DEFAULT_INPUTTEXT"
            ></ivz-input-text>
            <ivz-textarea inputId="UNBOUND_BILLING_ADDRESS" [(ivzModel)]="model.unboundBillingAddress" maxlength="100" [ivzConfig]="DEFAULT_TEXTAREA">
            </ivz-textarea>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.BILLING_CONTACT_PERSON_ID' | translate }} : </label>
            <ivz-input-text
              inputId="BILLING_CONTACT_PERSON_GUID"
              [(ivzModel)]="model.billingContactPerson_Values"
              [ivzConfig]="DEFAULT_INPUTTEXT"
            ></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.BILLING_RESPONSIBLE_BY_ID' | translate }} : </label>
            <ivz-input-text
              inputId="BILLING_RESPONSIBLE_BY_GUID"
              [(ivzModel)]="model.billingResponsibleBy_Values"
              [ivzConfig]="DEFAULT_INPUTTEXT"
            ></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label required>{{ 'LABEL.METHOD_OF_BILLING' | translate }} : </label>
            <ivz-dropdown
              inputId="METHOD_OF_BILLING"
              [(ivzModel)]="model.methodOfBilling"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="methodOfBillingOptions"
              required
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.BILLING_REMARK' | translate }} : </label>
            <ivz-textarea inputId="BILLING_REMARK" [(ivzModel)]="model.billingRemark" maxlength="250" [ivzConfig]="DEFAULT_TEXTAREA"> </ivz-textarea>
          </div>
        </div>
      </p-fieldset>
      <p-fieldset [legend]="{ text: 'LABEL.BUYER_RECEIPT_INFORMATION' | translate }.text" [toggleable]="true">
        <div class="p-d-flex p-flex-wrap">
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label required>{{ 'LABEL.RECEIPT_DAY' | translate }} : </label>
            <ivz-dropdown
              inputId="RECEIPT_DAY"
              [(ivzModel)]="model.receiptDay"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="dayOfMonthOptions"
              required
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.RECEIPT_DESCRIPTION' | translate }} : </label>
            <ivz-input-text inputId="RECEIPT_DESCRIPTION" [(ivzModel)]="model.receiptDescription" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.RECEIPT_ADDRESS_ID' | translate }} : </label>
            <ivz-input-text
              inputId="RECEIPT_ADDRESS_GUID"
              [(ivzModel)]="model.receiptAddress_Values"
              [ivzConfig]="DEFAULT_INPUTTEXT"
            ></ivz-input-text>
            <ivz-textarea inputId="UNBOUND_RECEIPT_ADDRESS" [(ivzModel)]="model.unboundReceiptAddress" maxlength="100" [ivzConfig]="DEFAULT_TEXTAREA">
            </ivz-textarea>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.RECEIPT_CONTACT_PERSON_ID' | translate }} : </label>
            <ivz-input-text
              inputId="RECEIPT_CONTACT_PERSON_GUID"
              [(ivzModel)]="model.receiptContactPerson_Values"
              [ivzConfig]="DEFAULT_INPUTTEXT"
            ></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.METHOD_OF_PAYMENT_ID' | translate }} : </label>
            <ivz-input-text
              inputId="METHOD_OF_PAYMENT_GUID"
              [(ivzModel)]="model.methodOfPayment_Values"
              [ivzConfig]="DEFAULT_INPUTTEXT"
            ></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.RECEIPT_REMARK' | translate }} : </label>
            <ivz-textarea inputId="RECEIPT_REMARK" [(ivzModel)]="model.receiptRemark" maxlength="100" [ivzConfig]="DEFAULT_TEXTAREA"> </ivz-textarea>
          </div>
        </div>
      </p-fieldset>
      <p-fieldset [legend]="{ text: 'LABEL.ADDRESS_INFORMATION' | translate }.text" [toggleable]="true">
        <div class="p-d-flex p-flex-wrap">
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.INVOICE_ADDRESS_ID' | translate }} : </label>
            <ivz-input-text
              inputId="INVOICE_ADDRESS_GUID"
              [(ivzModel)]="model.invoiceAddress_Values"
              [ivzConfig]="DEFAULT_INPUTTEXT"
            ></ivz-input-text>
            <ivz-textarea inputId="UNBOUND_INVOICE_ADDRESS" [(ivzModel)]="model.unboundInvoiceAddress" maxlength="100" [ivzConfig]="DEFAULT_TEXTAREA">
            </ivz-textarea>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.MAILING_RECEIPT_ADDRESS' | translate }} : </label>
            <ivz-input-text
              inputId="MAILING_RECEIPT_ADDRESS_GUID"
              [(ivzModel)]="model.mailingReceiptAddress_Values"
              [ivzConfig]="DEFAULT_INPUTTEXT"
            ></ivz-input-text>
            <ivz-textarea
              inputId="UNBOUND_MAILING_RECEIPT_ADDRESS"
              [(ivzModel)]="model.unboundMailingReceiptAddress"
              maxlength="100"
              [ivzConfig]="DEFAULT_TEXTAREA"
            >
            </ivz-textarea>
          </div>
        </div>
      </p-fieldset>
      <p-fieldset [legend]="{ text: 'LABEL.CREDIT_LIMIT_CONDITION' | translate }.text" [toggleable]="true">
        <div class="p-d-flex p-flex-wrap">
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label required>{{ 'LABEL.APRROVED_CREDIT_LIMIT_LINE' | translate }} : </label>
            <ivz-input-number inputId="APPROVED_CREDIT_LIMIT_LINE" [(ivzModel)]="model.approvedCreditLimitLine" [ivzConfig]="CURRENCY_13_2" required>
            </ivz-input-number>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.INSURANCE_CREDIT_LIMIT' | translate }} : </label>
            <ivz-input-number inputId="INSURANCE_CREDIT_LIMIT" [(ivzModel)]="model.insuranceCreditLimit" [ivzConfig]="CURRENCY_13_2">
            </ivz-input-number>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label required>{{ 'LABEL.EXPIRY_DATE' | translate }} : </label>
            <ivz-calendar inputId="EXPIRY_DATE" [(ivzModel)]="model.expiryDate" [ivzConfig]="DATE" required></ivz-calendar>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.ASSIGNMENT_METHOD_ID' | translate }} : </label>
            <ivz-input-text
              inputId="ASSIGNMENT_METHOD_GUID"
              [(ivzModel)]="model.assignmentMethod_Values"
              [ivzConfig]="DEFAULT_INPUTTEXT"
            ></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.ACCEPTANCE_DOCUMENT' | translate }} : </label>
            <ivz-input-switch inputId="ACCEPTANCE_DOCUMENT" [(ivzModel)]="model.acceptanceDocument"></ivz-input-switch>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.ACCEPTANCE_DOCUMENT_DESCRIPTION' | translate }} : </label>
            <ivz-input-text
              inputId="ACCEPTANCE_DOCUMENT_DESCRIPTION"
              [(ivzModel)]="model.acceptanceDocumentDescription"
              [ivzConfig]="DEFAULT_INPUTTEXT"
              maxlength="250"
            ></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.ASSIGNMENT_METHOD_REMARK' | translate }} : </label>
            <ivz-textarea
              inputId="ASSIGNMENT_METHOD_REMARK"
              [(ivzModel)]="model.assignmentMethodRemark"
              maxlength="250"
              [ivzConfig]="DEFAULT_TEXTAREA"
            >
            </ivz-textarea>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.PAYMENT_CONDITION' | translate }} : </label>
            <ivz-textarea inputId="PAYMENT_CONDITION" [(ivzModel)]="model.paymentCondition" maxlength="250" [ivzConfig]="DEFAULT_TEXTAREA">
            </ivz-textarea>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.LINE_CONDITION' | translate }} : </label>
            <ivz-textarea inputId="LINE_CONDITION" [(ivzModel)]="model.lineCondition" maxlength="250" [ivzConfig]="DEFAULT_TEXTAREA"></ivz-textarea>
          </div>
        </div>
      </p-fieldset>
      <p-fieldset [legend]="{ text: 'LABEL.FACTORING' | translate }.text" [toggleable]="true">
        <div class="p-d-flex p-flex-wrap">
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.MAXIMUM_PURCHASE_PCT' | translate }} : </label>
            <ivz-input-number inputId="MAX_PURCHASE_PCT" [(ivzModel)]="model.maxPurchasePct" [ivzConfig]="PERCENT_5_2"> </ivz-input-number>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.PURCHASE_FEE_PCT' | translate }} : </label>
            <ivz-input-number inputId="PURCHASE_FEE_PCT" [(ivzModel)]="model.purchaseFeePct" [ivzConfig]="PERCENT_5_2"> </ivz-input-number>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label required>{{ 'LABEL.PURCHASE_FEE_CALCULATE_BASE' | translate }} : </label>
            <ivz-dropdown
              inputId="PURCHASE_FEE_CALCULATE_BASE"
              [(ivzModel)]="model.purchaseFeeCalculateBase"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="purchaseFeeCalculateBaseOptions"
              required
            ></ivz-dropdown>
          </div>
        </div>
      </p-fieldset>
      <p-fieldset [legend]="{ text: 'LABEL.LEASING' | translate }.text" [toggleable]="true">
        <div class="p-d-flex p-flex-wrap">
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.ASSIGNMENT_AGREEMENT_ID' | translate }} : </label>
            <ivz-input-text
              inputId="ASSIGNMENT_AGREEMENT_TABLE_GUID"
              [(ivzModel)]="model.assignmentAgreementTable_Values"
              [ivzConfig]="DEFAULT_INPUTTEXT"
            ></ivz-input-text>
          </div>
        </div>
      </p-fieldset>
      <p-fieldset [legend]="{ text: 'LABEL.SYSTEM' | translate }.text" [toggleable]="true">
        <div class="p-d-flex p-flex-wrap">
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.CREATED_BY' | translate }} : </label>
            <ivz-input-text inputId="CREATED_BY" [(ivzModel)]="model.createdBy" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.CREATED_DATE_TIME' | translate }} : </label>
            <ivz-calendar inputId="CREATED_DATE_TIME" [(ivzModel)]="model.createdDateTime" [ivzConfig]="DATETIME"></ivz-calendar>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.MODIFIED_BY' | translate }} : </label>
            <ivz-input-text inputId="MODIFIED_BY" [(ivzModel)]="model.modifiedBy" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.MODIFIED_DATE_TIME' | translate }} : </label>
            <ivz-calendar inputId="MODIFIED_DATE_TIME" [(ivzModel)]="model.modifiedDateTime" [ivzConfig]="DATETIME"></ivz-calendar>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label required>{{ 'LABEL.COMPANY_ID' | translate }} : </label>
            <ivz-input-text inputId="COMPANY_ID" [(ivzModel)]="model.companyId" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label required>{{ 'LABEL.BUSINESS_UNIT_ID' | translate }} : </label>
            <ivz-input-text inputId="BUSINESS_UNIT_ID" [(ivzModel)]="model.ownerBusinessUnitId" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label required>{{ 'LABEL.OWNER' | translate }} : </label>
            <ivz-input-text inputId="OWNER" [(ivzModel)]="model.owner" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
          </div>
        </div>
      </p-fieldset>
    </p-panel-content>
    <p-footer class="ivz-panel-footer">
      <div class="p-d-flex p-jc-end">
        <ivz-button
          inputId="SAVE"
          [label]="'LABEL.SAVE' | translate"
          icon="pi pi-save"
          className="ivz-primary-btn p-m-2"
          [ivzConfig]="buttonConfig"
          (formValidate)="onSave($event)"
        ></ivz-button>
        <ivz-button
          inputId="SAVE_AND_CLOSE"
          [label]="'LABEL.SAVE_AND_CLOSE' | translate"
          icon="pi pi-times"
          className="ivz-primary-btn p-m-2"
          [ivzConfig]="buttonConfig"
          (formValidate)="onSaveAndClose($event)"
        >
        </ivz-button>
        <ivz-button
          inputId="CLOSE"
          [label]="'LABEL.CLOSE' | translate"
          icon="pi pi-power-off"
          className="ivz-primary-btn p-m-2"
          [ivzConfig]="buttonConfig"
          (click)="onClose()"
        >
        </ivz-button>
      </div>
    </p-footer>
  </p-panel>
</div>
