<div class="ivz-item-card">
  <p-panel [showHeader]="true" [viewonly]="isView" class="ivz-panel">
    <p-header class="p-d-flex p-jc-between w-100">
      <div class="ivz-div-panel-title">
        <span class="ivz-panel-title p-m-2">{{ 'LABEL.COMPANY_PARAMETER' | translate }}</span>
      </div>
      <div class="ivz-div-panel-btn-group">
        <p-tieredMenu id="MENURELATED" #related [model]="relatedInfoItems" [popup]="true"> </p-tieredMenu>
        <p-button
          id="RELATED_INFO"
          #btnfn
          type="button"
          icon="pi pi-share-alt"
          (click)="related.toggle($event); function.hide(); group.hide()"
          [label]="'LABEL.RELATED_INFO' | translate"
          styleClass="p-button-text"
        >
        </p-button>
        <p-tieredMenu id="MENUFUNCTION" #function [model]="functionItems" [popup]="true"> </p-tieredMenu>
        <p-button
          id="FUNCTION"
          #btnfn
          type="button"
          icon="pi pi-cog"
          (click)="function.toggle($event); related.hide(); group.hide()"
          [label]="'LABEL.FUNCTION' | translate"
          styleClass="p-button-text"
        ></p-button>
        <p-tieredMenu id="MENUGROUP" #group [model]="itemsGroup" [popup]="true"> </p-tieredMenu>
        <p-button
          id="GROUP"
          #btnfn
          type="button"
          icon="pi pi-list"
          (click)="group.toggle($event); function.hide(); related.hide()"
          [label]="'LABEL.GROUP' | translate"
          styleClass="p-button-text"
        ></p-button>
      </div>
    </p-header>
    <p-panel-content class="ivz-div-panel-content">
      <!-- ##################### GENERAL ################################-->
      <p-fieldset [legend]="{ text: 'LABEL.GENERAL' | translate }.text" [toggleable]="true">
        <div class="p-d-flex p-flex-wrap">
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label required>{{ 'LABEL.HOME_CURRENCY_ID' | translate }} : </label>
            <ivz-dropdown
              inputId="HOME_CURRENCY_ID"
              [options]="homeCurrencyOptions"
              [(ivzModel)]="model.homeCurrencyGUID"
              required
              [ivzConfig]="DEFAULT_DROPDOWN"
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.NUMBER_SEQ_VARIABLE' | translate }} : </label>
            <ivz-input-text
              inputId="NUMBER_SEQ_VARIABLE"
              [(ivzModel)]="model.numberSeqVariable"
              maxLength="10"
              [ivzConfig]="DEFAULT_INPUTTEXT"
            ></ivz-input-text>
          </div>
          <!-- ##################### New GENERAL ################################-->
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.DAYS_PER_YEAR' | translate }} : </label>
            <ivz-input-number inputId="DAYS_PER_YEAR" [ivzConfig]="INTEGER_POS" [(ivzModel)]="model.daysPerYear"></ivz-input-number>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.BUYER_REVIEWED_DAY' | translate }} : </label>
            <ivz-input-number inputId="BUYER_REVIEWED_DAY" [ivzConfig]="INTEGER_POS" [(ivzModel)]="model.buyerReviewedDay"></ivz-input-number>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.COMPANY_CALENDAR_GROUP_ID' | translate }} : </label>
            <ivz-dropdown
              inputId="COMPANY_CALENDAR_GROUP_ID"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="companyCalendarGroupOptions"
              [(ivzModel)]="model.companyCalendarGroupGUID"
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.BOT_CALENDAR_GROUP_ID' | translate }} : </label>
            <ivz-dropdown
              inputId="BOT_CALENDAR_GROUP_ID"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="botCalendarGroupOptions"
              [(ivzModel)]="model.botCalendarGroupGUID"
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.SETTLEMENT_METHOD_OF_PAYMENT_ID' | translate }} : </label>
            <ivz-dropdown
              inputId="SETTLEMENT_METHOD_OF_PAYMENT_ID"
              [options]="settlementMethodOfPaymentOptions"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [(ivzModel)]="model.settlementMethodOfPaymentGUID"
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.SUSPENSE_METHOD_OF_PAYMENT_ID' | translate }} : </label>
            <ivz-dropdown
              inputId="SUSPENSE_METHOD_OF_PAYMENT_ID"
              [options]="suspenseMethodOfPaymentOptions"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [(ivzModel)]="model.suspenseMethodOfPaymentGUID"
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.SERVICE_FEE_INVOICE_TYPE_ID' | translate }} : </label>
            <ivz-dropdown
              inputId="SERVICE_FEE_INVOICE_TYPE_ID"
              [options]="serviceFeeInvTypeOptions"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [(ivzModel)]="model.serviceFeeInvTypeGUID"
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.CREDIT_REQUEST_SERVICE_FEE_TYPE_ID' | translate }} : </label>
            <ivz-dropdown
              inputId="CREDIT_REQUEST_SERVICE_FEE_TYPE_ID"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="creditRequestServiceFeeTypeOptions"
              [(ivzModel)]="model.creditReqInvRevenueTypeGUID"
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.CHEQUE_TOLERANCE_AMOUNT' | translate }} : </label>
            <ivz-input-number
              inputId="CHEQUE_TOLERANCE_AMOUNT"
              [ivzConfig]="CURRENCY_13_2"
              [(ivzModel)]="model.chequeToleranceAmount"
            ></ivz-input-number>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.MIN_UPCOUNTRY_CHEQUE_FEE_AMOUNT' | translate }} : </label>
            <ivz-input-number
              inputId="MIN_UPCOUNTRY_CHEQUE_FEE_AMOUNT"
              [ivzConfig]="CURRENCY_13_2_POS"
              [(ivzModel)]="model.minUpcountryChequeFeeAmount"
            ></ivz-input-number>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.UPCOUNTRY_CHEQUE_FEE_PCT' | translate }} : </label>
            <ivz-input-number
              inputId="UPCOUNTRY_CHEQUE_FEE_PCT"
              [ivzConfig]="PERCENT_5_2_POS"
              [(ivzModel)]="model.upcountryChequeFeePct"
            ></ivz-input-number>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.MAX_INTEREST_PCT' | translate }} : </label>
            <ivz-input-number inputId="MAX_INTEREST_PCT" [ivzConfig]="PERCENT_5_2_POS" [(ivzModel)]="model.maxInterestPct"></ivz-input-number>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.MAX_COPY_FINANCIAL_STATEMENT_NUM_OF_YEAR' | translate }} : </label>
            <ivz-input-number
              inputId="MAX_COPY_FINANCIAL_STATEMENT_NUM_OF_YEAR"
              [ivzConfig]="INTEGER_POS"
              [(ivzModel)]="model.maxCopyFinancialStatementNumOfYear"
            ></ivz-input-number>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.MAX_COPY_TAX_REPORT_NUM_OF_MONTH' | translate }} : </label>
            <ivz-input-number
              inputId="MAX_COPY_TAX_REPORT_NUM_OF_MONTH"
              [ivzConfig]="INTEGER_POS"
              [(ivzModel)]="model.maxCopyTaxReportNumOfMonth"
            ></ivz-input-number>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label required>{{ 'LABEL.OPERATION_REPORT_SIGNATURE' | translate }} : </label>
            <ivz-dropdown
              inputId="OPER_REPORT_SIGNATURE_GUID"
              [(ivzModel)]="model.operReportSignatureGUID"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="employeeActiveOption"
              (ivzOnFocus)="onEmployeeTableDropdownFocus($event)"
              required
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.NORMAL_ACCRUED_INT_DAY' | translate }} : </label>
            <ivz-input-number
              inputId="NORMAL_ACCRUED_INT_DAY"
              [ivzConfig]="INTEGER_POS"
              [(ivzModel)]="model.normalAccruedIntDay"
            ></ivz-input-number>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.MAX_ACCRUED_INT_DAY' | translate }} : </label>
            <ivz-input-number
              inputId="MAX_ACCRUED_INT_DAY"
              [ivzConfig]="INTEGER_POS"
              [(ivzModel)]="model.maxAccruedIntDay"
            ></ivz-input-number>
          </div>
        </div>
      </p-fieldset>
      <!-- ##################### END GENERAL ################################-->
      <!-- ##################### FACTORING ################################-->
      <p-fieldset [legend]="{ text: 'LABEL.FACTORING' | translate }.text" [toggleable]="true">
        <div class="p-d-flex p-flex-wrap">
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.FT_INTEREST_INV_TYPE_ID' | translate }} :</label>
            <ivz-dropdown
              inputId="FT_INTEREST_INV_TYPE_ID"
              [options]="ftInterestInvTypeOptions"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [(ivzModel)]="model.ftInterestInvTypeGUID"
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.FT_INTEREST_REFUND_INV_TYPE_ID' | translate }} :</label>
            <ivz-dropdown
              inputId="FT_INTEREST_REFUND_INV_TYPE_ID"
              [options]="ftInterestRefundInvTypeOptions"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [(ivzModel)]="model.ftInterestRefundInvTypeGUID"
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.FT_FEE_INV_TYPE_ID' | translate }} : </label>
            <ivz-dropdown
              inputId="FT_FEE_INV_TYPE_ID"
              [options]="ftFeeInvTypeOptions"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [(ivzModel)]="model.ftFeeInvTypeGUID"
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.FT_INV_TYPE_ID' | translate }} : </label>
            <ivz-dropdown
              inputId="FT_INV_TYPE_ID"
              [options]="ftInvTypeOptions"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [(ivzModel)]="model.ftInvTypeGUID"
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.FT_RESERVE_TO_BE_REFUNDED_INV_TYPE_ID' | translate }} : </label>
            <ivz-dropdown
              inputId="FT_RESERVE_TO_BE_REFUNDED_INV_TYPE_ID"
              [options]="ftReserveToBeRefundedInvTypeOptions"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [(ivzModel)]="model.ftReserveToBeRefundedInvTypeGUID"
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.FT_RETENTION_INV_TYPE_ID' | translate }} : </label>
            <ivz-dropdown
              inputId="FT_RETENTION_INV_TYPE_ID"
              [options]="ftRetentionInvTypeOptions"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [(ivzModel)]="model.ftRetentionInvTypeGUID"
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.FT_UNEARNED_INTEREST_INV_TYPE_ID' | translate }} : </label>
            <ivz-dropdown
              inputId="FT_UNEARNED_INTEREST_INV_TYPE_ID"
              [options]="ftUnearnedInterestInvTypeOptions"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [(ivzModel)]="model.ftUnearnedInterestInvTypeGUID"
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.FT_UNEARNED_INTEREST_INVOICE_TYPE_ID' | translate }} : </label>
            <ivz-dropdown
              inputId="FT_UNEARNED_INTEREST_INVOICE_TYPE_ID"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="ftRollbillUnearnedInterestInvTypeOptions"
              [(ivzModel)]="model.ftRollbillUnearnedInterestInvTypeGUID"
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.FT_BILLING_FEE_INV_REVENUE_TYPE_ID' | translate }} : </label>
            <ivz-dropdown
              inputId="FT_BILLING_FEE_INV_REVENUE_TYPE_ID"
              [options]="ftBillingFeeInvRevenueTypeOptions"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [(ivzModel)]="model.ftBillingFeeInvRevenueTypeGUID"
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.FT_RESERVE_INV_REVENUE_TYPE_ID' | translate }} : </label>
            <ivz-dropdown
              inputId="FT_RESERVE_INV_REVENUE_TYPE_ID"
              [options]="ftReserveInvRevenueTypeOptions"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [(ivzModel)]="model.ftReserveInvRevenueTypeGUID"
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.FT_RECEIPT_FEE_INV_REVENUE_TYPE_ID' | translate }} : </label>
            <ivz-dropdown
              inputId="FT_RECEIPT_FEE_INV_REVENUE_TYPE_ID"
              [options]="ftReceiptFeeInvRevenueTypeOptions"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [(ivzModel)]="model.ftReceiptFeeInvRevenueTypeGUID"
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.FT_MIN_SETTLE_INTEREST_DAY_MAX_PCT' | translate }} : </label>
            <ivz-input-number
              inputId="FT_MIN_SETTLE_INTEREST_DAY_MAX_PCT"
              [ivzConfig]="PERCENT_5_2_POS"
              [(ivzModel)]="model.ftMinSettleInterestDayMaxPct"
            ></ivz-input-number>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.FT_MAX_ROLLBILL_INTEREST_DAY' | translate }} : </label>
            <ivz-input-number
              inputId="FT_MAX_ROLLBILL_INTEREST_DAY"
              [ivzConfig]="INTEGER_POS"
              [(ivzModel)]="model.ftMaxRollbillInterestDay"
            ></ivz-input-number>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.FT_MIN_INTEREST_DAY' | translate }} : </label>
            <ivz-input-number inputId="FT_MIN_INTEREST_DAY" [ivzConfig]="INTEGER_POS" [(ivzModel)]="model.ftMinInterestDay"></ivz-input-number>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.ROLL_BILL_INTEREST_DAY' | translate }} : </label>
            <ivz-input-number
              inputId="ROLL_BILL_INTEREST_DAY"
              [ivzConfig]="INTEGER_POS"
              [(ivzModel)]="model.ftRollbillInterestDay"
            ></ivz-input-number>
          </div>
        </div>
      </p-fieldset>
      <!-- ##################### END FACTORING ################################-->
      <!-- ##################### Project finance ################################-->
      <p-fieldset [legend]="{ text: 'LABEL.PROJECT_FINANCE' | translate }.text" [toggleable]="true">
        <div class="p-d-flex p-flex-wrap">
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label required>{{ 'LABEL.PF_INTEREST_CUT_DAY' | translate }} : </label>
            <ivz-dropdown inputId="PF_INTEREST_CUT_DAY" [ivzConfig]="DEFAULT_DROPDOWN" [options]="pfInterestCutDayOptions"  [(ivzModel)]="model.pfInterestCutDay" required></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.PF_MAX_POSTPONE_COLLECTION_DAY' | translate }} : </label>
            <ivz-input-number
              inputId="PF_MAX_POSTPONE_COLLECTION_DAY"
              [ivzConfig]="INTEGER_POS"
              [(ivzModel)]="model.pfMaxPostponeCollectionDay"
            ></ivz-input-number>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.PF_INTEREST_INVOICE_TYPE_ID' | translate }} : </label>
            <ivz-dropdown
              inputId="PF_INTEREST_INVOICE_TYPE_ID"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="pfInterestInvTypeOptions"
              [(ivzModel)]="model.pfInterestInvTypeGUID"
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.PF_INTEREST_REFUND_INVOICE_TYPE_ID' | translate }} : </label>
            <ivz-dropdown
              inputId="PF_INTEREST_REFUND_INVOICE_TYPE_ID"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="pfInterestRefundInvTypeOptions"
              [(ivzModel)]="model.pfInterestRefundInvTypeGUID"
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.PF_RETENTION_INVOICE_TYPE_ID' | translate }} : </label>
            <ivz-dropdown
              inputId="PF_RETENTION_INVOICE_TYPE_ID"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="pfRetentionInvTypeOptions"
              [(ivzModel)]="model.pfRetentionInvTypeGUID"
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.PF_UNEARNED_INTEREST_INVOICE_TYPE_ID' | translate }} : </label>
            <ivz-dropdown
              inputId="PF_UNEARNED_INTEREST_INVOICE_TYPE_ID"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="pfUnearnedInterestInvTypeOptions"
              [(ivzModel)]="model.pfUnearnedInterestInvTypeGUID"
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.PF_WITHDRAWAL_INVOICE_TYPE_ID' | translate }} : </label>
            <ivz-dropdown
              inputId="PF_WITHDRAWAL_INVOICE_TYPE_ID"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="pfInvTypeOptions"
              [(ivzModel)]="model.pfInvTypeGUID"
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.PF_TERM_EXTENSION_INV_REVENUE_TYPE_ID' | translate }} : </label>
            <ivz-dropdown
              inputId="PF_TERM_EXTENSION_INV_REVENUE_TYPE_ID"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="pfTermExtensionInvRevenueTypeOptions"
              [(ivzModel)]="model.pfTermExtensionInvRevenueTypeGUID"
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.PF_EXTEND_CREDIT_TERM_ID' | translate }} : </label>
            <ivz-dropdown
              inputId="PF_EXTEND_CREDIT_TERM_ID"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="pfExtendCreditTermOptions"
              [(ivzModel)]="model.pfExtendCreditTermGUID"
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.PF_TERM_EXTENSION_DAYS_PER_FEE_AMOUNT' | translate }} : </label>
            <ivz-input-number
              inputId="PF_TERM_EXTENSION_DAYS_PER_FEE_AMOUNT"
              [ivzConfig]="CURRENCY_13_2_POS"
              [(ivzModel)]="model.pfTermExtensionDaysPerFeeAmount"
            ></ivz-input-number>
          </div>
        </div>
      </p-fieldset>
      <!-- ##################### END Project finance ################################-->
      <!-- ##################### Bond ################################-->
      <p-fieldset [legend]="{ text: 'LABEL.BOND' | translate }.text" [toggleable]="true">
        <div class="p-d-flex p-flex-wrap">
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.BOND_RETENTION_INV_TYPE_ID' | translate }} : </label>
            <ivz-dropdown
              inputId="BOND_RETENTION_INV_TYPE_ID"
              [options]="bondRetentionInvTypeOptions"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [(ivzModel)]="model.bondRetentionInvTypeGUID"
            ></ivz-dropdown>
          </div>
        </div>
      </p-fieldset>
      <!-- ##################### END Bond ################################-->
      <!-- ##################### LC/DLC ################################-->
      <p-fieldset [legend]="{ text: 'LABEL.LC/DLC' | translate }.text" [toggleable]="true">
        <div class="p-d-flex p-flex-wrap">
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.LC_RETENTION_INV_TYPE_ID' | translate }} : </label>
            <ivz-dropdown
              inputId="LC_RETENTION_INV_TYPE_ID"
              [options]="lcRetentionInvTypeOptions"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [(ivzModel)]="model.lcRetentionInvTypeGUID"
            ></ivz-dropdown>
          </div>
        </div>
      </p-fieldset>
      <!-- ##################### END LC/DLC ################################-->
      <!-- ##################### CALCULATION_SHEET ################################-->
      <p-fieldset [legend]="{ text: 'LABEL.CALCULATION_SHEET' | translate }.text" [toggleable]="true">
        <div class="p-d-flex p-flex-wrap">
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.CALC_SHEET_INC_ADDITIONAL_COST' | translate }} : </label>
            <ivz-input-switch
              inputId="CALC_SHEET_INC_ADDITIONAL_COST"
              [(ivzModel)]="model.calcSheetIncAdditionalCost"
              [ivzConfig]="DEFAULT_INPUTSWITCH"
            ></ivz-input-switch>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.CALC_SHEET_INC_TAX' | translate }} : </label>
            <ivz-input-switch inputId="CALC_SHEET_INC_TAX" [(ivzModel)]="model.calcSheetIncTax" [ivzConfig]="DEFAULT_INPUTSWITCH"></ivz-input-switch>
          </div>
        </div>
      </p-fieldset>
      <!-- ##################### END CALCULATION_SHEET ################################-->
      <!-- ##################### INVOICE_DETAILS ################################-->
      <p-fieldset [legend]="{ text: 'LABEL.INVOICE_DETAILS' | translate }.text" [toggleable]="true">
        <div class="p-d-flex p-flex-wrap">
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label required>{{ 'LABEL.INVOICE_ISSUING' | translate }} : </label>
            <ivz-dropdown
              inputId="INVOICE_ISSUING"
              [options]="invoiceIssuingOptions"
              [(ivzModel)]="model.invoiceIssuing"
              [ivzConfig]="DEFAULT_DROPDOWN"
              required
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.INVOICE_ISSUING_DAY' | translate }} : </label>
            <ivz-input-number
              inputId="INVOICE_ISSUING_DAY"
              [(ivzModel)]="model.invoiceIssuingDay"
              [ivzConfig]="INTEGER_POS"
              [ivzReadonly]="[ordinal.ViewOnly]"
            ></ivz-input-number>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.INSTALL_INV_TYPE_ID' | translate }} : </label>
            <ivz-dropdown
              inputId="INSTALL_INV_TYPE_ID"
              [options]="installInvTypeOptions"
              [(ivzModel)]="model.installInvTypeGUID"
              [ivzConfig]="DEFAULT_DROPDOWN"
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.INSTALL_ADV_INV_TYPE_ID' | translate }} : </label>
            <ivz-dropdown
              inputId="INSTALL_ADV_INV_TYPE_ID"
              [options]="installAdvInvTypeOptions"
              [(ivzModel)]="model.installAdvInvTypeGUID"
              [ivzConfig]="DEFAULT_DROPDOWN"
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.INIT_INV_ADV_INV_TYPE_ID' | translate }} : </label>
            <ivz-dropdown
              inputId="INIT_INV_ADV_INV_TYPE_ID"
              [options]="initInvAdvInvTypeOptions"
              [(ivzModel)]="model.initInvAdvInvTypeGUID"
              [ivzConfig]="DEFAULT_DROPDOWN"
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.INIT_INV_DEP_INV_TYPE_ID' | translate }} : </label>
            <ivz-dropdown
              inputId="INIT_INV_DEP_INV_TYPE_ID"
              [options]="initInvDepInvTypeOptions"
              [(ivzModel)]="model.initInvDepInvTypeGUID"
              [ivzConfig]="DEFAULT_DROPDOWN"
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.INIT_INV_DOWN_INV_TYPE_ID' | translate }} : </label>
            <ivz-dropdown
              inputId="INIT_INV_DOWN_INV_TYPE_ID"
              [options]="initInvDownInvTypeOptions"
              [(ivzModel)]="model.initInvDownInvTypeGUID"
              [ivzConfig]="DEFAULT_DROPDOWN"
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.DEPOSIT_RETURN_INV_TYPE_ID' | translate }} : </label>
            <ivz-dropdown
              inputId="DEPOSIT_RETURN_INV_TYPE_ID"
              [options]="depositReturnInvTypeOptions"
              [(ivzModel)]="model.depositReturnInvTypeGUID"
              [ivzConfig]="DEFAULT_DROPDOWN"
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.COLLECTION_INV_TYPE_ID' | translate }} : </label>
            <ivz-dropdown
              inputId="COLLECTION_INV_TYPE_ID"
              [options]="collectionInvTypeOptions"
              [(ivzModel)]="model.collectionInvTypeGUID"
              [ivzConfig]="DEFAULT_DROPDOWN"
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.VEHICLE_TAX_INV_TYPE_ID' | translate }} : </label>
            <ivz-dropdown
              inputId="VEHICLE_TAX_INV_TYPE_ID"
              [options]="vehicleTaxInvTypeOptions"
              [(ivzModel)]="model.vehicleTaxInvTypeGUID"
              [ivzConfig]="DEFAULT_DROPDOWN"
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.VEHICLE_TAX_SERVICE_FEE_TAX_CODE' | translate }} : </label>
            <ivz-dropdown
              inputId="VEHICLE_TAX_SERVICE_FEE_TAX_CODE"
              [options]="vehicleTaxServiceFeeTaxOptions"
              [(ivzModel)]="model.vehicleTaxServiceFeeTaxGUID"
              [ivzConfig]="DEFAULT_DROPDOWN"
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.VEHICLE_TAX_SERVICE_FEE' | translate }} : </label>
            <ivz-input-number
              inputId="VEHICLE_TAX_SERVICE_FEE"
              [(ivzModel)]="model.vehicleTaxServiceFee"
              [ivzConfig]="CURRENCY_13_2_POS"
              [ivzReadonly]="[ordinal.ViewOnly]"
            ></ivz-input-number>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.INSURANCE_INV_TYPE_ID' | translate }} : </label>
            <ivz-dropdown
              inputId="INSURANCE_INV_TYPE_ID"
              [options]="insuranceInvTypeOptions"
              [(ivzModel)]="model.insuranceInvTypeGUID"
              [ivzConfig]="DEFAULT_DROPDOWN"
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.INSURANCE_TAX_CODE' | translate }} : </label>
            <ivz-dropdown
              inputId="INSURANCE_TAX_CODE"
              [options]="insuranceTaxOptions"
              [(ivzModel)]="model.insuranceTaxGUID"
              [ivzConfig]="DEFAULT_DROPDOWN"
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.COMPULSORY_INV_TYPE_ID' | translate }} : </label>
            <ivz-dropdown
              inputId="COMPULSORY_INV_TYPE_ID"
              [options]="compulsoryInvTypeOptions"
              [(ivzModel)]="model.compulsoryInvTypeGUID"
              [ivzConfig]="DEFAULT_DROPDOWN"
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.COMPULSORY_TAX_CODE' | translate }} : </label>
            <ivz-dropdown
              inputId="COMPULSORY_TAX_CODE"
              [options]="compulsoryTaxOptions"
              [(ivzModel)]="model.compulsoryTaxGUID"
              [ivzConfig]="DEFAULT_DROPDOWN"
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.MAINTENANCE_TAX_CODE' | translate }} : </label>
            <ivz-dropdown
              inputId="MAINTENANCE_TAX_CODE"
              [options]="maintenanceTaxOptions"
              [(ivzModel)]="model.maintenanceTaxGUID"
              [ivzConfig]="DEFAULT_DROPDOWN"
            ></ivz-dropdown>
          </div>
        </div>
      </p-fieldset>
      <!-- ##################### END INVOICE_DETAILS ################################-->
      <!-- ##################### AUTO_SETTLEMENT ################################-->
      <p-fieldset [legend]="{ text: 'LABEL.AUTO_SETTLEMENT' | translate }.text" [toggleable]="true">
        <div class="p-d-flex p-flex-wrap">
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.SETTLEMENT_GRACE_DAY' | translate }} : </label>
            <ivz-input-number
              inputId="SETTLEMENT_GRACE_DAY"
              [(ivzModel)]="model.settlementGraceDay"
              [ivzConfig]="INTEGER"
              [ivzReadonly]="[ordinal.ViewOnly]"
            ></ivz-input-number>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.SETTLE_BY_PERIOD' | translate }} : </label>
            <ivz-input-switch inputId="SETTLE_BY_PERIOD" [(ivzModel)]="model.settleByPeriod" [ivzConfig]="DEFAULT_INPUTSWITCH"></ivz-input-switch>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.EARLY_TOLERANCE_UNDER_AMOUNT' | translate }} : </label>
            <ivz-input-number
              inputId="EARLY_TOLERANCE_UNDER_AMOUNT"
              [(ivzModel)]="model.earlyToleranceUnderAmount"
              maxLength="20"
              [ivzConfig]="CURRENCY_13_2_POS"
              [ivzReadonly]="[ordinal.ViewOnly]"
            ></ivz-input-number>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.EARLY_TOLERANCE_OVER_AMOUNT' | translate }} : </label>
            <ivz-input-number
              inputId="EARLY_TOLERANCE_OVER_AMOUNT"
              [(ivzModel)]="model.earlyToleranceOverAmount"
              maxLength="20"
              [ivzConfig]="CURRENCY_13_2_POS"
              [ivzReadonly]="[ordinal.ViewOnly]"
            ></ivz-input-number>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.EARLY_PAY_OFF_MEDHTHOD_OF_PAYMENT' | translate }} : </label>
            <ivz-dropdown
              inputId="EARLY_PAY_OFF_MEDHTHOD_OF_PAYMENT"
              [options]="earlyToleranceMethodOfPaymentOptions"
              [(ivzModel)]="model.earlyToleranceMethodOfPaymentGUID"
              [ivzConfig]="DEFAULT_DROPDOWN"
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.EARLY_PAY_OFF_TOLERANCE_INVOICE_TYPE_ID' | translate }} : </label>
            <ivz-dropdown
              inputId="EARLY_PAY_OFF_TOLERANCE_INVOICE_TYPE_ID"
              [options]="earlyPayOffToleranceInvTypeOptions"
              [(ivzModel)]="model.earlyPayOffToleranceInvTypeGUID"
              [ivzConfig]="DEFAULT_DROPDOWN"
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label required>{{ 'LABEL.PAYM_STRUCTURE_REF_NUM' | translate }} : </label>
            <ivz-dropdown
              inputId="PAYM_STRUCTURE_REF_NUM"
              [options]="paymStructureRefNumOptions"
              [(ivzModel)]="model.paymStructureRefNum"
              [ivzConfig]="DEFAULT_DROPDOWN"
              required
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label required>{{ 'LABEL.RECEIPT_GEN_BY' | translate }} : </label>
            <ivz-dropdown
              inputId="RECEIPT_GEN_BY"
              [options]="receiptGenByOptions"
              [(ivzModel)]="model.receiptGenBy"
              [ivzConfig]="DEFAULT_DROPDOWN"
              required
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label required>{{ 'LABEL.PENALTY_CALCULATION_METHOD' | translate }} : </label>
            <ivz-dropdown
              inputId="PENALTY_CALCULATION_METHOD"
              [options]="penaltyCalculationMethodOptions"
              [(ivzModel)]="model.penaltyCalculationMethod"
              [ivzConfig]="DEFAULT_DROPDOWN"
              required
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.WAIVE_METHOD_OF_PAYMENT_ID' | translate }} : </label>
            <ivz-dropdown
              inputId="WAIVE_METHOD_OF_PAYMENT_ID"
              [options]="waiveMethodOfPaymentOptions"
              [(ivzModel)]="model.waiveMethodOfPaymentGUID"
              [ivzConfig]="DEFAULT_DROPDOWN"
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.DISCOUNT_METHOD_OF_PAYMENT_ID' | translate }} : </label>
            <ivz-dropdown
              inputId="DISCOUNT_METHOD_OF_PAYMENT_ID"
              [options]="discountMethodOfPaymentOptions"
              [(ivzModel)]="model.discountMethodOfPaymentGUID"
              [ivzConfig]="DEFAULT_DROPDOWN"
            ></ivz-dropdown>
          </div>
        </div>
      </p-fieldset>
      <!-- ##################### END AUTO_SETTLEMENT ################################-->
      <!-- ##################### PENALTY ################################-->
      <p-fieldset [legend]="{ text: 'LABEL.PENALTY' | translate }.text" [toggleable]="true">
        <div class="p-d-flex p-flex-wrap">
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label required>{{ 'LABEL.PENALTY_BASE' | translate }} : </label>
            <ivz-dropdown
              inputId="PENALTY_BASE"
              [options]="penaltyBaseOptions"
              [(ivzModel)]="model.penaltyBase"
              [ivzConfig]="DEFAULT_DROPDOWN"
              required
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.PENALTY_INV_TYPE_ID' | translate }} : </label>
            <ivz-dropdown
              inputId="PENALTY_INV_TYPE_ID"
              [options]="penaltyInvTypeOptions"
              [(ivzModel)]="model.penaltyInvTypeGUID"
              [ivzConfig]="DEFAULT_DROPDOWN"
            ></ivz-dropdown>
          </div>
        </div>
      </p-fieldset>
      <!-- ##################### END PENALTY ################################-->
      <!-- ##################### COLLECTION ################################-->
      <p-fieldset [legend]="{ text: 'LABEL.COLLECTION' | translate }.text" [toggleable]="true">
        <div class="p-d-flex p-flex-wrap">
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label required>{{ 'LABEL.COLLECTION_FEE_METHOD' | translate }} : </label>
            <ivz-dropdown
              inputId="COLLECTION_FEE_METHOD"
              [options]="collectionFeeMethodOptions"
              [(ivzModel)]="model.collectionFeeMethod"
              [ivzConfig]="DEFAULT_DROPDOWN"
              required
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.COLLECTION_FEE_MIN_BAL_CAL' | translate }} : </label>
            <ivz-input-number
              inputId="COLLECTION_FEE_MIN_BAL_CAL"
              [(ivzModel)]="model.collectionFeeMinBalCal"
              [ivzConfig]="CURRENCY_13_2_POS"
              [ivzReadonly]="[ordinal.ViewOnly]"
            ></ivz-input-number>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.COLLECTION_OVERDUE_DAY' | translate }} : </label>
            <ivz-input-number
              inputId="COLLECTION_OVERDUE_DAY"
              [(ivzModel)]="model.collectionOverdueDay"
              [ivzConfig]="INTEGER"
              [ivzReadonly]="[ordinal.ViewOnly]"
            ></ivz-input-number>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label required>{{ 'LABEL.OVERDUE_TYPE' | translate }} : </label>
            <ivz-dropdown
              inputId="OVERDUE_TYPE"
              [options]="overdueTypeOptions"
              [(ivzModel)]="model.overdueType"
              [ivzConfig]="DEFAULT_DROPDOWN"
              required
            ></ivz-dropdown>
          </div>
        </div>
      </p-fieldset>
      <!-- ##################### END COLLECTION ################################-->
      <p-fieldset [legend]="{ text: 'LABEL.CLASSIFICATION' | translate }.text" [toggleable]="true">
        <div class="p-d-flex p-flex-wrap">
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label required>{{ 'LABEL.NPL_METHOD' | translate }} : </label>
            <ivz-dropdown
              inputId="NPL_METHOD"
              [options]="nPLMethodOptions"
              [(ivzModel)]="model.nplMethod"
              [ivzConfig]="DEFAULT_DROPDOWN"
              required
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.BOT_REALIZATION' | translate }} : </label>
            <ivz-input-switch inputId="BOT_REALIZATION" [(ivzModel)]="model.botRealization" [ivzConfig]="DEFAULT_INPUTSWITCH"></ivz-input-switch>
          </div>
        </div>
      </p-fieldset>
      <p-fieldset [legend]="{ text: 'LABEL.PROVISION' | translate }.text" [toggleable]="true">
        <div class="p-d-flex p-flex-wrap">
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label required>{{ 'LABEL.PROVISION_METHOD' | translate }} : </label>
            <ivz-dropdown
              inputId="PROVISION_METHOD"
              [options]="provisionMethodOptions"
              [(ivzModel)]="model.provisionMethod"
              [ivzConfig]="DEFAULT_DROPDOWN"
              required
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label required>{{ 'LABEL.PROVISION_RATE_BY' | translate }} : </label>
            <ivz-dropdown
              inputId="PROVISION_RATE_BY"
              [options]="provisionRateByOptions"
              [(ivzModel)]="model.provisionRateBy"
              [ivzConfig]="DEFAULT_DROPDOWN"
              required
            ></ivz-dropdown>
          </div>
        </div>
      </p-fieldset>
      <p-fieldset [legend]="{ text: 'LABEL.DOCUMENT_CHECK_LIST' | translate }.text" [toggleable]="true">
        <div class="p-d-flex p-flex-wrap">
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.LEASE_TYPE' | translate }} : </label>
            <ivz-input-switch inputId="LEASE_TYPE" [(ivzModel)]="model.leaseType" [ivzConfig]="DEFAULT_INPUTSWITCH"></ivz-input-switch>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.LEASE_SUB_TYPE' | translate }} : </label>
            <ivz-input-switch inputId="LEASE_SUB_TYPE" [(ivzModel)]="model.leaseSubType" [ivzConfig]="DEFAULT_INPUTSWITCH"></ivz-input-switch>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.AGREEMENT_TYPE' | translate }} : </label>
            <ivz-input-switch inputId="AGREEMENT_TYPE" [(ivzModel)]="model.agreementType" [ivzConfig]="DEFAULT_INPUTSWITCH"></ivz-input-switch>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.CUSTOMER_TYPE' | translate }} : </label>
            <ivz-input-switch inputId="CUSTOMER_TYPE" [(ivzModel)]="model.recordType" [ivzConfig]="DEFAULT_INPUTSWITCH"></ivz-input-switch>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.PROD_GROUP' | translate }} : </label>
            <ivz-input-switch inputId="PROD_GROUP" [(ivzModel)]="model.productGroup" [ivzConfig]="DEFAULT_INPUTSWITCH"></ivz-input-switch>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.PRODUCT' | translate }} : </label>
            <ivz-input-switch inputId="PRODUCT" [(ivzModel)]="model.product" [ivzConfig]="DEFAULT_INPUTSWITCH"></ivz-input-switch>
          </div>
        </div>
      </p-fieldset>
      <p-fieldset [legend]="{ text: 'LABEL.ACCOUNTING_STAGING' | translate }.text" [toggleable]="true">
        <div class="p-d-flex p-flex-wrap">
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.REALIZED_GAIN_EXCH_RATE_LEDGER_ACC' | translate }} : </label>
            <ivz-input-text
              inputId="REALIZED_GAIN_EXCH_RATE_LEDGER_ACC"
              [(ivzModel)]="model.realizedGainExchRateLedgerAcc"
              [ivzConfig]="DEFAULT_INPUTTEXT"
            ></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.REALIZED_LOSS_EXCH_RATE_LEDGER_ACC' | translate }} : </label>
            <ivz-input-text inputId="REALIZED_LOSS_EXCH_RATE_LEDGER_ACC" [(ivzModel)]="model.realizedLossExchRateLedgerAcc"></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.PENNY_DIFFERENCE_LEDGER_ACC' | translate }} : </label>
            <ivz-input-text
              inputId="PENNY_DIFFERENCE_LEDGER_ACC"
              [(ivzModel)]="model.pennyDifferenceLedgerAcc"
              [ivzConfig]="DEFAULT_INPUTTEXT"
            ></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.MAXIMUM_PENNY_DIFFERENCE' | translate }} : </label>
            <ivz-input-number
              inputId="MAXIMUM_PENNY_DIFFERENCE"
              [(ivzModel)]="model.maximumPennyDifference"
              [ivzConfig]="CURRENCY_13_2_POS"
              [ivzReadonly]="[ordinal.ViewOnly]"
            ></ivz-input-number>
          </div>
        </div>
      </p-fieldset>

      <p-fieldset [legend]="{ text: 'LABEL.SYSTEM' | translate }.text" [toggleable]="true">
        <div class="p-d-flex p-flex-wrap">
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.CREATED_BY' | translate }} : </label>
            <ivz-input-text inputId="CREATED_BY" [(ivzModel)]="model.createdBy" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.CREATED_DATE_TIME' | translate }} : </label>
            <ivz-calendar inputId="CREATED_DATE_TIME" [(ivzModel)]="model.createdDateTime" [ivzConfig]="DATETIME"></ivz-calendar>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.MODIFIED_BY' | translate }} : </label>
            <ivz-input-text inputId="MODIFIED_BY" [(ivzModel)]="model.modifiedBy" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.MODIFIED_DATE_TIME' | translate }} : </label>
            <ivz-calendar inputId="MODIFIED_DATE_TIME" [(ivzModel)]="model.modifiedDateTime" [ivzConfig]="DATETIME"></ivz-calendar>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label required>{{ 'LABEL.COMPANY_ID' | translate }} : </label>
            <ivz-input-text inputId="COMPANY_ID" [(ivzModel)]="model.companyId" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label required>{{ 'LABEL.BUSINESS_UNIT_ID' | translate }} : </label>
            <ivz-input-text inputId="BUSINESS_UNIT_ID" [(ivzModel)]="model.ownerBusinessUnitId" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label required>{{ 'LABEL.OWNER' | translate }} : </label>
            <ivz-input-text inputId="OWNER" [(ivzModel)]="model.owner" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
          </div>
        </div>
      </p-fieldset>
    </p-panel-content>
    <p-footer class="ivz-panel-footer">
      <div class="p-d-flex p-jc-end">
        <ivz-button
          inputId="SAVE"
          [label]="'LABEL.SAVE' | translate"
          icon="pi pi-save"
          className="ivz-primary-btn p-m-2"
          [ivzConfig]="buttonConfig"
          (formValidate)="onSave($event)"
        ></ivz-button>
        <ivz-button
          inputId="SAVE_AND_CLOSE"
          [label]="'LABEL.SAVE_AND_CLOSE' | translate"
          icon="pi pi-times"
          className="ivz-primary-btn p-m-2"
          [ivzConfig]="buttonConfig"
          (formValidate)="onSaveAndClose($event)"
        >
        </ivz-button>
        <ivz-button
          [label]="'LABEL.CLOSE' | translate"
          icon="pi pi-power-off"
          className="ivz-primary-btn p-m-2"
          [ivzConfig]="buttonConfig"
          (click)="onClose()"
        >
        </ivz-button>
      </div>
    </p-footer>
  </p-panel>
</div>
