:host ::ng-deep .ui-steps .ui-steps-item {
    width: 49% !important;
  }
  
 
  
  .form-error-msg-box {
    color: #d8000c !important;
    background-color: #ffd2d2 !important;
    padding: 10px !important;
    margin: 10px 0 !important;
  }
  .form-error-msg-box:before {
    display: inline-block !important;
    text-decoration: inherit !important;
    width: 1em !important;
    margin-right: 0.2em !important;
    text-align: center !important;
    font-variant: normal !important;
    text-transform: none !important;
    line-height: 1em !important;
    margin-left: 0.2em !important;
  }
  .leaf-row {
    background-color: #ffffff !important;
  }
  