<div class="ivz-item-card">
  <p-panel [showHeader]="true" [viewonly]="isView" class="ivz-panel">
    <p-header class="p-d-flex p-jc-between w-100">
      <div class="ivz-div-panel-title">
        <span class="ivz-panel-title p-m-2">{{ 'LABEL.SYS_ROLE_TABLE' | translate }}</span>
      </div>
      <div class="ivz-div-panel-btn-group">
        <p-tieredMenu id="MENURELATED" #related [model]="relatedInfoItems" [popup]="true"> </p-tieredMenu>
        <p-button
          id="RELATED_INFO"
          #btnfn
          type="button"
          icon="pi pi-share-alt"
          (click)="related.toggle($event); function.hide(); group.hide()"
          [label]="'LABEL.RELATED_INFO' | translate"
          styleClass="p-button-text"
        >
        </p-button>
        <p-tieredMenu id="MENUFUNCTION" #function [model]="functionItems" [popup]="true"> </p-tieredMenu>
        <p-button
          id="FUNCTION"
          #btnfn
          type="button"
          icon="pi pi-cog"
          (click)="function.toggle($event); related.hide(); group.hide()"
          [label]="'LABEL.FUNCTION' | translate"
          styleClass="p-button-text"
        ></p-button>
        <p-tieredMenu id="MENUGROUP" #group [model]="itemsGroup" [popup]="true"> </p-tieredMenu>
        <p-button
          id="GROUP"
          #btnfn
          type="button"
          icon="pi pi-list"
          (click)="group.toggle($event); function.hide(); related.hide()"
          [label]="'LABEL.GROUP' | translate"
          styleClass="p-button-text"
        ></p-button>
      </div>
    </p-header>
    <p-panel-content class="ivz-div-panel-content">
      <p-steps
        #stepper
        id="ROLE_STEPPER"
        [model]="stepItems"
        (activeIndexChange)="onStepsChange($event)"
        [(activeIndex)]="activeIndex"
        [readonly]="false"
        (click)="onStepperClick($event)"
      ></p-steps>

      <div class="p-d-flex p-flex-wrap" *ngIf="currentIndex === 0">
        <sys-role-table-form
          id="ROLEFORM"
          class="w-100"
          #roleForm
          [(vwModel)]="model"
          [(id)]="id"
          [(parentAccessRight)]="accessRight"
          (formModelChange)="onRoleFormChange($event)"
          [validateStepOneFlag]="validateStepOneFlag"
          [isView]="isView"
        >
        </sys-role-table-form>
      </div>

      <div class="p-d-flex p-pt-4 p-flex-wrap" *ngIf="currentIndex === 1">
        <div class="w-100 grid-menu-bar">
          <p-toolbar class="w-100">
            <div class="p-d-flex w-50 ui-toolbar-group-left">
              <div class="p-d-flex p-flex-column p-flex-md-row w-100">
                <div class="p-d-flex p-ai-center p-mr-2">
                  <ivz-multi-state-button
                    inputId="ACCESS_LEVEL_NONE"
                    [disabled]="true"
                    maxStateSize="1"
                    [stateStyles]="[accessLevelBtnStyles[0]]"
                  ></ivz-multi-state-button>
                  <label style="margin: 0px">= {{ 'LABEL.ACCESS_LEVEL_NONE' | translate }}</label>
                </div>
                <div class="p-d-flex p-ai-center p-py-1 p-mr-2">
                  <ivz-multi-state-button
                    inputId="ACCESS_LEVEL_USER"
                    [disabled]="true"
                    maxStateSize="1"
                    [stateStyles]="[accessLevelBtnStyles[1]]"
                  ></ivz-multi-state-button>
                  <label style="margin: 0px">= {{ 'LABEL.ACCESS_LEVEL_USER' | translate }}</label>
                </div>
                <div class="p-d-flex p-ai-center p-mr-2">
                  <ivz-multi-state-button
                    inputId="ACCESS_LEVEL_BUSINESS_UNIT"
                    [disabled]="true"
                    maxStateSize="1"
                    [stateStyles]="[accessLevelBtnStyles[2]]"
                  ></ivz-multi-state-button>
                  <label style="margin: 0px">= {{ 'LABEL.ACCESS_LEVEL_BUSINESS_UNIT' | translate }}</label>
                </div>
                <!-- </div>
              <div class="p-d-flex p-flex-column w-100"> -->
                <div class="p-d-flex p-ai-center p-mr-2">
                  <ivz-multi-state-button
                    inputId="ACCESS_LEVEL_PARENT_CHILD_BUSINESS_UNIT"
                    [disabled]="true"
                    maxStateSize="1"
                    [stateStyles]="[accessLevelBtnStyles[3]]"
                  ></ivz-multi-state-button>
                  <label style="margin: 0px">= {{ 'LABEL.ACCESS_LEVEL_PARENT_CHILD_BUSINESS_UNIT' | translate }}</label>
                </div>
                <div class="p-d-flex p-ai-center p-py-1">
                  <ivz-multi-state-button
                    inputId="ACCESS_LEVEL_COMPANY"
                    [disabled]="true"
                    maxStateSize="1"
                    [stateStyles]="[accessLevelBtnStyles[4]]"
                  ></ivz-multi-state-button>
                  <label style="margin: 0px">= {{ 'LABEL.ACCESS_LEVEL_COMPANY' | translate }}</label>
                </div>
              </div>
            </div>
            <div class="p-d-flex p-jc-end w-25 ui-toolbar-group-right">
              <div class="p-d-flex p-flex-column p-flex-md-row p-ai-center">
                <label>{{ 'LABEL.CASCADE' | translate }} : </label>
                <!-- <p-inputSwitch id="IN_ACTIVE" [readonly]="getReadonly([ordinal.Second], 'IN_ACTIVE')" [(ngModel)]="model.inActive"> </p-inputSwitch> -->
                <ivz-input-switch class="p-d-flex p-ml-2" inputId="CASCADE" [(ivzModel)]="cascadeInput"></ivz-input-switch>
              </div>
              <div class="p-d-flex p-flex-column p-flex-md-row p-ai-center p-pl-5">
                <label>{{ 'LABEL.FILTER' | translate }} : </label>

                <ivz-dropdown
                  class="p-d-flex p-ml-2"
                  inputId="FILTER"
                  [options]="filterGroup"
                  (ivzModelChange)="onGroupFilterChange($event)"
                  [(ivzModel)]="selectedFilterGroup"
                  [ivzConfig]="DEFAULT_DROPDOWN"
                ></ivz-dropdown>
              </div>
            </div>
          </p-toolbar>
        </div>
        <p-treeTable [(value)]="displayTree" [scrollable]="true" styleClass="p-datatable-gridlines">
          <ng-template pTemplate="header" let-columns>
            <tr>
              <th rowspan="2" style="text-align: center; padding: 0.1rem 0.1rem">{{ 'LABEL.FEATURE_ID' | translate }}</th>
              <th colspan="5" style="width: 350px; text-align: center; padding: 0.1rem 0.1rem">{{ 'LABEL.ACCESS_LEVEL' | translate }}</th>
            </tr>
            <tr>
              <th style="text-align: center; padding: 0.1rem 0.1rem">{{ 'LABEL.ACTION' | translate }}</th>
              <th style="text-align: center; padding: 0.1rem 0.1rem">{{ 'LABEL.READ' | translate }}</th>
              <th style="text-align: center; padding: 0.1rem 0.1rem">{{ 'LABEL.UPDATE' | translate }}</th>
              <th style="text-align: center; padding: 0.1rem 0.1rem">{{ 'LABEL.CREATE' | translate }}</th>
              <th style="text-align: center; padding: 0.1rem 0.1rem">{{ 'LABEL.DELETE' | translate }}</th>
            </tr>
          </ng-template>

          <ng-template pTemplate="body" let-rowNode let-rowData="rowData">
            <tr [ngClass]="{ 'leaf-row': rowData.hasSysFeatureTable }">
              <td style="padding: 0px">
                <p-treeTableToggler [rowNode]="rowNode"></p-treeTableToggler>
                {{ rowData.nodeLabel }}
              </td>
              <td style="text-align: center; width: 70px; padding: 0px">
                <ivz-multi-state-button
                  [inputId]="rowData.nodeId + '_ACTION'"
                  [disabled]="
                    isView ||
                    readonlyTree ||
                    (rowData.featureType !== SysFeatureType.function &&
                      rowData.featureType !== SysFeatureType.report &&
                      rowData.featureType !== SysFeatureType.workflow &&
                      rowData.hasSysFeatureTable) ||
                    (!cascadeInput && !rowData.hasSysFeatureTable)
                  "
                  maxStateSize="5"
                  [stateStyles]="accessLevelBtnStyles"
                  [(ivzModel)]="rowData.action"
                  (ivzModelChange)="onAccessRightChange($event, rowData, 'action')"
                ></ivz-multi-state-button>
              </td>
              <td style="text-align: center; width: 70px; padding: 0px">
                <ivz-multi-state-button
                  [inputId]="rowData.nodeId + '_READ'"
                  [disabled]="
                    isView ||
                    readonlyTree ||
                    rowData.featureType === SysFeatureType.function ||
                    rowData.featureType === SysFeatureType.report ||
                    (rowData.featureType === SysFeatureType.workflow && rowData.hasSysFeatureTable) ||
                    (!cascadeInput && !rowData.hasSysFeatureTable)
                  "
                  maxStateSize="5"
                  [stateStyles]="accessLevelBtnStyles"
                  [(ivzModel)]="rowData.read"
                  (ivzModelChange)="onAccessRightChange($event, rowData, 'read')"
                ></ivz-multi-state-button>
              </td>
              <td style="text-align: center; width: 70px; padding: 0px">
                <ivz-multi-state-button
                  [inputId]="rowData.nodeId + '_UPDATE'"
                  [disabled]="
                    isView ||
                    readonlyTree ||
                    rowData.featureType === SysFeatureType.function ||
                    rowData.featureType === SysFeatureType.report ||
                    rowData.featureType === SysFeatureType.workflowActionHistory ||
                    rowData.featureType === SysFeatureType.workflow ||
                    (!cascadeInput && !rowData.hasSysFeatureTable)
                  "
                  maxStateSize="5"
                  [stateStyles]="accessLevelBtnStyles"
                  [(ivzModel)]="rowData.update"
                  (ivzModelChange)="onAccessRightChange($event, rowData, 'update')"
                ></ivz-multi-state-button>
              </td>
              <td style="text-align: center; width: 70px; padding: 0px">
                <ivz-multi-state-button
                  [inputId]="rowData.nodeId + '_CREATE'"
                  [disabled]="
                    isView ||
                    readonlyTree ||
                    rowData.featureType === SysFeatureType.function ||
                    rowData.featureType === SysFeatureType.report ||
                    rowData.featureType === SysFeatureType.workflowActionHistory ||
                    rowData.featureType === SysFeatureType.workflow ||
                    (!cascadeInput && !rowData.hasSysFeatureTable)
                  "
                  maxStateSize="5"
                  [stateStyles]="accessLevelBtnStyles"
                  [(ivzModel)]="rowData.create"
                  (ivzModelChange)="onAccessRightChange($event, rowData, 'create')"
                ></ivz-multi-state-button>
              </td>
              <td style="text-align: center; width: 70px; padding: 0px">
                <ivz-multi-state-button
                  [inputId]="rowData.nodeId + '_DELETE'"
                  [disabled]="
                    isView ||
                    readonlyTree ||
                    rowData.featureType === SysFeatureType.function ||
                    rowData.featureType === SysFeatureType.report ||
                    rowData.featureType === SysFeatureType.workflowActionHistory ||
                    rowData.featureType === SysFeatureType.workflow ||
                    (!cascadeInput && !rowData.hasSysFeatureTable)
                  "
                  maxStateSize="5"
                  [stateStyles]="accessLevelBtnStyles"
                  [(ivzModel)]="rowData.delete"
                  (ivzModelChange)="onAccessRightChange($event, rowData, 'delete')"
                ></ivz-multi-state-button>
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage" let-columns>
            <tr>
              <td [attr.colspan]="6">
                {{ 'LABEL.NO_RECORD_FOUND' | translate }}
              </td>
            </tr>
          </ng-template>
        </p-treeTable>
      </div>
    </p-panel-content>

    <p-footer *ngIf="currentIndex === 0" class="ivz-panel-footer">
      <div class="p-d-flex p-jc-end">
        <ivz-button
          inputId="NEXT_STEP"
          [label]="'LABEL.NEXT_STEP' | translate"
          icon="pi pi-arrow-right"
          iconPos="right"
          className="ivz-primary-btn p-m-2"
          (click)="next()"
        ></ivz-button>
        <ivz-button
          [label]="'LABEL.CLOSE' | translate"
          icon="pi pi-power-off"
          className="ivz-primary-btn p-m-2"
          [ivzConfig]="buttonConfig"
          (click)="onClose()"
        >
        </ivz-button>
      </div>
    </p-footer>
    <p-footer *ngIf="currentIndex === 1" class="ivz-panel-footer">
      <div class="p-d-flex p-jc-end">
        <ivz-button
          inputId="PREVIOUS_STEP"
          [label]="'LABEL.PREVIOUS_STEP' | translate"
          icon="pi pi-arrow-left"
          iconPos="left"
          className="ivz-primary-btn p-m-2"
          (click)="prev()"
        ></ivz-button>
        <ivz-button
          inputId="SAVE"
          [label]="'LABEL.SAVE' | translate"
          icon="pi pi-save"
          className="ivz-primary-btn p-m-2"
          [ivzConfig]="buttonConfig"
          (formValidate)="onSave($event)"
        ></ivz-button>
        <ivz-button
          inputId="SAVE_AND_CLOSE"
          [label]="'LABEL.SAVE_AND_CLOSE' | translate"
          icon="pi pi-times"
          className="ivz-primary-btn p-m-2"
          [ivzConfig]="buttonConfig"
          (formValidate)="onSaveAndClose($event)"
        >
        </ivz-button>
        <ivz-button
          [label]="'LABEL.CLOSE' | translate"
          icon="pi pi-power-off"
          className="ivz-primary-btn p-m-2"
          [ivzConfig]="buttonConfig"
          (click)="onClose()"
        >
        </ivz-button>
      </div>
    </p-footer>
  </p-panel>
</div>
