<p-dropdown
  [inputId]="bindingInputId"
  [(options)]="bindingOptions"
  [(ngModel)]="bindingModel"
  [placeholder]="bindingPlaceholder"
  [itemSize]="bindingItemSize"
  [filter]="bindingFilter"
  [autoDisplayFirst]="bindingAutoDisplayFirst"
  [showClear]="bindingShowClear"
  [readonly]="getReadonly(bindingInputId)"
  filterBy="label"
  (onChange)="this.ivzModelChange.next(ivzModel)"
  (onFocus)="onFocus()"
  appendTo="body"
>
  <ng-template let-item pTemplate="item">
    <div id="{{ item.value }}">{{ item.label }}</div>
  </ng-template>
</p-dropdown>

<!-- <p-dropdown
  [options]="bindingOptions"
  [(ngModel)]="bindingModel"
  optionLabel="label"
  [filter]="true"
  filterBy="label"
  [showClear]="true"
  placeholder="Select a Country"
>
  <ng-template pTemplate="selectedItem">
    <div class="country-item country-item-value" *ngIf="bindingModel">
      <div>{{ bindingModel.label }}</div>
    </div>
  </ng-template>
  <ng-template let-country pTemplate="item">
    <div class="country-item">
      <div>{{ country.label }}</div>
    </div>
  </ng-template>
</p-dropdown> -->
<!-- (onChange)="ivzModelChange.emit($event)" -->
