<div class="ivz-item-card">
  <p-panel [showHeader]="true" [viewonly]="isView" class="ivz-panel">
    <p-header class="p-d-flex p-jc-between w-100">
      <div class="ivz-div-panel-title">
        <span class="ivz-panel-title p-m-2">{{ 'LABEL.PRODUCT_SETTLEMENT_TRANSACTIONS' | translate }}</span>
      </div>
      <div class="ivz-div-panel-btn-group">
        <p-tieredMenu id="MENURELATED" #related [model]="relatedInfoItems" [popup]="true"> </p-tieredMenu>
        <p-button
          id="RELATED_INFO"
          #btnfn
          type="button"
          icon="pi pi-share-alt"
          (click)="related.toggle($event); function.hide(); group.hide()"
          [label]="'LABEL.RELATED_INFO' | translate"
          styleClass="p-button-text"
        >
        </p-button>
        <p-tieredMenu id="MENUFUNCTION" #function [model]="functionItems" [popup]="true"> </p-tieredMenu>
        <p-button
          id="FUNCTION"
          #btnfn
          type="button"
          icon="pi pi-cog"
          (click)="function.toggle($event); related.hide(); group.hide()"
          [label]="'LABEL.FUNCTION' | translate"
          styleClass="p-button-text"
        ></p-button>
        <p-tieredMenu id="MENUGROUP" #group [model]="itemsGroup" [popup]="true"> </p-tieredMenu>
        <p-button
          id="GROUP"
          #btnfn
          type="button"
          icon="pi pi-list"
          (click)="group.toggle($event); function.hide(); related.hide()"
          [label]="'LABEL.GROUP' | translate"
          styleClass="p-button-text"
        ></p-button>
      </div>
    </p-header>
    <p-panel-content class="ivz-div-panel-content">
      <p-fieldset [legend]="{ text: 'LABEL.GENERAL' | translate }.text" [toggleable]="true">
        <div class="p-d-flex p-flex-wrap">
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label required>{{ 'LABEL.INVOICE_ID' | translate }} : </label>
            <ivz-input-text
              inputId="INVOICE_SETTLEMENT_DETAIL_GUID"
              [(ivzModel)]="model.invoiceSettlementDetail_Values"
              maxlength="1000"
              [ivzConfig]="DEFAULT_INPUTTEXT"
              required
            ></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label required>{{ 'LABEL.PRODUCT_TYPE' | translate }} : </label>
            <ivz-dropdown
              inputId="PRODUCT_TYPE"
              [(ivzModel)]="model.productType"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="productTypeOptions"
              required
            ></ivz-dropdown>
          </div>
        </div>
      </p-fieldset>
      <p-fieldset [legend]="{ text: 'LABEL.SETTLEMENT_INFORMATION' | translate }.text" [toggleable]="true">
        <div class="p-d-flex p-flex-wrap">
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label required>{{ 'LABEL.INTEREST_DATE' | translate }} : </label>
            <ivz-calendar inputId="INTEREST_DATE" [(ivzModel)]="model.interestDate" [ivzConfig]="DATE" required></ivz-calendar>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label required>{{ 'LABEL.SETTLED_DATE' | translate }} : </label>
            <ivz-calendar inputId="SETTLED_DATE" [(ivzModel)]="model.settledDate" [ivzConfig]="DATE" required></ivz-calendar>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.INTEREST_DAY' | translate }} : </label>
            <ivz-input-number inputId="INTEREST_DAY" [(ivzModel)]="model.interestDay" [ivzConfig]="INTEGER"></ivz-input-number>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.SETTLED_INVOICE_AMOUNT' | translate }} : </label>
            <ivz-input-number inputId="SETTLED_INVOICE_AMOUNT" [(ivzModel)]="model.settledInvoiceAmount" [ivzConfig]="CURRENCY_13_2">
            </ivz-input-number>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.ORIGINAL_CALCULATED_INTEREST_AMOUNT' | translate }} : </label>
            <ivz-input-number inputId="ORIGINAL_INTEREST_CALC_AMOUNT" [(ivzModel)]="model.originalInterestCalcAmount" [ivzConfig]="CURRENCY_13_2">
            </ivz-input-number>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.CALCULATED_INTEREST_AMOUNT' | translate }} : </label>
            <ivz-input-number inputId="INTEREST_CALC_AMOUNT" [(ivzModel)]="model.interestCalcAmount" [ivzConfig]="CURRENCY_13_2"> </ivz-input-number>
          </div>
        </div>
      </p-fieldset>
      <p-fieldset [legend]="{ text: 'LABEL.FACTORING' | translate }.text" [toggleable]="true" *ngIf="custom.isFactoring">
        <div class="p-d-flex p-flex-wrap">
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.SETTLED_PURCHASE_AMOUNT' | translate }} : </label>
            <ivz-input-number inputId="SETTLED_PURCHASE_AMOUNT" [(ivzModel)]="model.settledPurchaseAmount" [ivzConfig]="CURRENCY_13_2">
            </ivz-input-number>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.SETTLED_RESERVE_AMOUNT' | translate }} : </label>
            <ivz-input-number inputId="SETTLED_RESERVE_AMOUNT" [(ivzModel)]="model.settledReserveAmount" [ivzConfig]="CURRENCY_13_2">
            </ivz-input-number>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.RESERVE_TO_BE_REFUND' | translate }} : </label>
            <ivz-input-number inputId="RESERVE_TO_BE_REFUND" [(ivzModel)]="model.reserveToBeRefund" [ivzConfig]="CURRENCY_13_2"> </ivz-input-number>
          </div>
        </div>
      </p-fieldset>
      <p-fieldset [legend]="{ text: 'LABEL.PROJECT_FINANCE' | translate }.text" [toggleable]="true" *ngIf="custom.isProjectFinance">
        <div class="p-d-flex p-flex-wrap">
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.LAST_RECEIVED_DATE' | translate }} : </label>
            <ivz-calendar inputId="LAST_RECEIVED_DATE" [(ivzModel)]="model.lastReceivedDate" [ivzConfig]="DATE"></ivz-calendar>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.PDC_INTEREST_OUTSTANDING' | translate }} : </label>
            <ivz-input-number inputId="PDC_INTEREST_OUTSTANDING" [(ivzModel)]="model.pdcInterestOutstanding" [ivzConfig]="CURRENCY_13_2">
            </ivz-input-number>
          </div>
        </div>
      </p-fieldset>
      <p-fieldset [legend]="{ text: 'LABEL.POSTED_INFORMATION' | translate }.text" [toggleable]="true">
        <div class="p-d-flex p-flex-wrap">
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.POSTED_INTEREST_AMOUNT' | translate }} : </label>
            <ivz-input-number inputId="POSTED_INTEREST_AMOUNT" [(ivzModel)]="model.postedInterestAmount" [ivzConfig]="CURRENCY_13_2">
            </ivz-input-number>
          </div>
        </div>
      </p-fieldset>
      <p-fieldset [legend]="{ text: 'LABEL.REFERENCE' | translate }.text" [toggleable]="true">
        <div class="p-d-flex p-flex-wrap">
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label required>{{ 'LABEL.REFERENCE_TYPE' | translate }} : </label>
            <ivz-dropdown
              inputId="REF_TYPE"
              [(ivzModel)]="model.refType"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="refTypeOptions"
              required
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label required>{{ 'LABEL.REFERENCE_ID' | translate }} : </label>
            <ivz-input-text inputId="REF_ID" [(ivzModel)]="model.refId" [ivzConfig]="ID_INPUTTEXT" required></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.DOCUMENT_ID' | translate }} : </label>
            <ivz-input-text inputId="DOCUMENT_ID" [(ivzModel)]="model.documentId" [ivzConfig]="ID_INPUTTEXT"></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.ORIGINAL_REFERENCE_ID' | translate }} : </label>
            <ivz-input-text inputId="ORIGINAL_REF_ID" [(ivzModel)]="model.originalRefId" [ivzConfig]="ID_INPUTTEXT"></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.ORIGINAL_DOCUMENT_ID' | translate }} : </label>
            <ivz-input-text inputId="ORIGINAL_DOCUMENT_ID" [(ivzModel)]="model.originalDocumentId" [ivzConfig]="ID_INPUTTEXT"></ivz-input-text>
          </div>
        </div>
      </p-fieldset>
      <p-fieldset [legend]="{ text: 'LABEL.SYSTEM' | translate }.text" [toggleable]="true">
        <div class="p-d-flex p-flex-wrap">
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.CREATED_BY' | translate }} : </label>
            <ivz-input-text inputId="CREATED_BY" [(ivzModel)]="model.createdBy" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.CREATED_DATE_TIME' | translate }} : </label>
            <ivz-calendar inputId="CREATED_DATE_TIME" [(ivzModel)]="model.createdDateTime" [ivzConfig]="DATETIME"></ivz-calendar>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.MODIFIED_BY' | translate }} : </label>
            <ivz-input-text inputId="MODIFIED_BY" [(ivzModel)]="model.modifiedBy" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.MODIFIED_DATE_TIME' | translate }} : </label>
            <ivz-calendar inputId="MODIFIED_DATE_TIME" [(ivzModel)]="model.modifiedDateTime" [ivzConfig]="DATETIME"></ivz-calendar>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label required>{{ 'LABEL.COMPANY_ID' | translate }} : </label>
            <ivz-input-text inputId="COMPANY_ID" [(ivzModel)]="model.companyId" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label required>{{ 'LABEL.BUSINESS_UNIT_ID' | translate }} : </label>
            <ivz-input-text inputId="BUSINESS_UNIT_ID" [(ivzModel)]="model.ownerBusinessUnitId" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label required>{{ 'LABEL.OWNER' | translate }} : </label>
            <ivz-input-text inputId="OWNER" [(ivzModel)]="model.owner" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
          </div>
        </div>
      </p-fieldset>
    </p-panel-content>
    <p-footer class="ivz-panel-footer">
      <div class="p-d-flex p-jc-end">
        <ivz-button
          inputId="SAVE"
          [label]="'LABEL.SAVE' | translate"
          icon="pi pi-save"
          className="ivz-primary-btn p-m-2"
          [ivzConfig]="buttonConfig"
          (formValidate)="onSave($event)"
        ></ivz-button>
        <ivz-button
          inputId="SAVE_AND_CLOSE"
          [label]="'LABEL.SAVE_AND_CLOSE' | translate"
          icon="pi pi-times"
          className="ivz-primary-btn p-m-2"
          [ivzConfig]="buttonConfig"
          (formValidate)="onSaveAndClose($event)"
        >
        </ivz-button>
        <ivz-button
          inputId="CLOSE"
          [label]="'LABEL.CLOSE' | translate"
          icon="pi pi-power-off"
          className="ivz-primary-btn p-m-2"
          [ivzConfig]="buttonConfig"
          (click)="onClose()"
        >
        </ivz-button>
      </div>
    </p-footer>
  </p-panel>
</div>
