<div class="layout-profile" [ngClass]="{ 'layout-profile-active': active }">
  <a href="#" (click)="onClick($event)" class="layout-profile-button">
    <img src="assets/layout/images/avatar.png" alt="babylon-layout" />
    <div class="layout-profile-userinfo">
      <span class="layout-profile-name">Arlene Welch</span>
      <span class="layout-profile-role">Design Ops</span>
    </div>
    <i class="layout-profile-icon pi pi-angle-down"></i>
  </a>
  <ul class="layout-profile-menu" [@menu]="active ? 'visible' : 'hidden'">
    <li role="menuitem">
      <a style="cursor: pointer" (click)="onUserSettingsClick($event)" [attr.tabindex]="!active ? '-1' : null">
        <i class="pi pi-user"></i>
        <span>User Settings</span>
      </a>
    </li>

    <li role="menuitem">
      <a href="#" [attr.tabindex]="!active ? '-1' : null">
        <i class="pi pi-envelope"></i>
        <span>Messages</span>
      </a>
    </li>
    <li role="menuitem">
      <a href="#" [attr.tabindex]="!active ? '-1' : null">
        <i class="pi pi-bell"></i>
        <span>Notifications</span>
      </a>
    </li>
    <li role="menuitem">
      <a style="cursor: pointer" (click)="onLogOutClick($event)" [attr.tabindex]="!active ? '-1' : null">
        <i class="pi pi-sign-out"></i>
        <span>Log out</span>
      </a>
    </li>
  </ul>
</div>
