<div class="ivz-item-card function-l">
  <p-panel [showHeader]="true" [viewonly]="isView" class="ivz-panel">
    <p-header class="p-d-flex p-jc-between w-100">
      <div class="ivz-div-panel-title">
        <span *ngIf="custom.isCopy" class="ivz-panel-title p-m-2">{{ 'LABEL.PRINT_RECEIPT_COPY' | translate }}</span>
        <span *ngIf="custom.isOriginal" class="ivz-panel-title p-m-2">{{ 'LABEL.PRINT_RECEIPT_ORIGINAL' | translate }}</span>
      </div>
    </p-header>
    <p-panel-content class="ivz-div-panel-content">
      <div class="w-100" *ngIf="isViewBody">
        <p-fieldset [legend]="{ text: 'LABEL.GENERAL' | translate }.text" [toggleable]="true">
          <div class="p-d-flex p-flex-wrap">
            <div class="p-d-flex p-flex-column ele-box-w-25">
              <label>{{ 'LABEL.RECEIPT_ID' | translate }} : </label>
              <ivz-input-text inputId="RECEIPT_ID" [(ivzModel)]="model.receiptId" [ivzConfig]="ID_INPUTTEXT"></ivz-input-text>
            </div>
            <div class="p-d-flex p-flex-column ele-box-w-25">
              <label>{{ 'LABEL.RECEIPT_DATE' | translate }} : </label>
              <ivz-calendar inputId="RECEIPT_DATE" [(ivzModel)]="model.receiptDate" [ivzConfig]="DATE"></ivz-calendar>
            </div>
            <div class="p-d-flex p-flex-column ele-box-w-25">
              <label>{{ 'LABEL.TRANSACTION_DATE' | translate }} : </label>
              <ivz-calendar inputId="TRANS_DATE" [(ivzModel)]="model.transDate" [ivzConfig]="DATE"></ivz-calendar>
            </div>
            <div class="p-d-flex p-flex-column ele-box-w-50">
              <label>{{ 'LABEL.CUSTOMER_ID' | translate }} : </label>
              <ivz-input-text inputId="CUSTOMER_ID" [(ivzModel)]="model.customerId" [ivzConfig]="ID_INPUTTEXT"></ivz-input-text>
            </div>
          </div>
        </p-fieldset>
        <p-fieldset [legend]="{ text: 'LABEL.AMOUNT' | translate }.text" [toggleable]="true">
          <div class="p-d-flex p-flex-wrap">
            <div class="p-d-flex p-flex-column ele-box-w-25">
              <label>{{ 'LABEL.SETTLE_BASE_AMOUNT' | translate }} : </label>
              <ivz-input-number inputId="SETTLE_BASE_AMOUNT" [(ivzModel)]="model.settleBaseAmount" [ivzConfig]="CURRENCY_13_2"> </ivz-input-number>
            </div>
            <div class="p-d-flex p-flex-column ele-box-w-25">
              <label>{{ 'LABEL.SETTLE_TAX_AMOUNT' | translate }} : </label>
              <ivz-input-number inputId="SETTLE_TAX_AMOUNT" [(ivzModel)]="model.settleTaxAmount" [ivzConfig]="CURRENCY_13_2"> </ivz-input-number>
            </div>
            <div class="p-d-flex p-flex-column ele-box-w-25">
              <label>{{ 'LABEL.SETTLE_AMOUNT' | translate }} : </label>
              <ivz-input-number inputId="SETTLE_AMOUNT" [(ivzModel)]="model.settleAmount" [ivzConfig]="CURRENCY_13_2"> </ivz-input-number>
            </div>
          </div>
        </p-fieldset>
      </div>
      <div class="w-100">
        <ivz-report-form [parameter]="parameters" (reportReady)="onReportReady($event)"></ivz-report-form>
      </div>
    </p-panel-content>
    <p-footer class="ivz-panel-footer">
      <div class="p-d-flex p-jc-end">
        <ivz-button
          *ngIf="isViewBody"
          inputId="OK"
          [label]="'LABEL.OK' | translate"
          icon="pi pi-times"
          className="ivz-primary-btn p-m-2"
          [ivzConfig]="buttonConfig"
          (formValidate)="onSaveAndClose($event)"
        >
        </ivz-button>
        <ivz-button
          inputId="CLOSE"
          [label]="'LABEL.CLOSE' | translate"
          icon="pi pi-power-off"
          className="ivz-primary-btn p-m-2"
          [ivzConfig]="buttonConfig"
          (click)="onClose()"
        >
        </ivz-button>
      </div>
    </p-footer>
  </p-panel>
</div>
