<div class="ivz-item-card">
  <p-panel [showHeader]="true" [viewonly]="isView" class="ivz-panel">
    <p-header class="p-d-flex p-jc-between w-100">
      <div class="ivz-div-panel-title">
        <span class="ivz-panel-title p-m-2">{{ 'LABEL.CREDIT_APPLICATION_REQUEST_ASSIGNMENT' | translate }}</span>
      </div>
      <div class="ivz-div-panel-btn-group">
        <p-tieredMenu id="MENURELATED" #related [model]="relatedInfoItems" [popup]="true"> </p-tieredMenu>
        <p-button
          id="RELATED_INFO"
          #btnfn
          type="button"
          icon="pi pi-share-alt"
          (click)="related.toggle($event); function.hide(); group.hide()"
          [label]="'LABEL.RELATED_INFO' | translate"
          styleClass="p-button-text"
        >
        </p-button>
        <p-tieredMenu id="MENUFUNCTION" #function [model]="functionItems" [popup]="true"> </p-tieredMenu>
        <p-button
          id="FUNCTION"
          #btnfn
          type="button"
          icon="pi pi-cog"
          (click)="function.toggle($event); related.hide(); group.hide()"
          [label]="'LABEL.FUNCTION' | translate"
          styleClass="p-button-text"
        ></p-button>
        <p-tieredMenu id="MENUGROUP" #group [model]="itemsGroup" [popup]="true"> </p-tieredMenu>
        <p-button
          id="GROUP"
          #btnfn
          type="button"
          icon="pi pi-list"
          (click)="group.toggle($event); function.hide(); related.hide()"
          [label]="'LABEL.GROUP' | translate"
          styleClass="p-button-text"
        ></p-button>
      </div>
    </p-header>
    <p-panel-content class="ivz-div-panel-content">
      <p-fieldset [legend]="{ text: 'LABEL.GENERAL' | translate }.text" [toggleable]="true">
        <div class="p-d-flex p-flex-wrap">
          <div class="p-d-flex p-flex-column ele-box-w-100">
            <label>{{ 'LABEL.IS_NEW' | translate }} : </label>
            <ivz-input-switch
              inputId="IS_NEW"
              [(ivzModel)]="model.isNew"
              (ivzBindingChange)="onIsNewBinding()"
              (ivzModelChange)="onIsNewChange()"
            ></ivz-input-switch>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label required>{{ 'LABEL.CUSTOMER_ID' | translate }} : </label>
            <ivz-input-text
              inputId="CUSTOMER_TABLE_GUID"
              [(ivzModel)]="model.customerTable_Values"
              maxlength="1000"
              [ivzConfig]="DEFAULT_INPUTTEXT"
              required
            ></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label required>{{ 'LABEL.CREDIT_APPLICATION_REQUEST_ID' | translate }} : </label>
            <ivz-input-text
              inputId="CREDIT_APP_REQUEST_TABLE_GUID"
              [(ivzModel)]="model.creditAppRequestTable_Values"
              maxlength="1000"
              [ivzConfig]="DEFAULT_INPUTTEXT"
              required
            ></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label [required]="custom.isRequireAssignmentAgreement">{{ 'LABEL.ASSIGNMENT_AGREEMENT_ID' | translate }} : </label>
            <ivz-dropdown
              inputId="ASSIGNMENT_AGREEMENT_TABLE_GUID"
              [(ivzModel)]="model.assignmentAgreementTableGUID"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="assignmentAgreementTableOptions"
              [required]="custom.isRequireAssignmentAgreement"
              (ivzModelChange)="onAssignmentAgreementChange()"
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.REFERENCE_AGREEMENT_ID' | translate }} : </label>
            <ivz-input-text inputId="REFERENCE_AGREEMENT_ID" [(ivzModel)]="model.referenceAgreementId" [ivzConfig]="ID_INPUTTEXT"></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label required>{{ 'LABEL.DESCRIPTION' | translate }} : </label>
            <ivz-input-text inputId="DESCRIPTION" [(ivzModel)]="model.description" [ivzConfig]="DEFAULT_INPUTTEXT" required></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label required>{{ 'LABEL.BUYER_ID' | translate }} : </label>
            <ivz-dropdown
              inputId="BUYER_TABLE_GUID"
              [(ivzModel)]="model.buyerTableGUID"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="buyerTableOptions"
              required
              (ivzBindingChange)="onBuyerChange()"
              (ivzModelChange)="onBuyerChange()"
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label required>{{ 'LABEL.ASSIGNMENT_METHOD_ID' | translate }} : </label>
            <ivz-dropdown
              inputId="ASSIGNMENT_METHOD_GUID"
              [(ivzModel)]="model.assignmentMethodGUID"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="assignmentMethodOptions"
              required
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label required>{{ 'LABEL.ASSIGNMENT_AGREEMENT_AMOUNT' | translate }} : </label>
            <ivz-input-number
              inputId="ASSIGNMENT_AGREEMENT_AMOUNT"
              [(ivzModel)]="model.assignmentAgreementAmount"
              [ivzConfig]="CURRENCY_13_2_POS"
              required
            >
            </ivz-input-number>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.BUYER_AGREEMENT_ID' | translate }} : </label>
            <ivz-dropdown
              inputId="BUYER_AGREEMENT_TABLE_GUID"
              [(ivzModel)]="model.buyerAgreementTableGUID"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="buyerAgreementTableOptions"
              (ivzModelChange)="onBuyerAgreementChange()"
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.BUYER_AGREEMENT_AMOUNT' | translate }} : </label>
            <ivz-input-number inputId="BUYER_AGREEMENT_AMOUNT" [(ivzModel)]="model.buyerAgreementAmount" [ivzConfig]="CURRENCY_13_2_POS">
            </ivz-input-number>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.REMAINING_AMOUNT' | translate }} : </label>
            <ivz-input-number inputId="REMAINING_AMOUNT" [(ivzModel)]="model.remainingAmount" [ivzConfig]="CURRENCY_13_2"> </ivz-input-number>
          </div>
        </div>
      </p-fieldset>
      <p-fieldset [legend]="{ text: 'LABEL.SYSTEM' | translate }.text" [toggleable]="true">
        <div class="p-d-flex p-flex-wrap">
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.CREATED_BY' | translate }} : </label>
            <ivz-input-text inputId="CREATED_BY" [(ivzModel)]="model.createdBy" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.CREATED_DATE_TIME' | translate }} : </label>
            <ivz-calendar inputId="CREATED_DATE_TIME" [(ivzModel)]="model.createdDateTime" [ivzConfig]="DATETIME"></ivz-calendar>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.MODIFIED_BY' | translate }} : </label>
            <ivz-input-text inputId="MODIFIED_BY" [(ivzModel)]="model.modifiedBy" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.MODIFIED_DATE_TIME' | translate }} : </label>
            <ivz-calendar inputId="MODIFIED_DATE_TIME" [(ivzModel)]="model.modifiedDateTime" [ivzConfig]="DATETIME"></ivz-calendar>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label required>{{ 'LABEL.COMPANY_ID' | translate }} : </label>
            <ivz-input-text inputId="COMPANY_ID" [(ivzModel)]="model.companyId" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label required>{{ 'LABEL.BUSINESS_UNIT_ID' | translate }} : </label>
            <ivz-input-text inputId="BUSINESS_UNIT_ID" [(ivzModel)]="model.ownerBusinessUnitId" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label required>{{ 'LABEL.OWNER' | translate }} : </label>
            <ivz-input-text inputId="OWNER" [(ivzModel)]="model.owner" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
          </div>
        </div>
      </p-fieldset>
    </p-panel-content>
    <p-footer class="ivz-panel-footer">
      <div class="p-d-flex p-jc-end">
        <ivz-button
          inputId="SAVE"
          [label]="'LABEL.SAVE' | translate"
          icon="pi pi-save"
          className="ivz-primary-btn p-m-2"
          [ivzConfig]="buttonConfig"
          (formValidate)="onSave($event)"
        ></ivz-button>
        <ivz-button
          inputId="SAVE_AND_CLOSE"
          [label]="'LABEL.SAVE_AND_CLOSE' | translate"
          icon="pi pi-times"
          className="ivz-primary-btn p-m-2"
          [ivzConfig]="buttonConfig"
          (formValidate)="onSaveAndClose($event)"
        >
        </ivz-button>
        <ivz-button
          inputId="CLOSE"
          [label]="'LABEL.CLOSE' | translate"
          icon="pi pi-power-off"
          className="ivz-primary-btn p-m-2"
          [ivzConfig]="buttonConfig"
          (click)="onClose()"
        >
        </ivz-button>
      </div>
    </p-footer>
  </p-panel>
</div>
