<div class="ivz-item-card function-m" style="margin-right: 15%">
  <p-panel [showHeader]="true" [viewonly]="isView" class="ivz-panel">
    <p-header class="p-d-flex p-jc-between w-100">
      <div class="ivz-div-panel-title">
        <span class="ivz-panel-title p-m-2">{{ 'LABEL.CREATE_COMPANY' | translate }}</span>
      </div>
    </p-header>
    <p-panel-content class="ivz-div-panel-content">
      <p-steps
        #stepper
        id="CREATE_COMPANY_STEPPER"
        [model]="stepItems"
        (activeIndexChange)="onStepsChange($event)"
        [(activeIndex)]="activeIndex"
        [readonly]="false"
        (click)="onStepperClick($event)"
      ></p-steps>
      <div class="p-d-flex p-flex-wrap w-100" *ngIf="activeIndex === 0">
        <p-fieldset class="w-100" [legend]="{ text: 'LABEL.GENERAL' | translate }.text" [toggleable]="true">
          <div class="p-d-flex p-flex-wrap">
            <div class="p-d-flex p-flex-column w-100">
              <div class="p-d-flex p-flex-column ele-box-w-50">
                <label required>{{ 'LABEL.COMPANY_ID' | translate }} : </label>
                <ivz-input-text inputId="INPUT_COMPANY_ID" [(ivzModel)]="model.companyId" [ivzConfig]="ID_INPUTTEXT" required></ivz-input-text>
              </div>
            </div>
            <div class="p-d-flex p-flex-column ele-box-w-50">
              <label required>{{ 'LABEL.NAME' | translate }} : </label>
              <ivz-input-text inputId="COMPANY_NAME" [(ivzModel)]="model.company_Name" [ivzConfig]="DEFAULT_INPUTTEXT" required></ivz-input-text>
            </div>
            <div class="p-d-flex p-flex-column ele-box-w-50">
              <label>{{ 'LABEL.SECOND_NAME' | translate }} : </label>
              <ivz-input-text inputId="SECOND_NAME" [(ivzModel)]="model.secondName" maxlength="150" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
            </div>
          </div>
        </p-fieldset>
      </div>
      <div class="p-d-flex p-flex-wrap w-100" *ngIf="activeIndex === 1">
        <p-fieldset class="w-100" [legend]="{ text: 'LABEL.GENERAL' | translate }.text" [toggleable]="true">
          <div class="p-d-flex p-flex-wrap">
            <div class="p-d-flex p-flex-column ele-box-w-50">
              <label required>{{ 'LABEL.BRANCH_ID' | translate }} : </label>
              <ivz-input-text inputId="INPUT_BRANCH_ID" [(ivzModel)]="model.branchId" [ivzConfig]="ID_INPUTTEXT" required></ivz-input-text>
            </div>
            <div class="p-d-flex p-flex-column ele-box-w-50">
              <label required>{{ 'LABEL.NAME' | translate }} : </label>
              <ivz-input-text inputId="BRANCH_NAME" [(ivzModel)]="model.branch_Name" [ivzConfig]="DEFAULT_INPUTTEXT" required></ivz-input-text>
            </div>
          </div>
        </p-fieldset>
      </div>
      <div class="p-d-flex p-flex-wrap w-100" *ngIf="activeIndex === 2">
        <p-fieldset class="w-100" [legend]="{ text: 'LABEL.GENERAL' | translate }.text" [toggleable]="true">
          <div class="p-d-flex p-flex-wrap">
            <div class="p-d-flex p-flex-column ele-box-w-50">
              <label>{{ 'LABEL.USER_NAME' | translate }} : </label>
              <ivz-input-text inputId="USERNAME" [(ivzModel)]="model.userName" [ivzConfig]="ID_INPUTTEXT"></ivz-input-text>
            </div>
            <div class="p-d-flex p-flex-column ele-box-w-50">
              <label>{{ 'LABEL.NAME' | translate }} : </label>
              <ivz-input-text inputId="SYSUSERTABLE_NAME" [(ivzModel)]="model.sysUserTable_Name" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
            </div>
            <div class="p-d-flex p-flex-column ele-box-w-50">
              <label>{{ 'LABEL.EMPLOYEE_ID' | translate }} : </label>
              <ivz-input-text
                inputId="EMPLOYEE_TABLE_EMPLOYEE_ID"
                [(ivzModel)]="model.employeeTable_EmployeeId"
                [ivzConfig]="DEFAULT_INPUTTEXT"
              ></ivz-input-text>
            </div>
            <div class="p-d-flex p-flex-column ele-box-w-50">
              <label>{{ 'LABEL.BUSINESS_UNIT_ID' | translate }} : </label>
              <ivz-input-text
                inputId="BUSINESS_UNIT_BUSINESS_UNIT_ID"
                [(ivzModel)]="model.businessUnit_BusinessUnitId"
                [ivzConfig]="DEFAULT_INPUTTEXT"
              ></ivz-input-text>
            </div>

            <div class="p-d-flex p-flex-column ele-box-w-50">
              <label>{{ 'LABEL.ROLE' | translate }} : </label>
              <ivz-input-text inputId="ROLE_DISPLAY" [(ivzModel)]="roleDisplay" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
            </div>
          </div>
        </p-fieldset>
      </div>
      <div class="p-d-flex p-flex-wrap w-100" *ngIf="activeIndex === 3">
        <p-fieldset class="w-100" [legend]="{ text: 'LABEL.GENERAL' | translate }.text" [toggleable]="true">
          <div class="p-d-flex p-flex-wrap">
            <div class="p-d-flex p-flex-column w-100">
              <div class="p-d-flex p-flex-column ele-box-w-50">
                <label>{{ 'LABEL.COMPANY_ID' | translate }} : </label>
                <ivz-input-text inputId="COMPANY_ID" [(ivzModel)]="model.companyId" [ivzConfig]="ID_INPUTTEXT"></ivz-input-text>
              </div>
            </div>
            <div class="p-d-flex p-flex-column ele-box-w-50">
              <label>{{ 'LABEL.NAME' | translate }} : </label>
              <ivz-input-text inputId="COMPANY_NAME" [(ivzModel)]="model.company_Name" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
            </div>
            <div class="p-d-flex p-flex-column ele-box-w-50">
              <label>{{ 'LABEL.SECOND_NAME' | translate }} : </label>
              <ivz-input-text inputId="SECOND_NAME" [(ivzModel)]="model.secondName" maxlength="150" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
            </div>
            <div class="p-d-flex p-flex-column ele-box-w-50">
              <label>{{ 'LABEL.BRANCH_ID' | translate }} : </label>
              <ivz-input-text inputId="BRANCH_ID" [(ivzModel)]="model.branchId" [ivzConfig]="ID_INPUTTEXT"></ivz-input-text>
            </div>
            <div class="p-d-flex p-flex-column ele-box-w-50">
              <label>{{ 'LABEL.NAME' | translate }} : </label>
              <ivz-input-text inputId="BRANCH_NAME" [(ivzModel)]="model.branch_Name" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
            </div>
            <div class="p-d-flex p-flex-column ele-box-w-50">
              <label>{{ 'LABEL.USER_NAME' | translate }} : </label>
              <ivz-input-text inputId="USERNAME" [(ivzModel)]="model.userName" [ivzConfig]="ID_INPUTTEXT"></ivz-input-text>
            </div>
            <div class="p-d-flex p-flex-column ele-box-w-50">
              <label>{{ 'LABEL.NAME' | translate }} : </label>
              <ivz-input-text inputId="SYSUSERTABLE_NAME" [(ivzModel)]="model.sysUserTable_Name" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
            </div>
            <div class="p-d-flex p-flex-column ele-box-w-50">
              <label>{{ 'LABEL.EMPLOYEE_ID' | translate }} : </label>
              <ivz-input-text
                inputId="EMPLOYEE_TABLE_EMPLOYEE_ID"
                [(ivzModel)]="model.employeeTable_EmployeeId"
                [ivzConfig]="DEFAULT_INPUTTEXT"
              ></ivz-input-text>
            </div>
            <div class="p-d-flex p-flex-column ele-box-w-50">
              <label>{{ 'LABEL.BUSINESS_UNIT_ID' | translate }} : </label>
              <ivz-input-text
                inputId="BUSINESS_UNIT_BUSINESS_UNIT_ID"
                [(ivzModel)]="model.businessUnit_BusinessUnitId"
                [ivzConfig]="DEFAULT_INPUTTEXT"
              ></ivz-input-text>
            </div>

            <div class="p-d-flex p-flex-column ele-box-w-50">
              <label>{{ 'LABEL.ROLE' | translate }} : </label>
              <ivz-input-text inputId="ROLE_DISPLAY" [(ivzModel)]="roleDisplay" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
            </div>
          </div>
        </p-fieldset>
      </div>
    </p-panel-content>

    <p-footer *ngIf="activeIndex === 0" class="ivz-panel-footer">
      <div class="p-d-flex p-jc-end">
        <ivz-button
          inputId="NEXT_STEP"
          [label]="'LABEL.NEXT_STEP' | translate"
          icon="pi pi-arrow-right"
          iconPos="right"
          className="ivz-primary-btn p-m-2"
          (click)="next()"
        ></ivz-button>
        <ivz-button
          [label]="'LABEL.CLOSE' | translate"
          icon="pi pi-power-off"
          className="ivz-primary-btn p-m-2"
          [ivzConfig]="buttonConfig"
          (click)="onClose()"
        >
        </ivz-button>
      </div>
    </p-footer>

    <p-footer *ngIf="activeIndex !== 0 && activeIndex !== 3" class="ivz-panel-footer">
      <div class="p-d-flex p-jc-end">
        <ivz-button
          inputId="PREVIOUS_STEP"
          [label]="'LABEL.PREVIOUS_STEP' | translate"
          icon="pi pi-arrow-left"
          className="ivz-primary-btn p-m-2"
          (click)="prev()"
        ></ivz-button>
        <ivz-button
          inputId="NEXT_STEP"
          [label]="'LABEL.NEXT_STEP' | translate"
          icon="pi pi-arrow-right"
          iconPos="right"
          className="ivz-primary-btn p-m-2"
          (click)="next()"
        ></ivz-button>
        <ivz-button
          [label]="'LABEL.CLOSE' | translate"
          icon="pi pi-power-off"
          className="ivz-primary-btn p-m-2"
          [ivzConfig]="buttonConfig"
          (click)="onClose()"
        >
        </ivz-button>
      </div>
    </p-footer>
    <p-footer *ngIf="activeIndex === 3" class="ivz-panel-footer">
      <div class="p-d-flex p-jc-end">
        <ivz-button
          inputId="PREVIOUS_STEP"
          [label]="'LABEL.PREVIOUS_STEP' | translate"
          icon="pi pi-arrow-left"
          className="ivz-primary-btn p-m-2"
          (click)="prev()"
        ></ivz-button>
        <ivz-button
          inputId="OK"
          [label]="'LABEL.OK' | translate"
          icon="pi pi-times"
          className="ivz-primary-btn p-m-2"
          [ivzConfig]="buttonConfig"
          (formValidate)="onSaveAndClose($event)"
        >
        </ivz-button>
        <ivz-button
          [label]="'LABEL.CLOSE' | translate"
          icon="pi pi-power-off"
          className="ivz-primary-btn p-m-2"
          [ivzConfig]="buttonConfig"
          (click)="onClose()"
        >
        </ivz-button>
      </div>
    </p-footer>
  </p-panel>
</div>
