<div class="ivz-item-card function-m">
  <p-panel [showHeader]="true" [viewonly]="isView" class="ivz-panel">
    <p-header class="p-d-flex p-jc-between w-100">
      <div class="ivz-div-panel-title">
        <span class="ivz-panel-title p-m-2">{{ 'LABEL.UPDATE_ASSIGNMENT_AGREEMENT_SETTLEMENT' | translate }}</span>
      </div>
    </p-header>
    <p-panel-content class="ivz-div-panel-content">
      <p-fieldset [legend]="{ text: 'LABEL.GENERAL' | translate }.text" [toggleable]="true">
        <div class="p-d-flex p-flex-wrap">
          <div class="p-d-flex p-flex-column ele-box-w-100">
            <label>{{ 'LABEL.INTERNAL_ASSIGNMENT_AGREEMENT_ID' | translate }} : </label>
            <ivz-input-text
              inputId="INTERNAL_ASSIGNMENT_AGREEMENT_ID"
              [(ivzModel)]="model.internalAssignmentAgreementId"
              maxlength="150"
              [ivzConfig]="DEFAULT_INPUTTEXT"
            ></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.ASSIGNMENT_AGREEMENT_ID' | translate }} : </label>
            <ivz-input-text inputId="ASSIGNMENT_AGREEMENT_ID" [(ivzModel)]="model.assignmentAgreementId" [ivzConfig]="ID_INPUTTEXT"></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.BUYER_AGREEMENT_ID' | translate }} : </label>
            <ivz-input-text
              inputId="BUYER_AGREEMENT_ID"
              [(ivzModel)]="model.buyerAgreementId"
              maxlength="120"
              [ivzConfig]="DEFAULT_INPUTTEXT"
            ></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.SETTLED_DATE' | translate }} : </label>
            <ivz-calendar inputId="SETTLED_DATE" [(ivzModel)]="model.settledDate" [ivzConfig]="DATE"></ivz-calendar>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.SETTLED_AMOUNT' | translate }} : </label>
            <ivz-input-number inputId="SETTLED_AMOUNT" [(ivzModel)]="model.settledAmount" [ivzConfig]="CURRENCY_13_2"> </ivz-input-number>
          </div>
        </div>
      </p-fieldset>
      <p-fieldset [legend]="{ text: 'LABEL.UPDATE_ASSIGNMENT_AGREEMENT_SETTLEMENT' | translate }.text" [toggleable]="true">
        <div class="p-d-flex p-flex-wrap">
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label required>{{ 'LABEL.NEW_SETTLED_DATE' | translate }} : </label>
            <ivz-calendar inputId="NEW_SETTLED_DATE" [(ivzModel)]="model.newSettledDate" [ivzConfig]="DATE" required></ivz-calendar>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label required>{{ 'LABEL.NEW_SETTLED_AMOUNT' | translate }} : </label>
            <ivz-input-number inputId="NEW_SETTLED_AMOUNT" [(ivzModel)]="model.newSettledAmount" [ivzConfig]="CURRENCY_13_2" required>
            </ivz-input-number>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-100">
            <label required>{{ 'LABEL.REASON_ID' | translate }} : </label>
            <ivz-dropdown
              inputId="DOCUMENT_REASON_GUID"
              [(ivzModel)]="model.documentReasonGUID"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="documentReasonOptions"
              required
            ></ivz-dropdown>
          </div>
        </div>
      </p-fieldset>
    </p-panel-content>
    <p-footer class="ivz-panel-footer">
      <div class="p-d-flex p-jc-end">
        <ivz-button
          inputId="OK"
          [label]="'LABEL.OK' | translate"
          icon="pi pi-times"
          className="ivz-primary-btn p-m-2"
          [ivzConfig]="buttonConfig"
          (formValidate)="onSaveAndClose($event)"
        >
        </ivz-button>
        <ivz-button
          inputId="CANCEL"
          [label]="'LABEL.CANCEL' | translate"
          icon="pi pi-power-off"
          className="ivz-primary-btn p-m-2"
          [ivzConfig]="buttonConfig"
          (click)="onClose()"
        >
        </ivz-button>
      </div>
    </p-footer>
  </p-panel>
</div>
