<div class="ivz-item-card">
  <p-panel [showHeader]="true" [viewonly]="isView" class="ivz-panel">
    <p-header class="p-d-flex p-jc-between w-100">
      <div class="ivz-div-panel-title">
        <span class="ivz-panel-title p-m-2">{{ custom.title | translate }}</span>
      </div>
      <div class="ivz-div-panel-btn-group">
        <p-tieredMenu id="MENURELATED" #related [model]="relatedInfoItems" [popup]="true"> </p-tieredMenu>
        <p-button
          id="RELATED_INFO"
          #btnfn
          type="button"
          icon="pi pi-share-alt"
          (click)="related.toggle($event); function.hide(); group.hide()"
          [label]="'LABEL.RELATED_INFO' | translate"
          styleClass="p-button-text"
        >
        </p-button>
        <p-tieredMenu id="MENUFUNCTION" #function [model]="functionItems" [popup]="true"> </p-tieredMenu>
        <p-button
          id="FUNCTION"
          #btnfn
          type="button"
          icon="pi pi-cog"
          (click)="function.toggle($event); related.hide(); group.hide()"
          [label]="'LABEL.FUNCTION' | translate"
          styleClass="p-button-text"
        ></p-button>
        <p-tieredMenu id="MENUGROUP" #group [model]="itemsGroup" [popup]="true"> </p-tieredMenu>
        <p-button
          id="GROUP"
          #btnfn
          type="button"
          icon="pi pi-list"
          (click)="group.toggle($event); function.hide(); related.hide()"
          [label]="'LABEL.GROUP' | translate"
          styleClass="p-button-text"
        ></p-button>
      </div>
    </p-header>
    <p-panel-content class="ivz-div-panel-content">
      <p-fieldset id="GENERAL" [legend]="{ text: 'LABEL.GENERAL' | translate }.text" [toggleable]="true">
        <div class="p-d-flex p-flex-wrap">
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label [required]="custom.isRequiredCon1">{{ 'LABEL.CUSTOMER_REFUND_ID' | translate }} : </label>
            <ivz-input-text
              inputId="CUSTOMER_REFUND_ID"
              [(ivzModel)]="model.customerRefundId"
              [ivzConfig]="ID_INPUTTEXT"
              [required]="custom.isRequiredCon1"
            ></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label required>{{ 'LABEL.DESCRIPTION' | translate }} : </label>
            <ivz-input-text inputId="DESCRIPTION" [(ivzModel)]="model.description" [ivzConfig]="DEFAULT_INPUTTEXT" required></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label required>{{ 'LABEL.CUSTOMER_ID' | translate }} : </label>
            <ivz-dropdown
              inputId="CUSTOMER_TABLE_GUID"
              [(ivzModel)]="model.customerTableGUID"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="customerTableOptions"
              required
              (ivzModelChange)="onCustomerChange()"
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label required>{{ 'LABEL.TRANSACTION_DATE' | translate }} : </label>
            <ivz-calendar inputId="TRANS_DATE" [(ivzModel)]="model.transDate" [ivzConfig]="DATE" required></ivz-calendar>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.PRODUCT_TYPE' | translate }} : </label>
            <ivz-dropdown
              inputId="PRODUCT_TYPE"
              [(ivzModel)]="model.productType"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="productTypeOptions"
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label [required]="custom.isRequiredCon2">{{ 'LABEL.CREDIT_APPLICATION_ID' | translate }} : </label>
            <ivz-dropdown
              inputId="CREDIT_APP_TABLE_GUID"
              [(ivzModel)]="model.creditAppTableGUID"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="creditAppTableOptions"
              [required]="custom.isRequiredCon2"
              (ivzModelChange)="onCreditAppChange()"
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.SUSPENSE_INVOICE_TYPE' | translate }} : </label>
            <ivz-dropdown
              inputId="SUSPENSE_INVOICE_TYPE"
              [(ivzModel)]="model.suspenseInvoiceType"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="suspenseInvoiceTypeOptions"
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.STATUS' | translate }} : </label>
            <ivz-dropdown
              inputId="DOCUMENT_STATUS_GUID"
              [(ivzModel)]="model.documentStatusGUID"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="documentStatusOptions"
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.REASON_ID' | translate }} : </label>
            <ivz-input-text
              inputId="DOCUMENT_REASON_GUID"
              [(ivzModel)]="model.documentReason_Values"
              maxlength="1000"
              [ivzConfig]="DEFAULT_INPUTTEXT"
            ></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label required>{{ 'LABEL.CURRENCY_ID' | translate }} : </label>
            <ivz-dropdown
              inputId="CURRENCY_GUID"
              [(ivzModel)]="model.currencyGUID"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="currencyOptions"
              required
              (ivzModelChange)="onCurrencyChange()"
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.REMARK' | translate }} : </label>
            <ivz-textarea inputId="REMARK" [(ivzModel)]="model.remark" maxlength="250" [ivzConfig]="DEFAULT_TEXTAREA"> </ivz-textarea>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label required>{{ 'LABEL.OPERATION_REPORT_SIGNATURE' | translate }} : </label>
            <ivz-dropdown
              inputId="OPER_REPORT_SIGNATURE_GUID"
              [(ivzModel)]="model.operReportSignatureGUID"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="employeeTableOptions"
              required
              (ivzOnFocus)="onEmployeeTableDropdownFocus($event)"
            ></ivz-dropdown>
          </div>
        </div>
      </p-fieldset>
      <p-fieldset id="AMOUNT" [legend]="{ text: 'LABEL.AMOUNT' | translate }.text" [toggleable]="true">
        <div class="p-d-flex p-flex-wrap">
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.PAYMENT_AMOUNT' | translate }} : </label>
            <ivz-input-number inputId="PAYMENT_AMOUNT" [(ivzModel)]="model.paymentAmount" [ivzConfig]="CURRENCY_13_2"> </ivz-input-number>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.SUSPENSE_AMOUNT' | translate }} : </label>
            <ivz-input-number inputId="SUSPENSE_AMOUNT" [(ivzModel)]="model.suspenseAmount" [ivzConfig]="CURRENCY_13_2"> </ivz-input-number>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.SETTLED_FEE_AMOUNT' | translate }} : </label>
            <ivz-input-number inputId="SETTLED_FEE_AMOUNT" [(ivzModel)]="model.serviceFeeAmount" [ivzConfig]="CURRENCY_13_2"> </ivz-input-number>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.SETTLE_AMOUNT' | translate }} : </label>
            <ivz-input-number inputId="SETTLE_AMOUNT" [(ivzModel)]="model.settleAmount" [ivzConfig]="CURRENCY_13_2"> </ivz-input-number>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.NET_AMOUNT' | translate }} : </label>
            <ivz-input-number inputId="NET_AMOUNT" [(ivzModel)]="model.netAmount" [ivzConfig]="CURRENCY_13_2"> </ivz-input-number>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label required>{{ 'LABEL.EXCHANGE_RATE' | translate }} : </label>
            <ivz-input-number inputId="EXCHANGE_RATE" [(ivzModel)]="model.exchangeRate" [ivzConfig]="CURRENCY_13_2" required> </ivz-input-number>
          </div>
        </div>
      </p-fieldset>
      <p-fieldset id="RETENTION" [legend]="{ text: 'LABEL.RETENTION' | translate }.text" [toggleable]="true">
        <div class="p-d-flex p-flex-wrap">
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.RETENTION_CALCULATE_BASE' | translate }} : </label>
            <ivz-dropdown
              inputId="RETENTION_CALCULATE_BASE"
              [(ivzModel)]="model.retentionCalculateBase"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="retentionCalculateBaseOptions"
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.RETENTION_PCT' | translate }} : </label>
            <ivz-input-number inputId="RETENTION_PCT" [(ivzModel)]="model.retentionPct" [ivzConfig]="PERCENT_5_2"> </ivz-input-number>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.RETENTION_AMOUNT' | translate }} : </label>
            <ivz-input-number
              inputId="RETENTION_AMOUNT"
              [(ivzModel)]="model.retentionAmount"
              [ivzConfig]="CURRENCY_13_2"
              (ivzModelChange)="onRetentionAmountChange()"
            >
            </ivz-input-number>
          </div>
        </div>
      </p-fieldset>
      <p-fieldset id="FINANCIAL_DIMENSIONS" [legend]="{ text: 'LABEL.FINANCIAL_DIMENSIONS' | translate }.text" [toggleable]="true">
        <div class="p-d-flex p-flex-wrap">
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.DIMENSION_1' | translate }} : </label>
            <ivz-dropdown
              inputId="DIMENSION1GUID"
              [(ivzModel)]="model.dimension1GUID"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="ledgerDimensionOptions1"
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.DIMENSION_2' | translate }} : </label>
            <ivz-dropdown
              inputId="DIMENSION2GUID"
              [(ivzModel)]="model.dimension2GUID"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="ledgerDimensionOptions2"
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.DIMENSION_3' | translate }} : </label>
            <ivz-dropdown
              inputId="DIMENSION3GUID"
              [(ivzModel)]="model.dimension3GUID"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="ledgerDimensionOptions3"
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.DIMENSION_4' | translate }} : </label>
            <ivz-dropdown
              inputId="DIMENSION4GUID"
              [(ivzModel)]="model.dimension4GUID"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="ledgerDimensionOptions4"
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.DIMENSION_5' | translate }} : </label>
            <ivz-dropdown
              inputId="DIMENSION5GUID"
              [(ivzModel)]="model.dimension5GUID"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="ledgerDimensionOptions5"
            ></ivz-dropdown>
          </div>
        </div>
      </p-fieldset>
      <p-fieldset [legend]="{ text: 'LABEL.SYSTEM' | translate }.text" [toggleable]="true">
        <div class="p-d-flex p-flex-wrap">
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.CREATED_BY' | translate }} : </label>
            <ivz-input-text inputId="CREATED_BY" [(ivzModel)]="model.createdBy" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.CREATED_DATE_TIME' | translate }} : </label>
            <ivz-calendar inputId="CREATED_DATE_TIME" [(ivzModel)]="model.createdDateTime" [ivzConfig]="DATETIME"></ivz-calendar>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.MODIFIED_BY' | translate }} : </label>
            <ivz-input-text inputId="MODIFIED_BY" [(ivzModel)]="model.modifiedBy" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.MODIFIED_DATE_TIME' | translate }} : </label>
            <ivz-calendar inputId="MODIFIED_DATE_TIME" [(ivzModel)]="model.modifiedDateTime" [ivzConfig]="DATETIME"></ivz-calendar>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label required>{{ 'LABEL.COMPANY_ID' | translate }} : </label>
            <ivz-input-text inputId="COMPANY_ID" [(ivzModel)]="model.companyId" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label required>{{ 'LABEL.BUSINESS_UNIT_ID' | translate }} : </label>
            <ivz-input-text inputId="BUSINESS_UNIT_ID" [(ivzModel)]="model.ownerBusinessUnitId" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label required>{{ 'LABEL.OWNER' | translate }} : </label>
            <ivz-input-text inputId="OWNER" [(ivzModel)]="model.owner" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
          </div>
        </div>
      </p-fieldset>
      <p-fieldset *ngIf="isUpdateMode" [legend]="{ text: 'LABEL.SUSPENSE_SETTLEMENT_DETAIL' | translate }.text" [toggleable]="true" listview>
        <div class="p-grid p-col-12 p-justify-start div-form-input">
          <invoice-settlement-detail-list
            [pageInfo]="childPaths[0]"
            (deleteEmit)="onSuspenseSettlementDetailDeleted($event)"
          ></invoice-settlement-detail-list>
        </div>
      </p-fieldset>
    </p-panel-content>
    <p-footer class="ivz-panel-footer">
      <div class="p-d-flex p-jc-end">
        <ivz-button
          inputId="SAVE"
          [label]="'LABEL.SAVE' | translate"
          icon="pi pi-save"
          className="ivz-primary-btn p-m-2"
          [ivzConfig]="buttonConfig"
          (formValidate)="onSave($event)"
        ></ivz-button>
        <ivz-button
          inputId="SAVE_AND_CLOSE"
          [label]="'LABEL.SAVE_AND_CLOSE' | translate"
          icon="pi pi-times"
          className="ivz-primary-btn p-m-2"
          [ivzConfig]="buttonConfig"
          (formValidate)="onSaveAndClose($event)"
        >
        </ivz-button>
        <ivz-button
          inputId="CLOSE"
          [label]="'LABEL.CLOSE' | translate"
          icon="pi pi-power-off"
          className="ivz-primary-btn p-m-2"
          [ivzConfig]="buttonConfig"
          (click)="onClose()"
        >
        </ivz-button>
      </div>
    </p-footer>
  </p-panel>
</div>
