<div class="ivz-item-card">
  <p-panel [showHeader]="true" [viewonly]="isView" class="ivz-panel">
    <p-header class="p-d-flex p-jc-between w-100">
      <div class="ivz-div-panel-title">
        <span class="ivz-panel-title p-m-2">{{ 'LABEL.INVOICE_TYPE' | translate }}</span>
      </div>
      <div class="ivz-div-panel-btn-group">
        <p-tieredMenu id="MENURELATED" #related [model]="relatedInfoItems" [popup]="true"> </p-tieredMenu>
        <p-button
          id="RELATED_INFO"
          #btnfn
          type="button"
          icon="pi pi-share-alt"
          (click)="related.toggle($event); function.hide(); group.hide()"
          [label]="'LABEL.RELATED_INFO' | translate"
          styleClass="p-button-text"
        >
        </p-button>
        <p-tieredMenu id="MENUFUNCTION" #function [model]="functionItems" [popup]="true"> </p-tieredMenu>
        <p-button
          id="FUNCTION"
          #btnfn
          type="button"
          icon="pi pi-cog"
          (click)="function.toggle($event); related.hide(); group.hide()"
          [label]="'LABEL.FUNCTION' | translate"
          styleClass="p-button-text"
        ></p-button>
        <p-tieredMenu id="MENUGROUP" #group [model]="itemsGroup" [popup]="true"> </p-tieredMenu>
        <p-button
          id="GROUP"
          #btnfn
          type="button"
          icon="pi pi-list"
          (click)="group.toggle($event); function.hide(); related.hide()"
          [label]="'LABEL.GROUP' | translate"
          styleClass="p-button-text"
        ></p-button>
      </div>
    </p-header>
    <p-panel-content class="ivz-div-panel-content">
      <p-fieldset [legend]="{ text: 'LABEL.GENERAL' | translate }.text" [toggleable]="true">
        <div class="p-d-flex p-flex-wrap">
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label required>{{ 'LABEL.INVOICE_TYPE_ID' | translate }} : </label>
            <ivz-input-text inputId="INVOICE_TYPE_ID" [(ivzModel)]="model.invoiceTypeId" required [ivzConfig]="ID_INPUTTEXT"></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label required>{{ 'LABEL.DESCRIPTION' | translate }} : </label>
            <ivz-input-text inputId="DESCRIPTION" [(ivzModel)]="model.description" required [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.AR_LEDGER_ACCOUNT' | translate }} : </label>
            <ivz-input-text inputId="AR_LEDGER_ACCOUNT" [(ivzModel)]="model.arLedgerAccount" [ivzConfig]="ID_INPUTTEXT"></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label required>{{ 'LABEL.PRODUCT_TYPE' | translate }} : </label>
            <ivz-dropdown
              inputId="PRODUCT_TYPE"
              [options]="productTypeOptions"
              [(ivzModel)]="model.productType"
              required
              [ivzConfig]="DEFAULT_DROPDOWN"
              (ivzModelChange)="onProductTypeChange()"
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.DIRECT_RECEIPT' | translate }} : </label>
            <ivz-input-switch inputId="DIRECT_RECEIPT" [(ivzModel)]="model.directReceipt" [ivzConfig]="DEFAULT_INPUTSWITCH"></ivz-input-switch>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.VALIDATE_DIRECT_RECEIVE_BY_CA' | translate }} : </label>
            <ivz-input-switch
              inputId="VALIDATE_DIRECT_RECEIVE_BY_CA"
              [(ivzModel)]="model.validateDirectReceiveByCA"
              [ivzConfig]="DEFAULT_INPUTSWITCH"
            ></ivz-input-switch>
          </div>
        </div>
        <div class="p-d-flex p-flex-wrap">
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label required>{{ 'LABEL.SUSPENSE_INVOICE_TYPE' | translate }} : </label>
            <ivz-dropdown
              inputId="SUSPENSE_INVOICE_TYPE"
              [options]="suspenseInvoiceTypeOptions"
              [(ivzModel)]="model.suspenseInvoiceType"
              required
              [ivzConfig]="DEFAULT_DROPDOWN"
              (ivzModelChange)="onSuspenseInvoiceTypeChange()"
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label [required]="custom.isRequiredCon1">{{ 'LABEL.AUTOGEN_INVOICE_REVENUETYPE' | translate }} : </label>
            <ivz-dropdown
              inputId="AUTOGEN_INVOICE_REVENUETYPE"
              [options]="autoGenInvoiceRevenueTypeOptions"
              [(ivzModel)]="model.autoGenInvoiceRevenueTypeGUID"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [required]="custom.isRequiredCon1"
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.PRODUCT_INVOICE' | translate }} : </label>
            <ivz-input-switch
              inputId="PRODUCT_INVOICE"
              [(ivzModel)]="model.productInvoice"
              [ivzConfig]="DEFAULT_INPUTSWITCH"
              (ivzModelChange)="onProductInvoiceChange()"
            ></ivz-input-switch>
          </div>
        </div>
      </p-fieldset>

      <p-fieldset [legend]="{ text: 'LABEL.SYSTEM' | translate }.text" [toggleable]="true">
        <div class="p-d-flex p-flex-wrap">
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.CREATED_BY' | translate }} : </label>
            <ivz-input-text inputId="CREATED_BY" [(ivzModel)]="model.createdBy" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.CREATED_DATE_TIME' | translate }} : </label>
            <ivz-calendar inputId="CREATED_DATE_TIME" [(ivzModel)]="model.createdDateTime" [ivzConfig]="DATETIME"></ivz-calendar>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.MODIFIED_BY' | translate }} : </label>
            <ivz-input-text inputId="MODIFIED_BY" [(ivzModel)]="model.modifiedBy" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.MODIFIED_DATE_TIME' | translate }} : </label>
            <ivz-calendar inputId="MODIFIED_DATE_TIME" [(ivzModel)]="model.modifiedDateTime" [ivzConfig]="DATETIME"></ivz-calendar>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label required>{{ 'LABEL.COMPANY_ID' | translate }} : </label>
            <ivz-input-text inputId="COMPANY_ID" [(ivzModel)]="model.companyId" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label required>{{ 'LABEL.BUSINESS_UNIT_ID' | translate }} : </label>
            <ivz-input-text inputId="BUSINESS_UNIT_ID" [(ivzModel)]="model.ownerBusinessUnitId" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label required>{{ 'LABEL.OWNER' | translate }} : </label>
            <ivz-input-text inputId="OWNER" [(ivzModel)]="model.owner" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
          </div>
        </div>
      </p-fieldset>
    </p-panel-content>
    <p-footer class="ivz-panel-footer">
      <div class="p-d-flex p-jc-end">
        <ivz-button
          inputId="SAVE"
          [label]="'LABEL.SAVE' | translate"
          icon="pi pi-save"
          className="ivz-primary-btn p-m-2"
          [ivzConfig]="buttonConfig"
          (formValidate)="onSave($event)"
        ></ivz-button>
        <ivz-button
          inputId="SAVE_AND_CLOSE"
          [label]="'LABEL.SAVE_AND_CLOSE' | translate"
          icon="pi pi-times"
          className="ivz-primary-btn p-m-2"
          [ivzConfig]="buttonConfig"
          (formValidate)="onSaveAndClose($event)"
        >
        </ivz-button>
        <ivz-button
          [label]="'LABEL.CLOSE' | translate"
          icon="pi pi-power-off"
          className="ivz-primary-btn p-m-2"
          [ivzConfig]="buttonConfig"
          (click)="onClose()"
        >
        </ivz-button>
      </div>
    </p-footer>
  </p-panel>
</div>
