<div class="ivz-item-card">
  <p-panel [showHeader]="true" [viewonly]="isView" class="ivz-panel">
    <p-header class="p-d-flex p-jc-between w-100">
      <div class="ivz-div-panel-title">
        <span class="ivz-panel-title p-m-2">{{ 'LABEL.CREDIT_APPLICATION_REQUEST_LINE' | translate }}</span>
      </div>
      <div class="ivz-div-panel-btn-group">
        <p-tieredMenu id="MENURELATED" #related [model]="relatedInfoItems" [popup]="true"> </p-tieredMenu>
        <p-button
          id="RELATED_INFO"
          #btnfn
          type="button"
          icon="pi pi-share-alt"
          (click)="related.toggle($event); function.hide(); group.hide()"
          [label]="'LABEL.RELATED_INFO' | translate"
          styleClass="p-button-text"
        >
        </p-button>
        <p-tieredMenu id="MENUFUNCTION" #function [model]="functionItems" [popup]="true"> </p-tieredMenu>
        <p-button
          id="FUNCTION"
          #btnfn
          type="button"
          icon="pi pi-cog"
          (click)="function.toggle($event); related.hide(); group.hide()"
          [label]="'LABEL.FUNCTION' | translate"
          styleClass="p-button-text"
        ></p-button>
        <p-tieredMenu id="MENUGROUP" #group [model]="itemsGroup" [popup]="true"> </p-tieredMenu>
        <p-button
          id="GROUP"
          #btnfn
          type="button"
          icon="pi pi-list"
          (click)="group.toggle($event); function.hide(); related.hide()"
          [label]="'LABEL.GROUP' | translate"
          styleClass="p-button-text"
        ></p-button>
      </div>
    </p-header>
    <p-panel-content class="ivz-div-panel-content">
      <p-fieldset [legend]="{ text: 'LABEL.GENERAL' | translate }.text" [toggleable]="true">
        <div class="p-d-flex p-flex-wrap">
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label required>{{ 'LABEL.CREDIT_APPLICATION_REQUEST_ID' | translate }} : </label>
            <ivz-input-text
              inputId="CREDIT_APP_REQUEST_TABLE_GUID"
              [(ivzModel)]="model.creditAppRequestTable_Values"
              [ivzConfig]="DEFAULT_INPUTTEXT"
            ></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label required>{{ 'LABEL.LINE' | translate }} : </label>
            <ivz-input-number inputId="LINE_NUM" [(ivzModel)]="model.lineNum" [ivzConfig]="INTEGER" required></ivz-input-number>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.REFERENCE_CREDIT_APPLICATION_ID' | translate }} : </label>
            <ivz-input-text
              inputId="REF_CREDIT_APP_TABLE_ID"
              [(ivzModel)]="model.refCreditAppTable_Values"
              [ivzConfig]="DEFAULT_INPUTTEXT"
            ></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.REFERENCE_CREDIT_APPLICATION_LINE' | translate }} : </label>
            <ivz-input-text
              inputId="REF_CREDIT_APP_LINE_GUID"
              [(ivzModel)]="model.refCreditAppLine_Values"
              maxlength="1000"
              [ivzConfig]="DEFAULT_INPUTTEXT"
            ></ivz-input-text>
          </div>
        </div>
      </p-fieldset>

      <p-fieldset [legend]="{ text: 'LABEL.BUYER_INFORMATION' | translate }.text" [toggleable]="true">
        <div class="p-d-flex p-flex-wrap">
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label required>{{ 'LABEL.BUYER_ID' | translate }} : </label>
            <ivz-dropdown
              inputId="BUYER_TABLE_GUID"
              [(ivzModel)]="model.buyerTableGUID"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="buyerTableOptions"
              required
              (ivzBindingChange)="onBuyerBinding()"
              (ivzModelChange)="onBuyerChange()"
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.BUSINESS_SEGMENT_ID' | translate }} : </label>
            <ivz-input-text
              inputId="BUSINESS_SEGMENT_ID"
              [(ivzModel)]="model.businessSegment_Values"
              [ivzConfig]="DEFAULT_INPUTTEXT"
            ></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.LINE_OF_BUSINESS_ID' | translate }} : </label>
            <ivz-input-text inputId="LINE_OF_BUSINESS_ID" [(ivzModel)]="model.lineOfBusiness_Values" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.BUSINESS_TYPE_ID' | translate }} : </label>
            <ivz-input-text inputId="BUSINESS_TYPE_ID" [(ivzModel)]="model.businessType_Values" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.DATE_OF_ESTABLISH' | translate }} : </label>
            <ivz-calendar inputId="DATE_OF_ESTABLISH" [(ivzModel)]="model.dateOfEstablish" [ivzConfig]="DATE"></ivz-calendar>
          </div>
        </div>
      </p-fieldset>
      <p-fieldset [legend]="{ text: 'LABEL.CUSTOMER_RELATED_INFORMATION' | translate }.text" [toggleable]="true">
        <div class="p-d-flex p-flex-wrap">
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.CUSTOMER_CONTACT_BUYER_PERIOD' | translate }} : </label>
            <ivz-input-number inputId="CUSTOMER_CONTACT_BUYER_PERIOD" [(ivzModel)]="model.customerContactBuyerPeriod" [ivzConfig]="CURRENCY_13_2">
            </ivz-input-number>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.BUYER_CREDIT_TERM_ID' | translate }} : </label>
            <ivz-dropdown
              inputId="BUYER_CREDIT_TERM_GUID"
              [(ivzModel)]="model.buyerCreditTermGUID"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="creditTermOptions"
              (ivzModelChange)="onBuyerCreditTermChange()"
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.CREDIT_TERM_DESCRIPTION' | translate }} : </label>
            <ivz-input-text
              inputId="CREDIT_TERM_DESCRIPTION"
              [(ivzModel)]="model.creditTermDescription"
              [ivzConfig]="DEFAULT_INPUTTEXT"
            ></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.BUYER_PRODUCT' | translate }} : </label>
            <ivz-input-text inputId="BUYER_PRODUCT" [(ivzModel)]="model.buyerProduct" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
          </div>
        </div>
      </p-fieldset>
      <p-fieldset [legend]="{ text: 'LABEL.BUYER_BILLING_INFORMATION' | translate }.text" [toggleable]="true">
        <div class="p-d-flex p-flex-wrap">
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label required>{{ 'LABEL.BILLING_DAY' | translate }} : </label>
            <ivz-dropdown
              inputId="BILLING_DAY"
              [(ivzModel)]="model.billingDay"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="dayOfMonthOptions"
              required
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.BILLING_DESCRIPTION' | translate }} : </label>
            <ivz-input-text inputId="BILLING_DESCRIPTION" [(ivzModel)]="model.billingDescription" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.BILLING_ADDRESS_ID' | translate }} : </label>
            <ivz-dropdown
              inputId="BILLING_ADDRESS_GUID"
              [(ivzModel)]="model.billingAddressGUID"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="addressTransOptions"
              (ivzModelChange)="onBillingedAddressChange()"
            ></ivz-dropdown>
            <ivz-textarea inputId="UNBOUND_BILLING_ADDRESS" [(ivzModel)]="model.unboundBillingAddress" maxlength="100"> </ivz-textarea>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.BILLING_CONTACT_PERSON_ID' | translate }} : </label>
            <ivz-dropdown
              inputId="BILLING_CONTACT_PERSON_GUID"
              [(ivzModel)]="model.billingContactPersonGUID"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="billingContactPersonTransOptions"
              (ivzOnFocus)="onBillingContactPersonTransDropdownFocus($event)"
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.BILLING_RESPONSIBLE_BY_ID' | translate }} : </label>
            <ivz-dropdown
              inputId="BILLING_RESPONSIBLE_BY_GUID"
              [(ivzModel)]="model.billingResponsibleByGUID"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="billingResponsibleByOptions"
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label required>{{ 'LABEL.METHOD_OF_BILLING' | translate }} : </label>
            <ivz-dropdown
              inputId="METHOD_OF_BILLING"
              [(ivzModel)]="model.methodOfBilling"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="methodOfBillingOptions"
              required
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.BILLING_REMARK' | translate }} : </label>
            <ivz-textarea inputId="BILLING_REMARK" [(ivzModel)]="model.billingRemark" maxlength="250"> </ivz-textarea>
          </div>
        </div>
      </p-fieldset>
      <p-fieldset [legend]="{ text: 'LABEL.BUYER_RECEIPT_INFORMATION' | translate }.text" [toggleable]="true">
        <div class="p-d-flex p-flex-wrap">
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label required>{{ 'LABEL.RECEIPT_DAY' | translate }} : </label>
            <ivz-dropdown
              inputId="RECEIPT_DAY"
              [(ivzModel)]="model.receiptDay"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="dayOfMonthOptions"
              required
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.RECEIPT_DESCRIPTION' | translate }} : </label>
            <ivz-input-text inputId="RECEIPT_DESCRIPTION" [(ivzModel)]="model.receiptDescription" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.RECEIPT_ADDRESS_ID' | translate }} : </label>
            <ivz-dropdown
              inputId="RECEIPT_ADDRESS_GUID"
              [(ivzModel)]="model.receiptAddressGUID"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="addressTransOptions"
              (ivzModelChange)="onReceiptAddressChange()"
            ></ivz-dropdown>
            <ivz-textarea inputId="UNBOUND_RECEIPT_ADDRESS" [(ivzModel)]="model.unboundReceiptAddress" maxlength="100"> </ivz-textarea>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.RECEIPT_CONTACT_PERSON_ID' | translate }} : </label>
            <ivz-dropdown
              inputId="RECEIPT_CONTACT_PERSON_GUID"
              [(ivzModel)]="model.receiptContactPersonGUID"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="receiptContactPersonTransOptions"
              (ivzOnFocus)="onReceiptContactPersonTransDropdownFocus($event)"
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.METHOD_OF_PAYMENT_ID' | translate }} : </label>
            <ivz-dropdown
              inputId="METHOD_OF_PAYMENT_GUID"
              [(ivzModel)]="model.methodOfPaymentGUID"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="methodOfPaymentOptions"
              (ivzModelChange)="onMethodOfPaymentChange()"
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.RECEIPT_REMARK' | translate }} : </label>
            <ivz-textarea inputId="RECEIPT_REMARK" [(ivzModel)]="model.receiptRemark" maxlength="250"> </ivz-textarea>
          </div>
        </div>
      </p-fieldset>
      <p-fieldset [legend]="{ text: 'LABEL.ADDRESS_INFORMATION' | translate }.text" [toggleable]="true">
        <div class="p-d-flex p-flex-wrap">
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.INVOICE_ADDRESS_ID' | translate }} : </label>
            <ivz-dropdown
              inputId="INVOICE_ADDRESS_GUID"
              [(ivzModel)]="model.invoiceAddressGUID"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="addressTransOptions"
              (ivzModelChange)="onInvoiceAddressChange()"
            ></ivz-dropdown>
            <ivz-textarea inputId="UNBOUND_INVOICE_ADDRESS" [(ivzModel)]="model.unboundInvoiceAddress" maxlength="100"> </ivz-textarea>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.MAILING_RECEIPT_ADDRESS_ID' | translate }} : </label>
            <ivz-dropdown
              inputId="MAILING_RECEIPT_ADDRESS_GUID"
              [(ivzModel)]="model.mailingReceiptAddressGUID"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="addressTransOptions"
              (ivzModelChange)="onMailingReceiptAddressChange()"
            ></ivz-dropdown>
            <ivz-textarea inputId="UNBOUND_MAILING_RECEIPT_ADDRESS" [(ivzModel)]="model.unboundMailingReceiptAddress" maxlength="100"> </ivz-textarea>
          </div>
        </div>
      </p-fieldset>
      <p-fieldset [legend]="{ text: 'LABEL.CREDIT_LIMIT_REQUEST_CONDITION' | translate }.text" [toggleable]="true">
        <div class="p-d-flex p-flex-wrap">
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.CUSTOMER_REQUEST' | translate }} : </label>
            <ivz-input-number inputId="CUSTOMER_REQUEST" [(ivzModel)]="model.customerRequest" [ivzConfig]="CURRENCY_13_2"> </ivz-input-number>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label required>{{ 'LABEL.CREDIT_LIMIT_LINE_REQUEST' | translate }} : </label>
            <ivz-input-number inputId="CREDIT_LIMIT_LINE_REQUEST" [(ivzModel)]="model.creditLimitLineRequest" [ivzConfig]="CURRENCY_13_2" required>
            </ivz-input-number>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.BUYER_CREDIT_LIMIT' | translate }} : </label>
            <ivz-input-number inputId="BUYER_CREDIT_LIMIT" [(ivzModel)]="model.buyerCreditLimit" [ivzConfig]="CURRENCY_13_2"> </ivz-input-number>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25" *ngIf="custom.isLoanerRequest">
            <label>{{ 'LABEL.REMAINING_CREDIT_LOAN_REQUEST' | translate }} : </label>
            <ivz-input-number inputId="REMAINING_CREDIT_LOAN_REQUEST" [(ivzModel)]="model.remainingCreditLoanRequest" [ivzConfig]="CURRENCY_13_2">
            </ivz-input-number>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25" *ngIf="false">
            <label>{{ 'LABEL.ALL_CUSTOMER_BUYER_OUTSTANDING' | translate }} : </label>
            <ivz-input-number inputId="ALL_CUSTOMER_BUYER_OUTSTANDING" [(ivzModel)]="model.allCustomerBuyerOutstanding" [ivzConfig]="CURRENCY_13_2">
            </ivz-input-number>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25" *ngIf="false">
            <label>{{ 'LABEL.CUSTOMER_BUYER_OUTSTANDING' | translate }} : </label>
            <ivz-input-number inputId="CUSTOMER_BUYER_OUTSTANDING" [(ivzModel)]="model.customerBuyerOutstanding" [ivzConfig]="CURRENCY_13_2">
            </ivz-input-number>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.ASSIGNMENT_METHOD_ID' | translate }} : </label>
            <ivz-dropdown
              inputId="ASSIGNMENT_METHOD_GUID"
              [(ivzModel)]="model.assignmentMethodGUID"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="assignmentMethodOptions"
              (ivzModelChange)="onAssignmentMethodChange()"
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.ACCEPTANCE_DOCUMENT' | translate }} : </label>
            <ivz-input-switch inputId="ACCEPTANCE_DOCUMENT" [(ivzModel)]="model.acceptanceDocument"></ivz-input-switch>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.ACCEPTANCE_DOCUMENT_DESCRIPTION' | translate }} : </label>
            <ivz-input-text
              inputId="ACCEPTANCE_DOCUMENT_DESCRIPTION"
              [(ivzModel)]="model.acceptanceDocumentDescription"
              [ivzConfig]="DEFAULT_INPUTTEXT"
            ></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.ASSIGNMENT_METHOD_REMARK' | translate }} : </label>
            <ivz-textarea inputId="ASSIGNMENT_METHOD_REMARK" [(ivzModel)]="model.assignmentMethodRemark" maxlength="250"> </ivz-textarea>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.PAYMENT_CONDITION' | translate }} : </label>
            <ivz-textarea inputId="PAYMENT_CONDITION" [(ivzModel)]="model.paymentCondition" maxlength="250"> </ivz-textarea>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.LINE_CONDITION' | translate }} : </label>
            <ivz-textarea inputId="LINE_CONDITION" [(ivzModel)]="model.lineCondition" maxlength="250"> </ivz-textarea>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.INSURANCE_CREDIT_LIMIT' | translate }} : </label>
            <ivz-input-number inputId="INSURANCE_CREDIT_LIMIT" [(ivzModel)]="model.insuranceCreditLimit" [ivzConfig]="CURRENCY_13_2">
            </ivz-input-number>
          </div>
        </div>
      </p-fieldset>
      <p-fieldset [legend]="{ text: 'LABEL.CREDIT_INFORMATION' | translate }.text" [toggleable]="true">
        <div class="p-d-flex p-flex-wrap">
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.BLACKLIST_STATUS_ID' | translate }} : </label>
            <ivz-input-text
              inputId="BLACKLIST_STATUS_GUID"
              [(ivzModel)]="model.blacklistStatus_Values"
              [ivzConfig]="DEFAULT_INPUTTEXT"
            ></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.KYC_ID' | translate }} : </label>
            <ivz-dropdown inputId="KYCGUID" [(ivzModel)]="model.kycSetupGUID" [ivzConfig]="DEFAULT_DROPDOWN" [options]="kycOptions"></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.CREDIT_SCORING_ID' | translate }} : </label>
            <ivz-dropdown
              inputId="CREDIT_SCORING_GUID"
              [(ivzModel)]="model.creditScoringGUID"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="creditScoringOptions"
            ></ivz-dropdown>
          </div>
        </div>
      </p-fieldset>
      <p-fieldset [legend]="{ text: 'LABEL.FACTORING' | translate }.text" [toggleable]="true">
        <div class="p-d-flex p-flex-wrap">
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.MAX_PURCHASE_PCT' | translate }} : </label>
            <ivz-input-number inputId="MAX_PURCHASE_PCT" [(ivzModel)]="model.maxPurchasePct" [ivzConfig]="PERCENT_5_2"> </ivz-input-number>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.PURCHASE_FEE_PCT' | translate }} : </label>
            <ivz-input-number inputId="PURCHASE_FEE_PCT" [(ivzModel)]="model.purchaseFeePct" [ivzConfig]="PERCENT_5_2"> </ivz-input-number>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label required>{{ 'LABEL.PURCHASE_FEE_CALCULATE_BASE' | translate }} : </label>
            <ivz-dropdown
              inputId="PURCHASE_FEE_CALCULATE_BASE"
              [(ivzModel)]="model.purchaseFeeCalculateBase"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="purchaseFeeCalculateBaseOptions"
              required
            ></ivz-dropdown>
          </div>
        </div>
      </p-fieldset>
      <p-fieldset [legend]="{ text: 'LABEL.LEASING' | translate }.text" [toggleable]="true">
        <div class="p-d-flex p-flex-wrap">
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.ASSIGNMENT_AGREEMENT_ID' | translate }} : </label>
            <ivz-dropdown
              inputId="ASSIGNMENT_AGREEMENT_TABLE_GUID"
              [(ivzModel)]="model.assignmentAgreementTableGUID"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="assignmentAgreementTableOptions"
              (ivzOnFocus)="onAssignmentAgreementTableDropdownFocus($event)"
            ></ivz-dropdown>
          </div>
        </div>
      </p-fieldset>
      <p-fieldset [legend]="{ text: 'LABEL.APPROVAL' | translate }.text" [toggleable]="true">
        <div class="p-d-flex p-flex-wrap">
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label required>{{ 'LABEL.APPROVAL_DECISION' | translate }} : </label>
            <ivz-dropdown
              inputId="APPROVAL_DECISION"
              [(ivzModel)]="model.approvalDecision"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="approvalDecisionOptions"
              required
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.APPROVED_CREDIT_LIMIT_LINE_REQUEST' | translate }} : </label>
            <ivz-input-number
              inputId="APPROVED_CREDIT_LIMIT_LINE_REQUEST"
              [(ivzModel)]="model.approvedCreditLimitLineRequest"
              [ivzConfig]="CURRENCY_13_2"
            >
            </ivz-input-number>
          </div>
        </div>
      </p-fieldset>
      <p-fieldset [legend]="{ text: 'LABEL.COMMENT' | translate }.text" [toggleable]="true">
        <div class="p-d-flex p-flex-wrap">
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.MARKETING_COMMENT' | translate }} : </label>
            <ivz-textarea inputId="MARKETING_COMMENT" [(ivzModel)]="model.marketingComment" maxlength="500"> </ivz-textarea>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.CREDIT_COMMENT' | translate }} : </label>
            <ivz-textarea inputId="CREDIT_COMMENT" [(ivzModel)]="model.creditComment" maxlength="500"> </ivz-textarea>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.APPROVER_COMMENT' | translate }} : </label>
            <ivz-textarea inputId="APPROVER_COMMENT" [(ivzModel)]="model.approverComment" maxlength="500"> </ivz-textarea>
          </div>
        </div>
      </p-fieldset>
      <p-fieldset [legend]="{ text: 'LABEL.SYSTEM' | translate }.text" [toggleable]="true">
        <div class="p-d-flex p-flex-wrap">
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.CREATED_BY' | translate }} : </label>
            <ivz-input-text inputId="CREATED_BY" [(ivzModel)]="model.createdBy" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.CREATED_DATE_TIME' | translate }} : </label>
            <ivz-calendar inputId="CREATED_DATE_TIME" [(ivzModel)]="model.createdDateTime" [ivzConfig]="DATETIME"></ivz-calendar>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.MODIFIED_BY' | translate }} : </label>
            <ivz-input-text inputId="MODIFIED_BY" [(ivzModel)]="model.modifiedBy" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.MODIFIED_DATE_TIME' | translate }} : </label>
            <ivz-calendar inputId="MODIFIED_DATE_TIME" [(ivzModel)]="model.modifiedDateTime" [ivzConfig]="DATETIME"></ivz-calendar>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label required>{{ 'LABEL.COMPANY_ID' | translate }} : </label>
            <ivz-input-text inputId="COMPANY_ID" [(ivzModel)]="model.companyId" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label required>{{ 'LABEL.BUSINESS_UNIT_ID' | translate }} : </label>
            <ivz-input-text inputId="BUSINESS_UNIT_ID" [(ivzModel)]="model.ownerBusinessUnitId" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label required>{{ 'LABEL.OWNER' | translate }} : </label>
            <ivz-input-text inputId="OWNER" [(ivzModel)]="model.owner" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
          </div>
        </div>
      </p-fieldset>
    </p-panel-content>
    <p-footer class="ivz-panel-footer">
      <div class="p-d-flex p-jc-end">
        <ivz-button
          inputId="SAVE"
          [label]="'LABEL.SAVE' | translate"
          icon="pi pi-save"
          className="ivz-primary-btn p-m-2"
          [ivzConfig]="buttonConfig"
          (formValidate)="onSave($event)"
        ></ivz-button>
        <ivz-button
          inputId="SAVE_AND_CLOSE"
          [label]="'LABEL.SAVE_AND_CLOSE' | translate"
          icon="pi pi-times"
          className="ivz-primary-btn p-m-2"
          [ivzConfig]="buttonConfig"
          (formValidate)="onSaveAndClose($event)"
        >
        </ivz-button>
        <ivz-button
          inputId="CLOSE"
          [label]="'LABEL.CLOSE' | translate"
          icon="pi pi-power-off"
          className="ivz-primary-btn p-m-2"
          [ivzConfig]="buttonConfig"
          (click)="onClose()"
        >
        </ivz-button>
      </div>
    </p-footer>
  </p-panel>
</div>
