<!-- Success/Error toast -->
<!-- <p-toast class="custom-toast" [style]="{ marginTop: '80px' }" [baseZIndex]="10000">
  <ng-template let-message pTemplate="message">
    <div class="ui-toast-message-content">
      <div class="ui-g-1">
        <span *ngIf="message.severity === 'error'" class="ui-toast-icon" style="text-align: left; display: inline-block">
          <i class="pi pi-times-circle" style="position: relative"></i>
        </span>
        <span *ngIf="message.severity === 'success'" class="ui-toast-icon" style="text-align: left; display: inline-block">
          <i class="pi pi-check-circle" style="position: relative"></i>
        </span>
        <span *ngIf="message.severity === 'warn'" class="ui-toast-icon" style="text-align: left; display: inline-block">
          <i class="pi pi-exclamation-triangle" style="position: relative"></i>
        </span>
        <span *ngIf="message.severity === 'info'" class="ui-toast-icon" style="text-align: left; display: inline-block">
          <i class="pi pi-info-circle" style="position: relative"></i>
        </span>
      </div>
      <div class="ui-g-11">
        <div class="ui-toast-summary" style="display: inline-block">
          {{ message.summary }}
        </div>
        <div class="ui-toast-detail">
          {{ message.detail }}
        </div>
      </div>
    </div>
  </ng-template>
</p-toast> -->
<p-toast></p-toast>
<!-- <p-toast [baseZIndex]="5000">
  <ng-template let-message pTemplate="message">
      <div class="p-flex p-flex-column" style="flex: 1">
          <div class="p-text-center">
              <i class="pi pi-exclamation-triangle" style="font-size: 3rem"></i>
              <h4>{{message.summary}}</h4>
              <p>{{message.detail}}</p>
          </div>
          <div class="p-grid p-fluid">
              <div class="p-col-6">
                  <button type="button" pButton (click)="onConfirm()" label="Yes" class="p-button-success"></button>
              </div>
              <div class="p-col-6">
                  <button type="button" pButton (click)="onReject()" label="No" class="p-button-secondary"></button>
              </div>
          </div>
      </div>
  </ng-template>
</p-toast> -->
<!-- Multiple error msgs dialog -->
<p-toast position="center" key="error" (onClose)="onReject()" [modal]="true" [baseZIndex]="5000">
  <ng-template let-message pTemplate="message">
    <div class="p-d-flex p-flex-wrap">
      <div class="p-d-flex p-flex-column ele-box-w-100" style="text-align: center">
        <i class="pi pi-exclamation-triangle" style="font-size: 3em"></i>
        <h3>{{ message.summary }}</h3>
        <p *ngFor="let item of message.data" style="margin-block-start: 0; margin-block-end: 0">{{ item }}</p>
      </div>
      <div class="p-d-flex p-flex-column ele-box-w-100">
        <button type="button" pButton (click)="onConfirm()" label="OK" class="ui-button-danger"></button>
      </div>
    </div>
  </ng-template>
</p-toast>

<!-- Branch/Company selector dialog -->
<!-- <p-dialog [header]='"LABEL.SELECT_BRANCH_COMPANY" | translate' [(visible)]="showBranchCompany" 
    [modal]="true" [responsive]="true" [closable]="false"
    [style]="{'width': '450px', 'minWidth': '200px', 'minY': '70px'}"
    [maximizable]="true" [baseZIndex]="10000" [resizable]="false"
    (onShow)="onShowBranchCompany()"
    (onHide)="onCloseBranchCompany()">
        <div *ngIf="isUndefinedOrZeroLength(currentCompanyGUID) && loginSite !== AppConst.CASHIER">
            {{'LABEL.DEFAULT_COMPANY_BRANCH_NA' | translate}}
        </div>
        <cpn-company-branch-selector *ngIf="visibleCompanyBranchSelector" [isStatic]="true"></cpn-company-branch-selector>
            
</p-dialog> -->

<!-- Unauthoirzed dialog -->
<!-- <p-dialog [header]='"LABEL.UNAUTHORIZED" | translate' [(visible)]="showUnauthoirzed" [modal]="true" [responsive]="true" 
        [style]="{'width': '450px', 'minWidth': '200px', 'minY': '70px'}"
        [maximizable]="true" [baseZIndex]="10000" [resizable]="false">
        <smart-app-unauthorized></smart-app-unauthorized>
        <p-footer>           
            <button type="button" pButton  (click)="onClose401()" [label]='"LABEL.OK" | translate' class="ui-button-info"></button>
        </p-footer>
</p-dialog> -->

<p-confirmDialog [style]="{ width: '500px' }"></p-confirmDialog>
<!-- <p-dialog header={{message.topic}} [(visible)]="message.display" [modal]="true" [responsive]="true" 
        [style]="{'width': '450px', 'minWidth': '200px', 'minY': '70px'}" 
        [maximizable]="true" [baseZIndex]="10000">
        <div *ngFor="let item of message.contents">
            <span >{{item}}</span>
        </div>
        <p-footer>
            <button type="button" pButton icon="pi pi-close" (click)="message.display=false" label="Ok" class="ui-button-secondary"></button>
        </p-footer>
</p-dialog> -->
