<div class="ivz-item-card">
  <p-panel [showHeader]="true" [viewonly]="isView" class="ivz-panel">
    <p-header class="p-d-flex p-jc-between w-100">
      <div class="ivz-div-panel-title">
        <span class="ivz-panel-title p-m-2">{{ 'LABEL.FREE_TEXT_INVOICE' | translate }}</span>
      </div>
      <div class="ivz-div-panel-btn-group">
        <p-tieredMenu id="MENURELATED" #related [model]="relatedInfoItems" [popup]="true"> </p-tieredMenu>
        <p-button
          id="RELATED_INFO"
          #btnfn
          type="button"
          icon="pi pi-share-alt"
          (click)="related.toggle($event); function.hide(); group.hide()"
          [label]="'LABEL.RELATED_INFO' | translate"
          styleClass="p-button-text"
        >
        </p-button>
        <p-tieredMenu id="MENUFUNCTION" #function [model]="functionItems" [popup]="true"> </p-tieredMenu>
        <p-button
          id="FUNCTION"
          #btnfn
          type="button"
          icon="pi pi-cog"
          (click)="function.toggle($event); related.hide(); group.hide()"
          [label]="'LABEL.FUNCTION' | translate"
          styleClass="p-button-text"
        ></p-button>
        <p-tieredMenu id="MENUGROUP" #group [model]="itemsGroup" [popup]="true"> </p-tieredMenu>
        <p-button
          id="GROUP"
          #btnfn
          type="button"
          icon="pi pi-list"
          (click)="group.toggle($event); function.hide(); related.hide()"
          [label]="'LABEL.GROUP' | translate"
          styleClass="p-button-text"
        ></p-button>
      </div>
    </p-header>
    <p-panel-content class="ivz-div-panel-content">
      <p-fieldset [legend]="{ text: 'LABEL.GENERAL' | translate }.text" [toggleable]="true">
        <div class="p-d-flex p-flex-wrap">
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.FREE_TEXT_INVOICE_ID' | translate }} : </label>
            <ivz-input-text inputId="FREE_TEXT_INVOICE_ID" [(ivzModel)]="model.freeTextInvoiceId" [ivzConfig]="ID_INPUTTEXT"></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label required>{{ 'LABEL.CUSTOMER_ID' | translate }} : </label>
            <ivz-dropdown
              inputId="CUSTOMER_TABLE_GUID"
              [(ivzModel)]="model.customerTableGUID"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="customerTableOptions"
              (ivzModelChange)="onCustomerChange($event)"
              required
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label required>{{ 'LABEL.CUSTOMER_NAME' | translate }} : </label>
            <ivz-input-text inputId="CUSTOMER_NAME" [(ivzModel)]="model.customerName" [ivzConfig]="DEFAULT_INPUTTEXT" required></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label required>{{ 'LABEL.PRODUCT_TYPE' | translate }} : </label>
            <ivz-dropdown
              inputId="PRODUCT_TYPE"
              [(ivzModel)]="model.productType"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="productTypeOptions"
              required
              (ivzModelChange)="onProductTypeChange($event)"
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label required>{{ 'LABEL.INVOICE_TYPE_ID' | translate }} : </label>
            <ivz-dropdown
              inputId="INVOICE_TYPE_GUID"
              [(ivzModel)]="model.invoiceTypeGUID"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="invoiceTypeOptions"
              required
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.STATUS' | translate }} : </label>
            <ivz-input-text
              inputId="DOCUMENT_STATUS_GUID"
              [(ivzModel)]="model.documentStatus_Description"
              maxlength="1000"
              [ivzConfig]="DEFAULT_INPUTTEXT"
            ></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.CREDIT_APPLICATION_ID' | translate }} : </label>
            <ivz-dropdown
              inputId="CREDIT_APP_TABLE_GUID"
              [(ivzModel)]="model.creditAppTableGUID"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="creditAppTableOptions"
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label required>{{ 'LABEL.ISSUED_DATE' | translate }} : </label>
            <ivz-calendar
              inputId="ISSUED_DATE"
              [(ivzModel)]="model.issuedDate"
              [ivzConfig]="DATE"
              required
              (ivzModelChange)="onIsuedDate($event)"
              [ivzValidation]="onValidateDate()"
            ></ivz-calendar>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label required>{{ 'LABEL.DUE_DATE' | translate }} : </label>
            <ivz-calendar
              inputId="DUE_DATE"
              [(ivzModel)]="model.dueDate"
              [ivzConfig]="DATE"
              required
              [ivzValidation]="onValidateDate()"
            ></ivz-calendar>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label required>{{ 'LABEL.CURRENCY_ID' | translate }} : </label>
            <ivz-dropdown
              inputId="CURRENCY_GUID"
              [(ivzModel)]="model.currencyGUID"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="currencyOptions"
              required
              (ivzModelChange)="onCurrencyChange($event)"
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label required>{{ 'LABEL.EXCHANGE_RATE' | translate }} : </label>
            <ivz-input-number inputId="EXCHANGE_RATE" [(ivzModel)]="model.exchangeRate" [ivzConfig]="CURRENCY_13_2" required> </ivz-input-number>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.REMARK' | translate }} : </label>
            <ivz-textarea inputId="REMARK" [(ivzModel)]="model.remark" [ivzConfig]="DEFAULT_TEXTAREA"> </ivz-textarea>
          </div>
        </div>
      </p-fieldset>
      <p-fieldset [legend]="{ text: 'LABEL.ADDRESS' | translate }.text" [toggleable]="true">
        <div class="p-d-flex p-flex-wrap">
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label required>{{ 'LABEL.INVOICE_ADDRESS_ID' | translate }} : </label>
            <ivz-dropdown
              inputId="INVOICE_ADDRESS_GUID"
              [(ivzModel)]="model.invoiceAddressGUID"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="addressTransOptions"
              required
              (ivzModelChange)="onInvoiceAddressChange($event)"
            ></ivz-dropdown>
            <ivz-textarea inputId="UNBOUND_INVOICE_ADDRESS" [(ivzModel)]="model.unboundInvoiceAddress" maxlength="500" [ivzConfig]="DEFAULT_TEXTAREA">
            </ivz-textarea>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.TAX_BRANCH_ID' | translate }} : </label>
            <ivz-input-text inputId="TAX_BRANCH_ID" [(ivzModel)]="model.taxBranchId" maxlength="5" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.TAX_BRANCH_NAME' | translate }} : </label>
            <ivz-input-text inputId="TAX_BRANCH_NAME" [(ivzModel)]="model.taxBranchName" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label required>{{ 'LABEL.MAILING_INVOICE_ADDRESS_ID' | translate }} : </label>
            <ivz-dropdown
              inputId="MAILING_INVOICE_ADDRESS_GUID"
              [(ivzModel)]="model.mailingInvoiceAddressGUID"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="addressTransOptions"
              required
              (ivzModelChange)="onMailingInvoiceAddressChange($event)"
            ></ivz-dropdown>
            <ivz-textarea
              inputId="UNBOUND_MAILING_INVOICE_ADDRESS"
              [(ivzModel)]="model.unboundMailingInvoiceAddress"
              maxlength="500"
              [ivzConfig]="DEFAULT_TEXTAREA"
            >
            </ivz-textarea>
          </div>
        </div>
      </p-fieldset>
      <p-fieldset [legend]="{ text: 'LABEL.AMOUNT' | translate }.text" [toggleable]="true">
        <div class="p-d-flex p-flex-wrap">
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label required>{{ 'LABEL.SERVICE_FEE_TYPE_ID' | translate }} : </label>
            <ivz-dropdown
              inputId="INVOICE_REVENUE_TYPE_GUID"
              [(ivzModel)]="model.invoiceRevenueTypeGUID"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="invoiceRevenueTypeOptions"
              required
              (ivzModelChange)="onServiceFeeTypeChange($event)"
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.INVOICE_TEXT' | translate }} : </label>
            <ivz-textarea inputId="INVOICE_TEXT" [(ivzModel)]="model.invoiceText" [ivzConfig]="DEFAULT_TEXTAREA"> </ivz-textarea>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.AMOUNT_BEFORE_TAX' | translate }} : </label>
            <ivz-input-number
              inputId="INVOICE_AMOUNT_BEFORE_TAX"
              [(ivzModel)]="model.invoiceAmountBeforeTax"
              [ivzConfig]="CURRENCY_13_2"
              (ivzModelChange)="onAmountBeforeTaxChange($event)"
            >
            </ivz-input-number>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.TAX_CODE' | translate }} : </label>
            <ivz-dropdown
              inputId="TAX_TABLE_GUID"
              [(ivzModel)]="model.taxTableGUID"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="taxTableOptions"
              (ivzModelChange)="onTaxCodeChange($event)"
              [ivzValidation]="onTaxCodeValidate()"
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.TAX_AMOUNT' | translate }} : </label>
            <ivz-input-number inputId="TAX_AMOUNT" [(ivzModel)]="model.taxAmount" [ivzConfig]="CURRENCY_13_2"> </ivz-input-number>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.INVOICE_AMOUNT' | translate }} : </label>
            <ivz-input-number inputId="INVOICE_AMOUNT" [(ivzModel)]="model.invoiceAmount" [ivzConfig]="CURRENCY_13_2"> </ivz-input-number>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.WITHHOLDING_TAX_CODE' | translate }} : </label>
            <ivz-dropdown
              inputId="WITHHOLDING_TAX_TABLE_GUID"
              [(ivzModel)]="model.withholdingTaxTableGUID"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="withholdingTaxTableOptions"
              (ivzModelChange)="onWHDTaxCodeChange($event)"
              [ivzValidation]="onWHDTaxCodeValidate()"
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.WITHHOLDING_TAX_AMOUNT' | translate }} : </label>
            <ivz-input-number inputId="WHT_AMOUNT" [(ivzModel)]="model.whtAmount" [ivzConfig]="CURRENCY_13_2"> </ivz-input-number>
          </div>
        </div>
      </p-fieldset>
      <p-fieldset [legend]="{ text: 'LABEL.CREDIT_NOTE_REFERENCE' | translate }.text" [toggleable]="true">
        <div class="p-d-flex p-flex-wrap">
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label [required]="custom.cNReasonIdRequire">{{ 'LABEL.CN_REASON_ID' | translate }} : </label>
            <ivz-dropdown
              inputId="CN_REASON_GUID"
              [(ivzModel)]="model.cnReasonGUID"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="documentReasonOptions"
              [required]="custom.cNReasonIdRequire"
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.ORIGINAL_INVOICE' | translate }} : </label>
            <ivz-dropdown
              inputId="ORIG_INVOICE"
              [(ivzModel)]="model.origInvoice"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="invoiceTableOptions"
              (ivzModelChange)="onOriginalInvoiceChange($event)"
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label [required]="custom.originalInvoiceIdRequire">{{ 'LABEL.ORIGINAL_INVOICE_ID' | translate }} : </label>
            <ivz-input-text
              inputId="ORIG_INVOICE_ID"
              [(ivzModel)]="model.origInvoiceId"
              [ivzConfig]="ID_INPUTTEXT"
              [required]="custom.originalInvoiceIdRequire"
            ></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label [required]="custom.originalInvoiceAmountRequire">{{ 'LABEL.ORIGINAL_INVOICE_AMOUNT' | translate }} : </label>
            <ivz-input-number
              inputId="ORIG_INVOICE_AMOUNT"
              [(ivzModel)]="model.origInvoiceAmount"
              [ivzConfig]="CURRENCY_13_2"
              [required]="custom.originalInvoiceAmountRequire"
            >
            </ivz-input-number>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.ORIGINAL_TAX_INVOICE_ID' | translate }} : </label>
            <ivz-input-text inputId="ORIG_TAX_INVOICE_ID" [(ivzModel)]="model.origTaxInvoiceId" [ivzConfig]="ID_INPUTTEXT"></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.ORIGINAL_TAX_INVOICE_AMOUNT' | translate }} : </label>
            <ivz-input-number inputId="ORIG_TAX_INVOICE_AMOUNT" [(ivzModel)]="model.origTaxInvoiceAmount" [ivzConfig]="CURRENCY_13_2">
            </ivz-input-number>
          </div>
        </div>
      </p-fieldset>
      <p-fieldset [legend]="{ text: 'LABEL.FINANCIAL_DIMENSIONS' | translate }.text" [toggleable]="true">
        <div class="p-d-flex p-flex-wrap">
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.DIMENSION_1' | translate }} : </label>
            <ivz-dropdown
              inputId="DIMENSION1GUID"
              [(ivzModel)]="model.dimension1GUID"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="ledgerDimensionOptions1"
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.DIMENSION_2' | translate }} : </label>
            <ivz-dropdown
              inputId="DIMENSION2GUID"
              [(ivzModel)]="model.dimension2GUID"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="ledgerDimensionOptions2"
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.DIMENSION_3' | translate }} : </label>
            <ivz-dropdown
              inputId="DIMENSION3GUID"
              [(ivzModel)]="model.dimension3GUID"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="ledgerDimensionOptions3"
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.DIMENSION_4' | translate }} : </label>
            <ivz-dropdown
              inputId="DIMENSION4GUID"
              [(ivzModel)]="model.dimension4GUID"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="ledgerDimensionOptions4"
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.DIMENSION_5' | translate }} : </label>
            <ivz-dropdown
              inputId="DIMENSION5GUID"
              [(ivzModel)]="model.dimension5GUID"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="ledgerDimensionOptions5"
            ></ivz-dropdown>
          </div>
        </div>
      </p-fieldset>
      <p-fieldset [legend]="{ text: 'LABEL.REFERENCE' | translate }.text" [toggleable]="true">
        <div class="p-d-flex p-flex-wrap">
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.INVOICE_ID' | translate }} : </label>
            <ivz-input-text
              inputId="INVOICE_TABLE_GUID"
              [(ivzModel)]="model.invoiceTable_Values"
              maxlength="1000"
              [ivzConfig]="DEFAULT_INPUTTEXT"
            ></ivz-input-text>
          </div>
        </div>
      </p-fieldset>
      <p-fieldset [legend]="{ text: 'LABEL.SYSTEM' | translate }.text" [toggleable]="true">
        <div class="p-d-flex p-flex-wrap">
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.CREATED_BY' | translate }} : </label>
            <ivz-input-text inputId="CREATED_BY" [(ivzModel)]="model.createdBy" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.CREATED_DATE_TIME' | translate }} : </label>
            <ivz-calendar inputId="CREATED_DATE_TIME" [(ivzModel)]="model.createdDateTime" [ivzConfig]="DATETIME"></ivz-calendar>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.MODIFIED_BY' | translate }} : </label>
            <ivz-input-text inputId="MODIFIED_BY" [(ivzModel)]="model.modifiedBy" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.MODIFIED_DATE_TIME' | translate }} : </label>
            <ivz-calendar inputId="MODIFIED_DATE_TIME" [(ivzModel)]="model.modifiedDateTime" [ivzConfig]="DATETIME"></ivz-calendar>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label required>{{ 'LABEL.COMPANY_ID' | translate }} : </label>
            <ivz-input-text inputId="COMPANY_ID" [(ivzModel)]="model.companyId" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label required>{{ 'LABEL.BUSINESS_UNIT_ID' | translate }} : </label>
            <ivz-input-text inputId="BUSINESS_UNIT_ID" [(ivzModel)]="model.ownerBusinessUnitId" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label required>{{ 'LABEL.OWNER' | translate }} : </label>
            <ivz-input-text inputId="OWNER" [(ivzModel)]="model.owner" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
          </div>
        </div>
      </p-fieldset>
    </p-panel-content>
    <p-footer class="ivz-panel-footer">
      <div class="p-d-flex p-jc-end">
        <ivz-button
          inputId="SAVE"
          [label]="'LABEL.SAVE' | translate"
          icon="pi pi-save"
          className="ivz-primary-btn p-m-2"
          [ivzConfig]="buttonConfig"
          (formValidate)="onSave($event)"
        ></ivz-button>
        <ivz-button
          inputId="SAVE_AND_CLOSE"
          [label]="'LABEL.SAVE_AND_CLOSE' | translate"
          icon="pi pi-times"
          className="ivz-primary-btn p-m-2"
          [ivzConfig]="buttonConfig"
          (formValidate)="onSaveAndClose($event)"
        >
        </ivz-button>
        <ivz-button
          inputId="CLOSE"
          [label]="'LABEL.CLOSE' | translate"
          icon="pi pi-power-off"
          className="ivz-primary-btn p-m-2"
          [ivzConfig]="buttonConfig"
          (click)="onClose()"
        >
        </ivz-button>
      </div>
    </p-footer>
  </p-panel>
</div>
