<div class="ivz-item-card function-m">
  <p-panel [showHeader]="true" [viewonly]="isView" class="ivz-panel">
    <p-header class="p-d-flex p-jc-between w-100">
      <div class="ivz-div-panel-title">
        <span class="ivz-panel-title p-m-2">{{ 'LABEL.CLEAN_UP_BATCH_HISTORY' | translate }}</span>
      </div>
    </p-header>
    <p-panel-content class="ivz-div-panel-content">
      <p-fieldset [legend]="{ text: 'LABEL.GENERAL' | translate }.text" [toggleable]="true">
        <div class="p-d-flex p-flex-wrap">
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.INSTANCE_STATE' | translate }} : </label>
            <ivz-multi-select
              inputId="INSTANCE_STATE"
              [(ivzModel)]="model.instanceState"
              [ivzConfig]="DEFAULT_MULTISELECT"
              [options]="instanceStateOptions"
            ></ivz-multi-select>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.FROM_CREATED_DATE' | translate }} : </label>
            <ivz-calendar
              inputId="FROM_CREATED_DATE"
              [(ivzModel)]="model.fromCreatedDate"
              [ivzConfig]="DATE"
              [ivzValidation]="onDateFromDateToValidation()"
            ></ivz-calendar>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.TO_CREATED_DATE' | translate }} : </label>
            <ivz-calendar
              inputId="TO_CREATED_DATE"
              [(ivzModel)]="model.toCreatedDate"
              [ivzConfig]="DATE"
              [ivzValidation]="onDateFromDateToValidation()"
            ></ivz-calendar>
          </div>
        </div>
      </p-fieldset>
    </p-panel-content>
    <p-footer class="ivz-panel-footer">
      <div class="p-d-flex p-jc-end">
        <ivz-button
          inputId="OK"
          [label]="'LABEL.OK' | translate"
          icon="pi pi-times"
          className="ivz-primary-btn p-m-2"
          [ivzConfig]="buttonConfig"
          (formValidate)="onSaveAndClose($event)"
        >
        </ivz-button>
        <ivz-button
          inputId="CANCEL"
          [label]="'LABEL.CANCEL' | translate"
          icon="pi pi-power-off"
          className="ivz-primary-btn p-m-2"
          [ivzConfig]="buttonConfig"
          (click)="onClose()"
        >
        </ivz-button>
      </div>
    </p-footer>
  </p-panel>
</div>
