<div
  class="layout-wrapper"
  (click)="onLayoutClick()"
  [ngClass]="{
    'layout-static': isStatic(),
    'layout-overlay': isOverlay(),
    'layout-overlay-active': overlayMenuActive,
    'layout-horizontal': isHorizontal(),
    'layout-slim': isSlim(),
    'layout-static-inactive': staticMenuDesktopInactive,
    'layout-mobile-active': staticMenuMobileActive,
    'layout-menu-dark': darkMenu,
    'layout-menu-light': !darkMenu
  }"
>
  <app-topbar class="page-container" [ngClass]="{ 'display-none': !isLoggedIn() || !isActivated }"></app-topbar>

  <div class="layout-menu-container page-container" [ngClass]="{ 'display-none': !isLoggedIn() || !isActivated }" (click)="onMenuClick($event)">
    <div class="layout-menu-logo">
      <a href="#" style="padding: 0px 0px 0px 8px">
        <img
          id="layout-menu-logo"
          style="height: 64px; margin: 0 0 5px 0; padding: 0 0 5px 0"
          src="assets/layout/images/logo-white.png"
          library="babylon-layout"
        />
      </a>
    </div>
    <div class="layout-menu-wrapper">
      <div class="menu-scroll-content">
        <app-inline-profile *ngIf="profileMode == 'inline' && !isHorizontal()"></app-inline-profile>
        <app-menu></app-menu>
      </div>
    </div>
  </div>

  <div class="layout-main">
    <!-- <app-breadcrumb></app-breadcrumb> -->

    <div class="layout-content">
      <ngx-spinner bdColor="rgba(254, 253, 253, 0.8)" size="medium" color="#2fa4e7" type="square-jelly-box" [fullScreen]="true"
        ><p style="color: #2fa4e7">Loading...</p></ngx-spinner
      >
      <ivz-toast></ivz-toast>
      <!-- <p-button type="button" icon="pi pi-globe" (click)="onSwitch()" label="Switch language" styleClass="p-button-text"></p-button> -->
      <router-outlet></router-outlet>
    </div>
  </div>

  <!-- <app-config></app-config> -->

  <app-footer></app-footer>

  <div class="layout-mask"></div>
</div>
