<div class="ivz-item-card function-m">
  <p-panel [showHeader]="true" [viewonly]="isView" class="ivz-panel">
    <p-header class="p-d-flex p-jc-between w-100">
      <div class="ivz-div-panel-title">
        <span class="ivz-panel-title p-m-2">{{ 'LABEL.GENERATE_MAIN_AGREEMENT_LOAN_REQUEST' | translate }}</span>
      </div>
      <div class="ivz-div-panel-btn-group">
        <p-tieredMenu id="MENURELATED" #related [model]="relatedInfoItems" [popup]="true"> </p-tieredMenu>
        <p-button
          id="RELATED_INFO"
          #btnfn
          type="button"
          icon="pi pi-share-alt"
          (click)="related.toggle($event); function.hide(); group.hide()"
          [label]="'LABEL.RELATED_INFO' | translate"
          styleClass="p-button-text"
        >
        </p-button>
        <p-tieredMenu id="MENUFUNCTION" #function [model]="functionItems" [popup]="true"> </p-tieredMenu>
        <p-button
          id="FUNCTION"
          #btnfn
          type="button"
          icon="pi pi-cog"
          (click)="function.toggle($event); related.hide(); group.hide()"
          [label]="'LABEL.FUNCTION' | translate"
          styleClass="p-button-text"
        ></p-button>
        <p-tieredMenu id="MENUGROUP" #group [model]="itemsGroup" [popup]="true"> </p-tieredMenu>
        <p-button
          id="GROUP"
          #btnfn
          type="button"
          icon="pi pi-list"
          (click)="group.toggle($event); function.hide(); related.hide()"
          [label]="'LABEL.GROUP' | translate"
          styleClass="p-button-text"
        ></p-button>
      </div>
    </p-header>
    <p-panel-content class="ivz-div-panel-content">
      <p-fieldset [legend]="{ text: 'LABEL.MAIN_AGREEMENT_INFORMATION' | translate }.text" [toggleable]="true">
        <div class="p-d-flex p-flex-wrap">
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.INTERNAL_MAIN_AGREEMENT_ID' | translate }} : </label>
            <ivz-input-text
              inputId="INTERNAL_MAIN_AGREEMENT_ID"
              [(ivzModel)]="model.internalMainAgreementId"
              [ivzConfig]="ID_INPUTTEXT"
            ></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.MAIN_AGREEMENT_ID' | translate }} : </label>
            <ivz-input-text inputId="MAIN_AGREEMENT_ID" [(ivzModel)]="model.mainAgreementId" [ivzConfig]="ID_INPUTTEXT"></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-100">
            <label>{{ 'LABEL.MAIN_AGREEMENT_DESCRIPTION' | translate }} : </label>
            <ivz-input-text
              inputId="MAIN_AGREEMENT_DESCRIPTION"
              [(ivzModel)]="model.mainAgreementDescription"
              [ivzConfig]="DEFAULT_INPUTTEXT"
            ></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.CUSTOMER_ID' | translate }} : </label>
            <ivz-input-text inputId="CUSTOMER_GUID" [(ivzModel)]="model.customer_Values" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.CUSTOMER_NAME' | translate }} : </label>
            <ivz-input-text inputId="CUSTOMER_NAME" [(ivzModel)]="model.customerName" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.BUYER_ID' | translate }} : </label>
            <ivz-input-text inputId="BUYER_GUID" [(ivzModel)]="model.buyer_Values" [ivzConfig]="ID_INPUTTEXT"></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.BUYER_NAME' | translate }} : </label>
            <ivz-input-text inputId="BUYER_NAME" [(ivzModel)]="model.buyerName" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.CREDIT_APPLICATION_ID' | translate }} : </label>
            <ivz-input-text
              inputId="CREDIT_APP_TABLE_GUID"
              [(ivzModel)]="model.creditAppTable_Values"
              [ivzConfig]="DEFAULT_INPUTTEXT"
            ></ivz-input-text>
          </div>
        </div>
      </p-fieldset>
      <p-fieldset [legend]="{ text: 'LABEL.LOAN_REQUEST_INFORMATION' | translate }.text" [toggleable]="true">
        <div class="p-d-flex p-flex-wrap">
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label [required]="custom.isMandatory_loanrequestInternalMainAgreementId"
              >{{ 'LABEL.LOAN_REQUEST_INTERNAL_MAIN_AGREEMENT_ID' | translate }} :
            </label>
            <ivz-input-text
              inputId="LOAN_REQUEST_INTERNAL_MAIN_AGREEMENT_ID"
              [(ivzModel)]="model.loanrequestInternalMainAgreementId"
              [ivzConfig]="ID_INPUTTEXT"
              [required]="custom.isMandatory_loanrequestInternalMainAgreementId"
            ></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label required>{{ 'LABEL.CREDIT_APPLICATION_REQUEST_ID' | translate }} : </label>
            <ivz-dropdown
              inputId="CREDIT_APP_REQUEST_TABLE_GUID"
              [(ivzModel)]="model.creditAppRequestTableGUID"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="creditAppRequestTableOptions"
              (ivzModelChange)="onCreditAppRequestIDChange($event)"
              required
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-100">
            <label required>{{ 'LABEL.LOAN_REQUEST_DESCRIPTION' | translate }} : </label>
            <ivz-input-text inputId="DESCRIPTION" [(ivzModel)]="model.description" [ivzConfig]="DEFAULT_INPUTTEXT" required></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label required>{{ 'LABEL.AGREEMENT_DATE' | translate }} : </label>
            <ivz-calendar inputId="AGREEMENT_DATE" [(ivzModel)]="model.agreementDate" [ivzConfig]="DATE" required></ivz-calendar>
          </div>
        </div>
      </p-fieldset>
      <p-fieldset [legend]="{ text: 'LABEL.CREDIT_APPLICATION_REQUEST_INFORMATION' | translate }.text" [toggleable]="true">
        <div class="p-d-flex p-flex-wrap">
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.CREDIT_APPLICATION_REQUEST_TYPE' | translate }} : </label>
            <ivz-dropdown
              inputId="CREDIT_APP_REQUEST_TYPE"
              [(ivzModel)]="model.creditAppRequestType"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="creditAppRequestTypeOptions"
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.CREDIT_LIMIT_TYPE_ID' | translate }} : </label>
            <ivz-input-text
              inputId="CREDIT_LIMIT_TYPE_GUID"
              [(ivzModel)]="model.creditLimitType_Values"
              [ivzConfig]="DEFAULT_INPUTTEXT"
            ></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.REQUEST_DATE' | translate }} : </label>
            <ivz-calendar inputId="REQUEST_DATE" [(ivzModel)]="model.requestDate" [ivzConfig]="DATE"></ivz-calendar>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.CREDIT_APPLICATION_REQUEST_DESCRIPTION' | translate }} : </label>
            <ivz-input-text
              inputId="CREDIT_APP_REQUEST_DESCRIPTION"
              [(ivzModel)]="model.creditAppRequestDescription"
              [ivzConfig]="DEFAULT_INPUTTEXT"
            ></ivz-input-text>
          </div>
        </div>
      </p-fieldset>
    </p-panel-content>
    <p-footer class="ivz-panel-footer">
      <div class="p-d-flex p-jc-end">
        <ivz-button
          inputId="OK"
          [label]="'LABEL.OK' | translate"
          icon="pi pi-times"
          className="ivz-primary-btn p-m-2"
          [ivzConfig]="buttonConfig"
          (formValidate)="onSaveAndClose($event)"
        >
        </ivz-button>
        <ivz-button
          inputId="CLOSE"
          [label]="'LABEL.CLOSE' | translate"
          icon="pi pi-power-off"
          className="ivz-primary-btn p-m-2"
          [ivzConfig]="buttonConfig"
          (click)="onClose()"
        >
        </ivz-button>
      </div>
    </p-footer>
  </p-panel>
</div>
