<div class="ivz-item-card function-m">
  <p-panel [showHeader]="true" [viewonly]="isView" class="ivz-panel">
    <p-header class="p-d-flex p-jc-between w-100">
      <div class="ivz-div-panel-title">
        <span class="ivz-panel-title p-m-2">{{ 'LABEL.CANCEL_INTERCOMPANY_INVOICE_SETTLEMENT' | translate }}</span>
      </div>
    </p-header>
    <p-panel-content class="ivz-div-panel-content">
      <p-fieldset [legend]="{ text: 'LABEL.GENERAL' | translate }.text" [toggleable]="true">
        <div class="p-d-flex p-flex-wrap">
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.INTERCOMPANY_INVOICE_ID' | translate }} : </label>
            <ivz-input-text
              inputId="INTERCOMPANY_INVOICE_ID"
              [(ivzModel)]="model.intercompanyInvoice_Values"
              maxlength="150"
              [ivzConfig]="DEFAULT_INPUTTEXT"
            ></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.INTERCOMPANY_INVOICE_SETTLEMENT_ID' | translate }} : </label>
            <ivz-input-text
              inputId="INTERCOMPANY_INVOICE_SETTLEMENT_ID"
              [(ivzModel)]="model.intercompanyInvoiceSettlementId"
              maxlength="150"
              [ivzConfig]="DEFAULT_INPUTTEXT"
            ></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.STATUS' | translate }} : </label>
            <ivz-input-text inputId="DOCUMENT_STATUS" [(ivzModel)]="model.documentStatus_Values" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.SETTLE_AMOUNT' | translate }} : </label>
            <ivz-input-number inputId="SETTLE_AMOUNT" [(ivzModel)]="model.settleAmount" [ivzConfig]="CURRENCY_13_2"> </ivz-input-number>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.SETTLE_WITHHOLDING_TAX_AMOUNT' | translate }} : </label>
            <ivz-input-number inputId="SETTLE_WHT_AMOUNT" [(ivzModel)]="model.settleWHTAmount" [ivzConfig]="CURRENCY_13_2"> </ivz-input-number>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.SETTLE_INVOICE_AMOUNT' | translate }} : </label>
            <ivz-input-number inputId="SETTLE_INVOICE_AMOUNT" [(ivzModel)]="model.settleInvoiceAmount" [ivzConfig]="CURRENCY_13_2">
            </ivz-input-number>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.METHOD_OF_PAYMENT_ID' | translate }} : </label>
            <ivz-input-text
              inputId="METHOD_OF_PAYMENT_ID"
              [(ivzModel)]="model.methodOfPayment_Values"
              maxlength="1000"
              [ivzConfig]="DEFAULT_INPUTTEXT"
            ></ivz-input-text>
          </div>
        </div>
      </p-fieldset>
      <p-fieldset [legend]="{ text: 'LABEL.CANCELLATION_INFO' | translate }.text" [toggleable]="true">
        <div class="p-d-flex p-flex-wrap">
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label required>{{ 'LABEL.CANCEL_DATE' | translate }} : </label>
            <ivz-calendar inputId="CANCEL_DATE" [(ivzModel)]="model.cancelDate" [ivzConfig]="DATE" required></ivz-calendar>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label required>{{ 'LABEL.CN_REASON_ID' | translate }} : </label>
            <ivz-dropdown
              inputId="CN_REASON_GUID"
              [(ivzModel)]="model.cnReasonGUID"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="documentReasonOptions"
              required
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label required>{{ 'LABEL.ORIGINAL_INVOICE_ID' | translate }} : </label>
            <ivz-input-text inputId="ORIG_INVOICE_ID" [(ivzModel)]="model.origInvoiceId" [ivzConfig]="ID_INPUTTEXT" required></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label required>{{ 'LABEL.ORIGINAL_INVOICE_AMOUNT' | translate }} : </label>
            <ivz-input-number inputId="ORIG_INVOICE_AMOUNT" [(ivzModel)]="model.origInvoiceAmount" [ivzConfig]="CURRENCY_13_2" required>
            </ivz-input-number>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.ORIGINAL_TAX_INVOICE_ID' | translate }} : </label>
            <ivz-input-text inputId="ORIG_TAX_INVOICE_ID" [(ivzModel)]="model.origTaxInvoiceId" [ivzConfig]="ID_INPUTTEXT"></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.ORIGINAL_TAX_INVOICE_AMOUNT' | translate }} : </label>
            <ivz-input-number inputId="ORIG_TAX_INVOICE_AMOUNT" [(ivzModel)]="model.origTaxInvoiceAmount" [ivzConfig]="CURRENCY_13_2">
            </ivz-input-number>
          </div>
        </div>
      </p-fieldset>
    </p-panel-content>
    <p-footer class="ivz-panel-footer">
      <div class="p-d-flex p-jc-end">
        <ivz-button
          inputId="OK"
          [label]="'LABEL.OK' | translate"
          icon="pi pi-times"
          className="ivz-primary-btn p-m-2"
          [ivzConfig]="buttonConfig"
          (formValidate)="onSaveAndClose($event)"
        >
        </ivz-button>
        <ivz-button
          inputId="CANCEL"
          [label]="'LABEL.CANCEL' | translate"
          icon="pi pi-power-off"
          className="ivz-primary-btn p-m-2"
          [ivzConfig]="buttonConfig"
          (click)="onClose()"
        >
        </ivz-button>
      </div>
    </p-footer>
  </p-panel>
</div>
