:host ::ng-deep .inline-grid-button {
    width: 1.7rem !important;
    height: 1.7rem !important;
}
:host ::ng-deep .inline-grid-button-icon {
    font-size: 0.8em !important;
}
:host ::ng-deep .ui-button-no-label {
    color: transparent  !important;
}
:host ::ng-deep .ui-button-outlined-thick {
    //box-shadow: 0 0 0px 0.4em inset !important; 
    border: 0.4em solid  !important;
    background-color: transparent  !important;
}
:host ::ng-deep .ui-button-outlined-medium {
    //box-shadow: 0 0 0px 0.25em inset !important; 
    border: 0.3em solid  !important;
    background-color: transparent  !important;
}
:host ::ng-deep .ui-button-rounded {
    border-radius: 2em  !important;
}
:host ::ng-deep .ui-button-danger.ui-button-outlined-thick {
    border: 0.4em solid #d32f2f  !important;
    background-color: transparent  !important;
    //box-shadow: 0 0 0px 0.4em #d32f2f inset !important;
}
:host ::ng-deep .ui-button-danger.ui-button-outlined-thick.p-button:hover {
    background: rgba(211, 47, 47, 0.04) !important;
    box-shadow: 0 0 0.5em 0px #2196f3 !important;
}
:host ::ng-deep .ui-button-danger.ui-button-outlined-thick.p-button:focus {
    background: rgba(211, 47, 47, 0.04) !important;
    box-shadow: 0 0 0.5em 0px #2196f3 !important;
}
:host ::ng-deep .ui-button-danger.ui-button-outlined-medium {
    border: 0.3em solid #d32f2f !important;
    background-color: transparent  !important;
    // box-shadow: 0 0 0px 0.25em  inset !important;
}
:host ::ng-deep .ui-button-danger.ui-button-outlined-medium.p-button:hover {
    background: rgba(211, 47, 47, 0.04) !important;
    box-shadow: 0 0 0.5em 0px #2196f3 !important;
}
:host ::ng-deep .ui-button-danger.ui-button-outlined-medium.p-button:focus {
    background: rgba(211, 47, 47, 0.04) !important;
    box-shadow: 0 0 0.5em 0px #2196f3 !important;
}
:host ::ng-deep .ui-button-warning.ui-button-outlined-medium {
    border: 0.3em solid #fbc02d !important;
    background-color: transparent  !important;
    // box-shadow: 0 0 0px 0.25em  inset !important;
}
:host ::ng-deep .ui-button-warning.ui-button-outlined-medium.p-button:hover {
    background: rgba(251, 192, 45, 0.04) !important;
    box-shadow: 0 0 0.5em 0px #2196f3 !important;
}
:host ::ng-deep .ui-button-warning.ui-button-outlined-medium.p-button:focus {
    box-shadow: 0 0 0px 0.25em #fbc02d inset !important;
    box-shadow: 0 0 0.5em 0px #2196f3 !important;
}
:host ::ng-deep .ui-button-warning {
    border: 0em solid  !important;
    background-color: #fbc02d !important;
}
:host ::ng-deep .ui-button-warning.p-button:focus {
    box-shadow: 0 0 0.5em 0px #2196f3 !important;
}
:host ::ng-deep .ui-button-warning.p-button:hover {
    box-shadow: 0 0 0.5em 0px #2196f3 !important;
}
:host ::ng-deep .ui-button-success.ui-button-outlined-medium {
    border: 0.3em solid #689f38  !important;
    background-color: transparent  !important;
    // box-shadow: 0 0 0px 0.25em inset !important;
}
:host ::ng-deep .ui-button-success.ui-button-outlined-medium.p-button:hover {
    background: rgba(104, 159, 56, 0.04) !important;
    box-shadow: 0 0 0.5em 0px #2196f3 !important;
}
:host ::ng-deep .ui-button-success.ui-button-outlined-medium.p-button:focus {
    background: rgba(104, 159, 56, 0.04) !important;
    box-shadow: 0 0 0.5em 0px #2196f3 !important;
}
:host ::ng-deep .ui-button-success.p-button:focus {
    box-shadow: 0 0 0.5em 0px #2196f3 !important;
}
:host ::ng-deep .ui-button-success.p-button:hover {
    box-shadow: 0 0 0.5em 0px #2196f3 !important;
}
:host ::ng-deep .ui-button-success {
    border: 0em solid  !important;
    background-color: #689f38 !important;
}