<div style="width: 75%">
  <p-panel [showHeader]="true" class="i-panel" *ngIf="hasUser">
    <!-- Panel Header -->
    <p-header class="p-grid p-justify-between">
      <div class="p-col-6 p-lg-6 p-sm-12 p-grid i-panel-header-title">
        <!-- <span class="ui-panel-title">{{ 'LABEL.CHOOSE_SITE' | translate }}</span> -->
      </div>
    </p-header>
    <!-- Panel Body -->
    <div class="i-panel-body">
      <div class="p-grid p-col-12 p-justify-start i-fieldset-container ui-fluid">
        <div class="flip-card">
          <div [@flip]="flipState" class="flip-card-inner">
            <!-- site selector -->
            <div class="flip-card-front">
              <div class="p-col-12 p-dir-col" style="display: flex; align-items: center; text-align: center">
                <!-- <p-card
                  id="CARD_FRONT"
                  styleClass="p-col-4 p-xl-4 p-lg-4 p-sm-12"
                  [style]="{ height: '80px', width: '80px', 'margin-top': '1rem', cursor: 'pointer' }"
                  (click)="onSiteSelect(AppConst.FRONT)"
                >
                  <div style="display: inline-block; text-align: center">
                    <i class="pi pi-users" style="display: block; font-size: 1.5rem; vertical-align: middle"> </i>
                    <span>{{ 'SITE.FRONT' | translate }}</span>
                  </div>
                </p-card>
                <p-card
                  id="CARD_BACK"
                  styleClass="p-col-4 p-xl-4 p-lg-4 p-sm-12"
                  [style]="{ height: '80px', width: '80px', 'margin-top': '1rem', cursor: 'pointer' }"
                  (click)="onSiteSelect(AppConst.BACK)"
                >
                  <div style="display: inline-block; text-align: center">
                    <i class="pi pi-home" style="display: block; font-size: 1.5rem; vertical-align: middle"> </i>
                    <span>{{ 'SITE.BACK' | translate }}</span>
                  </div>
                </p-card>
                <p-card
                  id="CARD_CASHIER"
                  styleClass="p-col-4 p-xl-4 p-lg-4 p-sm-12"
                  [style]="{ height: '80px', width: '80px', 'margin-top': '1rem', cursor: 'pointer' }"
                  (click)="onSiteSelect(AppConst.CASHIER)"
                >
                  <div style="display: inline-block; text-align: center">
                    <i class="pi pi-dollar" style="display: block; font-size: 1.5rem; vertical-align: middle"> </i>
                    <span>{{ 'SITE.CASHIER' | translate }}</span>
                  </div>
                </p-card> -->
                Loading...
              </div>
            </div>

            <!-- company-branch selector -->
            <div class="flip-card-back">
              <div class="p-col-12 p-dir-col">
                <div *ngIf="isUndefinedOrZeroLength(currentCompanyGUID) && !isUndefinedOrZeroLength(loginSite) && loginSite !== AppConst.CASHIER">
                  {{ 'LABEL.DEFAULT_COMPANY_BRANCH_NA' | translate }}
                </div>

                <cpn-company-branch-selector
                  #companyBranchSelector
                  *ngIf="visibleCompanyBranchSelector"
                  (initComponent)="onInitCompanyBranchSelector()"
                  (nodeSelected)="onCompanyBranchSelected($event)"
                  [isStatic]="true"
                >
                </cpn-company-branch-selector>

                <div *ngIf="!(isUndefinedOrZeroLength(currentCompanyGUID) && !isUndefinedOrZeroLength(loginSite) && loginSite !== AppConst.CASHIER)">
                  <br />
                  <br />
                </div>

                <!-- <button type="button" pButton (click)="onBackClick()" [label]="'LABEL.BACK' | translate" class="ui-button-info"></button> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </p-panel>
  <p-panel *ngIf="!hasUser">
    <smart-app-unauthorized></smart-app-unauthorized>
  </p-panel>
</div>
