:host ::ng-deep .ui-panel .ui-panel-titlebar {
    border: 1px solid #fff !important;
    background-color: #fff !important;
    color: #000 !important;
}

:host ::ng-deep .ui-card-body {
    padding: 0.8em !important;
}

.flip-card {
    height: 23rem; 
    width: 20rem; 
    background-color: transparent;
    
    
    margin-left: auto; 
    margin-right: auto;
}

.flip-card-inner {
    position: relative;
    height: 100%;
    width: 100%;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card-inner > div {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.flip-card-front {
    background-color: transparent;
    
}

.flip-card-back {
    transform: rotateY(180deg);
    background-color: transparent;
}