<div *ngIf="toolBar" class="grid-nemu-bar w-100">
  <p-menubar [model]="menuBarItems"></p-menubar>
</div>

<iframe *ngIf="reportViewer" width="100%" height="600" [src]="theHtmlString | safe"></iframe>
