<div style="width: 100%; height: 100%">
  <span *ngIf="!isLogAvailable">{{ 'LABEL.NO_MESSAGE_TO_DISPLAY' | translate }} </span>

  <p-table *ngIf="isLogAvailable" [value]="messages" tableStyleClass="p-table" [style]="{ width: '100%' }">
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 10rem">{{ 'LABEL.TIME_STAMP' | translate }}</th>
        <th style="max-width: 20rem">{{ 'LABEL.MESSAGE' | translate }}</th>
        <th style="max-width: 15rem">{{ 'LABEL.ORIGIN' | translate }}</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-item let-index="rowIndex">
      <tr *ngIf="item.logType === LogType.NORMAL || (item.logType === LogType.SYSTEM && userEnabledSystemLog)">
        <td style="width: 50%">
          {{ item.timestamp }}
        </td>
        <td *ngIf="item.messageType === 'error'" class="ui-resizable-column" style="white-space: pre-line">
          <i
            *ngIf="item.logType === LogType.SYSTEM"
            class="pi pi-info-circle"
            style="color: #007ad9; text-align: right; cursor: pointer; display: block"
            (click)="onToggleDetail($event, index)"
          ></i>
          <span class="ui-toast-icon" style="text-align: left; display: inline-block">
            <i class="pi pi-times-circle" style="color: red; position: relative"></i>
            {{ isUndefinedOrZeroLength(item.topic) ? '' : item.topic }}
            <br />
          </span>
          <br />
          <span class="ui-toast-icon" style="text-align: left; display: inline-block">
            <i style="position: relative"></i>
            {{ isUndefinedOrZeroLength(item.message) ? '' : item.message }}
            <br />
          </span>
          <div *ngIf="!isUndefinedOrZeroLength(item.messages) && item.logType === LogType.NORMAL">
            <div *ngFor="let msg of item.messages">
              <span class="ui-toast-icon" style="text-align: left; display: inline-block">
                <i class="pi pi-times-circle" style="color: red; position: relative"></i>
                {{ msg }}
              </span>
            </div>
          </div>
        </td>
        <td *ngIf="item.messageType === 'success'" style="white-space: pre-line">
          <i
            *ngIf="item.logType === LogType.SYSTEM"
            class="pi pi-info-circle"
            style="color: #007ad9; text-align: right; cursor: pointer; display: block"
            (click)="onToggleDetail($event, index)"
          ></i>
          <span class="ui-toast-icon" style="text-align: left; display: inline-block">
            <i class="pi pi-check-circle" style="color: #4caf50; position: relative"></i>
            {{ isUndefinedOrZeroLength(item.topic) ? '' : item.topic }}
          </span>
          <br />
          <span class="ui-toast-icon" style="text-align: left; display: inline-block">
            <i style="position: relative"></i>
            {{ isUndefinedOrZeroLength(item.message) ? '' : item.message }}
            <br />
          </span>
        </td>
        <td *ngIf="item.messageType === 'warn'" style="white-space: pre-line">
          <span class="ui-toast-icon" style="text-align: left; display: inline-block">
            <i class="pi pi-exclamation-triangle" style="color: #ffba01; position: relative"></i>
            {{ isUndefinedOrZeroLength(item.topic) ? '' : item.topic }}
          </span>
          <br />
          <span class="ui-toast-icon" style="text-align: left; display: inline-block">
            <i style="position: relative"></i>
            {{ isUndefinedOrZeroLength(item.message) ? '' : item.message }}
            <br />
          </span>
          <div *ngIf="!isUndefinedOrZeroLength(item.messages) && item.logType === LogType.NORMAL">
            <div *ngFor="let msg of item.messages">
              <span class="ui-toast-icon" style="text-align: left; display: inline-block">
                <i class="pi pi-exclamation-triangle" style="color: #ffba01; position: relative"></i>
                {{ msg }}
              </span>
            </div>
          </div>
        </td>
        <td *ngIf="item.messageType === 'info'" style="white-space: pre-line">
          <span class="ui-toast-icon" style="text-align: left; display: inline-block">
            <i class="pi pi-info-circle" style="color: #007ad9; position: relative"></i>
            {{ isUndefinedOrZeroLength(item.topic) ? '' : item.topic }}
          </span>
          <br />
          <span class="ui-toast-icon" style="text-align: left; display: inline-block">
            <i style="position: relative"></i>
            {{ isUndefinedOrZeroLength(item.message) ? '' : item.message }}
            <br />
          </span>
        </td>

        <td style="width: 12rem">
          {{ item.origin }}
        </td>
      </tr>
      <tr *ngIf="!isUndefinedOrZeroLength(item.systemLogDetail) && item.systemLogDetail.displayDetail" style="border: none; word-break: break-all">
        <td style="border: none; width: 12rem">
          <span class="col-12">
            <label>{{ 'LABEL.REQUEST_ID' | translate }}: </label>
          </span>
          <br />
          <span class="col-12">
            <label>{{ item.systemLogDetail.requestId }} </label>
          </span>
          <br />
          <br />
          <span class="col-12">
            <label>{{ 'LABEL.START' | translate }}: </label>
          </span>
          <br />
          <span class="col-12">
            <label>{{ item.systemLogDetail.displayStartTime }} </label>
          </span>
          <br />
          <br />
          <span class="col-12">
            <label>{{ 'LABEL.FINISH' | translate }}: </label>
          </span>
          <br />
          <span class="col-12">
            <label>{{ item.systemLogDetail.displayFinishTime }} </label>
          </span>
          <br />
          <br />
          <span class="col-12">
            <label>{{ 'LABEL.ELAPSED' | translate }}: </label>
          </span>
          <br />
          <span class="col-12">
            <label>{{ item.systemLogDetail.elapsedTime }} {{ 'ms' }} </label>
          </span>
        </td>
        <td style="border: none; width: 12rem">
          <div *ngIf="!isUndefinedOrZeroLength(item.messages)">
            <span>
              <label>{{ 'LABEL.MESSAGE' | translate }}:</label>
            </span>
            <br />
            <div *ngFor="let msg of item.messages">
              <span class="ui-toast-icon" style="text-align: left; display: inline-block; white-space: pre-line">
                <i class="pi pi-times-circle" style="color: red; position: relative"></i>
                {{ msg }}
              </span>
            </div>
            <br />
          </div>
          <br />
          <span class="col-12">
            <label>{{ 'LABEL.HTTP_METHOD' | translate }}: </label>
          </span>
          <span class="col-12">
            <label>{{ item.systemLogDetail.httpMethod }} </label>
          </span>
          <br />
          <br />
          <span class="col-12">
            <label>{{ 'LABEL.REQUEST_URL' | translate }}: </label>
          </span>
          <br />
          <span class="col-12">
            <label>{{ item.systemLogDetail.reqUrl }} </label>
          </span>
          <br />
          <br />
          <span class="col-12">
            <label>{{ 'LABEL.STATUS' | translate }}: </label>
          </span>
          <span class="col-12">
            <label>{{ item.systemLogDetail.statusCode }} ({{ item.systemLogDetail.statusText }}) </label>
          </span>
          <br />
          <br />
          <span class="col-12" *ngIf="!isUndefinedOrZeroLength(item.systemLogDetail.reqBody)">
            <label>{{ 'LABEL.REQUEST_BODY' | translate }}: </label>
          </span>
          <br />
          <span class="col-12" *ngIf="!isUndefinedOrZeroLength(item.systemLogDetail.reqBody)" style="white-space: pre-line">
            {{ item.systemLogDetail.reqBody }}
          </span>
        </td>
        <td style="border: none">
          <span class="col-12" *ngIf="!isUndefinedOrZeroLength(item.systemLogDetail.stackTrace)">
            <label>{{ 'LABEL.STACK_TRACE' | translate }}: </label>
          </span>
          <br />
          <span class="col-12" *ngIf="!isUndefinedOrZeroLength(item.systemLogDetail.stackTrace)" style="white-space: pre-line">
            {{ item.systemLogDetail.stackTrace }}
          </span>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
