<p-calendar
  #calendar
  [inputId]="bindingInputId"
  [(ngModel)]="bindingModel"
  [dateFormat]="bindingDateFormat"
  [dataType]="bindingDataType"
  [showIcon]="bindingTimeOnly == true ? false : bindingShowIcon"
  [selectionMode]="bindingSelectionMode"
  [showTime]="bindingShowTime"
  [timeOnly]="bindingTimeOnly"
  [hourFormat]="bindingHourFormat"
  [showSeconds]="bindingTimeOnly == true ? false : bindingShowSeconds"
  [readonly]="getReadonly(bindingInputId)"
  (ngModelChange)="onModelChange(ivzModel)"
  appendTo="body"
  [minDate]="bindingMinDate"
  [maxDate]="bindingMaxDate"
  [showOnFocus]="showOnFocus() ? true : calendar.hideOverlay()"
>
  <p-footer [hidden]="true">
    <button id="closeCalendar" pButton type="button" label="Close" (click)="calendar.hideOverlay()"></button>
  </p-footer>
</p-calendar>

<!-- <p-calendar
  [inputId]="bindingInputId"
  [(ngModel)]="bindingModel"  
  [dataType]="bindingDataType"
  [showIcon]="bindingTimeOnly == true ? false : bindingShowIcon"
  [selectionMode]="bindingSelectionMode"
  [showTime]="bindingShowTime"
  [timeOnly]="bindingTimeOnly"
  [hourFormat]="bindingHourFormat"
  [showSeconds]="bindingTimeOnly == true ? false : bindingShowSeconds"
  [readonly]="getReadonly(bindingInputId)"
  (ngModelChange)="this.ivzModelChange.next(ivzModel)"
>
</p-calendar> -->
