<div class="ivz-item-card">
  <p-panel [showHeader]="true" [viewonly]="isView" class="ivz-panel">
    <p-header class="p-d-flex p-jc-between w-100">
      <div class="ivz-div-panel-title">
        <span class="ivz-panel-title p-m-2">{{ 'LABEL.DOCUMENT_RETURN' | translate }}</span>
      </div>
      <div class="ivz-div-panel-btn-group">
        <p-tieredMenu id="MENURELATED" #related [model]="relatedInfoItems" [popup]="true"> </p-tieredMenu>
        <p-button
          id="RELATED_INFO"
          #btnfn
          type="button"
          icon="pi pi-share-alt"
          (click)="related.toggle($event); function.hide(); group.hide()"
          [label]="'LABEL.RELATED_INFO' | translate"
          styleClass="p-button-text"
        >
        </p-button>
        <p-tieredMenu id="MENUFUNCTION" #function [model]="functionItems" [popup]="true"> </p-tieredMenu>
        <p-button
          id="FUNCTION"
          #btnfn
          type="button"
          icon="pi pi-cog"
          (click)="function.toggle($event); related.hide(); group.hide()"
          [label]="'LABEL.FUNCTION' | translate"
          styleClass="p-button-text"
        ></p-button>
        <p-tieredMenu id="MENUGROUP" #group [model]="itemsGroup" [popup]="true"> </p-tieredMenu>
        <p-button
          id="GROUP"
          #btnfn
          type="button"
          icon="pi pi-list"
          (click)="group.toggle($event); function.hide(); related.hide()"
          [label]="'LABEL.GROUP' | translate"
          styleClass="p-button-text"
        ></p-button>
      </div>
    </p-header>
    <p-panel-content class="ivz-div-panel-content">
      <p-fieldset [legend]="{ text: 'LABEL.GENERAL' | translate }.text" [toggleable]="true">
        <div class="p-d-flex p-flex-wrap">
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label [required]="custom.isManunal">{{ 'LABEL.DOCUMENT_RETURN_ID' | translate }} : </label>
            <ivz-input-text
              inputId="DOCUMENT_RETURN_ID"
              [(ivzModel)]="model.documentReturnId"
              [ivzConfig]="ID_INPUTTEXT"
              [required]="custom.isManunal"
            ></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label required>{{ 'LABEL.REQUESTOR_ID' | translate }} : </label>
            <ivz-dropdown
              inputId="REQUESTOR_GUID"
              [(ivzModel)]="model.requestorGUID"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="employeeTableOptions"
              required
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label required>{{ 'LABEL.CONTACT_TO' | translate }} : </label>
            <ivz-dropdown
              inputId="CONTACT_TO"
              [(ivzModel)]="model.contactTo"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="contactToOptions"
              (ivzModelChange) = "contactToChange()"
              required
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label [required] = "custom.customerMandatory" >{{ 'LABEL.CUSTOMER_ID' | translate }} : </label>
            <ivz-dropdown
              inputId="CUSTOMER_TABLE_GUID"
              [(ivzModel)]="model.customerTableGUID"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="customerTableOptions"
              [required] = "custom.customerMandatory"
              (ivzModelChange) = "customerChange()"
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label  [required] = "custom.buyerMandatory">{{ 'LABEL.BUYER_ID' | translate }} : </label>
            <ivz-dropdown
              inputId="BUYER_TABLE_GUID"
              [(ivzModel)]="model.buyerTableGUID"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="buyerTableOptions"
              [required] = "custom.buyerMandatory"
              (ivzModelChange) = "buyerChange()"
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label required>{{ 'LABEL.CONTACT_PERSON_NAME' | translate }} : </label>
            <ivz-input-text
              inputId="CONTACT_PERSON_NAME"
              [(ivzModel)]="model.contactPersonName"
              [ivzConfig]="DEFAULT_INPUTTEXT"
              required
            ></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.CONTACT_ADDRESS_ID' | translate }} : </label>
            <ivz-dropdown
              inputId="ADDRESS_TRANS_GUID"
              [(ivzModel)]="model.addressTransGUID"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="addressTransOptions"
              (ivzModelChange) = "contactAddressChange()"
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label required>{{ 'LABEL.STATUS' | translate }} : </label>
            <ivz-input-text
              inputId="DOCUMENT_STATUS_GUID"
              [(ivzModel)]="model.documentStatus_Values"
              maxlength="1000"
              [ivzConfig]="DEFAULT_INPUTTEXT"
              required
            ></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label required>{{ 'LABEL.CONTACT_ADDRESS' | translate }} : </label>
            <ivz-textarea inputId="ADDRESS" [(ivzModel)]="model.address" maxlength="500" [ivzConfig]="DEFAULT_TEXTAREA" required> </ivz-textarea>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.REMARK' | translate }} : </label>
            <ivz-textarea inputId="REMARK" [(ivzModel)]="model.remark" [ivzConfig]="DEFAULT_TEXTAREA"> </ivz-textarea>
          </div>
        </div>
      </p-fieldset>
      <p-fieldset [legend]="{ text: 'LABEL.DOCUMENT_RETURN_INFORMATION' | translate }.text" [toggleable]="true">
        <div class="p-d-flex p-flex-wrap">
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label required>{{ 'LABEL.RETURN_METHOD_ID' | translate }} : </label>
            <ivz-dropdown
              inputId="DOCUMENT_RETURN_METHOD_GUID"
              [(ivzModel)]="model.documentReturnMethodGUID"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="documentReturnMethodOptions"
              required
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.EXPECTED_RETURN_DATE' | translate }} : </label>
            <ivz-calendar inputId="EXPECTED_RETURN_DATE" [(ivzModel)]="model.expectedReturnDate" [ivzConfig]="DATE"></ivz-calendar>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.ACTUAL_RETURN_DATE' | translate }} : </label>
            <ivz-calendar inputId="ACTUAL_RETURN_DATE" [(ivzModel)]="model.actualReturnDate" [ivzConfig]="DATE"></ivz-calendar>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.POST_NUMBER' | translate }} : </label>
            <ivz-input-text inputId="POST_NUMBER" [(ivzModel)]="model.postNumber" [ivzConfig]="ID_INPUTTEXT"></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.POST_ACKNOWLEDGEMENT_NO' | translate }} : </label>
            <ivz-input-text inputId="POST_ACKNOWLEDGEMENT_NO" [(ivzModel)]="model.postAcknowledgementNo" [ivzConfig]="ID_INPUTTEXT"></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.RETURN_BY_ID' | translate }} : </label>
            <ivz-dropdown
              inputId="RETURN_BY_GUID"
              [(ivzModel)]="model.returnByGUID"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="employeeTableOptions"
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.RECEIVED_BY' | translate }} : </label>
            <ivz-input-text inputId="RECEIVED_BY" [(ivzModel)]="model.receivedBy" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
          </div>
        </div>
      </p-fieldset>
      <p-fieldset [legend]="{ text: 'LABEL.SYSTEM' | translate }.text" [toggleable]="true">
        <div class="p-d-flex p-flex-wrap">
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.CREATED_BY' | translate }} : </label>
            <ivz-input-text inputId="CREATED_BY" [(ivzModel)]="model.createdBy" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.CREATED_DATE_TIME' | translate }} : </label>
            <ivz-calendar inputId="CREATED_DATE_TIME" [(ivzModel)]="model.createdDateTime" [ivzConfig]="DATETIME"></ivz-calendar>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.MODIFIED_BY' | translate }} : </label>
            <ivz-input-text inputId="MODIFIED_BY" [(ivzModel)]="model.modifiedBy" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.MODIFIED_DATE_TIME' | translate }} : </label>
            <ivz-calendar inputId="MODIFIED_DATE_TIME" [(ivzModel)]="model.modifiedDateTime" [ivzConfig]="DATETIME"></ivz-calendar>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label required>{{ 'LABEL.COMPANY_ID' | translate }} : </label>
            <ivz-input-text inputId="COMPANY_ID" [(ivzModel)]="model.companyId" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label required>{{ 'LABEL.BUSINESS_UNIT_ID' | translate }} : </label>
            <ivz-input-text inputId="BUSINESS_UNIT_ID" [(ivzModel)]="model.ownerBusinessUnitId" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label required>{{ 'LABEL.OWNER' | translate }} : </label>
            <ivz-input-text inputId="OWNER" [(ivzModel)]="model.owner" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
          </div>
        </div>
      </p-fieldset>
      <p-fieldset *ngIf="this.isUpdateMode" [legend]="{ text: 'LABEL.DOCUMENT_RETURN_LINE' | translate }.text" [toggleable]="true" listview>
        <div class="p-grid p-col-12 p-justify-start div-form-input">
          <document-return-line-list [pageInfo]="childPaths[0]"></document-return-line-list>
        </div>
      </p-fieldset>
    </p-panel-content>
    <p-footer class="ivz-panel-footer">
      <div class="p-d-flex p-jc-end">
        <ivz-button
          inputId="SAVE"
          [label]="'LABEL.SAVE' | translate"
          icon="pi pi-save"
          className="ivz-primary-btn p-m-2"
          [ivzConfig]="buttonConfig"
          (formValidate)="onSave($event)"
        ></ivz-button>
        <ivz-button
          inputId="SAVE_AND_CLOSE"
          [label]="'LABEL.SAVE_AND_CLOSE' | translate"
          icon="pi pi-times"
          className="ivz-primary-btn p-m-2"
          [ivzConfig]="buttonConfig"
          (formValidate)="onSaveAndClose($event)"
        >
        </ivz-button>
        <ivz-button
          inputId="CLOSE"
          [label]="'LABEL.CLOSE' | translate"
          icon="pi pi-power-off"
          className="ivz-primary-btn p-m-2"
          [ivzConfig]="buttonConfig"
          (click)="onClose()"
        >
        </ivz-button>
      </div>
    </p-footer>
  </p-panel>
</div>
