<div class="ivz-item-card function-m">
  <p-panel [showHeader]="true" [viewonly]="isView" class="ivz-panel">
    <p-header class="p-d-flex p-jc-between w-100">
      <div class="ivz-div-panel-title">
        <span class="ivz-panel-title p-m-2">{{ 'LABEL.CANCEL_BUSINESS_COLLATERAL_AGREEMENT' | translate }}</span>
      </div>
    </p-header>
    <p-panel-content class="ivz-div-panel-content">
      <p-fieldset [legend]="{ text: 'LABEL.GENERAL' | translate }.text" [toggleable]="true">
        <div class="p-d-flex p-flex-wrap">
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.INTERNAL_BUSINESS_COLLATERAL_AGREEMENT_ID' | translate }} : </label>
            <ivz-input-text
              inputId="INTERNAL_BUSINEE_COLLATERAL_ID"
              [(ivzModel)]="model.internalBusinessCollateralAgmId"
              [ivzConfig]="ID_INPUTTEXT"
            ></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.BUSINESS_COLLATERAL_AGREEMENT_ID' | translate }} : </label>
            <ivz-input-text
              inputId="BUSINESS_COLLATERAL_AGM_ID"
              [(ivzModel)]="model.businessCollateralAgmId"
              [ivzConfig]="ID_INPUTTEXT"
            ></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-100">
            <label>{{ 'LABEL.BUSINESS_COLLATERAL_AGREEMENT_DESCRIPTION' | translate }} : </label>
            <ivz-input-text
              inputId="BUSINESS_COLLATERAL_AGM_DESCRIPTION"
              [(ivzModel)]="model.businessCollateralAgmDescription"
              [ivzConfig]="DEFAULT_INPUTTEXT"
            ></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.AGREEMENT_DOCUMENT_TYPE' | translate }} : </label>
            <ivz-dropdown
              inputId="AGREEMENT_DOC_TYPE"
              [(ivzModel)]="model.agreementDocType"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="agreementDocTypeOptions"
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.AGREEMENT_DATE' | translate }} : </label>
            <ivz-calendar inputId="AGREEMENT_DATE" [(ivzModel)]="model.agreementDate" [ivzConfig]="DATE"></ivz-calendar>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.CUSTOMER_ID' | translate }} : </label>
            <ivz-input-text inputId="CUSTOMER_ID" [(ivzModel)]="model.customerTable_Values" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.CUSTOMER_NAME' | translate }} : </label>
            <ivz-input-text inputId="CUSTOMER_NAME" [(ivzModel)]="model.customerName" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
          </div>
        </div>
      </p-fieldset>
      <p-fieldset [legend]="{ text: 'LABEL.CANCELLATION_INFORMATION' | translate }.text" [toggleable]="true">
        <div class="p-d-flex p-flex-wrap">
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label [required]="custom.isMandatory_internalBusinessCollateralAgmId"
              >{{ 'LABEL.NOTICE_OF_CANCELLATION_INTERNAL_BUSINESS_COLLATERAL_AGREEMENT_ID' | translate }} :
            </label>
            <ivz-input-text
              inputId="NOTICE_OF_CANCELLATION_INTERNAL_BUSINEE_COLLATERAL_ID"
              [(ivzModel)]="model.noticeOfCancellationInternalBusineeCollateralId"
              [ivzConfig]="ID_INPUTTEXT"
              [required]="custom.isMandatory_internalBusinessCollateralAgmId"
            ></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label required>{{ 'LABEL.CANCEL_DATE' | translate }} : </label>
            <ivz-calendar inputId="CANCEL_DATE" [(ivzModel)]="model.cancelDate" [ivzConfig]="DATE" required></ivz-calendar>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-100">
            <label required>{{ 'LABEL.NOTICE_OF_CANCELLATION_DESCRIPTION' | translate }} : </label>
            <ivz-input-text inputId="DESCRIPTION" [(ivzModel)]="model.description" [ivzConfig]="DEFAULT_INPUTTEXT" required></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-100">
            <label required>{{ 'LABEL.REASON_ID' | translate }} : </label>
            <ivz-dropdown
              inputId="DOCUMENT_REASON_GUID"
              [(ivzModel)]="model.documentReasonGUID"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="documentReasonOptions"
              (ivzModelChange)="onDocumentReasonChange($event)"
              (ivzBindingChange)="onDocumentReasonChange($event)"
              required
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-100">
            <label required>{{ 'LABEL.REASON_REMARK' | translate }} : </label>
            <ivz-textarea inputId="REASON_REMARK" [(ivzModel)]="model.reasonRemark" [ivzConfig]="DEFAULT_TEXTAREA" required> </ivz-textarea>
          </div>
        </div>
      </p-fieldset>
    </p-panel-content>
    <p-footer class="ivz-panel-footer">
      <div class="p-d-flex p-jc-end">
        <ivz-button
          inputId="OK"
          [label]="'LABEL.OK' | translate"
          icon="pi pi-times"
          className="ivz-primary-btn p-m-2"
          [ivzConfig]="buttonConfig"
          (formValidate)="onSaveAndClose($event)"
        >
        </ivz-button>
        <ivz-button
          inputId="CLOSE"
          [label]="'LABEL.CLOSE' | translate"
          icon="pi pi-power-off"
          className="ivz-primary-btn p-m-2"
          [ivzConfig]="buttonConfig"
          (click)="onClose()"
        >
        </ivz-button>
      </div>
    </p-footer>
  </p-panel>
</div>
