<div class="ivz-item-card">
  <p-panel [showHeader]="true" [viewonly]="isView" class="ivz-panel" id="P-PANEL">
    <p-header class="p-d-flex p-jc-between w-100">
      <div class="ivz-div-panel-title">
        <span class="ivz-panel-title p-m-2">{{ 'LABEL.SYS_USER_TABLE' | translate }}</span>
      </div>
      <div class="ivz-div-panel-btn-group">
        <p-tieredMenu id="MENURELATED" #related [model]="relatedInfoItems" [popup]="true"> </p-tieredMenu>
        <p-button
          id="RELATED_INFO"
          #btnfn
          type="button"
          icon="pi pi-share-alt"
          (click)="related.toggle($event); function.hide(); group.hide()"
          [label]="'LABEL.RELATED_INFO' | translate"
          styleClass="p-button-text"
        >
        </p-button>
        <p-tieredMenu id="MENUFUNCTION" #function [model]="functionItems" [popup]="true"> </p-tieredMenu>
        <p-button
          id="FUNCTION"
          #btnfn
          type="button"
          icon="pi pi-cog"
          (click)="function.toggle($event); related.hide(); group.hide()"
          [label]="'LABEL.FUNCTION' | translate"
          styleClass="p-button-text"
        ></p-button>
        <p-tieredMenu id="MENUGROUP" #group [model]="itemsGroup" [popup]="true"> </p-tieredMenu>
        <p-button
          id="GROUP"
          #btnfn
          type="button"
          icon="pi pi-list"
          (click)="group.toggle($event); function.hide(); related.hide()"
          [label]="'LABEL.GROUP' | translate"
          styleClass="p-button-text"
        ></p-button>
      </div>
    </p-header>
    <p-panel-content class="ivz-div-panel-content">
      <p-steps
        #stepper
        id="USER_STEPPER"
        [model]="stepItems"
        (activeIndexChange)="onStepsChange($event)"
        [(activeIndex)]="activeIndex"
        [readonly]="false"
        (click)="onStepperClick($event)"
      ></p-steps>
      <div class="p-pt-4">
        <div class="form-error-msg-box" *ngIf="!isUndefinedOrZeroLength(errMsg)">
          <div *ngFor="let item of errMsg; let i = index">
            <span>{{ errMsg[i].message }}</span>
          </div>
        </div>
      </div>
      <div class="p-d-flex p-flex-wrap" *ngIf="currentIndex === 0">
        <sys-user-table-form
          id="USERFORM"
          class="w-100"
          #userForm
          [(vwModel)]="model"
          [(id)]="id"
          [(parentAccessRight)]="accessRight"
          (stepOneAsyncRunnerDone)="onStepOneAsyncRunnerDone($event)"
          (formModelChange)="onUserFormChange($event)"
          [validateStepOneFlag]="validateStepOneFlag"
          [isView]="isView"
        >
        </sys-user-table-form>
      </div>
      <div class="p-d-flex p-jc-center p-pt-4 p-flex-wrap" *ngIf="currentIndex === 1">
        <div class="p-d-flex p-flex-column ele-box-w-70">
          <p-pickList
            id="PICKLIST_COMPANY"
            [disabled]="isView"
            [source]="sourceCompanies"
            [target]="targetCompanies"
            [sourceHeader]="'LABEL.AVAILABLE' | translate"
            [targetHeader]="'LABEL.SELECTED' | translate"
            [responsive]="true"
            filterBy="label"
            dragdrop="true"
            [sourceFilterPlaceholder]="'LABEL.SEARCH_BY_NAME' | translate"
            [targetFilterPlaceholder]="'LABEL.SEARCH_BY_NAME' | translate"
            [sourceStyle]="{ height: '15em' }"
            [targetStyle]="{ height: '15em' }"
            (onMoveToTarget)="onCompanyPickListChange($event)"
            (onMoveToSource)="onCompanyPickListChange($event)"
            (onMoveAllToTarget)="onCompanyPickListChange($event)"
            (onMoveAllToSource)="onCompanyPickListChange($event)"
          >
            <ng-template let-item pTemplate="item">
              <div class="ui-helper-clearfix">
                <div style="font-size: 14px; float: left; margin: 15px 5px 0 0">
                  {{ item.label }}
                </div>
              </div>
            </ng-template>
          </p-pickList>
        </div>
      </div>

      <div class="p-d-flex p-pt-4 p-flex-wrap" *ngIf="currentIndex === 2">
        <div class="p-d-flex p-flex-column ele-box-w-25">
          <p>{{ 'LABEL.SELECTED_COMPANY' | translate }}:</p>
          <p>{{ selectedCompanyLabel ? selectedCompanyLabel : ('LABEL.NONE' | translate) }}</p>
          <p-listbox
            id="LISTBOX_STEP2"
            [options]="targetCompanies"
            [(ngModel)]="selectedCompany"
            (onChange)="onCompanyChange($event, 'branch')"
            [listStyle]="{ 'max-height': '15em' }"
            [style]="{ width: 'auto' }"
          ></p-listbox>
        </div>
        <div class="w-5"></div>
        <div class="p-d-flex p-flex-column ele-box-w-70">
          <p-pickList
            id="PICKLIST_BRANCH"
            [disabled]="isView"
            [source]="sourceBranches"
            [target]="targetBranches"
            [sourceHeader]="'LABEL.AVAILABLE' | translate"
            [targetHeader]="'LABEL.SELECTED' | translate"
            [responsive]="true"
            filterBy="label"
            dragdrop="true"
            [sourceFilterPlaceholder]="'LABEL.SEARCH_BY_NAME' | translate"
            [targetFilterPlaceholder]="'LABEL.SEARCH_BY_NAME' | translate"
            [sourceStyle]="{ height: '15em' }"
            [targetStyle]="{ height: '15em' }"
            (onMoveToTarget)="onBranchPickListChange($event)"
            (onMoveToSource)="onBranchPickListChange($event)"
            (onMoveAllToTarget)="onBranchPickListChange($event)"
            (onMoveAllToSource)="onBranchPickListChange($event)"
          >
            <ng-template let-item pTemplate="item">
              <div class="ui-helper-clearfix">
                <div style="font-size: 14px; float: left; margin: 15px 5px 0 0">
                  {{ item.label }}
                </div>
              </div>
            </ng-template>
          </p-pickList>
        </div>
      </div>

      <div class="p-d-flex p-pt-4 p-flex-wrap" *ngIf="currentIndex === 3">
        <div class="p-d-flex p-flex-column ele-box-w-25">
          <p>{{ 'LABEL.SELECTED_COMPANY' | translate }}:</p>
          <p>{{ selectedCompanyLabel ? selectedCompanyLabel : ('LABEL.NONE' | translate) }}</p>
          <p-listbox
            id="LISTBOX_STEP3"
            [options]="targetCompanies"
            [(ngModel)]="selectedCompany"
            (onChange)="onCompanyChange($event, 'role')"
            [listStyle]="{ 'max-height': '15em' }"
            [style]="{ width: 'auto' }"
          ></p-listbox>
        </div>
        <div class="w-5"></div>
        <div class="p-d-flex p-flex-column ele-box-w-70">
          <p-pickList
            id="PICKLIST_ROLE"
            [disabled]="isView"
            [source]="sourceRoles"
            [target]="targetRoles"
            [sourceHeader]="'LABEL.AVAILABLE' | translate"
            [targetHeader]="'LABEL.SELECTED' | translate"
            [responsive]="true"
            filterBy="displayName"
            dragdrop="true"
            [sourceFilterPlaceholder]="'LABEL.SEARCH_BY_NAME' | translate"
            [targetFilterPlaceholder]="'LABEL.SEARCH_BY_NAME' | translate"
            [sourceStyle]="{ height: '15em' }"
            [targetStyle]="{ height: '15em' }"
            (onMoveToTarget)="onRolePickListChange($event)"
            (onMoveToSource)="onRolePickListChange($event)"
            (onMoveAllToTarget)="onRolePickListChange($event)"
            (onMoveAllToSource)="onRolePickListChange($event)"
          >
            <ng-template let-item pTemplate="item">
              <div class="ui-helper-clearfix">
                <div style="font-size: 14px; float: left; margin: 15px 5px 0 0">
                  {{ item.label }}
                </div>
              </div>
            </ng-template>
          </p-pickList>
        </div>
      </div>

      <div class="p-d-flex p-pt-4 p-flex-wrap" *ngIf="currentIndex === 4">
        <div class="p-d-flex p-flex-column ele-box-w-25">
          <p>{{ 'LABEL.SELECTED_COMPANY' | translate }}:</p>
          <p>{{ selectedCompanyLabel ? selectedCompanyLabel : ('LABEL.NONE' | translate) }}</p>
          <p-listbox
            id="LISTBOX_STEP4"
            [options]="targetCompanies"
            [(ngModel)]="selectedCompany"
            (onChange)="onCompanyChange($event, 'employee')"
            [listStyle]="{ 'max-height': '15em' }"
            [style]="{ width: 'auto' }"
          ></p-listbox>
        </div>
        <div class="w-5"></div>
        <!-- <div class="p-grid p-col-8 p-dir-col"> -->
        <!-- <div class="p-d-flex p-flex-wrap"> -->
        <div class="p-d-flex p-flex-column ele-box-w-50">
          <label>{{ 'LABEL.EMPLOYEE_ID' | translate }} : </label>
          <ivz-dropdown
            inputId="EMPLOYEE_ID"
            class="w-100"
            [options]="employeeTableOption"
            (ivzModelChange)="onEmployeeChange($event)"
            [(ivzModel)]="targetEmployee"
            [ivzConfig]="DEFAULT_DROPDOWN"
            [ivzValidation]="validateEmployeeOnField()"
          ></ivz-dropdown>
        </div>
      </div>
      <!-- </div> -->
      <!-- </div> -->
    </p-panel-content>

    <p-footer *ngIf="currentIndex === 0" class="ivz-panel-footer">
      <div class="p-d-flex p-jc-end">
        <ivz-button
          inputId="NEXT_STEP"
          [label]="'LABEL.NEXT_STEP' | translate"
          icon="pi pi-arrow-right"
          iconPos="right"
          className="ivz-primary-btn p-m-2"
          (click)="next()"
        ></ivz-button>
        <ivz-button
          [label]="'LABEL.CLOSE' | translate"
          icon="pi pi-power-off"
          className="ivz-primary-btn p-m-2"
          [ivzConfig]="buttonConfig"
          (click)="onClose()"
        >
        </ivz-button>
      </div>
    </p-footer>

    <p-footer *ngIf="currentIndex !== 0 && currentIndex !== 4" class="ivz-panel-footer">
      <div class="p-d-flex p-jc-end">
        <ivz-button
          inputId="PREVIOUS_STEP"
          [label]="'LABEL.PREVIOUS_STEP' | translate"
          icon="pi pi-arrow-left"
          className="ivz-primary-btn p-m-2"
          (click)="prev()"
        ></ivz-button>
        <ivz-button
          inputId="NEXT_STEP"
          [label]="'LABEL.NEXT_STEP' | translate"
          icon="pi pi-arrow-right"
          iconPos="right"
          className="ivz-primary-btn p-m-2"
          (click)="next()"
        ></ivz-button>
        <ivz-button
          [label]="'LABEL.CLOSE' | translate"
          icon="pi pi-power-off"
          className="ivz-primary-btn p-m-2"
          [ivzConfig]="buttonConfig"
          (click)="onClose()"
        >
        </ivz-button>
      </div>
    </p-footer>
    <p-footer *ngIf="currentIndex === 4" class="ivz-panel-footer">
      <div class="p-d-flex p-jc-end">
        <ivz-button
          inputId="PREVIOUS_STEP"
          [label]="'LABEL.PREVIOUS_STEP' | translate"
          icon="pi pi-arrow-left"
          iconPos="left"
          className="ivz-primary-btn p-m-2"
          (click)="prev()"
        ></ivz-button>
        <ivz-button
          inputId="SAVE"
          [label]="'LABEL.SAVE' | translate"
          icon="pi pi-save"
          className="ivz-primary-btn p-m-2"
          [ivzConfig]="buttonConfig"
          (formValidate)="onSave($event)"
        ></ivz-button>
        <ivz-button
          inputId="SAVE_AND_CLOSE"
          [label]="'LABEL.SAVE_AND_CLOSE' | translate"
          icon="pi pi-times"
          className="ivz-primary-btn p-m-2"
          [ivzConfig]="buttonConfig"
          (formValidate)="onSaveAndClose($event)"
        >
        </ivz-button>
        <ivz-button
          [label]="'LABEL.CLOSE' | translate"
          icon="pi pi-power-off"
          className="ivz-primary-btn p-m-2"
          [ivzConfig]="buttonConfig"
          (click)="onClose()"
        >
        </ivz-button>
      </div>
    </p-footer>
  </p-panel>
</div>
