<div *ngIf="!isStatic">
  <p-overlayPanel #op1 (onShow)="onShow($event)" (onHide)="onHide($event)" [baseZIndex]="5000">
    <p-tree [value]="treeSourceDataSource" selectionMode="single" (onNodeSelect)="nodeSelect($event)" (onNodeUnselect)="nodeUnselect($event)">
    </p-tree>
  </p-overlayPanel>
</div>
<div *ngIf="isStatic">
  <p-tree
    [value]="treeSourceDataSource"
    selectionMode="single"
    (onNodeSelect)="nodeSelect($event)"
    (onNodeUnselect)="nodeUnselect($event)"
    [style]="{ height: '18rem', margin: 'auto' }"
  >
  </p-tree>
</div>
