<div class="ivz-item-card">
  <p-panel [showHeader]="true" [viewonly]="isView" class="ivz-panel">
    <p-header class="p-d-flex p-jc-between w-100">
      <div class="ivz-div-panel-title">
        <span class="ivz-panel-title p-m-2">{{ 'LABEL.AMEND_CREDIT_APPLICATION' | translate }}</span>
      </div>
      <div class="ivz-div-panel-btn-group">
        <p-tieredMenu [ngClass]="{ none: !isViewWorkflowBtn }" id="MENUWORKFLOW" #workflow [model]="workflowItems" [popup]="true"> </p-tieredMenu>
        <p-button
          id="WORKFLOW"
          #btnfn
          type="button"
          icon="pi pi-cog"
          (click)="workflow.toggle($event); function.hide(); related.hide(); group.hide()"
          [label]="'LABEL.WORKFLOW' | translate"
          styleClass="p-button-text"
        ></p-button>
        <p-tieredMenu id="MENURELATED" #related [model]="relatedInfoItems" [popup]="true"> </p-tieredMenu>
        <p-button
          id="RELATED_INFO"
          #btnfn
          type="button"
          icon="pi pi-share-alt"
          (click)="related.toggle($event); function.hide(); group.hide()"
          [label]="'LABEL.RELATED_INFO' | translate"
          styleClass="p-button-text"
        >
        </p-button>
        <p-tieredMenu id="MENUFUNCTION" #function [model]="functionItems" [popup]="true"> </p-tieredMenu>
        <p-button
          id="FUNCTION"
          #btnfn
          type="button"
          icon="pi pi-cog"
          (click)="function.toggle($event); related.hide(); group.hide()"
          [label]="'LABEL.FUNCTION' | translate"
          styleClass="p-button-text"
        ></p-button>
        <p-tieredMenu id="MENUGROUP" #group [model]="itemsGroup" [popup]="true"> </p-tieredMenu>
        <p-button
          id="GROUP"
          #btnfn
          type="button"
          icon="pi pi-list"
          (click)="group.toggle($event); function.hide(); related.hide()"
          [label]="'LABEL.GROUP' | translate"
          styleClass="p-button-text"
        ></p-button>
      </div>
    </p-header>
    <p-panel-content class="ivz-div-panel-content">
      <p-fieldset [legend]="{ text: 'LABEL.GENERAL' | translate }.text" [toggleable]="true">
        <div class="p-d-flex p-flex-wrap">
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label [required]="custom.isManual">{{ 'LABEL.CREDIT_APPLICATION_REQUEST_ID' | translate }} : </label>
            <ivz-input-text
              inputId="CREDIT_APP_REQUEST_ID"
              [(ivzModel)]="model.creditAppRequestTable_CreditAppRequestId"
              [ivzConfig]="DEFAULT_INPUTTEXT"
              [required]="custom.isManual"
            ></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label required>{{ 'LABEL.DESCRIPTION' | translate }} : </label>
            <ivz-input-text
              inputId="DESCRIPTION"
              [(ivzModel)]="model.creditAppRequestTable_Description"
              [ivzConfig]="DEFAULT_INPUTTEXT"
              required
            ></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label required>{{ 'LABEL.CREDIT_APPLICATION_REQUEST_TYPE' | translate }} : </label>
            <ivz-dropdown
              inputId="CREDIT_APP_REQUEST_TYPE"
              [(ivzModel)]="model.creditAppRequestTable_CreditAppRequestType"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="creditAppRequestTypeOptions"
              required
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label required>{{ 'LABEL.REQUEST_DATE' | translate }} : </label>
            <ivz-calendar
              inputId="REQUEST_DATE"
              [(ivzModel)]="model.creditAppRequestTable_RequestDate"
              [ivzConfig]="DATE"
              required
              (ivzModelChange)="onRequestDateChange()"
            ></ivz-calendar>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label required>{{ 'LABEL.STATUS' | translate }} : </label>
            <ivz-input-text
              inputId="DOCUMENT_STATUS"
              [(ivzModel)]="model.documentStatus_Values"
              [ivzConfig]="DEFAULT_INPUTTEXT"
              required
            ></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label required>{{ 'LABEL.CUSTOMER_ID' | translate }} : </label>
            <ivz-input-text inputId="CUSTOMER_ID" [(ivzModel)]="model.customerTable_Values" [ivzConfig]="DEFAULT_INPUTTEXT" required></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.CUSTOMER_CREDIT_LIMIT' | translate }} : </label>
            <ivz-input-number
              inputId="CUSTOMER_CREDIT_LIMIT"
              [(ivzModel)]="model.creditAppRequestTable_CustomerCreditLimit"
              [ivzConfig]="CURRENCY_13_2"
            >
            </ivz-input-number>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.START_DATE' | translate }} : </label>
            <ivz-calendar inputId="START_DATE" [(ivzModel)]="model.creditAppRequestTable_StartDate" [ivzConfig]="DATE"></ivz-calendar>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.EXPIRY_DATE' | translate }} : </label>
            <ivz-calendar inputId="EXPIRY_DATE" [(ivzModel)]="model.creditAppRequestTable_ExpiryDate" [ivzConfig]="DATE"></ivz-calendar>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.REFERENCE_CREDIT_APPLICATION_ID' | translate }} : </label>
            <ivz-input-text
              inputId="REF_CREDIT_APP_ID"
              [(ivzModel)]="model.refCreditAppTable_Values"
              [ivzConfig]="DEFAULT_INPUTTEXT"
            ></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.CA_CONDITION' | translate }} : </label>
            <ivz-textarea inputId="CA_CONDITION" [(ivzModel)]="model.creditAppRequestTable_CACondition" [ivzConfig]="DEFAULT_TEXTAREA">
            </ivz-textarea>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.REMARK' | translate }} : </label>
            <ivz-textarea inputId="REMARK" [(ivzModel)]="model.creditAppRequestTable_Remark" maxlength="100" [ivzConfig]="DEFAULT_TEXTAREA">
            </ivz-textarea>
          </div>
        </div>
      </p-fieldset>
      <p-fieldset *ngIf="isUpdateMode" [legend]="{ text: 'LABEL.CREDIT_INFORMATION' | translate }.text" [toggleable]="true">
        <div class="p-d-flex p-flex-wrap">
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.SIGNING_CONDITION' | translate }} : </label>
            <ivz-input-text
              inputId="SIGNING_CONDITION"
              [(ivzModel)]="model.creditAppRequestTable_SigningCondition"
              [ivzConfig]="DEFAULT_INPUTTEXT"
            ></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.FINANCIAL_CREDIT_CHECKED_DATE' | translate }} : </label>
            <ivz-calendar
              inputId="FINANCIAL_CREDIT_CHECKED_DATE"
              [(ivzModel)]="model.creditAppRequestTable_FinancialCreditCheckedDate"
              [ivzConfig]="DATE"
            ></ivz-calendar>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.FINANCIAL_CREDIT_CHECKED_BY' | translate }} : </label>
            <ivz-input-text
              inputId="FINANCIAL_CHECKED_BY"
              [(ivzModel)]="model.creditAppRequestTable_FinancialCheckedBy"
              [ivzConfig]="DEFAULT_INPUTTEXT"
            ></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.NCB_CHECKED_DATE' | translate }} : </label>
            <ivz-calendar inputId="NCB_CHECKED_DATE" [(ivzModel)]="model.creditAppRequestTable_NCBCheckedDate" [ivzConfig]="DATE"></ivz-calendar>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.NCB_CHECKED_BY' | translate }} : </label>
            <ivz-input-text
              inputId="NCB_CHECKED_BY"
              [(ivzModel)]="model.creditAppRequestTable_NCBCheckedBy"
              [ivzConfig]="DEFAULT_INPUTTEXT"
            ></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.BLACKLIST_STATUS_ID' | translate }} : </label>
            <ivz-dropdown
              inputId="BLACKLIST_STATUS_GUID"
              [(ivzModel)]="model.creditAppRequestTable_BlacklistStatusGUID"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="blacklistStatusGUIDOptions"
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.KYC_ID' | translate }} : </label>
            <ivz-dropdown
              inputId="KYCGUID"
              [(ivzModel)]="model.creditAppRequestTable_KYCGUID"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="kycguidOptions"
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.CREDIT_SCORING_ID' | translate }} : </label>
            <ivz-dropdown
              inputId="CREDIT_SCORING_GUID"
              [(ivzModel)]="model.creditAppRequestTable_CreditScoringGUID"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="creditScoringGUIDOptions"
            ></ivz-dropdown>
          </div>
        </div>
      </p-fieldset>
      <p-fieldset
        [hidden]="!(isUpdateMode && custom.isActiveAmendCustomerCreditLimit)"
        [legend]="{ text: 'LABEL.ACTIVE__AMEND_CUSTOMER_CREDIT_LIMIT' | translate }.text"
        [toggleable]="true"
      >
        <div class="p-d-flex p-flex-wrap">
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.ORIGINAL_CREDIT_LIMIT' | translate }} : </label>
            <ivz-input-number inputId="ORIGINAL_CREDIT_LIMIT" [(ivzModel)]="model.originalCreditLimit" [ivzConfig]="CURRENCY_13_2">
            </ivz-input-number>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label required>{{ 'LABEL.NEW_CREDIT_LIMIT' | translate }} : </label>
            <ivz-input-number
              inputId="NEW_CREDIT_LIMIT"
              [(ivzModel)]="model.creditAppRequestTable_NewCreditLimit"
              [ivzConfig]="CURRENCY_13_2"
              required
              (ivzModelChange)="onNewCreditLimitChange()"
            >
            </ivz-input-number>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.CREDIT_LIMIT_REQUEST_FEE_PCT' | translate }} : </label>
            <ivz-input-number
              inputId="CREDIT_LIMIT_REQUEST_FEE_PCT"
              [(ivzModel)]="model.creditAppRequestTable_CreditLimitRequestFeePct"
              [ivzConfig]="PERCENT_5_2"
            >
            </ivz-input-number>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.CREDIT_LIMIT_REQUEST_FEE_AMOUNT' | translate }} : </label>
            <ivz-input-number
              inputId="CREDIT_LIMIT_REQUEST_FEE_AMOUNT"
              [(ivzModel)]="model.creditAppRequestTable_CreditLimitRequestFeeAmount"
              [ivzConfig]="CURRENCY_13_2"
              (ivzModelChange)="onCreditLimitRequestFeeAmountChange()"
            >
            </ivz-input-number>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.MAXIMUM_RETENTION_PCT' | translate }} : </label>
            <ivz-input-number inputId="MAX_RETENTION_PCT" [(ivzModel)]="model.creditAppRequestTable_MaxRetentionPct" [ivzConfig]="PERCENT_5_2">
            </ivz-input-number>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.MAXIMUM_RETENTION_AMOUNT' | translate }} : </label>
            <ivz-input-number
              inputId="MAX_RETENTION_AMOUNT"
              [(ivzModel)]="model.creditAppRequestTable_MaxRetentionAmount"
              [ivzConfig]="CURRENCY_13_2"
            >
            </ivz-input-number>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.APPROVED_CREDIT_LIMIT' | translate }} : </label>
            <ivz-input-number
              inputId="APPROVED_CREDIT_LIMIT"
              [(ivzModel)]="model.creditAppRequestTable_ApprovedCreditLimitRequest"
              [ivzConfig]="CURRENCY_13_2"
              (ivzModelChange)="onApprovedCreditLimitRequestChange()"
            >
            </ivz-input-number>
          </div>
        </div>
      </p-fieldset>
      <p-fieldset
        [hidden]="!(isUpdateMode && !custom.isActiveAmendCustomerCreditLimit)"
        [legend]="{ text: 'LABEL.AMEND_CUSTOMER_INFORMATION' | translate }.text"
        [toggleable]="true"
      >
        <div class="p-d-flex p-flex-wrap">
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.AMEND_RATE' | translate }} : </label>
            <ivz-input-switch
              inputId="AMEND_RATE"
              [(ivzModel)]="model.amendRate"
              (ivzModelChange)="onAmendRateChange()"
              (ivzBindingChange)="onAmendRateBinding()"
            ></ivz-input-switch>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.AMEND_AUTHORIZED_PERSON' | translate }} : </label>
            <ivz-input-switch
              inputId="AMEND_AUTHORIZED_PERSON"
              [(ivzModel)]="model.amendAuthorizedPerson"
              (ivzModelChange)="onAmendAuthorizedPersonChange()"
              (ivzBindingChange)="onAmendAuthorizedPersonBinding()"
            ></ivz-input-switch>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.AMEND_GUARANTOR' | translate }} : </label>
            <ivz-input-switch
              inputId="AMEND_GUARANTOR"
              [(ivzModel)]="model.amendGuarantor"
              (ivzModelChange)="onAmendGuarantorChange()"
              (ivzBindingChange)="onAmendGuarantorBinding()"
            ></ivz-input-switch>
          </div>
        </div>
        <!-- Tab -->
        <p-tabView [activeIndex]="custom.activeIndex">
          <p-tabPanel [header]="{ text: 'LABEL.RATE' | translate }.text" [disabled]="custom.checkAmendRate">
            <p-fieldset [legend]="{ text: 'LABEL.INTEREST_RATE' | translate }.text" [toggleable]="true">
              <div class="p-d-flex p-flex-wrap">
                <div class="p-d-flex p-flex-column ele-box-w-25">
                  <label>{{ 'LABEL.ORIGINAL_INTEREST_TYPE_ID' | translate }} : </label>
                  <ivz-input-text
                    inputId="ORIGINAL_INTEREST_TYPE_GUID"
                    [(ivzModel)]="model.originalInterestType_Values"
                    [ivzConfig]="DEFAULT_INPUTTEXT"
                  ></ivz-input-text>
                </div>
                <div class="p-d-flex p-flex-column ele-box-w-25">
                  <label required>{{ 'LABEL.NEW_INTEREST_TYPE_ID' | translate }} : </label>
                  <ivz-dropdown
                    inputId="NEW_INTEREST_TYPE_GUID"
                    [(ivzModel)]="model.creditAppRequestTable_NewInterestTypeGUID"
                    [ivzConfig]="DEFAULT_DROPDOWN"
                    [options]="interestTypeOptions"
                    required
                    (ivzModelChange)="onNewInterestTypeChange()"
                  ></ivz-dropdown>
                </div>
                <div class="p-d-flex p-flex-column ele-box-w-25">
                  <label>{{ 'LABEL.ORIGINAL_INTEREST_ADJUSTMENT_PCT' | translate }} : </label>
                  <ivz-input-number
                    inputId="ORIGINAL_INTEREST_ADJUSTMENT_PCT"
                    [(ivzModel)]="model.originalInterestAdjustmentPct"
                    [ivzConfig]="PERCENT_5_2"
                  >
                  </ivz-input-number>
                </div>
                <div class="p-d-flex p-flex-column ele-box-w-25">
                  <label required>{{ 'LABEL.NEW_INTEREST_ADJUSTMENT_PCT' | translate }} : </label>
                  <ivz-input-number
                    inputId="NEW_INTEREST_ADJUSTMENT_PCT"
                    [(ivzModel)]="model.creditAppRequestTable_NewInterestAdjustmentPct"
                    [ivzConfig]="PERCENT_5_2"
                    required
                    (ivzModelChange)="onNewInterestAdjustmentPctChange()"
                  >
                  </ivz-input-number>
                </div>
                <div class="p-d-flex p-flex-column ele-box-w-25">
                  <label>{{ 'LABEL.ORIGINAL_TOTAL_INTEREST_PCT' | translate }} : </label>
                  <ivz-input-number inputId="ORIGINAL_TOTAL_INTEREST_PCT" [(ivzModel)]="model.originalTotalInterestPct" [ivzConfig]="PERCENT_5_2">
                  </ivz-input-number>
                </div>
                <div class="p-d-flex p-flex-column ele-box-w-25">
                  <label required>{{ 'LABEL.NEW_TOTAL_INTEREST_PCT' | translate }} : </label>
                  <ivz-input-number
                    inputId="NEW_TOTAL_INTEREST_PCT"
                    [(ivzModel)]="model.creditAppRequestTable_NewTotalInterestPct"
                    [ivzConfig]="PERCENT_5_2"
                    required
                  >
                  </ivz-input-number>
                </div>
              </div>
            </p-fieldset>
            <p-fieldset [legend]="{ text: 'LABEL.CREDIT_REQUEST_FEE' | translate }.text" [toggleable]="true">
              <div class="p-d-flex p-flex-wrap">
                <div class="p-d-flex p-flex-column ele-box-w-25">
                  <label>{{ 'LABEL.ORIGINAL_CREDIT_LIMIT_REQUEST_FEE_AMOUNT' | translate }} : </label>
                  <ivz-input-number
                    inputId="ORIGINAL_CREDIT_LIMIT_REQUEST_FEE_AMOUNT"
                    [(ivzModel)]="model.originalCreditLimitRequestFeeAmount"
                    [ivzConfig]="CURRENCY_13_2"
                  >
                  </ivz-input-number>
                </div>
                <div class="p-d-flex p-flex-column ele-box-w-25">
                  <label>{{ 'LABEL.NEW_CREDIT_LIMIT_REQUEST_FEE_AMOUNT' | translate }} : </label>
                  <ivz-input-number
                    inputId="NEW_CREDIT_LIMIT_REQUEST_FEE_AMOUNT"
                    [(ivzModel)]="model.creditAppRequestTable_NewCreditLimitRequestFeeAmount"
                    [ivzConfig]="CURRENCY_13_2"
                  >
                  </ivz-input-number>
                </div>
              </div>
            </p-fieldset>
            <p-fieldset [legend]="{ text: 'LABEL.RETENTION' | translate }.text" [toggleable]="true">
              <div class="p-d-flex p-flex-wrap">
                <div class="p-d-flex p-flex-column ele-box-w-25">
                  <label>{{ 'LABEL.ORIGINAL_MAXIMUM_RETENTION_PCT' | translate }} : </label>
                  <ivz-input-number inputId="ORIGINAL_MAX_RETENTION_PCT" [(ivzModel)]="model.originalMaxRetentionPct" [ivzConfig]="PERCENT_5_2">
                  </ivz-input-number>
                </div>
                <div class="p-d-flex p-flex-column ele-box-w-25">
                  <label>{{ 'LABEL.NEW_MAXIMUM_RETENTION_PCT' | translate }} : </label>
                  <ivz-input-number
                    inputId="NEW_MAX_RETENTION_PCT"
                    [(ivzModel)]="model.creditAppRequestTable_NewMaxRetentionPct"
                    [ivzConfig]="PERCENT_5_2"
                    (ivzModelChange)="onNewMaxRetentionPctChange()"
                  >
                  </ivz-input-number>
                </div>
                <div class="p-d-flex p-flex-column ele-box-w-25">
                  <label>{{ 'LABEL.ORIGINAL_MAXIMUM_RETENTION_AMOUNT' | translate }} : </label>
                  <ivz-input-number
                    inputId="ORIGINAL_MAX_RETENTION_AMOUNT"
                    [(ivzModel)]="model.originalMaxRetentionAmount"
                    [ivzConfig]="CURRENCY_13_2"
                  >
                  </ivz-input-number>
                </div>
                <div class="p-d-flex p-flex-column ele-box-w-25">
                  <label>{{ 'LABEL.NEW_MAXIMUM_RETENTION_AMOUNT' | translate }} : </label>
                  <ivz-input-number
                    inputId="NEW_MAX_RETENTION_AMOUNT"
                    [(ivzModel)]="model.creditAppRequestTable_NewMaxRetentionAmount"
                    [ivzConfig]="CURRENCY_13_2"
                  >
                  </ivz-input-number>
                </div>
              </div>
            </p-fieldset>
            <p-fieldset [legend]="{ text: 'LABEL.FACTORING' | translate }.text" [toggleable]="true">
              <div class="p-d-flex p-flex-wrap">
                <div class="p-d-flex p-flex-column ele-box-w-25">
                  <label>{{ 'LABEL.ORIGINAL_MAXIMUM_PURCHASE_PCT' | translate }} : </label>
                  <ivz-input-number inputId="ORIGINAL_MAX_PURCHASE_PCT" [(ivzModel)]="model.originalMaxPurchasePct" [ivzConfig]="PERCENT_5_2">
                  </ivz-input-number>
                </div>
                <div class="p-d-flex p-flex-column ele-box-w-25">
                  <label>{{ 'LABEL.NEW_MAXIMUM_PURCHASE_PCT' | translate }} : </label>
                  <ivz-input-number
                    inputId="NEW_MAX_PURCHASE_PCT"
                    [(ivzModel)]="model.creditAppRequestTable_NewMaxPurchasePct"
                    [ivzConfig]="PERCENT_5_2"
                  >
                  </ivz-input-number>
                </div>
                <div class="p-d-flex p-flex-column ele-box-w-25">
                  <label>{{ 'LABEL.ORIGINAL_PURCHASE_FEE_PCT' | translate }} : </label>
                  <ivz-input-number inputId="ORIGINAL_PURCHASE_FEE_PCT" [(ivzModel)]="model.originalPurchaseFeePct" [ivzConfig]="PERCENT_5_2">
                  </ivz-input-number>
                </div>
                <div class="p-d-flex p-flex-column ele-box-w-25">
                  <label>{{ 'LABEL.NEW_PURCHASE_FEE_PCT' | translate }} : </label>
                  <ivz-input-number
                    inputId="NEW_PURCHASE_FEE_PCT"
                    [(ivzModel)]="model.creditAppRequestTable_NewPurchaseFeePct"
                    [ivzConfig]="PERCENT_5_2"
                  >
                  </ivz-input-number>
                </div>
                <div class="p-d-flex p-flex-column ele-box-w-25">
                  <label>{{ 'LABEL.ORIGINAL_PURCHASE_FEE_CALCULATE_BASE' | translate }} : </label>
                  <ivz-dropdown
                    inputId="ORIGINAL_PURCHASE_FEE_CALCULATE_BASE"
                    [(ivzModel)]="model.originalPurchaseFeeCalculateBase"
                    [ivzConfig]="DEFAULT_DROPDOWN"
                    [options]="purchaseFeeCalculateBaseOptions"
                  ></ivz-dropdown>
                </div>
                <div class="p-d-flex p-flex-column ele-box-w-25">
                  <label>{{ 'LABEL.NEW_PURCHASE_FEE_CALCULATE_BASE' | translate }} : </label>
                  <ivz-dropdown
                    inputId="NEW_PURCHASE_FEE_CALCULATE_BASE"
                    [(ivzModel)]="model.creditAppRequestTable_NewPurchaseFeeCalculateBase"
                    [ivzConfig]="DEFAULT_DROPDOWN"
                    [options]="purchaseFeeCalculateBaseOptions"
                  ></ivz-dropdown>
                </div>
              </div>
            </p-fieldset>
          </p-tabPanel>

          <p-tabPanel [header]="{ text: 'LABEL.AUTHORIZED_PERSON' | translate }.text" [disabled]="custom.checkAmendAuthorizedPerson">
            <p-fieldset
              *ngIf="custom.openAuthorizedPersonList"
              [legend]="{ text: 'LABEL.AUTHORIZED_PERSON_TRANS' | translate }.text"
              [toggleable]="true"
              listview
            >
              <div class="p-grid p-col-12 p-justify-start div-form-input">
                <authorized-person-trans-list [pageInfo]="childPaths[0]"></authorized-person-trans-list>
              </div>
            </p-fieldset>
          </p-tabPanel>

          <p-tabPanel [header]="{ text: 'LABEL.GUARANTOR' | translate }.text" [disabled]="custom.checkAmendGuarantor">
            <p-fieldset *ngIf="custom.openGuarantorList" [legend]="{ text: 'LABEL.GUARANTOR_TRANS' | translate }.text" [toggleable]="true" listview>
              <div class="p-grid p-col-12 p-justify-start div-form-input">
                <guarantor-trans-list [pageInfo]="childPaths[1]"></guarantor-trans-list>
              </div>
            </p-fieldset>
          </p-tabPanel>
        </p-tabView>
      </p-fieldset>
      <p-fieldset *ngIf="isUpdateMode" [legend]="{ text: 'LABEL.CREDIT_NOTE_REFERENCE' | translate }.text" [toggleable]="true">
        <div class="p-d-flex p-flex-wrap">
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label [required]="custom.mandatoryWhenCreditLimitRequestFeeAmountIsLessThanZero">{{ 'LABEL.CN_REASON_ID' | translate }} : </label>
            <ivz-dropdown
              inputId="CN_REASON_GUID"
              [(ivzModel)]="model.cnReasonGUID"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="documentReasonOptions"
              [required]="custom.mandatoryWhenCreditLimitRequestFeeAmountIsLessThanZero"
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.ORIGINAL_INVOICE' | translate }} : </label>
            <ivz-dropdown
              inputId="ORIG_INVOICE"
              [(ivzModel)]="model.origInvoice"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="invoiceTableOptions"
              (ivzModelChange)="onOrigInvoiceChange()"
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label [required]="custom.mandatoryWhenCreditLimitRequestFeeAmountIsLessThanZero">{{ 'LABEL.ORIGINAL_INVOICE_ID' | translate }} : </label>
            <ivz-input-text
              inputId="ORIG_INVOICE_ID"
              [(ivzModel)]="model.origInvoiceId"
              [ivzConfig]="DEFAULT_INPUTTEXT"
              [required]="custom.mandatoryWhenCreditLimitRequestFeeAmountIsLessThanZero"
            ></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label [required]="custom.mandatoryWhenCreditLimitRequestFeeAmountIsLessThanZero"
              >{{ 'LABEL.ORIGINAL_INVOICE_AMOUNT' | translate }} :
            </label>
            <ivz-input-number
              inputId="ORIG_INVOICE_AMOUNT"
              [(ivzModel)]="model.origInvoiceAmount"
              [ivzConfig]="CURRENCY_13_2"
              [required]="custom.mandatoryWhenCreditLimitRequestFeeAmountIsLessThanZero"
            >
            </ivz-input-number>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.ORIGINAL_TAX_INVOICE_ID' | translate }} : </label>
            <ivz-input-text inputId="ORIG_TAX_INVOICE_ID" [(ivzModel)]="model.origTaxInvoiceId" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.ORIGINAL_TAX_INVOICE_AMOUNT' | translate }} : </label>
            <ivz-input-number inputId="ORIG_TAX_INVOICE_AMOUNT" [(ivzModel)]="model.origTaxInvoiceAmount" [ivzConfig]="CURRENCY_13_2">
            </ivz-input-number>
          </div>
        </div>
      </p-fieldset>
      <p-fieldset *ngIf="isUpdateMode" [legend]="{ text: 'LABEL.APPROVAL' | translate }.text" [toggleable]="true">
        <div class="p-d-flex p-flex-wrap">
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.APPROVED_DATE' | translate }} : </label>
            <ivz-calendar inputId="APPROVED_DATE" [(ivzModel)]="model.creditAppRequestTable_ApprovedDate" [ivzConfig]="DATE"></ivz-calendar>
          </div>
        </div>
      </p-fieldset>
      <p-fieldset *ngIf="isUpdateMode" [legend]="{ text: 'LABEL.COMMENT' | translate }.text" [toggleable]="true">
        <div class="p-d-flex p-flex-wrap">
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.MARKETING_COMMENT' | translate }} : </label>
            <ivz-textarea
              inputId="MARKETING_COMMENT"
              [(ivzModel)]="model.creditAppRequestTable_MarketingComment"
              maxlength="100"
              [ivzConfig]="DEFAULT_TEXTAREA"
            >
            </ivz-textarea>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.CREDIT_COMMENT' | translate }} : </label>
            <ivz-textarea
              inputId="CREDIT_COMMENT"
              [(ivzModel)]="model.creditAppRequestTable_CreditComment"
              maxlength="100"
              [ivzConfig]="DEFAULT_TEXTAREA"
            >
            </ivz-textarea>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.APPROVER_COMMENT' | translate }} : </label>
            <ivz-textarea
              inputId="APPROVER_COMMENT"
              [(ivzModel)]="model.creditAppRequestTable_ApproverComment"
              maxlength="100"
              [ivzConfig]="DEFAULT_TEXTAREA"
            >
            </ivz-textarea>
          </div>
        </div>
      </p-fieldset>
      <p-fieldset [legend]="{ text: 'LABEL.SYSTEM' | translate }.text" [toggleable]="true">
        <div class="p-d-flex p-flex-wrap">
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.CREATED_BY' | translate }} : </label>
            <ivz-input-text inputId="CREATED_BY" [(ivzModel)]="model.createdBy" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.CREATED_DATE_TIME' | translate }} : </label>
            <ivz-calendar inputId="CREATED_DATE_TIME" [(ivzModel)]="model.createdDateTime" [ivzConfig]="DATETIME"></ivz-calendar>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.MODIFIED_BY' | translate }} : </label>
            <ivz-input-text inputId="MODIFIED_BY" [(ivzModel)]="model.modifiedBy" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.MODIFIED_DATE_TIME' | translate }} : </label>
            <ivz-calendar inputId="MODIFIED_DATE_TIME" [(ivzModel)]="model.modifiedDateTime" [ivzConfig]="DATETIME"></ivz-calendar>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label required>{{ 'LABEL.COMPANY_ID' | translate }} : </label>
            <ivz-input-text inputId="COMPANY_ID" [(ivzModel)]="model.companyId" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label required>{{ 'LABEL.BUSINESS_UNIT_ID' | translate }} : </label>
            <ivz-input-text inputId="BUSINESS_UNIT_ID" [(ivzModel)]="model.ownerBusinessUnitId" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label required>{{ 'LABEL.OWNER' | translate }} : </label>
            <ivz-input-text inputId="OWNER" [(ivzModel)]="model.owner" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
          </div>
        </div>
      </p-fieldset>
    </p-panel-content>
    <p-footer class="ivz-panel-footer">
      <div class="p-d-flex p-jc-end">
        <ivz-button
          inputId="SAVE"
          [label]="'LABEL.SAVE' | translate"
          icon="pi pi-save"
          className="ivz-primary-btn p-m-2"
          [ivzConfig]="buttonConfig"
          (formValidate)="onSave($event)"
        ></ivz-button>
        <ivz-button
          inputId="SAVE_AND_CLOSE"
          [label]="'LABEL.SAVE_AND_CLOSE' | translate"
          icon="pi pi-times"
          className="ivz-primary-btn p-m-2"
          [ivzConfig]="buttonConfig"
          (formValidate)="onSaveAndClose($event)"
        >
        </ivz-button>
        <ivz-button
          inputId="CLOSE"
          [label]="'LABEL.CLOSE' | translate"
          icon="pi pi-power-off"
          className="ivz-primary-btn p-m-2"
          [ivzConfig]="buttonConfig"
          (click)="onClose()"
        >
        </ivz-button>
      </div>
    </p-footer>
  </p-panel>
</div>
