<div class="ivz-item-card">
  <p-panel [showHeader]="true" [viewonly]="isView" class="ivz-panel">
    <p-header class="p-d-flex p-jc-between w-100">
      <div class="ivz-div-panel-title">
        <span class="ivz-panel-title p-m-2">{{ 'LABEL.DEMO' | translate }}</span>
      </div>
      <div class="ivz-div-panel-btn-group">
        <p-tieredMenu [ngClass]="{ none: !isViewWorkflowBtn }" id="MENUWORKFLOW" #workflow [model]="workflowItems" [popup]="true"> </p-tieredMenu>
        <p-button
          id="WORKFLOW"
          #btnfn
          type="button"
          icon="pi pi-cog"
          (click)="workflow.toggle($event); function.hide(); related.hide(); group.hide()"
          [label]="'LABEL.WORKFLOW' | translate"
          styleClass="p-button-text"
        ></p-button>
        <p-tieredMenu id="MENURELATED" #related [model]="relatedInfoItems" [popup]="true"> </p-tieredMenu>
        <p-button
          id="RELATED_INFO"
          #btnfn
          type="button"
          icon="pi pi-share-alt"
          (click)="related.toggle($event); workflow.hide(); function.hide(); group.hide()"
          [label]="'LABEL.RELATED_INFO' | translate"
          styleClass="p-button-text"
        >
        </p-button>
        <p-tieredMenu id="MENUFUNCTION" #function [model]="functionItems" [popup]="true"> </p-tieredMenu>
        <p-button
          id="FUNCTION"
          #btnfn
          type="button"
          icon="pi pi-cog"
          (click)="function.toggle($event); workflow.hide(); related.hide(); group.hide()"
          [label]="'LABEL.FUNCTION' | translate"
          styleClass="p-button-text"
        ></p-button>
        <p-tieredMenu id="MENUGROUP" #group [model]="itemsGroup" [popup]="true"> </p-tieredMenu>
        <p-button
          id="GROUP"
          #btnfn
          type="button"
          icon="pi pi-list"
          (click)="group.toggle($event); workflow.hide(); function.hide(); related.hide()"
          [label]="'LABEL.GROUP' | translate"
          styleClass="p-button-text"
        ></p-button>
      </div>
    </p-header>
    <p-panel-content class="ivz-div-panel-content">
      <p-tabView [(activeIndex)]="index">
        <p-tabPanel header="Header 1">
          <p-fieldset [legend]="{ text: 'LABEL.GENERAL' | translate }.text" [toggleable]="true">
            <div class="p-d-flex p-flex-wrap">
              <div class="p-d-flex p-flex-column ele-box-w-50">
                <label required>{{ 'LABEL.BLACKLIST_STATUS_ID' | translate }} : </label>
                <ivz-input-text inputId="BLACKLIST_STATUS_ID" [(ivzModel)]="model.demoId" [ivzConfig]="DEFAULT_INPUTTEXT" required></ivz-input-text>
              </div>
              <div class="p-d-flex p-flex-column ele-box-w-50">
                <label required>{{ 'LABEL.DESCRIPTION' | translate }} : </label>
                <ivz-input-text inputId="DESCRIPTION" [(ivzModel)]="model.description" [ivzConfig]="DEFAULT_INPUTTEXT" required></ivz-input-text>
              </div>
              <div class="p-d-flex p-flex-column ele-box-w-25">
                <label >{{ 'LABEL.DOCUMENT_PROCESS' | translate }} : </label>
                <ivz-dropdown
                  inputId="DOCUMENT_PROCESS"
                  [(ivzModel)]="model.documentProcessGUID"
                  [ivzConfig]="DEFAULT_DROPDOWN"
                  [options]="documentProcessOptions"
                  (ivzModelChange)="onDocumentProcessChange($event)"
                  (ivzBindingChange)="onDocumentProcessChange($event)"
                ></ivz-dropdown>
              </div>
              <div class="p-d-flex p-flex-column ele-box-w-25">
                <label required>{{ 'LABEL.DOCUMENT_STATUS' | translate }} : </label>
                <ivz-dropdown
                  required
                  inputId="DOCUMENT_STATUS"
                  [(ivzModel)]="model.documentStatusGUID"
                  [ivzConfig]="DEFAULT_DROPDOWN"
                  [options]="documentStatusOptions"
                  (ivzModelChange)="onDocumentStatusChange($event)"
                ></ivz-dropdown>
              </div>
            </div>
          </p-fieldset>
        </p-tabPanel>
        <p-tabPanel header="Header 2">
          <p-fieldset [legend]="{ text: 'LABEL.REGISTRATION' | translate }.text" [toggleable]="true">
            <div class="p-d-flex p-flex-wrap">
              <div class="p-d-flex p-flex-column ele-box-w-25">
                <label>{{ 'LABEL.EMPLOYEE_TABLE' | translate }} : </label>
                <ivz-dropdown                  
                  inputId="EMPLOYEE"
                  [(ivzModel)]="model.employeeTableGUID"
                  [ivzConfig]="DEFAULT_DROPDOWN"
                  [options]="employeeTableOptions"
                  (ivzModelChange)="onEmployeeTableChange($event)"
                ></ivz-dropdown>
              </div>
              <div class="p-d-flex p-flex-column ele-box-w-25">
                <label>{{ 'LABEL.DATE_OF_ISSUE' | translate }} : </label>
                <ivz-calendar inputId="DATE_OF_ISSUE" [(ivzModel)]="model.demoDate" [ivzConfig]="TIME"></ivz-calendar>
              </div>
            </div>
          </p-fieldset>
        </p-tabPanel>
        <p-tabPanel header="Header 3">
          <p-fieldset [legend]="{ text: 'LABEL.TAX_INFORMATION' | translate }.text" [toggleable]="true">
            <div class="p-d-flex p-flex-wrap">
              <div class="p-d-flex p-flex-column ele-box-w-25">
                <label require>{{ 'LABEL.PAID-UP_CAPITAL' | translate }} : </label>
                <ivz-input-number inputId="PAID_UP_CAPITAL" [(ivzModel)]="model.demoPeriod" [ivzConfig]="CURRENCY_13_2"> </ivz-input-number>
              </div>
              <div class="p-d-flex p-flex-column ele-box-w-25">
                <label require>{{ 'LABEL.ACCOUNTING_AMOUNT' | translate }} : </label>
                <ivz-input-number
                  inputId="ACCOUNTING_AMOUNT"
                  [(ivzModel)]="model.demoAmount"
                  [ivzConfig]="INTEGER"
                  [ivzValidation]="accountingAmountValidation()"
                >
                </ivz-input-number>
              </div>
              <div class="p-d-flex p-flex-column ele-box-w-25">
                <label>{{ 'LABEL.INACTIVE' | translate }} : </label>
                <ivz-input-switch inputId="IN_ACTIVE" [(ivzModel)]="model.demoFact"></ivz-input-switch>
              </div>
              <div class="p-d-flex p-flex-column ele-box-w-50">
                <label>{{ 'LABEL.INACTIVE' | translate }} : </label>
                <ivz-textarea inputId="CUST_VISITING_MEMO" [(ivzModel)]="model.description" [ivzConfig]="DEFAULT_TEXTAREA" maxlength="1000">
                </ivz-textarea>
              </div>
            </div>
          </p-fieldset>
        </p-tabPanel>
      </p-tabView>
      <!-- <p-fieldset [legend]="{ text: 'LABEL.GENERAL' | translate }.text" [toggleable]="true">
        <div class="p-d-flex p-flex-wrap">
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label [required]="fileUpload">{{ 'LABEL.TEMPLATE_FILE' | translate }} : </label>
            <ivz-file-upload
              #fileUploadCmpnt
              [multiple]="false"
              [model]="fileUpload"
              [showDescription]="false"
              [upload]="false"
              [viewOnly]="isView"
              [browse]="true"
              [showPreviewBtn]="false"
              [showDownloadBtn]="isUpdateMode"
              [acceptFormat]="docxType"
              (fileChange)="onFileChange($event)"
            >
            </ivz-file-upload>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label required>{{ 'LABEL.BLACKLIST_STATUS_ID' | translate }} : </label>
            <ivz-input-text inputId="BLACKLIST_STATUS_ID" [(ivzModel)]="model.demoId" [ivzConfig]="DEFAULT_INPUTTEXT" required></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label required>{{ 'LABEL.DESCRIPTION' | translate }} : </label>
            <ivz-input-text inputId="DESCRIPTION" [(ivzModel)]="model.description" [ivzConfig]="DEFAULT_INPUTTEXT" required></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label required>{{ 'LABEL.DOCUMENT_PROCESS' | translate }} : </label>
            <ivz-dropdown
              required
              inputId="DOCUMENT_PROCESS"
              [(ivzModel)]="model.documentProcessGUID"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="documentProcessOptions"
              (ivzModelChange)="onDocumentProcessChange($event)"
              (ivzBindingChange)="onDocumentProcessChange($event)"
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label required>{{ 'LABEL.DOCUMENT_STATUS' | translate }} : </label>
            <ivz-dropdown
              required
              inputId="DOCUMENT_STATUS"
              [(ivzModel)]="model.documentStatusGUID"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="documentStatusOptions"
              (ivzModelChange)="onDocumentStatusChange($event)"
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label required>{{ 'LABEL.EMPLOYEE_TABLE' | translate }} : </label>
            <ivz-dropdown
              required
              inputId="EMPLOYEE"
              [(ivzModel)]="model.employeeTableGUID"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="employeeTableOptions"
              (ivzModelChange)="onEmployeeTableChange($event)"
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.DATE_OF_ISSUE' | translate }} : </label>
            <ivz-calendar inputId="DATE_OF_ISSUE" [(ivzModel)]="model.demoDate" [ivzConfig]="DATE"></ivz-calendar>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label require>{{ 'LABEL.PAID-UP_CAPITAL' | translate }} : </label>
            <ivz-input-number inputId="PAID_UP_CAPITAL" [(ivzModel)]="model.demoPeriod" [ivzConfig]="CURRENCY_13_2"> </ivz-input-number>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label require>{{ 'LABEL.ACCOUNTING_AMOUNT' | translate }} : </label>
            <ivz-input-number inputId="ACCOUNTING_AMOUNT" [(ivzModel)]="model.demoAmount" [ivzConfig]="INTEGER"> </ivz-input-number>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.INACTIVE' | translate }} : </label>
            <ivz-input-switch inputId="IN_ACTIVE" [(ivzModel)]="model.demoFact"></ivz-input-switch>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.INACTIVE' | translate }} : </label>
            <ivz-textarea inputId="CUST_VISITING_MEMO" [(ivzModel)]="model.description" [ivzConfig]="DEFAULT_TEXTAREA" maxlength="1000">
            </ivz-textarea>
          </div>
        </div>
      </p-fieldset> -->
      <p-fieldset [legend]="{ text: 'LABEL.SYSTEM' | translate }.text" [toggleable]="true">
        <div class="p-d-flex p-flex-wrap">
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.CREATED_BY' | translate }} : </label>
            <ivz-input-text inputId="CREATED_BY" [(ivzModel)]="model.createdBy" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.CREATED_DATE_TIME' | translate }} : </label>
            <ivz-calendar inputId="CREATED_DATE_TIME" [(ivzModel)]="model.createdDateTime" [ivzConfig]="DATETIME"></ivz-calendar>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.MODIFIED_BY' | translate }} : </label>
            <ivz-input-text inputId="MODIFIED_BY" [(ivzModel)]="model.modifiedBy" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.MODIFIED_DATE_TIME' | translate }} : </label>
            <ivz-calendar inputId="MODIFIED_DATE_TIME" [(ivzModel)]="model.modifiedDateTime" [ivzConfig]="DATETIME"></ivz-calendar>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label required>{{ 'LABEL.COMPANY_ID' | translate }} : </label>
            <ivz-input-text inputId="COMPANY_ID" [(ivzModel)]="model.companyId" [ivzConfig]="DEFAULT_INPUTTEXT" required></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label required>{{ 'LABEL.BUSINESS_UNIT_ID' | translate }} : </label>
            <ivz-input-text
              inputId="BUSINESS_UNIT_ID"
              [(ivzModel)]="model.ownerBusinessUnitId"
              [ivzConfig]="DEFAULT_INPUTTEXT"
              required
            ></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label required>{{ 'LABEL.OWNER' | translate }} : </label>
            <ivz-input-text inputId="OWNER" [(ivzModel)]="model.owner" [ivzConfig]="DEFAULT_INPUTTEXT" required></ivz-input-text>
          </div>
        </div>
      </p-fieldset>
    </p-panel-content>
    <p-footer class="ivz-panel-footer">
      <div class="p-d-flex p-jc-end">
        <ivz-button
          inputId="SAVE"
          [label]="'LABEL.SAVE' | translate"
          icon="pi pi-save"
          className="ivz-primary-btn p-m-2"
          [ivzConfig]="buttonConfig"
          (formValidate)="onSave($event)"
        ></ivz-button>
        <ivz-button
          inputId="SAVE_AND_CLOSE"
          [label]="'LABEL.SAVE_AND_CLOSE' | translate"
          icon="pi pi-times"
          className="ivz-primary-btn p-m-2"
          [ivzConfig]="buttonConfig"
          (formValidate)="onSaveAndClose($event)"
        >
        </ivz-button>
        <ivz-button
          inputId="CLOSE"
          [label]="'LABEL.CLOSE' | translate"
          icon="pi pi-power-off"
          className="ivz-primary-btn p-m-2"
          [ivzConfig]="buttonConfig"
          (click)="onClose()"
        >
        </ivz-button>
      </div>
    </p-footer>
  </p-panel>
</div>
