<div class="ivz-item-card">
  <p-panel [showHeader]="true" [viewonly]="isView" class="ivz-panel">
    <p-header class="p-d-flex p-jc-between w-100">
      <div class="ivz-div-panel-title">
        <span class="ivz-panel-title p-m-2">{{ 'LABEL.MESSENGER_JOB' | translate }}</span>
      </div>
      <div class="ivz-div-panel-btn-group">
        <p-tieredMenu id="MENURELATED" #related [model]="relatedInfoItems" [popup]="true"> </p-tieredMenu>
        <p-button
          id="RELATED_INFO"
          #btnfn
          type="button"
          icon="pi pi-share-alt"
          (click)="related.toggle($event); function.hide(); group.hide()"
          [label]="'LABEL.RELATED_INFO' | translate"
          styleClass="p-button-text"
        >
        </p-button>
        <p-tieredMenu id="MENUFUNCTION" #function [model]="functionItems" [popup]="true"> </p-tieredMenu>
        <p-button
          id="FUNCTION"
          #btnfn
          type="button"
          icon="pi pi-cog"
          (click)="function.toggle($event); related.hide(); group.hide()"
          [label]="'LABEL.FUNCTION' | translate"
          styleClass="p-button-text"
        ></p-button>
        <p-tieredMenu id="MENUGROUP" #group [model]="itemsGroup" [popup]="true"> </p-tieredMenu>
        <p-button
          id="GROUP"
          #btnfn
          type="button"
          icon="pi pi-list"
          (click)="group.toggle($event); function.hide(); related.hide()"
          [label]="'LABEL.GROUP' | translate"
          styleClass="p-button-text"
        ></p-button>
      </div>
    </p-header>
    <p-panel-content class="ivz-div-panel-content">
      <p-fieldset [legend]="{ text: 'LABEL.GENERAL' | translate }.text" [toggleable]="true">
        <div class="p-d-flex p-flex-wrap">
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label [required]="custom.isManual">{{ 'LABEL.JOB_ID' | translate }} : </label>
            <ivz-input-text inputId="JOB_ID" [(ivzModel)]="model.jobId" [ivzConfig]="ID_INPUTTEXT" [required]="custom.isManual"></ivz-input-text>
          </div>

          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.JOB_DATE' | translate }} : </label>
            <ivz-calendar inputId="JOB_DATE" [(ivzModel)]="model.jobDate" [ivzConfig]="DATE"></ivz-calendar>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.JOB_START_TIME' | translate }} : </label>
            <ivz-calendar inputId="JOB_START_TIME" [(ivzModel)]="model.jobStartTime" [ivzConfig]="TIME"></ivz-calendar>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.JOB_END_TIME' | translate }} : </label>
            <ivz-calendar inputId="JOB_END_TIME" [(ivzModel)]="model.jobEndTime" [ivzConfig]="TIME"></ivz-calendar>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label required>{{ 'LABEL.CONTACT_TO' | translate }} : </label>
            <ivz-dropdown
              inputId="CONTACT_TO"
              [(ivzModel)]="model.contactTo"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="contactToOptions"
              (ivzModelChange)="contactToChange($event)"
              required
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label [required]="custom.customerRequire">{{ 'LABEL.CUSTOMER_ID' | translate }} : </label>
            <ivz-dropdown
              inputId="CUSTOMER_TABLE_GUID"
              [(ivzModel)]="model.customerTableGUID"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="customerTableOptions"
              [required]="custom.customerRequire"
              (ivzModelChange)="customerChange($event)"
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label [required]="custom.buyerRequire">{{ 'LABEL.BUYER_ID' | translate }} : </label>
            <ivz-dropdown
              inputId="BUYER_TABLE_GUID"
              [(ivzModel)]="model.buyerTableGUID"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="buyerTableOptions"
              [required]="custom.buyerRequire"
              (ivzModelChange)="buyerChange($event)"
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.REFERENCE_ORIGINAL_JOB_ID' | translate }} : </label>
            <ivz-dropdown
              inputId="REF_MESSENGER_JOB_TABLE_GUID"
              [(ivzModel)]="model.refMessengerJobTableGUID"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="messengerJobTableOptions"
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.CONTACT_NAME' | translate }} : </label>
            <ivz-input-text inputId="CONTACT_NAME" [(ivzModel)]="model.contactName" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label required>{{ 'LABEL.JOB_TYPE_ID' | translate }} : </label>
            <ivz-dropdown
              inputId="JOB_TYPE_GUID"
              [(ivzModel)]="model.jobTypeGUID"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="jobTypeOptions"
              (ivzModelChange)="jobTypeOnChange($event)"
              required
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.MESSENGER_ID' | translate }} : </label>
            <ivz-dropdown
              inputId="MESSENGER_TABLE_GUID"
              [(ivzModel)]="model.messengerTableGUID"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="messengerTableOptions"
              (ivzModelChange)="messagerOnChange($event)"
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.VENDOR_ID' | translate }} : </label>
            <ivz-input-text inputId="VENDOR_ID" [(ivzModel)]="model.vendorId" maxlength="150" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label required>{{ 'LABEL.PRIORITY' | translate }} : </label>
            <ivz-dropdown
              inputId="PRIORITY"
              [(ivzModel)]="model.priority"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="priorityOptions"
              required
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label required>{{ 'LABEL.JOB_DETAIL' | translate }} : </label>
            <ivz-textarea inputId="JOB_DETAIL" [(ivzModel)]="model.jobDetail" [ivzConfig]="DEFAULT_TEXTAREA" required maxlength="1000">
            </ivz-textarea>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label required>{{ 'LABEL.STATUS' | translate }} : </label>
            <ivz-dropdown
              inputId="DOCUMENT_STATUS_GUID"
              [(ivzModel)]="model.documentStatusGUID"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="documentStatusOptions"
              required
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label required>{{ 'LABEL.REQUESTOR_ID' | translate }} : </label>
            <ivz-dropdown
              inputId="REQUESTOR_GUID"
              [(ivzModel)]="model.requestorGUID"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="employeeTableOptions"
              required
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.MAP' | translate }} : </label>
            <ivz-input-switch inputId="MAP" [(ivzModel)]="model.map"></ivz-input-switch>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label [required]="custom.assignmentAgreementIdRequire">{{ 'LABEL.ASSIGNMENT_AGREEMENT_ID' | translate }} : </label>
            <ivz-dropdown
              inputId="ASSIGNMENT_AGREEMENT_TABLE_GUID"
              [(ivzModel)]="model.assignmentAgreementTableGUID"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="assignmentAgreementTableOptions"
              [required]="custom.assignmentAgreementIdRequire"
            ></ivz-dropdown>
          </div>
        </div>
      </p-fieldset>
      <p-fieldset [legend]="{ text: 'LABEL.CONTACT_INFORMATION' | translate }.text" [toggleable]="true">
        <div class="p-d-flex p-flex-wrap">
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.CONTACT_PERSON' | translate }} : </label>
            <ivz-dropdown
              inputId="CONTACT_PERSON_TRANS_GUID"
              [(ivzModel)]="model.contactPersonTransGUID"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="contactPersonTransOptions"
              (ivzModelChange)="contactPersontransChange($event)"
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label [required]="custom.contactPersonNameRequire">{{ 'LABEL.CONTACT_PERSON_NAME' | translate }} : </label>
            <ivz-input-text
              inputId="CONTACT_PERSON_NAME"
              [(ivzModel)]="model.contactPersonName"
              [ivzConfig]="DEFAULT_INPUTTEXT"
              [required]="custom.contactPersonNameRequire"
            ></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.CONTACT_PERSON_POSITION' | translate }} : </label>
            <ivz-input-text
              inputId="CONTACT_PERSON_POSITION"
              [(ivzModel)]="model.contactPersonPosition"
              [ivzConfig]="DEFAULT_INPUTTEXT"
            ></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.CONTACT_PERSON_PHONE' | translate }} : </label>
            <ivz-input-text inputId="CONTACT_PERSON_PHONE" [(ivzModel)]="model.contactPersonPhone" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.CONTACT_PERSON_EXTENSION' | translate }} : </label>
            <ivz-input-text
              inputId="CONTACT_PERSON_EXTENSION"
              [(ivzModel)]="model.contactPersonExtension"
              [ivzConfig]="ID_INPUTTEXT"
            ></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.CONTACT_PERSON_MOBILE' | translate }} : </label>
            <ivz-input-text inputId="CONTACT_PERSON_MOBILE" [(ivzModel)]="model.contactPersonMobile" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.CONTACT_PERSON_DEPARTMENT' | translate }} : </label>
            <ivz-input-text
              inputId="CONTACT_PERSON_DEPARTMENT"
              [(ivzModel)]="model.contactPersonDepartment"
              [ivzConfig]="DEFAULT_INPUTTEXT"
            ></ivz-input-text>
          </div>

          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.CONTACT_ADDRESS' | translate }} : </label>
            <ivz-dropdown
              inputId="ADDRESS_TRANS_GUID"
              [(ivzModel)]="model.addressTransGUID"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="addressTransOptions"
              (ivzModelChange)="addressTransChange($event)"
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label [required]="custom.contactAddress1Require">{{ 'LABEL.CONTACT_ADDRESS_1' | translate }} : </label>
            <ivz-textarea inputId="ADDRESS1" [(ivzModel)]="model.address1" [ivzConfig]="DEFAULT_TEXTAREA" [required]="custom.contactAddress1Require">
            </ivz-textarea>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label [required]="custom.contactAddress2Require">{{ 'LABEL.CONTACT_ADDRESS_2' | translate }} : </label>
            <ivz-textarea inputId="ADDRESS2" [(ivzModel)]="model.address2" [ivzConfig]="DEFAULT_TEXTAREA" [required]="custom.contactAddress2Require">
            </ivz-textarea>
          </div>
        </div>
      </p-fieldset>
      <p-fieldset [legend]="{ text: 'LABEL.CREDIT_APPLICATION' | translate }.text" [toggleable]="true">
        <div class="p-d-flex p-flex-wrap">
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label required>{{ 'LABEL.PRODUCT_TYPE' | translate }} : </label>
            <ivz-dropdown
              inputId="PRODUCT_TYPE"
              [(ivzModel)]="model.productType"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="productTypeOptions"
              required
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.REFERENCE_CREDIT_APPLICATION_LINE' | translate }} : </label>
            <ivz-input-text
              inputId="REF_CREDIT_APP_LINE_GUID"
              [(ivzModel)]="model.refCreditAppLine_Values"
              [ivzConfig]="DEFAULT_INPUTTEXT"
            ></ivz-input-text>
          </div>
        </div>
      </p-fieldset>
      <p-fieldset [legend]="{ text: 'LABEL.RESULT' | translate }.text" [toggleable]="true">
        <div class="p-d-flex p-flex-wrap">
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.RESULT' | translate }} : </label>
            <ivz-dropdown inputId="RESULT" [(ivzModel)]="model.result" [ivzConfig]="DEFAULT_DROPDOWN" [options]="resultOptions"></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.FEE_AMOUNT' | translate }} : </label>
            <ivz-input-number inputId="FEE_AMOUNT" [(ivzModel)]="model.feeAmount" [ivzConfig]="CURRENCY_13_2_POS"> </ivz-input-number>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.EXPENSE_AMOUNT' | translate }} : </label>
            <ivz-input-number inputId="EXPENSE_AMOUNT" [(ivzModel)]="model.expenseAmount" [ivzConfig]="CURRENCY_13_2_POS"> </ivz-input-number>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.RESULT_REMARK' | translate }} : </label>
            <ivz-textarea inputId="RESULT_REMARK" [(ivzModel)]="model.resultRemark" [ivzConfig]="DEFAULT_TEXTAREA"> </ivz-textarea>
          </div>
        </div>
      </p-fieldset>
      <p-fieldset [legend]="{ text: 'LABEL.REFERENCE' | translate }.text" [toggleable]="true">
        <div class="p-d-flex p-flex-wrap">
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.REFERENCE_TYPE' | translate }} : </label>
            <ivz-dropdown inputId="REF_TYPE" [(ivzModel)]="model.refType" [ivzConfig]="DEFAULT_DROPDOWN" [options]="refTypeOptions"></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.REFERENCE_ID' | translate }} : </label>
            <ivz-input-text inputId="REF_ID" [(ivzModel)]="model.refID" [ivzConfig]="ID_INPUTTEXT"></ivz-input-text>
          </div>
        </div>
      </p-fieldset>
      <p-fieldset [legend]="{ text: 'LABEL.SYSTEM' | translate }.text" [toggleable]="true">
        <div class="p-d-flex p-flex-wrap">
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.CREATED_BY' | translate }} : </label>
            <ivz-input-text inputId="CREATED_BY" [(ivzModel)]="model.createdBy" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.CREATED_DATE_TIME' | translate }} : </label>
            <ivz-calendar inputId="CREATED_DATE_TIME" [(ivzModel)]="model.createdDateTime" [ivzConfig]="DATETIME"></ivz-calendar>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.MODIFIED_BY' | translate }} : </label>
            <ivz-input-text inputId="MODIFIED_BY" [(ivzModel)]="model.modifiedBy" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.MODIFIED_DATE_TIME' | translate }} : </label>
            <ivz-calendar inputId="MODIFIED_DATE_TIME" [(ivzModel)]="model.modifiedDateTime" [ivzConfig]="DATETIME"></ivz-calendar>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label required>{{ 'LABEL.COMPANY_ID' | translate }} : </label>
            <ivz-input-text inputId="COMPANY_ID" [(ivzModel)]="model.companyId" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label required>{{ 'LABEL.BUSINESS_UNIT_ID' | translate }} : </label>
            <ivz-input-text inputId="BUSINESS_UNIT_ID" [(ivzModel)]="model.ownerBusinessUnitId" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label required>{{ 'LABEL.OWNER' | translate }} : </label>
            <ivz-input-text inputId="OWNER" [(ivzModel)]="model.owner" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
          </div>
        </div>
      </p-fieldset>
    </p-panel-content>
    <p-footer class="ivz-panel-footer">
      <div class="p-d-flex p-jc-end">
        <ivz-button
          inputId="SAVE"
          [label]="'LABEL.SAVE' | translate"
          icon="pi pi-save"
          className="ivz-primary-btn p-m-2"
          [ivzConfig]="buttonConfig"
          (formValidate)="onSave($event)"
        ></ivz-button>
        <ivz-button
          inputId="SAVE_AND_CLOSE"
          [label]="'LABEL.SAVE_AND_CLOSE' | translate"
          icon="pi pi-times"
          className="ivz-primary-btn p-m-2"
          [ivzConfig]="buttonConfig"
          (formValidate)="onSaveAndClose($event)"
        >
        </ivz-button>
        <ivz-button
          inputId="CLOSE"
          [label]="'LABEL.CLOSE' | translate"
          icon="pi pi-power-off"
          className="ivz-primary-btn p-m-2"
          [ivzConfig]="buttonConfig"
          (click)="onClose()"
        >
        </ivz-button>
      </div>
    </p-footer>
  </p-panel>
</div>
