<div class="ivz-item-card">
  <p-panel [showHeader]="true" [viewonly]="isView" class="ivz-panel">
    <p-header class="p-d-flex p-jc-between w-100">
      <div class="ivz-div-panel-title">
        <span class="ivz-panel-title p-m-2">{{ 'LABEL.NUMBER_SEQUENCE_SETUP_BY_PRODUCT_TYPE' | translate }}</span>
      </div>
      <div class="ivz-div-panel-btn-group">
        <p-tieredMenu id="MENURELATED" #related [model]="relatedInfoItems" [popup]="true"> </p-tieredMenu>
        <p-button
          id="RELATED_INFO"
          #btnfn
          type="button"
          icon="pi pi-share-alt"
          (click)="related.toggle($event); function.hide(); group.hide()"
          [label]="'LABEL.RELATED_INFO' | translate"
          styleClass="p-button-text"
        >
        </p-button>
        <p-tieredMenu id="MENUFUNCTION" #function [model]="functionItems" [popup]="true"> </p-tieredMenu>
        <p-button
          id="FUNCTION"
          #btnfn
          type="button"
          icon="pi pi-cog"
          (click)="function.toggle($event); related.hide(); group.hide()"
          [label]="'LABEL.FUNCTION' | translate"
          styleClass="p-button-text"
        ></p-button>
        <p-tieredMenu id="MENUGROUP" #group [model]="itemsGroup" [popup]="true"> </p-tieredMenu>
        <p-button
          id="GROUP"
          #btnfn
          type="button"
          icon="pi pi-list"
          (click)="group.toggle($event); function.hide(); related.hide()"
          [label]="'LABEL.GROUP' | translate"
          styleClass="p-button-text"
        ></p-button>
      </div>
    </p-header>
    <p-panel-content class="ivz-div-panel-content">
      <p-fieldset [legend]="{ text: 'LABEL.GENERAL' | translate }.text" [toggleable]="true">
        <div class="p-d-flex p-flex-wrap">
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label required>{{ 'LABEL.PRODUCT_TYPE' | translate }} : </label>
            <ivz-dropdown
              inputId="PRODUCT_TYPE"
              [(ivzModel)]="model.productType"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="productTypeOptions"
              required
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.CREDIT_APPLICATION_REQUEST_NUMBER_SEQUENCE_CODE' | translate }} : </label>
            <ivz-dropdown
              inputId="CREDIT_APP_REQUEST_NUMBER_SEQ_GUID"
              [(ivzModel)]="model.creditAppRequestNumberSeqGUID"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="numberSeqTableOptions"
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.CREDIT_APPLICATION_NUMBER_SEQUENCE_CODE' | translate }} : </label>
            <ivz-dropdown
              inputId="CREDIT_APP_NUMBER_SEQ_GUID"
              [(ivzModel)]="model.creditAppNumberSeqGUID"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="numberSeqTableOptions"
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.INTERNAL_MAIN_AGREEMENT_NUMBER_SEQUENCE_CODE' | translate }} : </label>
            <ivz-dropdown
              inputId="INTERNAL_MAIN_AGREEMENT_NUMBER_SEQ_GUID"
              [(ivzModel)]="model.internalMainAgreementNumberSeqGUID"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="numberSeqTableOptions"
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.MAIN_AGREEMENT_NUMBER_SEQUENCE_CODE' | translate }} : </label>
            <ivz-dropdown
              inputId="MAIN_AGREEMENT_NUMBER_SEQ_GUID"
              [(ivzModel)]="model.mainAgreementNumberSeqGUID"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="numberSeqTableOptions"
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.INTERNAL_GUARANTOR_AGREEMENT_NUMBER_SEQUENCE_CODE' | translate }} : </label>
            <ivz-dropdown
              inputId="INTERNAL_GUARANTOR_AGREEMENT_NUMBER_SEQ_GUID"
              [(ivzModel)]="model.internalGuarantorAgreementNumberSeqGUID"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="numberSeqTableOptions"
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.GUARANTOR_AGREEMENT_NUMBER_SEQUENCE_CODE' | translate }} : </label>
            <ivz-dropdown
              inputId="GUARANTOR_AGREEMENT_NUMBER_SEQ_GUID"
              [(ivzModel)]="model.guarantorAgreementNumberSeqGUID"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="numberSeqTableOptions"
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.TAX_INVOICE_NUMBER_SEQUENCE_CODE' | translate }} : </label>
            <ivz-dropdown
              inputId="TAX_INVOICE_NUMBER_SEQ_GUID"
              [(ivzModel)]="model.taxInvoiceNumberSeqGUID"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="numberSeqTableOptions"
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.TAX_CREDIT_NOTE_NUMBER_SEQUENCE_CODE' | translate }} : </label>
            <ivz-dropdown
              inputId="TAX_CREDIT_NOTE_NUMBER_SEQ_GUID"
              [(ivzModel)]="model.taxCreditNoteNumberSeqGUID"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="numberSeqTableOptions"
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.RECEIPT_NUMBER_SEQUENCE_CODE' | translate }} : </label>
            <ivz-dropdown
              inputId="RECEIPT_NUMBER_SEQ_GUID"
              [(ivzModel)]="model.receiptNumberSeqGUID"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="numberSeqTableOptions"
            ></ivz-dropdown>
          </div>
        </div>
      </p-fieldset>
      <p-fieldset [legend]="{ text: 'LABEL.SYSTEM' | translate }.text" [toggleable]="true">
        <div class="p-d-flex p-flex-wrap">
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.CREATED_BY' | translate }} : </label>
            <ivz-input-text inputId="CREATED_BY" [(ivzModel)]="model.createdBy" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.CREATED_DATE_TIME' | translate }} : </label>
            <ivz-calendar inputId="CREATED_DATE_TIME" [(ivzModel)]="model.createdDateTime" [ivzConfig]="DATETIME"></ivz-calendar>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.MODIFIED_BY' | translate }} : </label>
            <ivz-input-text inputId="MODIFIED_BY" [(ivzModel)]="model.modifiedBy" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.MODIFIED_DATE_TIME' | translate }} : </label>
            <ivz-calendar inputId="MODIFIED_DATE_TIME" [(ivzModel)]="model.modifiedDateTime" [ivzConfig]="DATETIME"></ivz-calendar>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label required>{{ 'LABEL.COMPANY_ID' | translate }} : </label>
            <ivz-input-text inputId="COMPANY_ID" [(ivzModel)]="model.companyId" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label required>{{ 'LABEL.BUSINESS_UNIT_ID' | translate }} : </label>
            <ivz-input-text inputId="BUSINESS_UNIT_ID" [(ivzModel)]="model.ownerBusinessUnitId" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label required>{{ 'LABEL.OWNER' | translate }} : </label>
            <ivz-input-text inputId="OWNER" [(ivzModel)]="model.owner" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
          </div>
        </div>
      </p-fieldset>
    </p-panel-content>
    <p-footer class="ivz-panel-footer">
      <div class="p-d-flex p-jc-end">
        <ivz-button
          inputId="SAVE"
          [label]="'LABEL.SAVE' | translate"
          icon="pi pi-save"
          className="ivz-primary-btn p-m-2"
          [ivzConfig]="buttonConfig"
          (formValidate)="onSave($event)"
        ></ivz-button>
        <ivz-button
          inputId="SAVE_AND_CLOSE"
          [label]="'LABEL.SAVE_AND_CLOSE' | translate"
          icon="pi pi-times"
          className="ivz-primary-btn p-m-2"
          [ivzConfig]="buttonConfig"
          (formValidate)="onSaveAndClose($event)"
        >
        </ivz-button>
        <ivz-button
          inputId="CLOSE"
          [label]="'LABEL.CLOSE' | translate"
          icon="pi pi-power-off"
          className="ivz-primary-btn p-m-2"
          [ivzConfig]="buttonConfig"
          (click)="onClose()"
        >
        </ivz-button>
      </div>
    </p-footer>
  </p-panel>
</div>
