<div *ngIf="custom.isRollBill && isShowOutstandingList && !isUpdateMode" class="ivz-item-card function-l">
  <list-purchase-line-outstanding-list
    (rowEmit)="onSubmitList($event)"
    [pageInfo]="outStandingPageInfo"
    [inputPurchaseTableGUID]="parentId"
  ></list-purchase-line-outstanding-list>
  <div class="p-d-flex p-jc-end">
    <ivz-button
      inputId="CLOSE"
      [label]="'LABEL.CLOSE' | translate"
      icon="pi pi-power-off"
      className="ivz-primary-btn p-m-2"
      [ivzConfig]="buttonConfig"
      [setBodyFunctionMode]="custom.isRollBill && isShowOutstandingList && !isUpdateMode"
      (click)="onClose()"
    >
    </ivz-button>
  </div>
</div>
<div *ngIf="(!isShowOutstandingList && custom.isRollBill) || !custom.isRollBill || isUpdateMode" class="ivz-item-card">
  <p-panel [showHeader]="true" [viewonly]="isView" class="ivz-panel">
    <p-header class="p-d-flex p-jc-between w-100">
      <div class="ivz-div-panel-title">
        <span class="ivz-panel-title p-m-2">{{ 'LABEL.PURCHASE_LINE' | translate }}</span>
      </div>
      <div class="ivz-div-panel-btn-group">
        <p-tieredMenu id="MENURELATED" #related [model]="relatedInfoItems" [popup]="true"> </p-tieredMenu>
        <p-button
          id="RELATED_INFO"
          #btnfn
          type="button"
          icon="pi pi-share-alt"
          (click)="related.toggle($event); function.hide(); group.hide()"
          [label]="'LABEL.RELATED_INFO' | translate"
          styleClass="p-button-text"
        >
        </p-button>
        <p-tieredMenu id="MENUFUNCTION" #function [model]="functionItems" [popup]="true"> </p-tieredMenu>
        <p-button
          id="FUNCTION"
          #btnfn
          type="button"
          icon="pi pi-cog"
          (click)="function.toggle($event); related.hide(); group.hide()"
          [label]="'LABEL.FUNCTION' | translate"
          styleClass="p-button-text"
        ></p-button>
        <p-tieredMenu id="MENUGROUP" #group [model]="itemsGroup" [popup]="true"> </p-tieredMenu>
        <p-button
          id="GROUP"
          #btnfn
          type="button"
          icon="pi pi-list"
          (click)="group.toggle($event); function.hide(); related.hide()"
          [label]="'LABEL.GROUP' | translate"
          styleClass="p-button-text"
        ></p-button>
      </div>
    </p-header>
    <p-panel-content class="ivz-div-panel-content">
      <p-fieldset [legend]="{ text: 'LABEL.GENERAL' | translate }.text" [toggleable]="true">
        <div class="p-d-flex p-flex-wrap">
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label required>{{ 'LABEL.PURCHASE_ID' | translate }} : </label>
            <ivz-input-text
              inputId="PURCHASE_TABLE_GUID"
              [(ivzModel)]="model.purchaseTable_Values"
              maxlength="1000"
              [ivzConfig]="DEFAULT_INPUTTEXT"
              required
            ></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label required>{{ 'LABEL.LINE' | translate }} : </label>
            <ivz-input-number inputId="LINE_NUM" [(ivzModel)]="model.lineNum" [ivzConfig]="INTEGER" required></ivz-input-number>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.REFERENCE_PURCHASE_LINE_ID' | translate }} : </label>
            <ivz-input-text
              inputId="REF_PURCHASE_LINE_GUID"
              [(ivzModel)]="model.refPurchaseLine_Values"
              maxlength="1000"
              [ivzConfig]="DEFAULT_INPUTTEXT"
            ></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.CLOSED_FOR_ADDITIONAL_PURCHASE_ROLL_BILL' | translate }} : </label>
            <ivz-input-switch inputId="CLOSED_FOR_ADDITIONAL_PURCHASE" [(ivzModel)]="model.closedForAdditionalPurchase"></ivz-input-switch>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label required>{{ 'LABEL.BUYER_ID' | translate }} : </label>
            <ivz-dropdown
              inputId="BUYER_TABLE_GUID"
              [(ivzModel)]="model.buyerTableGUID"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="buyerTableOptions"
              (ivzModelChange)="onBuyerChange()"
              required
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label required>{{ 'LABEL.BUYER_INVOICE_ID' | translate }} : </label>
            <ivz-dropdown
              inputId="BUYER_INVOICE_TABLE_GUID"
              [(ivzModel)]="model.buyerInvoiceTableGUID"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="buyerInvoiceTableOptions"
              (ivzModelChange)="onBuyerInvoiceChange()"
              required
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.BUYER_INVOICE_AMOUNT' | translate }} : </label>
            <ivz-input-number inputId="BUYER_INVOICE_AMOUNT" [(ivzModel)]="model.buyerInvoiceAmount" [ivzConfig]="CURRENCY_13_2"> </ivz-input-number>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label [required]="custom.isBuyerAgreementRequired">{{ 'LABEL.BUYER_AGREEMENT_ID' | translate }} : </label>
            <ivz-dropdown
              inputId="BUYER_AGREEMENT_TABLE_GUID"
              [(ivzModel)]="model.buyerAgreementTableGUID"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="buyerAgreementOptions"
              [required]="custom.isBuyerAgreementRequired"
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label required>{{ 'LABEL.CREDIT_APPLICATION_LINE' | translate }} : </label>
            <ivz-input-text
              inputId="CREDIT_APP_LINE_GUID"
              [(ivzModel)]="model.creditAppLine_Values"
              maxlength="1000"
              [ivzConfig]="DEFAULT_INPUTTEXT"
              required
            ></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.PURCHASE_LINE_INVOICE_ID' | translate }} : </label>
            <ivz-input-text
              inputId="PURCHASE_LINE_INVOICE_TABLE_GUID"
              [(ivzModel)]="model.purchaseLineInvoiceTable_Values"
              maxlength="1000"
              [ivzConfig]="DEFAULT_INPUTTEXT"
            ></ivz-input-text>
          </div>
        </div>
      </p-fieldset>
      <p-fieldset [legend]="{ text: 'LABEL.PURCHASE_INFORMATION' | translate }.text" [toggleable]="true">
        <div class="p-d-flex p-flex-wrap">
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label required>{{ 'LABEL.DUE_DATE' | translate }} : </label>
            <ivz-calendar
              inputId="DUE_DATE"
              [(ivzModel)]="model.dueDate"
              [ivzConfig]="DATE"
              (ivzModelChange)="onDueDateChange()"
              [ivzValidation]="getDueDateValidation()"
              required
            ></ivz-calendar>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label required>{{ 'LABEL.INTEREST_DATE' | translate }} : </label>
            <ivz-calendar inputId="INTEREST_DATE" [(ivzModel)]="model.interestDate" [ivzConfig]="DATE" required></ivz-calendar>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.INTEREST_DAY' | translate }} : </label>
            <ivz-input-number inputId="INTEREST_DAY" [(ivzModel)]="model.interestDay" [ivzConfig]="INTEGER"></ivz-input-number>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.PURCHASE_PCT' | translate }} : </label>
            <ivz-input-number inputId="PURCHASE_PCT" [(ivzModel)]="model.purchasePct" [ivzConfig]="PERCENT_10_7_POS"> </ivz-input-number>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label required>{{ 'LABEL.LINE_PURCHASE_PCT' | translate }} : </label>
            <ivz-input-number
              inputId="LINE_PURCHASE_PCT"
              [(ivzModel)]="model.linePurchasePct"
              [ivzConfig]="PERCENT_10_7_POS"
              (ivzModelChange)="onLinePurchasePctChange()"
              [ivzValidation]="getLinePurchasePctValidation()"
              required
            >
            </ivz-input-number>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.PURCHASE_AMOUNT' | translate }} : </label>
            <ivz-input-number inputId="PURCHASE_AMOUNT" [(ivzModel)]="model.purchaseAmount" [ivzConfig]="CURRENCY_13_2"> </ivz-input-number>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.LINE_PURCHASE_AMOUNT' | translate }} : </label>
            <ivz-input-number inputId="LINE_PURCHASE_AMOUNT" [(ivzModel)]="model.linePurchaseAmount" [ivzConfig]="CURRENCY_13_2"> </ivz-input-number>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.RESERVE_AMOUNT' | translate }} : </label>
            <ivz-input-number inputId="RESERVE_AMOUNT" [(ivzModel)]="model.reserveAmount" [ivzConfig]="CURRENCY_13_2"> </ivz-input-number>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.NET_PURCHASE_AMOUNT' | translate }} : </label>
            <ivz-input-number inputId="NET_PURCHASE_AMOUNT" [(ivzModel)]="model.netPurchaseAmount" [ivzConfig]="CURRENCY_13_2"> </ivz-input-number>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.INTEREST_AMOUNT' | translate }} : </label>
            <ivz-input-number
              inputId="INTEREST_AMOUNT"
              [(ivzModel)]="model.interestAmount"
              [ivzConfig]="CURRENCY_13_2"
              [ivzValidation]="getInterestAmountValidation()"
            >
            </ivz-input-number>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.SETTLE_INTEREST_AMOUNT' | translate }} : </label>
            <ivz-input-number
              inputId="SETTLE_INTEREST_AMOUNT"
              [(ivzModel)]="model.settleInterestAmount"
              [ivzConfig]="CURRENCY_13_2"
              [ivzValidation]="getSettleInterestAmountValidation()"
            >
            </ivz-input-number>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.INTEREST_REFUND_AMOUNT' | translate }} : </label>
            <ivz-input-number inputId="INTEREST_REFUND_AMOUNT" [(ivzModel)]="model.interestRefundAmount" [ivzConfig]="CURRENCY_13_2">
            </ivz-input-number>
          </div>
        </div>
      </p-fieldset>
      <p-fieldset [legend]="{ text: 'LABEL.SERVICE_FEE' | translate }.text" [toggleable]="true">
        <div class="p-d-flex p-flex-wrap">
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.PURCHASE_FEE_PCT' | translate }} : </label>
            <ivz-input-number inputId="PURCHASE_FEE_PCT" [(ivzModel)]="model.purchaseFeePct" [ivzConfig]="PERCENT_5_2"> </ivz-input-number>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.PURCHASE_FEE_CALCULATE_BASE' | translate }} : </label>
            <ivz-dropdown
              inputId="PURCHASE_FEE_CALCULATE_BASE"
              [(ivzModel)]="model.purchaseFeeCalculateBase"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="purchaseFeeCalculateBaseOptions"
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.PURCHASE_FEE_AMOUNT' | translate }} : </label>
            <ivz-input-number
              inputId="PURCHASE_FEE_AMOUNT"
              [(ivzModel)]="model.purchaseFeeAmount"
              [ivzConfig]="CURRENCY_13_2"
              [ivzValidation]="onPurchaseFeeAmountChange()"
            >
            </ivz-input-number>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.SETTLE_PURCHASE_FEE_AMOUNT' | translate }} : </label>
            <ivz-input-number
              inputId="SETTLE_PURCHASE_FEE_AMOUNT"
              [(ivzModel)]="model.settlePurchaseFeeAmount"
              [ivzConfig]="CURRENCY_13_2"
              (ivzModelChange)="onSettlePurchaseFeeAmountChange()"
            >
            </ivz-input-number>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.BILLING_FEE_AMOUNT' | translate }} : </label>
            <ivz-input-number
              inputId="BILLING_FEE_AMOUNT"
              [(ivzModel)]="model.billingFeeAmount"
              [ivzConfig]="CURRENCY_13_2"
              [ivzValidation]="getBillingFeeAmountValidation()"
            >
            </ivz-input-number>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.SETTLE_BILLING_FEE_AMOUNT' | translate }} : </label>
            <ivz-input-number
              inputId="SETTLE_BILLING_FEE_AMOUNT"
              [(ivzModel)]="model.settleBillingFeeAmount"
              [ivzConfig]="CURRENCY_13_2"
              [ivzValidation]="getSettleBillingFeeAmountValidation()"
            >
            </ivz-input-number>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.RECEIPT_FEE_AMOUNT' | translate }} : </label>
            <ivz-input-number
              inputId="RECEIPT_FEE_AMOUNT"
              [(ivzModel)]="model.receiptFeeAmount"
              [ivzConfig]="CURRENCY_13_2"
              [ivzValidation]="onReceiptFeeAmountChange()"
            >
            </ivz-input-number>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.SETTLE_RECEIPT_FEE_AMOUNT' | translate }} : </label>
            <ivz-input-number
              inputId="SETTLE_RECEIPT_FEE_AMOUNT"
              [(ivzModel)]="model.settleReceiptFeeAmount"
              [ivzConfig]="CURRENCY_13_2"
              [ivzValidation]="onSettleReceiptFeeAmountChange()"
            >
            </ivz-input-number>
          </div>
        </div>
      </p-fieldset>
      <p-fieldset [legend]="{ text: 'LABEL.RETENTION' | translate }.text" [toggleable]="true">
        <div class="p-d-flex p-flex-wrap">
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.RETENTION_CALCULATE_BASE' | translate }} : </label>
            <ivz-dropdown
              inputId="RETENTION_CALCULATE_BASE"
              [(ivzModel)]="model.retentionCalculateBase"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="retentionCalculateBaseOptions"
            ></ivz-dropdown>
          </div>

          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.RETENTION_PCT' | translate }} : </label>
            <ivz-input-number inputId="RETENTION_PCT" [(ivzModel)]="model.retentionPct" [ivzConfig]="PERCENT_5_2"> </ivz-input-number>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.RETENTION_AMOUNT' | translate }} : </label>
            <ivz-input-number inputId="RETENTION_AMOUNT" [(ivzModel)]="model.retentionAmount" [ivzConfig]="CURRENCY_13_2"> </ivz-input-number>
          </div>
        </div>
      </p-fieldset>
      <p-fieldset [legend]="{ text: 'LABEL.ASSIGNMENT_AGREEMENT' | translate }.text" [toggleable]="true">
        <div class="p-d-flex p-flex-wrap">
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label [required]="custom.isAssignmentAgreementRequired">{{ 'LABEL.ASSIGNMENT_AGREEMENT_ID' | translate }} : </label>
            <ivz-dropdown
              inputId="ASSIGNMENT_AGREEMENT_TABLE_GUID"
              [(ivzModel)]="model.assignmentAgreementTableGUID"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="assignmentAgreementTableOptions"
              [required]="custom.isAssignmentAgreementRequired"
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.ASSIGNMENT_AMOUNT' | translate }} : </label>
            <ivz-input-number inputId="ASSIGNMENT_AMOUNT" [(ivzModel)]="model.assignmentAmount" [ivzConfig]="CURRENCY_13_2"> </ivz-input-number>
          </div>
        </div>
      </p-fieldset>
      <p-fieldset [legend]="{ text: 'LABEL.PDC' | translate }.text" [toggleable]="true">
        <div class="p-d-flex p-flex-wrap">
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.CUSTOMER_PDC_ID' | translate }} : </label>
            <ivz-dropdown
              inputId="CUSTOMER_PDC_TABLE_GUID"
              [(ivzModel)]="model.customerPDCTableGUID"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="chequeTableCustomerOptions"
              (ivzModelChange)="onCustomerPDCChange()"
              (ivzOnFocus)="onCustomerPDCDropdownFocus($event)"
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.CUSTOMER_PDC_DATE' | translate }} : </label>
            <ivz-calendar inputId="CUSTOMER_PDC_DATE" [(ivzModel)]="model.customerPDCDate" [ivzConfig]="DATE"></ivz-calendar>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.BUYER_PDC_ID' | translate }} : </label>
            <ivz-dropdown
              inputId="BUYER_PDC_TABLE_GUID"
              [(ivzModel)]="model.buyerPDCTableGUID"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="chequeTableBuyerOptions"
              (ivzOnFocus)="onBuyerPDCDropdownFocus($event)"
            ></ivz-dropdown>
          </div>
        </div>
      </p-fieldset>
      <p-fieldset [legend]="{ text: 'LABEL.COLLECTION' | translate }.text" [toggleable]="true">
        <div class="p-d-flex p-flex-wrap">
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.BILLING_DATE' | translate }} : </label>
            <ivz-calendar inputId="BILLING_DATE" [(ivzModel)]="model.billingDate" [ivzConfig]="DATE"></ivz-calendar>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label required>{{ 'LABEL.COLLECTION_DATE' | translate }} : </label>
            <ivz-calendar inputId="COLLECTION_DATE" [(ivzModel)]="model.collectionDate" [ivzConfig]="DATE" required></ivz-calendar>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.METHOD_OF_PAYMENT_ID' | translate }} : </label>
            <ivz-dropdown
              inputId="METHOD_OF_PAYMENT_GUID"
              [(ivzModel)]="model.methodOfPaymentGUID"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="methodOfPaymentOptions"
            ></ivz-dropdown>
          </div>
        </div>
      </p-fieldset>
      <p-fieldset [legend]="{ text: 'LABEL.ROLL_BILL' | translate }.text" [toggleable]="true">
        <div class="p-d-flex p-flex-wrap">
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.OUTSTANDING_BUYER_INVOICE_AMOUNT' | translate }} : </label>
            <ivz-input-number
              inputId="OUTSTANDING_BUYER_INVOICE_AMOUNT"
              [(ivzModel)]="model.outstandingBuyerInvoiceAmount"
              [ivzConfig]="CURRENCY_13_2"
            >
            </ivz-input-number>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.ROLL_BILL_PURCHASE_LINE' | translate }} : </label>
            <ivz-dropdown
              inputId="ROLLBILL_PURCHASE_LINE_GUID"
              [(ivzModel)]="model.rollbillPurchaseLineGUID"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="purchaseLineOptions"
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.ORIGINAL_PURCHASE_LINE' | translate }} : </label>
            <ivz-dropdown
              inputId="ORIGINAL_PURCHASE_LINE_GUID"
              [(ivzModel)]="model.originalPurchaseLineGUID"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="purchaseLineOptions"
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.ORIGINAL_INTEREST_DATE' | translate }} : </label>
            <ivz-calendar inputId="ORIGINAL_INTEREST_DATE" [(ivzModel)]="model.originalInterestDate" [ivzConfig]="DATE"></ivz-calendar>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.ROLL_BILL_INTEREST_DAY' | translate }} : </label>
            <ivz-input-number inputId="ROLLBILL_INTEREST_DAY" [(ivzModel)]="model.rollbillInterestDay" [ivzConfig]="INTEGER"></ivz-input-number>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.ROLL_BILL_INTEREST_PCT' | translate }} : </label>
            <ivz-input-number inputId="ROLLBILL_INTEREST_PCT" [(ivzModel)]="model.rollbillInterestPct" [ivzConfig]="PERCENT_5_2"> </ivz-input-number>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.ROLL_BILL_INTEREST_AMOUNT' | translate }} : </label>
            <ivz-input-number inputId="ROLLBILL_INTEREST_AMOUNT" [(ivzModel)]="model.rollbillInterestAmount" [ivzConfig]="CURRENCY_13_2">
            </ivz-input-number>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.SETTLE_ROLL_BILL_INTEREST_AMOUNT' | translate }} : </label>
            <ivz-input-number
              inputId="SETTLE_ROLL_BILL_INTEREST_AMOUNT"
              [(ivzModel)]="model.settleRollBillInterestAmount"
              [ivzConfig]="CURRENCY_13_2_POS"
            >
            </ivz-input-number>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.NUMBER_OF_ROLL_BILL' | translate }} : </label>
            <ivz-input-number inputId="NUMBER_OF_ROLLBILL" [(ivzModel)]="model.numberOfRollbill" [ivzConfig]="INTEGER"></ivz-input-number>
          </div>
        </div>
      </p-fieldset>
      <p-fieldset [legend]="{ text: 'LABEL.FINANCIAL_DIMENSIONS' | translate }.text" [toggleable]="true">
        <div class="p-d-flex p-flex-wrap">
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.DIMENSION_1' | translate }} : </label>
            <ivz-dropdown
              inputId="DIMENSION1GUID"
              [(ivzModel)]="model.dimension1GUID"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="ledgerDimensionOptions1"
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.DIMENSION_2' | translate }} : </label>
            <ivz-dropdown
              inputId="DIMENSION2GUID"
              [(ivzModel)]="model.dimension2GUID"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="ledgerDimensionOptions2"
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.DIMENSION_3' | translate }} : </label>
            <ivz-dropdown
              inputId="DIMENSION3GUID"
              [(ivzModel)]="model.dimension3GUID"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="ledgerDimensionOptions3"
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.DIMENSION_4' | translate }} : </label>
            <ivz-dropdown
              inputId="DIMENSION4GUID"
              [(ivzModel)]="model.dimension4GUID"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="ledgerDimensionOptions4"
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.DIMENSION_5' | translate }} : </label>
            <ivz-dropdown
              inputId="DIMENSION5GUID"
              [(ivzModel)]="model.dimension5GUID"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="ledgerDimensionOptions5"
            ></ivz-dropdown>
          </div>
        </div>
      </p-fieldset>
      <p-fieldset [legend]="{ text: 'LABEL.SYSTEM' | translate }.text" [toggleable]="true">
        <div class="p-d-flex p-flex-wrap">
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.CREATED_BY' | translate }} : </label>
            <ivz-input-text inputId="CREATED_BY" [(ivzModel)]="model.createdBy" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.CREATED_DATE_TIME' | translate }} : </label>
            <ivz-calendar inputId="CREATED_DATE_TIME" [(ivzModel)]="model.createdDateTime" [ivzConfig]="DATETIME"></ivz-calendar>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.MODIFIED_BY' | translate }} : </label>
            <ivz-input-text inputId="MODIFIED_BY" [(ivzModel)]="model.modifiedBy" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.MODIFIED_DATE_TIME' | translate }} : </label>
            <ivz-calendar inputId="MODIFIED_DATE_TIME" [(ivzModel)]="model.modifiedDateTime" [ivzConfig]="DATETIME"></ivz-calendar>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label required>{{ 'LABEL.COMPANY_ID' | translate }} : </label>
            <ivz-input-text inputId="COMPANY_ID" [(ivzModel)]="model.companyId" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label required>{{ 'LABEL.BUSINESS_UNIT_ID' | translate }} : </label>
            <ivz-input-text inputId="BUSINESS_UNIT_ID" [(ivzModel)]="model.ownerBusinessUnitId" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label required>{{ 'LABEL.OWNER' | translate }} : </label>
            <ivz-input-text inputId="OWNER" [(ivzModel)]="model.owner" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
          </div>
        </div>
      </p-fieldset>
    </p-panel-content>
    <p-footer class="ivz-panel-footer">
      <div class="p-d-flex p-jc-end">
        <ivz-button
          inputId="SAVE"
          [label]="'LABEL.SAVE' | translate"
          icon="pi pi-save"
          className="ivz-primary-btn p-m-2"
          [ivzConfig]="buttonConfig"
          (formValidate)="onSave($event)"
        ></ivz-button>
        <ivz-button
          inputId="SAVE_AND_CLOSE"
          [label]="'LABEL.SAVE_AND_CLOSE' | translate"
          icon="pi pi-times"
          className="ivz-primary-btn p-m-2"
          [ivzConfig]="buttonConfig"
          (formValidate)="onSaveAndClose($event)"
        >
        </ivz-button>
        <ivz-button
          inputId="CLOSE"
          [label]="'LABEL.CLOSE' | translate"
          icon="pi pi-power-off"
          className="ivz-primary-btn p-m-2"
          [ivzConfig]="buttonConfig"
          (click)="onClose()"
        >
        </ivz-button>
      </div>
    </p-footer>
  </p-panel>
</div>
