<div class="ivz-item-card function-m">
  <p-panel [showHeader]="true" [viewonly]="isView" class="ivz-panel">
    <p-header class="p-d-flex p-jc-between w-100">
      <div class="ivz-div-panel-title">
        <span class="ivz-panel-title p-m-2">{{ 'LABEL.COPY_GUARANTOR_FROM_CA' | translate }}</span>
      </div>
    </p-header>
    <p-panel-content class="ivz-div-panel-content">
      <p-fieldset [legend]="{ text: 'LABEL.GENERAL' | translate }.text" [toggleable]="true">
        <div class="p-d-flex p-flex-wrap">
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.INTERNAL_GUARANTOR_AGREEMENT_ID' | translate }} : </label>
            <ivz-input-text
              inputId="INTERNAL_GUARANTOR_AGREEMENT_ID"
              [(ivzModel)]="model.internalGuarantorAgreementId"
              [ivzConfig]="ID_INPUTTEXT"
            ></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.GUARANTOR_AGREEMENT_ID' | translate }} : </label>
            <ivz-input-text inputId="GUARANTOR_AGREEMENT_ID" [(ivzModel)]="model.guarantorAgreementId" [ivzConfig]="ID_INPUTTEXT"></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-100">
            <label>{{ 'LABEL.DESCRIPTION' | translate }} : </label>
            <ivz-input-text inputId="DESCRIPTION" [(ivzModel)]="model.description" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.AFFILIATE' | translate }} : </label>
            <ivz-input-switch inputId="AFFILIATE" [(ivzModel)]="model.affiliate"></ivz-input-switch>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.CUSTOMER_ID' | translate }} : </label>
            <ivz-input-text inputId="CUSTOMER_TABLE_GUID" [(ivzModel)]="model.customerTable_Value" [ivzConfig]="ID_INPUTTEXT"></ivz-input-text>
          </div>
        </div>
      </p-fieldset>
      <p-fieldset [legend]="{ text: 'LABEL.REFERENCE' | translate }.text" [toggleable]="true">
        <div class="p-d-flex p-flex-wrap">
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.CREDIT_APPLICATION_ID' | translate }} : </label>
            <ivz-dropdown
              inputId="CREDIT_APP_TABLE_GUID"
              [(ivzModel)]="model.creditAppTable_CreditAppTableGUID"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="creditAppTableGUIDOptions"
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label required>{{ 'LABEL.CREDIT_APPLICATION_REQUEST_ID' | translate }} : </label>
            <ivz-dropdown
              inputId="CREDIT_APP_REQUEST_TABLE_GUID"
              [(ivzModel)]="model.creditAppRequestTable_creditAppRequestTableGUID"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="creditApplicationRequestTableOptions"
              required
            ></ivz-dropdown>
          </div>
        </div>
      </p-fieldset>
    </p-panel-content>
    <p-footer class="ivz-panel-footer">
      <div class="p-d-flex p-jc-end">
        <ivz-button
          inputId="OK"
          [label]="'LABEL.OK' | translate"
          icon="pi pi-times"
          className="ivz-primary-btn p-m-2"
          [ivzConfig]="buttonConfig"
          (formValidate)="onSaveAndClose($event)"
        >
        </ivz-button>
        <ivz-button
          inputId="CLOSE"
          [label]="'LABEL.CLOSE' | translate"
          icon="pi pi-power-off"
          className="ivz-primary-btn p-m-2"
          [ivzConfig]="buttonConfig"
          (click)="onClose()"
        >
        </ivz-button>
      </div>
    </p-footer>
  </p-panel>
</div>
