<p-fieldset [legend]="{ text: 'LABEL.GENERAL' | translate }.text" [toggleable]="true">
  <div class="p-d-flex p-flex-wrap">
    <div class="p-d-flex p-flex-column ele-box-w-25">
      <label required>{{ 'LABEL.NAME' | translate }} : </label>
      <ivz-input-text
        inputId="NAME"
        [(ivzModel)]="model.displayName"
        (ngModelChange)="onModelChange($event)"
        [ivzConfig]="DEFAULT_INPUTTEXT"
        required
      ></ivz-input-text>
    </div>

    <div class="p-d-flex p-flex-column ele-box-w-25">
      <label>{{ 'LABEL.SITE_LOGIN_TYPE' | translate }} :</label>
      <ivz-dropdown
        inputId="SITE_LOGIN_TYPE"
        [options]="siteLoginTypeOptions"
        [(ivzModel)]="model.siteLoginType"
        [ivzConfig]="DEFAULT_DROPDOWN"
      ></ivz-dropdown>
    </div>
  </div>
</p-fieldset>
<p-fieldset [legend]="{ text: 'LABEL.SYSTEM' | translate }.text" [toggleable]="true">
  <div class="p-d-flex p-flex-wrap">
    <div class="p-d-flex p-flex-column ele-box-w-25">
      <label>{{ 'LABEL.CREATED_BY' | translate }} : </label>
      <ivz-input-text inputId="CREATED_BY" [(ivzModel)]="model.createdBy" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
    </div>
    <div class="p-d-flex p-flex-column ele-box-w-25">
      <label>{{ 'LABEL.CREATED_DATE_TIME' | translate }} : </label>
      <ivz-calendar inputId="CREATED_DATE_TIME" [(ivzModel)]="model.createdDateTime" [ivzConfig]="DATETIME"></ivz-calendar>
    </div>
    <div class="p-d-flex p-flex-column ele-box-w-25">
      <label>{{ 'LABEL.MODIFIED_BY' | translate }} : </label>
      <ivz-input-text inputId="MODIFIED_BY" [(ivzModel)]="model.modifiedBy" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
    </div>
    <div class="p-d-flex p-flex-column ele-box-w-25">
      <label>{{ 'LABEL.MODIFIED_DATE_TIME' | translate }} : </label>
      <ivz-calendar inputId="MODIFIED_DATE_TIME" [(ivzModel)]="model.modifiedDateTime" [ivzConfig]="DATETIME"></ivz-calendar>
    </div>
    <div class="p-d-flex p-flex-column ele-box-w-25">
      <label required>{{ 'LABEL.COMPANY_ID' | translate }} : </label>
      <ivz-input-text inputId="COMPANY_ID" [(ivzModel)]="model.companyId" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
    </div>
    <div class="p-d-flex p-flex-column ele-box-w-25">
      <label required>{{ 'LABEL.BUSINESS_UNIT_ID' | translate }} : </label>
      <ivz-input-text inputId="BUSINESS_UNIT_ID" [(ivzModel)]="model.ownerBusinessUnitId" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
    </div>
    <div class="p-d-flex p-flex-column ele-box-w-25">
      <label required>{{ 'LABEL.OWNER' | translate }} : </label>
      <ivz-input-text inputId="OWNER" [(ivzModel)]="model.owner" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
    </div>
  </div>
</p-fieldset>
