<div class="ivz-item-card">
  <p-panel [showHeader]="true" [viewonly]="isView" class="ivz-panel">
    <p-header class="p-d-flex p-jc-between w-100">
      <div class="ivz-div-panel-title">
        <span class="ivz-panel-title p-m-2">{{ 'LABEL.ADDRESS_TRANSACTIONS' | translate }}</span>
      </div>
      <div class="ivz-div-panel-btn-group">
        <p-tieredMenu id="MENURELATED" #related [model]="relatedInfoItems" [popup]="true"> </p-tieredMenu>
        <p-button
          id="RELATED_INFO"
          #btnfn
          type="button"
          icon="pi pi-share-alt"
          (click)="related.toggle($event); function.hide(); group.hide()"
          [label]="'LABEL.RELATED_INFO' | translate"
          styleClass="p-button-text"
        >
        </p-button>
        <p-tieredMenu id="MENUFUNCTION" #function [model]="functionItems" [popup]="true"> </p-tieredMenu>
        <p-button
          id="FUNCTION"
          #btnfn
          type="button"
          icon="pi pi-cog"
          (click)="function.toggle($event); related.hide(); group.hide()"
          [label]="'LABEL.FUNCTION' | translate"
          styleClass="p-button-text"
        ></p-button>
        <p-tieredMenu id="MENUGROUP" #group [model]="itemsGroup" [popup]="true"> </p-tieredMenu>
        <p-button
          id="GROUP"
          #btnfn
          type="button"
          icon="pi pi-list"
          (click)="group.toggle($event); function.hide(); related.hide()"
          [label]="'LABEL.GROUP' | translate"
          styleClass="p-button-text"
        ></p-button>
      </div>
    </p-header>
    <p-panel-content class="ivz-div-panel-content">
      <p-fieldset [legend]="{ text: 'LABEL.GENERAL' | translate }.text" [toggleable]="true">
        <div class="p-d-flex p-flex-wrap">
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label required>{{ 'LABEL.NAME' | translate }} : </label>
            <ivz-input-text inputId="NAME" [(ivzModel)]="model.name" [ivzConfig]="DEFAULT_INPUTTEXT" required></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.PRIMARY' | translate }} : </label>
            <ivz-input-switch inputId="PRIMARY" [(ivzModel)]="model.primary"></ivz-input-switch>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.CURRENT_ADDRESS' | translate }} : </label>
            <ivz-input-switch inputId="CURRENT_ADDRESS" [(ivzModel)]="model.currentAddress"></ivz-input-switch>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label required>{{ 'LABEL.ADDRESS_1' | translate }} : </label>
            <ivz-textarea inputId="ADDRESS1" [(ivzModel)]="model.address1" maxlength="250" required> </ivz-textarea>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.ADDRESS_2' | translate }} : </label>
            <ivz-textarea inputId="ADDRESS2" [(ivzModel)]="model.address2" maxlength="100"> </ivz-textarea>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label required>{{ 'LABEL.COUNTRY_ID' | translate }} : </label>
            <ivz-dropdown
              inputId="ADDRESS_COUNTRY_GUID"
              [(ivzModel)]="model.addressCountryGUID"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="addressCountryOptions"
              (ivzModelChange)="onAddressCountryChange()"
              (ivzBindingChange)="onAddressCountryChange(true)"
              required
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label required>{{ 'LABEL.PROVINCE_ID' | translate }} : </label>
            <ivz-dropdown
              inputId="ADDRESS_PROVINCE_GUID"
              [(ivzModel)]="model.addressProvinceGUID"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="addressProvinceOptions"
              (ivzModelChange)="onAddressProvinceChange()"
              (ivzBindingChange)="onAddressProvinceChange(true)"
              required
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label required>{{ 'LABEL.DISTRICT_ID' | translate }} : </label>
            <ivz-dropdown
              inputId="ADDRESS_DISTRICT_GUID"
              [(ivzModel)]="model.addressDistrictGUID"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="addressDistrictOptions"
              (ivzModelChange)="onAddressDistrictChange()"
              (ivzBindingChange)="onAddressDistrictChange(true)"
              required
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label required>{{ 'LABEL.SUB-DISTRICT_ID' | translate }} : </label>
            <ivz-dropdown
              inputId="ADDRESS_SUB_DISTRICT_GUID"
              [(ivzModel)]="model.addressSubDistrictGUID"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="addressSubDistrictOptions"
              (ivzModelChange)="onAddressSubDistrictChange()"
              (ivzBindingChange)="onAddressSubDistrictChange(true)"
              required
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label required>{{ 'LABEL.POSTAL_CODE' | translate }} : </label>
            <ivz-dropdown
              inputId="ADDRESS_POSTAL_CODE_GUID"
              [(ivzModel)]="model.addressPostalCodeGUID"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="addressPostalCodeOptions"
              required
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.PROPERTY_TYPE_ID' | translate }} : </label>
            <ivz-dropdown
              inputId="PROPERTY_TYPE_GUID"
              [(ivzModel)]="model.propertyTypeGUID"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="propertyTypeOptions"
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.OWNERSHIP_ID' | translate }} : </label>
            <ivz-dropdown
              inputId="OWNERSHIP_GUID"
              [(ivzModel)]="model.ownershipGUID"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="ownershipOptions"
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50" *ngIf="custom.visibleAltAddress">
            <label>{{ 'LABEL.ADDRESS_EN' | translate }} : </label>
            <ivz-textarea inputId="ALT_ADDRESS" [(ivzModel)]="model.altAddress" maxlength="500" [ivzConfig]="DEFAULT_TEXTAREA"> </ivz-textarea>
          </div>
        </div>
      </p-fieldset>
      <p-fieldset [legend]="{ text: 'LABEL.TAX_INFORMATION' | translate }.text" [toggleable]="true">
        <div class="p-d-flex p-flex-wrap">
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.IS_TAX' | translate }} : </label>
            <ivz-input-switch inputId="IS_TAX" [(ivzModel)]="model.isTax" (ivzModelChange)="onIsTaxChange()"></ivz-input-switch>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label [required]="custom.isTax">{{ 'LABEL.TAX_BRANCH_ID' | translate }} : </label>
            <ivz-input-text
              inputId="TAX_BRANCH_ID"
              [(ivzModel)]="model.taxBranchId"
              [ivzConfig]="ID_INPUTTEXT"
              [required]="custom.isTax"
              maxlength="5"
            ></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label [required]="custom.isTax">{{ 'LABEL.TAX_BRANCH_NAME' | translate }} : </label>
            <ivz-input-text
              inputId="TAX_BRANCH_NAME"
              [(ivzModel)]="model.taxBranchName"
              [ivzConfig]="DEFAULT_INPUTTEXT"
              [required]="custom.isTax"
            ></ivz-input-text>
          </div>
        </div>
      </p-fieldset>
      <p-fieldset [legend]="{ text: 'LABEL.REFERENCE' | translate }.text" [toggleable]="true">
        <div class="p-d-flex p-flex-wrap">
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label required>{{ 'LABEL.REFERENCE_TYPE' | translate }} : </label>
            <ivz-dropdown
              inputId="REF_TYPE"
              [(ivzModel)]="model.refType"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="refTypeOptions"
              required
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label required>{{ 'LABEL.REFERENCE_ID' | translate }} : </label>
            <ivz-input-text inputId="REF_ID" [(ivzModel)]="model.refId" [ivzConfig]="ID_INPUTTEXT" required></ivz-input-text>
          </div>
        </div>
      </p-fieldset>
      <p-fieldset [legend]="{ text: 'LABEL.SYSTEM' | translate }.text" [toggleable]="true">
        <div class="p-d-flex p-flex-wrap">
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.CREATED_BY' | translate }} : </label>
            <ivz-input-text inputId="CREATED_BY" [(ivzModel)]="model.createdBy" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.CREATED_DATE_TIME' | translate }} : </label>
            <ivz-calendar inputId="CREATED_DATE_TIME" [(ivzModel)]="model.createdDateTime" [ivzConfig]="DATETIME"></ivz-calendar>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.MODIFIED_BY' | translate }} : </label>
            <ivz-input-text inputId="MODIFIED_BY" [(ivzModel)]="model.modifiedBy" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.MODIFIED_DATE_TIME' | translate }} : </label>
            <ivz-calendar inputId="MODIFIED_DATE_TIME" [(ivzModel)]="model.modifiedDateTime" [ivzConfig]="DATETIME"></ivz-calendar>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label required>{{ 'LABEL.COMPANY_ID' | translate }} : </label>
            <ivz-input-text inputId="COMPANY_ID" [(ivzModel)]="model.companyId" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label required>{{ 'LABEL.BUSINESS_UNIT_ID' | translate }} : </label>
            <ivz-input-text inputId="BUSINESS_UNIT_ID" [(ivzModel)]="model.ownerBusinessUnitId" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label required>{{ 'LABEL.OWNER' | translate }} : </label>
            <ivz-input-text inputId="OWNER" [(ivzModel)]="model.owner" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
          </div>
        </div>
      </p-fieldset>
    </p-panel-content>
    <p-footer class="ivz-panel-footer">
      <div class="p-d-flex p-jc-end">
        <ivz-button
          inputId="SAVE"
          [label]="'LABEL.SAVE' | translate"
          icon="pi pi-save"
          className="ivz-primary-btn p-m-2"
          [ivzConfig]="buttonConfig"
          (formValidate)="onSave($event)"
        ></ivz-button>
        <ivz-button
          inputId="SAVE_AND_CLOSE"
          [label]="'LABEL.SAVE_AND_CLOSE' | translate"
          icon="pi pi-times"
          className="ivz-primary-btn p-m-2"
          [ivzConfig]="buttonConfig"
          (formValidate)="onSaveAndClose($event)"
        >
        </ivz-button>
        <ivz-button
          inputId="CLOSE"
          [label]="'LABEL.CLOSE' | translate"
          icon="pi pi-power-off"
          className="ivz-primary-btn p-m-2"
          [ivzConfig]="buttonConfig"
          (click)="onClose()"
        >
        </ivz-button>
      </div>
    </p-footer>
  </p-panel>
</div>
