<div class="ivz-item-card function-l">
  <p-panel [showHeader]="true" [viewonly]="isView" class="ivz-panel">
    <p-header class="p-d-flex p-jc-between w-100">
      <div class="ivz-div-panel-title">
        <span class="ivz-panel-title p-m-2">{{ 'LABEL.REPORT_SERVICE_FEE_FACT_REALIZATION' | translate }}</span>
      </div>
    </p-header>
    <p-panel-content class="ivz-div-panel-content">
      <div class="w-100" *ngIf="isViewBody">
        <p-fieldset [legend]="{ text: 'LABEL.PARAMETER' | translate }.text" [toggleable]="true">
          <div class="p-d-flex p-flex-wrap">
            <div class="p-d-flex p-flex-column ele-box-w-50">
              <label required>{{ 'LABEL.FROM_COLLECTION_DATE' | translate }} : </label>
              <ivz-calendar inputId="FROM_COLLECTION_DATE" [(ivzModel)]="model.fromCollectionDate" [ivzConfig]="DATE" required></ivz-calendar>
            </div>
            <div class="p-d-flex p-flex-column ele-box-w-50">
              <label required>{{ 'LABEL.TO_COLLECTION_DATE' | translate }} : </label>
              <ivz-calendar inputId="TO_COLLECTION_DATE" [(ivzModel)]="model.toCollectionDate" [ivzConfig]="DATE" required></ivz-calendar>
            </div>
            <div class="p-d-flex p-flex-column ele-box-w-100">
              <label required>{{ 'LABEL.CUSTOMER_ID' | translate }} : </label>
              <ivz-multi-select
                inputId="CUSTOMER_TABLE_GUID"
                [ivzConfig]="DEFAULT_MULTISELECT"
                [(ivzModel)]="model.customerTableGUID"
                [options]="customerTableOptions"
                required
              ></ivz-multi-select>
            </div>
            <div class="p-d-flex p-flex-column ele-box-w-100">
              <label required>{{ 'LABEL.BUYER_ID' | translate }} : </label>
              <ivz-multi-select
                inputId="BUYER_TABLE_GUID"
                [ivzConfig]="DEFAULT_MULTISELECT"
                [(ivzModel)]="model.buyerTableGUID"
                [options]="buyerTableOptions"
                required
              ></ivz-multi-select>
            </div>
          </div>
        </p-fieldset>
      </div>
      <div class="w-100">
        <ivz-report-form [parameter]="parameters" (reportReady)="onReportReady($event)" [isExportToExcel]="true"></ivz-report-form>
      </div>
    </p-panel-content>
    <p-footer class="ivz-panel-footer">
      <div class="p-d-flex p-jc-end">
        <ivz-button
          *ngIf="isViewBody"
          inputId="OK"
          [label]="'LABEL.OK' | translate"
          icon="pi pi-times"
          className="ivz-primary-btn p-m-2"
          [ivzConfig]="buttonConfig"
          (formValidate)="onSaveAndClose($event)"
        >
        </ivz-button>
        <ivz-button
          inputId="CLOSE"
          [label]="'LABEL.CLOSE' | translate"
          icon="pi pi-power-off"
          className="ivz-primary-btn p-m-2"
          [ivzConfig]="buttonConfig"
          (click)="onClose()"
        >
        </ivz-button>
      </div>
    </p-footer>
  </p-panel>
</div>
