<div class="ivz-item-card">
  <p-panel [showHeader]="true" [viewonly]="isView" class="ivz-panel">
    <p-header class="p-d-flex p-jc-between w-100">
      <div class="ivz-div-panel-title">
        <span class="ivz-panel-title p-m-2">{{ 'LABEL.BUYER' | translate }}</span>
      </div>
      <div class="ivz-div-panel-btn-group">
        <p-tieredMenu id="MENURELATED" #related [model]="relatedInfoItems" [popup]="true"> </p-tieredMenu>
        <p-button
          id="RELATED_INFO"
          #btnfn
          type="button"
          icon="pi pi-share-alt"
          (click)="related.toggle($event); function.hide(); group.hide()"
          [label]="'LABEL.RELATED_INFO' | translate"
          styleClass="p-button-text"
        >
        </p-button>
        <p-tieredMenu id="MENUFUNCTION" #function [model]="functionItems" [popup]="true"> </p-tieredMenu>
        <p-button
          id="FUNCTION"
          #btnfn
          type="button"
          icon="pi pi-cog"
          (click)="function.toggle($event); related.hide(); group.hide()"
          [label]="'LABEL.FUNCTION' | translate"
          styleClass="p-button-text"
        ></p-button>
        <p-tieredMenu id="MENUGROUP" #group [model]="itemsGroup" [popup]="true"> </p-tieredMenu>
        <p-button
          id="GROUP"
          #btnfn
          type="button"
          icon="pi pi-list"
          (click)="group.toggle($event); function.hide(); related.hide()"
          [label]="'LABEL.GROUP' | translate"
          styleClass="p-button-text"
        ></p-button>
      </div>
    </p-header>
    <p-panel-content class="ivz-div-panel-content">
      <p-fieldset [legend]="{ text: 'LABEL.GENERAL' | translate }.text" [toggleable]="true">
        <div class="p-d-flex p-flex-wrap">
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label [required]="custom.isManunal">{{ 'LABEL.BUYER_ID' | translate }} : </label>
            <ivz-input-text inputId="BUYER_ID" [(ivzModel)]="model.buyerId" [ivzConfig]="ID_INPUTTEXT" [required]="custom.isManunal"></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label required>{{ 'LABEL.BUYER_NAME' | translate }} : </label>
            <ivz-input-text inputId="BUYER_NAME" [(ivzModel)]="model.buyerName" [ivzConfig]="DEFAULT_INPUTTEXT" required></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.ALIAS' | translate }} : </label>
            <ivz-input-text inputId="ALT_NAME" [(ivzModel)]="model.altName" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label required>{{ 'LABEL.BUSINESS_SEGMENT_ID' | translate }} : </label>
            <ivz-dropdown
              inputId="BUSINESS_SEGMENT_GUID"
              [(ivzModel)]="model.businessSegmentGUID"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="businessSegmentOptions"
              required
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.STATUS' | translate }} : </label>
            <ivz-dropdown
              inputId="DOCUMENT_STATUS_GUID"
              [(ivzModel)]="model.documentStatusGUID"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="documentStatusOptions"
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label required>{{ 'LABEL.CURRENCY_ID' | translate }} : </label>
            <ivz-dropdown
              inputId="CURRENCY_GUID"
              [(ivzModel)]="model.currencyGUID"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="currencyOptions"
              required
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.REFERENCE_ID' | translate }} : </label>
            <ivz-input-text inputId="REFERENCE_ID" [(ivzModel)]="model.referenceId" [ivzConfig]="ID_INPUTTEXT"></ivz-input-text>
          </div>
        </div>
      </p-fieldset>
      <p-fieldset [legend]="{ text: 'LABEL.TAX_INFORMATION' | translate }.text" [toggleable]="true">
        <div class="p-d-flex p-flex-wrap">
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label required>{{ 'LABEL.IDENTIFICATION_TYPE' | translate }} : </label>
            <ivz-dropdown
              inputId="IDENTIFICATION_TYPE"
              [(ivzModel)]="model.identificationType"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="identificationTypeOptions"
              (ivzModelChange)="onIdentificationTypeChange($event)"
              (ivzBindingChange)="onIdentificationTypeBinding($event)"
              required
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label [required]="custom.isTax">{{ 'LABEL.TAX_ID' | translate }} : </label>
            <ivz-input-text
              inputId="TAX_ID"
              [(ivzModel)]="model.taxId"
              [ivzConfig]="DEFAULT_INPUTTEXT"
              [required]="custom.isTax"
              maxlength="13"
            ></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label [required]="!custom.isTax">{{ 'LABEL.PASSPORT_ID' | translate }} : </label>
            <ivz-input-text
              inputId="PASSPORT_ID"
              [(ivzModel)]="model.passportId"
              [ivzConfig]="ID_INPUTTEXT"
              [required]="!custom.isTax"
            ></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label [required]="!custom.isTax">{{ 'LABEL.WORK_PERMIT_ID' | translate }} : </label>
            <ivz-input-text
              inputId="WORK_PERMIT_ID"
              [(ivzModel)]="model.workPermitId"
              [ivzConfig]="ID_INPUTTEXT"
              [required]="!custom.isTax"
            ></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.ISSUED_BY' | translate }} : </label>
            <ivz-input-text inputId="ISSUED_BY" [(ivzModel)]="model.issuedBy" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.DATE_OF_ISSUE' | translate }} : </label>
            <ivz-calendar inputId="DATE_OF_ISSUE" [(ivzModel)]="model.dateOfIssue" [ivzConfig]="DATE"></ivz-calendar>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.DATE_OF_EXPIRY' | translate }} : </label>
            <ivz-calendar inputId="DATE_OF_EXPIRY" [(ivzModel)]="model.dateOfExpiry" [ivzConfig]="DATE"></ivz-calendar>
          </div>
        </div>
      </p-fieldset>
      <p-fieldset [legend]="{ text: 'LABEL.REGISTRATION' | translate }.text" [toggleable]="true">
        <div class="p-d-flex p-flex-wrap">
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.DATE_OF_ESTABLISH' | translate }} : </label>
            <ivz-calendar inputId="DATE_OF_ESTABLISH" [(ivzModel)]="model.dateOfEstablish" [ivzConfig]="DATE"></ivz-calendar>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.PAID-UP_CAPITAL' | translate }} : </label>
            <ivz-input-number inputId="PAID_UP_CAPITAL" [(ivzModel)]="model.paidUpCapital" [ivzConfig]="CURRENCY_13_2"> </ivz-input-number>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.REGISTERED_CAPITAL' | translate }} : </label>
            <ivz-input-number inputId="REGISTERED_CAPITAL" [(ivzModel)]="model.registeredCapital" [ivzConfig]="CURRENCY_13_2"> </ivz-input-number>
          </div>
        </div>
      </p-fieldset>
      <p-fieldset [legend]="{ text: 'LABEL.BUSINESS_INFORMATION' | translate }.text" [toggleable]="true">
        <div class="p-d-flex p-flex-wrap">
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.LINE_OF_BUSINESS_ID' | translate }} : </label>
            <ivz-dropdown
              inputId="LINE_OF_BUSINESS_GUID"
              [(ivzModel)]="model.lineOfBusinessGUID"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="lineOfBusinessOptions"
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.BUSINESS_TYPE_ID' | translate }} : </label>
            <ivz-dropdown
              inputId="BUSINESS_TYPE_GUID"
              [(ivzModel)]="model.businessTypeGUID"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="businessTypeOptions"
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.BUSINESS_SIZE_ID' | translate }} : </label>
            <ivz-dropdown
              inputId="BUSINESS_SIZE_GUID"
              [(ivzModel)]="model.businessSizeGUID"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="businessSizeOptions"
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.LABOR' | translate }} : </label>
            <ivz-input-number inputId="LABOR" [(ivzModel)]="model.labor" [ivzConfig]="INTEGER"></ivz-input-number>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.FIXED_ASSETS' | translate }} : </label>
            <ivz-input-number inputId="FIXED_ASSETS" [(ivzModel)]="model.fixedAssets" [ivzConfig]="INTEGER"></ivz-input-number>
          </div>
        </div>
      </p-fieldset>
      <p-fieldset [legend]="{ text: 'LABEL.CREDIT_INFORMATION' | translate }.text" [toggleable]="true">
        <div class="p-d-flex p-flex-wrap">
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.BLACKLIST_STATUS_ID' | translate }} : </label>
            <ivz-dropdown
              inputId="BLACKLIST_STATUS_GUID"
              [(ivzModel)]="model.blacklistStatusGUID"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="blacklistStatusOptions"
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.KYC_ID' | translate }} : </label>
            <ivz-dropdown inputId="KYCGUID" [(ivzModel)]="model.kycSetupGUID" [ivzConfig]="DEFAULT_DROPDOWN" [options]="kycOptions"></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.CREDIT_SCORING_ID' | translate }} : </label>
            <ivz-dropdown
              inputId="CREDIT_SCORING_GUID"
              [(ivzModel)]="model.creditScoringGUID"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="creditScoringOptions"
            ></ivz-dropdown>
          </div>
        </div>
      </p-fieldset>
      <p-fieldset [legend]="{ text: 'LABEL.SYSTEM' | translate }.text" [toggleable]="true">
        <div class="p-d-flex p-flex-wrap">
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.CREATED_BY' | translate }} : </label>
            <ivz-input-text inputId="CREATED_BY" [(ivzModel)]="model.createdBy" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.CREATED_DATE_TIME' | translate }} : </label>
            <ivz-calendar inputId="CREATED_DATE_TIME" [(ivzModel)]="model.createdDateTime" [ivzConfig]="DATETIME"></ivz-calendar>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.MODIFIED_BY' | translate }} : </label>
            <ivz-input-text inputId="MODIFIED_BY" [(ivzModel)]="model.modifiedBy" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.MODIFIED_DATE_TIME' | translate }} : </label>
            <ivz-calendar inputId="MODIFIED_DATE_TIME" [(ivzModel)]="model.modifiedDateTime" [ivzConfig]="DATETIME"></ivz-calendar>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label required>{{ 'LABEL.COMPANY_ID' | translate }} : </label>
            <ivz-input-text inputId="COMPANY_ID" [(ivzModel)]="model.companyId" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label required>{{ 'LABEL.BUSINESS_UNIT_ID' | translate }} : </label>
            <ivz-input-text inputId="BUSINESS_UNIT_ID" [(ivzModel)]="model.ownerBusinessUnitId" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label required>{{ 'LABEL.OWNER' | translate }} : </label>
            <ivz-input-text inputId="OWNER" [(ivzModel)]="model.owner" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
          </div>
        </div>
      </p-fieldset>
    </p-panel-content>
    <p-footer class="ivz-panel-footer">
      <div class="p-d-flex p-jc-end">
        <ivz-button
          inputId="SAVE"
          [label]="'LABEL.SAVE' | translate"
          icon="pi pi-save"
          className="ivz-primary-btn p-m-2"
          [ivzConfig]="buttonConfig"
          (formValidate)="onSave($event)"
        ></ivz-button>
        <ivz-button
          inputId="SAVE_AND_CLOSE"
          [label]="'LABEL.SAVE_AND_CLOSE' | translate"
          icon="pi pi-times"
          className="ivz-primary-btn p-m-2"
          [ivzConfig]="buttonConfig"
          (formValidate)="onSaveAndClose($event)"
        >
        </ivz-button>
        <ivz-button
          inputId="CLOSE"
          [label]="'LABEL.CLOSE' | translate"
          icon="pi pi-power-off"
          className="ivz-primary-btn p-m-2"
          [ivzConfig]="buttonConfig"
          (click)="onClose()"
        >
        </ivz-button>
      </div>
    </p-footer>
  </p-panel>
</div>
