// .interval-count .validated-tooltip {
//     bottom: 113% !important;
//     right: 10% !important;
//   }
//   .interval-value .validated-tooltip {
//     right: 20% !important;
//   }
//   .i-panel-body .i-fieldset-container .i-field-container {
//     margin-top: 0.1em !important;
//   }
//   .i-panel-body .ui-fieldset .ui-fieldset-legend {
//     padding: 0em 0.5em !important;
//     padding-top: 0.5em !important;
//   }