<div class="p-d-flex w-100">
  <div class="w-60" style="flex-basis: 55%">
    <p-fieldset [legend]="{ text: 'LABEL.BATCH_PROCESSING' | translate }.text" [toggleable]="true">
      <div class="p-d-flex p-flex-wrap">
        <div class="p-d-flex p-flex-column ele-box-w-100">
          <label>{{ 'LABEL.IS_BATCH' | translate }} : </label>
          <ivz-input-switch inputId="BATCH_IS_BATCH" [(ivzModel)]="model.isBatch" (ivzModelChange)="onIsBatchChange($event)"></ivz-input-switch>
        </div>
        <div class="p-d-flex p-flex-column ele-box-w-100">
          <label>{{ 'LABEL.TASK_DESCRIPTION' | translate }} : </label>
          <ivz-input-text
            inputId="BATCH_TASK_DESCRIPTION"
            [(ivzModel)]="model.taskDescription"
            maxlength="200"
            [ivzConfig]="DEFAULT_INPUTTEXT"
          ></ivz-input-text>
        </div>
      </div>
    </p-fieldset>
    <p-fieldset [legend]="{ text: 'LABEL.RECURRING_PATTERN' | translate }.text" [toggleable]="true">
      <div class="p-d-flex p-flex-wrap">
        <div class="p-d-flex p-flex-column ele-box-w-100">
          <label>{{ 'LABEL.UNIT' | translate }} : </label>
          <ivz-dropdown
            inputId="BATCH_UNIT"
            [(ivzModel)]="recurringPatternInput.intervalType"
            [ivzConfig]="DEFAULT_DROPDOWN"
            showClear="false"
            [options]="intervalTypeOption"
            (ivzModelChange)="onIntervalTypeChange($event)"
          ></ivz-dropdown>
        </div>
        <div class="p-d-flex p-flex-column ele-box-w-100">
          <label>{{ 'LABEL.REPEAT_EVERY' | translate }} : </label>
          <div *ngIf="recurringPatternInput.intervalType !== BatchIntervalType.DAYOFWEEK">
            <ivz-select-button
              inputId="BATCH_REPEAT_EVERY"
              [(ivzModel)]="singleIntervalValue"
              [options]="intervalValueOption"
              (ivzModelChange)="onIntervalValueChange($event)"
              [ivzValidation]="validateIntervalValue()"
            ></ivz-select-button>
          </div>
          <div *ngIf="recurringPatternInput.intervalType === BatchIntervalType.DAYOFWEEK">
            <ivz-select-button
              inputId="BATCH_REPEAT_EVERY"
              [(ivzModel)]="multipleIntervalValues"
              multiple="true"
              [options]="intervalValueOption"
              (ivzModelChange)="onIntervalValueChange($event)"
              [ivzValidation]="validateIntervalValue()"
            ></ivz-select-button>
          </div>
        </div>
      </div>
    </p-fieldset>
  </div>
  <div class="w-70">
    <p-fieldset [legend]="{ text: 'LABEL.RANGE_OF_RECURRENCE' | translate }.text" [toggleable]="true">
      <div class="p-d-flex w-100">
        <div class="p-pr-4 w-50">
          <div class="p-d-flex p-flex-wrap">
            <div
              class="p-d-flex p-flex-column ele-box-w-100"
              *ngIf="
                endDateTimeInput.endDateOption !== BatchEndDateType.RECURRING &&
                (recurringPatternInput.intervalType === BatchIntervalType.MONTHS || recurringPatternInput.intervalType === BatchIntervalType.YEARS)
              "
            >
              <label>{{ 'LABEL.RUN_AT_THE_END_OF_THE_MONTH' | translate }} : </label>
              <ivz-input-switch inputId="BATCH_RUN_AT_THE_END_OF_THE_MONTH" [(ivzModel)]="model.isEndOfMonth"></ivz-input-switch>
            </div>
            <div class="p-d-flex p-flex-column ele-box-w-100">
              <label>{{ 'LABEL.START_DATE' | translate }} : </label>
              <ivz-calendar
                inputId="BATCH_START_DATE"
                [(ivzModel)]="startDateTimeInput.dateInput"
                [ivzConfig]="DATE"
                (ivzModelChange)="onStartDateTimeChange()"
              ></ivz-calendar>
            </div>
            <div class="p-d-flex p-flex-column ele-box-w-100">
              <label>{{ 'LABEL.START_TIME' | translate }} : </label>
              <ivz-calendar
                inputId="BATCH_START_TIME"
                [(ivzModel)]="startDateTimeInput.timeInput"
                [ivzConfig]="TIME"
                (ivzModelChange)="onStartDateTimeChange()"
              ></ivz-calendar>
            </div>
          </div>
        </div>
        <div class="w-50">
          <div class="p-d-flex p-flex-wrap">
            <div class="p-d-flex p-flex-column ele-box-w-100">
              <ivz-radio-button
                inputId="BATCH_END_AFTER"
                name="group1"
                [value]="BatchEndDateType.RECURRING"
                [(ivzModel)]="endDateTimeInput.endDateOption"
                [label]="'LABEL.END_AFTER' | translate"
                (ivzModelChange)="onEndDateOptionChange($event)"
              ></ivz-radio-button>
              <div class="p-d-flex p-ai-center p-pl-5">
                <label>{{ 'LABEL.COUNT' | translate }} : </label>
                <ivz-input-number
                  class="p-d-flex p-ml-2"
                  inputId="BATCH_COUNT"
                  [(ivzModel)]="endDateTimeInput.recurringCount"
                  [ivzConfig]="INTEGER"
                  (ivzModelChange)="onEndCountChange($event)"
                  [ivzValidation]="validateRecurringCountGreaterThanZero()"
                >
                </ivz-input-number>
              </div>
            </div>
            <div class="p-d-flex p-flex-column ele-box-w-100">
              <ivz-radio-button
                inputId="BATCH_END_BY"
                name="group1"
                [value]="BatchEndDateType.END_BY"
                [(ivzModel)]="endDateTimeInput.endDateOption"
                [label]="'LABEL.END_BY' | translate"
                (ivzModelChange)="onEndDateOptionChange($event)"
              ></ivz-radio-button>
              <div class="p-d-flex p-flex-column p-pl-5">
                <label>{{ 'LABEL.END_DATE' | translate }} : </label>
                <ivz-calendar
                  inputId="BATCH_END_DATE"
                  [(ivzModel)]="endDateTimeInput.endBy"
                  [ivzConfig]="DATE"
                  [ivzValidation]="validateEndDate()"
                  (ivzModelChange)="onEndDateChange($event)"
                ></ivz-calendar>
              </div>
            </div>
            <div class="p-d-flex p-flex-column ele-box-w-100">
              <ivz-radio-button
                inputId="BATCH_NO_END_DATE"
                name="group1"
                [value]="BatchEndDateType.NO_ENDDATE"
                [(ivzModel)]="endDateTimeInput.endDateOption"
                [label]="'LABEL.NO_END_DATE' | translate"
                (ivzModelChange)="onEndDateOptionChange($event)"
              ></ivz-radio-button>
            </div>
          </div>
        </div>
      </div>
    </p-fieldset>
  </div>
</div>
