<div class="ivz-item-card function-m">
  <p-panel [showHeader]="true" [viewonly]="isView" class="ivz-panel">
    <p-header class="p-d-flex p-jc-between w-100">
      <div class="ivz-div-panel-title">
        <span class="ivz-panel-title p-m-2">{{ 'LABEL.USER_LOG_CLEAN_UP' | translate }}</span>
      </div>
    </p-header>
    <p-panel-content class="ivz-div-panel-content"
      ><div class="w-100">
        <p-fieldset [legend]="{ text: 'LABEL.GENERAL' | translate }.text" [toggleable]="true">
          <div class="p-d-flex p-flex-wrap">
            <div class="p-d-flex p-flex-column ele-box-w-50">
              <label>{{ 'LABEL.HISTORY_LIMIT_DAYS' | translate }} : </label>
              <ivz-input-number inputId="HISTORY_LIMIT_DAYS" [(ivzModel)]="model.historyLimitDays" [ivzConfig]="INTEGER"> </ivz-input-number>
            </div>
            <div class="p-d-flex p-flex-column ele-box-w-50">
              <label>{{ 'LABEL.USER_NAME' | translate }} : </label>
              <ivz-multi-select
                inputId="USER_NAME"
                [(ivzModel)]="model.userNames"
                [ivzConfig]="DEFAULT_MULTISELECT"
                [options]="usernameOptions"
              ></ivz-multi-select>
            </div>
          </div>
        </p-fieldset>
      </div>
    </p-panel-content>
    <p-footer class="ivz-panel-footer">
      <div class="p-d-flex p-jc-end">
        <ivz-button
          inputId="OK"
          [label]="'LABEL.OK' | translate"
          icon="pi pi-times"
          className="ivz-primary-btn p-m-2"
          [ivzConfig]="buttonConfig"
          (formValidate)="onSaveAndClose($event)"
        >
        </ivz-button>
        <ivz-button
          inputId="CANCEL"
          [label]="'LABEL.CANCEL' | translate"
          icon="pi pi-power-off"
          className="ivz-primary-btn p-m-2"
          [ivzConfig]="buttonConfig"
          (click)="onClose()"
        >
        </ivz-button>
      </div>
    </p-footer>
  </p-panel>
</div>
