<div class="ivz-item-card function-l">
  <p-panel [showHeader]="true" [viewonly]="isView" class="ivz-panel">
    <p-header class="p-d-flex p-jc-between w-100">
      <div class="ivz-div-panel-title">
        <span *ngIf="custom.isCopy" class="ivz-panel-title p-m-2">{{ 'LABEL.PRINT_TAX_INVOICE_COPY' | translate }}</span>
        <span *ngIf="custom.isOriginal" class="ivz-panel-title p-m-2">{{ 'LABEL.PRINT_TAX_INVOICE_ORIGINAL' | translate }}</span>
      </div>
    </p-header>
    <p-panel-content class="ivz-div-panel-content">
      <div class="w-100" *ngIf="isViewBody">
        <p-fieldset [legend]="{ text: 'LABEL.GENERAL' | translate }.text" [toggleable]="true">
          <div class="p-d-flex p-flex-wrap">
            <div class="p-d-flex p-flex-column ele-box-w-25">
              <label>{{ 'LABEL.TAX_INVOICE_ID' | translate }} : </label>
              <ivz-input-text inputId="TAX_INVOICE_ID" [(ivzModel)]="model.taxInvoiceId" [ivzConfig]="ID_INPUTTEXT"></ivz-input-text>
            </div>
            <div class="p-d-flex p-flex-column ele-box-w-25">
              <label>{{ 'LABEL.ISSUED_DATE' | translate }} : </label>
              <ivz-calendar inputId="ISSUED_DATE" [(ivzModel)]="model.issuedDate" [ivzConfig]="DATE"></ivz-calendar>
            </div>
            <div class="p-d-flex p-flex-column ele-box-w-25">
              <label>{{ 'LABEL.DUE_DATE' | translate }} : </label>
              <ivz-calendar inputId="DUE_DATE" [(ivzModel)]="model.dueDate" [ivzConfig]="DATE"></ivz-calendar>
            </div>
            <div class="p-d-flex p-flex-column ele-box-w-50">
              <label>{{ 'LABEL.CUSTOMER_ID' | translate }} : </label>
              <ivz-input-text inputId="CUSTOMER_ID" [(ivzModel)]="model.customerId" [ivzConfig]="ID_INPUTTEXT"></ivz-input-text>
            </div>
            <div class="p-d-flex p-flex-column ele-box-w-50">
              <label>{{ 'LABEL.INVOICE_ID' | translate }} : </label>
              <ivz-input-text inputId="INVOICE_ID" [(ivzModel)]="model.invoiceId" [ivzConfig]="ID_INPUTTEXT"></ivz-input-text>
            </div>
            <div class="p-d-flex p-flex-column ele-box-w-50">
              <label>{{ 'LABEL.INVOICE_TYPE_ID' | translate }} : </label>
              <ivz-input-text inputId="INVOICE_TYPE_ID" [(ivzModel)]="model.invoiceTypeId" [ivzConfig]="ID_INPUTTEXT"></ivz-input-text>
            </div>
            <div class="p-d-flex p-flex-column ele-box-w-50">
              <label>{{ 'LABEL.DOCUMENT_ID' | translate }} : </label>
              <ivz-input-text inputId="DOCUMENT_ID" [(ivzModel)]="model.documentId" [ivzConfig]="ID_INPUTTEXT"></ivz-input-text>
            </div>
          </div>
        </p-fieldset>
        <p-fieldset [legend]="{ text: 'LABEL.AMOUNT' | translate }.text" [toggleable]="true">
          <div class="p-d-flex p-flex-wrap">
            <div class="p-d-flex p-flex-column ele-box-w-25">
              <label>{{ 'LABEL.INVOICE_AMOUNT_BEFORE_TAX' | translate }} : </label>
              <ivz-input-number inputId="INVOICE_AMOUNT_BEFORE_TAX" [(ivzModel)]="model.invoiceAmountBeforeTax" [ivzConfig]="CURRENCY_13_2">
              </ivz-input-number>
            </div>
            <div class="p-d-flex p-flex-column ele-box-w-25">
              <label>{{ 'LABEL.TAX_AMOUNT' | translate }} : </label>
              <ivz-input-number inputId="TAX_AMOUNT" [(ivzModel)]="model.taxAmount" [ivzConfig]="CURRENCY_13_2"> </ivz-input-number>
            </div>
            <div class="p-d-flex p-flex-column ele-box-w-25">
              <label>{{ 'LABEL.INVOICE_AMOUNT' | translate }} : </label>
              <ivz-input-number inputId="INVOICE_AMOUNT" [(ivzModel)]="model.invoiceAmount" [ivzConfig]="CURRENCY_13_2"> </ivz-input-number>
            </div>
          </div>
        </p-fieldset>
      </div>
      <div class="w-100">
        <ivz-report-form [parameter]="parameters" (reportReady)="onReportReady($event)"></ivz-report-form>
      </div>
    </p-panel-content>
    <p-footer class="ivz-panel-footer">
      <div class="p-d-flex p-jc-end">
        <ivz-button
          *ngIf="isViewBody"
          inputId="OK"
          [label]="'LABEL.OK' | translate"
          icon="pi pi-times"
          className="ivz-primary-btn p-m-2"
          [ivzConfig]="buttonConfig"
          (formValidate)="onSaveAndClose($event)"
        >
        </ivz-button>
        <ivz-button
          inputId="CLOSE"
          [label]="'LABEL.CLOSE' | translate"
          icon="pi pi-power-off"
          className="ivz-primary-btn p-m-2"
          [ivzConfig]="buttonConfig"
          (click)="onClose()"
        >
        </ivz-button>
      </div>
    </p-footer>
  </p-panel>
</div>
