<div class="ivz-item-card">
  <p-panel [showHeader]="true" [viewonly]="isView" class="ivz-panel">
    <p-header class="p-d-flex p-jc-between w-100">
      <div class="ivz-div-panel-title">
        <span class="ivz-panel-title p-m-2">{{ custom.title | translate }}</span>
      </div>
      <div class="ivz-div-panel-btn-group">
        <p-tieredMenu id="MENURELATED" #related [model]="relatedInfoItems" [popup]="true"> </p-tieredMenu>
        <p-button
          id="RELATED_INFO"
          #btnfn
          type="button"
          icon="pi pi-share-alt"
          (click)="related.toggle($event); function.hide(); group.hide()"
          [label]="'LABEL.RELATED_INFO' | translate"
          styleClass="p-button-text"
        >
        </p-button>
        <p-tieredMenu id="MENUFUNCTION" #function [model]="functionItems" [popup]="true"> </p-tieredMenu>
        <p-button
          id="FUNCTION"
          #btnfn
          type="button"
          icon="pi pi-cog"
          (click)="function.toggle($event); related.hide(); group.hide()"
          [label]="'LABEL.FUNCTION' | translate"
          styleClass="p-button-text"
        ></p-button>
        <p-tieredMenu id="MENUGROUP" #group [model]="itemsGroup" [popup]="true"> </p-tieredMenu>
        <p-button
          id="GROUP"
          #btnfn
          type="button"
          icon="pi pi-list"
          (click)="group.toggle($event); function.hide(); related.hide()"
          [label]="'LABEL.GROUP' | translate"
          styleClass="p-button-text"
        ></p-button>
      </div>
    </p-header>
    <p-panel-content class="ivz-div-panel-content">
      <p-fieldset *ngIf="custom.isShowOriginalInfomation" [legend]="{ text: 'LABEL.ORIGINAL_INFORMATION' | translate }.text" [toggleable]="true">
        <div class="p-d-flex p-flex-wrap">
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label required>{{ 'LABEL.ORIGINAL_BUSINESS_COLLATERAL_AGREEMENT_ID' | translate }} : </label>
            <ivz-dropdown
              inputId="ORIGINAL_BUSINESS_COLLATERAL_AGREEMENT_TABLE_GUID"
              [(ivzModel)]="model.originalBusinessCollateralAgreementTableGUID"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="businessCollateralAgmTableOptions"
              (ivzModelChange)="onOriginalbusinesscollateralAgmIDChange()"
              (ivzOnFocus)="getBusinessCollateralAgmTableDropDownFocus($event)"
              required
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label required>{{ 'LABEL.ORIGINAL_BUSINESS_COLLATERAL_AGREEMENT_LINE' | translate }} : </label>
            <ivz-dropdown
              inputId="ORIGINAL_BUSINESS_COLLATERAL_AGREEMENT_LINE_GUID"
              [(ivzModel)]="model.originalBusinessCollateralAgreementLineGUID"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="businessCollateralAgmLineOptions"
              (ivzOnFocus)="getBusinessCollateralAgmLineDropDownFocus($event)"
              required
            ></ivz-dropdown>
          </div>
        </div>
      </p-fieldset>
      <p-fieldset [legend]="{ text: 'LABEL.GENERAL' | translate }.text" [toggleable]="true">
        <div class="p-d-flex p-flex-wrap">
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label required>{{ 'LABEL.INTERNAL_BUSINESS_COLLATERAL_ID' | translate }} : </label>
            <ivz-input-text
              inputId="BUSINESS_COLLATERAL_AGM_TABLE_GUID"
              [(ivzModel)]="model.businessCollateralAgmTable_Values"
              maxlength="1000"
              [ivzConfig]="DEFAULT_INPUTTEXT"
              required
            ></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.BUSINESS_COLLATERAL_AGREEMENT_ID' | translate }} : </label>
            <ivz-input-text
              inputId="BUSINESS_COLLATERAL_AGM_ID"
              [(ivzModel)]="model.businessCollateralAgmTable_BusinessCollateralAgmId"
              [ivzConfig]="ID_INPUTTEXT"
            ></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label required>{{ 'LABEL.LINE' | translate }} : </label>
            <ivz-input-number inputId="LINE_NUM" [(ivzModel)]="model.lineNum" [ivzConfig]="INTEGER" required></ivz-input-number>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-75">
            <label required>{{ 'LABEL.CREDIT_APPLICATION_REQUEST_BUSINESS_COLLATERAL_ID' | translate }} : </label>
            <ivz-dropdown
              inputId="CREDIT_APP_REQ_BUSINESS_COLLATERAL_GUID"
              [(ivzModel)]="model.creditAppReqBusinessCollateralGUID"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="creditAppReqBusinessCollateralOptions"
              (ivzModelChange)="onCreditAppReqBusinessCollateralChange()"
              required
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label required>{{ 'LABEL.BUSINESS_COLLATERAL_TYPE_ID' | translate }} : </label>
            <ivz-dropdown
              inputId="BUSINESS_COLLATERAL_TYPE_GUID"
              [(ivzModel)]="model.businessCollateralTypeGUID"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="businessCollateralTypeOptions"
              (ivzModelChange)="onBusinessCollateralTypeChange()"
              required
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label required>{{ 'LABEL.BUSINESS_COLLATERAL_SUBTYPE_ID' | translate }} : </label>
            <ivz-dropdown
              inputId="BUSINESS_COLLATERAL_SUB_TYPE_GUID"
              [(ivzModel)]="model.businessCollateralSubTypeGUID"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="businessCollateralSubTypeOptions"
              required
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label required>{{ 'LABEL.DESCRIPTION' | translate }} : </label>
            <ivz-input-text inputId="DESCRIPTION" [(ivzModel)]="model.description" [ivzConfig]="DEFAULT_INPUTTEXT" required></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.BUSINESS_COLLATERAL_VALUE' | translate }} : </label>
            <ivz-input-number inputId="BUSINESS_COLLATERAL_VALUE" [(ivzModel)]="model.businessCollateralValue" [ivzConfig]="CURRENCY_13_2_POS">
            </ivz-input-number>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.PRODUCT' | translate }} : </label>
            <ivz-textarea inputId="PRODUCT" [(ivzModel)]="model.product" maxlength="1000" [ivzConfig]="DEFAULT_TEXTAREA"> </ivz-textarea>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.ATTACHMENT_TEXT' | translate }} : </label>
            <ivz-input-text inputId="ATTACHMENT_TEXT" [(ivzModel)]="model.attachmentText" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.BUSINESS_COLLATERAL_STATUS_ID' | translate }} : </label>
            <ivz-dropdown
              inputId="BUSINESS_COLLATERAL_STATUS_GUID"
              [(ivzModel)]="model.businessCollateralStatusGUID"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="businessCollateralStatusOptions"
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.CANCELLED' | translate }} : </label>
            <ivz-input-switch inputId="CANCELLED" [(ivzModel)]="model.cancelled"></ivz-input-switch>
          </div>
        </div>
      </p-fieldset>
      <p-fieldset [legend]="{ text: 'LABEL.BUYER_INFORMATION' | translate }.text" [toggleable]="true">
        <div class="p-d-flex p-flex-wrap">
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.BUYER_ID' | translate }} : </label>
            <ivz-dropdown
              inputId="BUYER_TABLE_GUID"
              [(ivzModel)]="model.buyerTableGUID"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="buyerTableOptions"
              (ivzModelChange)="onBuyerChange()"
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.BUYER_NAME' | translate }} : </label>
            <ivz-input-text inputId="BUYER_NAME" [(ivzModel)]="model.buyerName" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.BUYER_TAX_ID__PASSPORT_ID' | translate }} : </label>
            <ivz-input-text
              inputId="BUYER_TAX_IDENTIFICATION_ID"
              [(ivzModel)]="model.buyerTaxIdentificationId"
              [ivzConfig]="TAX_ID_INPUTTEXT"
            ></ivz-input-text>
          </div>
        </div>
      </p-fieldset>
      <p-fieldset [legend]="{ text: 'LABEL.BANK_INFORMATION' | translate }.text" [toggleable]="true">
        <div class="p-d-flex p-flex-wrap">
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.FINANCIAL_INSTITUTE_ID' | translate }} : </label>
            <ivz-dropdown
              inputId="BANK_GROUP_GUID"
              [(ivzModel)]="model.bankGroupGUID"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="bankGroupOptions"
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.BANK_ACCOUNT_TYPE_ID' | translate }} : </label>
            <ivz-dropdown
              inputId="BANK_TYPE_GUID"
              [(ivzModel)]="model.bankTypeGUID"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="bankTypeOptions"
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.ACCOUNT_NUMBER' | translate }} : </label>
            <ivz-input-text inputId="ACCOUNT_NUMBER" [(ivzModel)]="model.accountNumber" [ivzConfig]="ID_INPUTTEXT"></ivz-input-text>
          </div>
        </div>
      </p-fieldset>
      <p-fieldset [legend]="{ text: 'LABEL.REFERENCE_AGREEMENT_INFORMATION' | translate }.text" [toggleable]="true">
        <div class="p-d-flex p-flex-wrap">
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.REFERENCE_AGREEMENT_ID' | translate }} : </label>
            <ivz-input-text inputId="REF_AGREEMENT_ID" [(ivzModel)]="model.refAgreementId" [ivzConfig]="ID_INPUTTEXT"></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.REFERENCE_AGREEMENT_DATE' | translate }} : </label>
            <ivz-calendar inputId="REF_AGREEMENT_DATE" [(ivzModel)]="model.refAgreementDate" [ivzConfig]="DATE"></ivz-calendar>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.PREFERENTIAL_CREDITOR_NUMBER' | translate }} : </label>
            <ivz-input-number
              inputId="PREFERENTIAL_CREDITOR_NUMBER"
              [(ivzModel)]="model.preferentialCreditorNumber"
              [ivzConfig]="INTEGER_POS"
            ></ivz-input-number>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.LESSEE' | translate }} : </label>
            <ivz-input-text inputId="LESSEE" [(ivzModel)]="model.lessee" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.LESSOR' | translate }} : </label>
            <ivz-input-text inputId="LESSOR" [(ivzModel)]="model.lessor" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
          </div>
        </div>
      </p-fieldset>
      <p-fieldset [legend]="{ text: 'LABEL.ASSET_INFORMATION' | translate }.text" [toggleable]="true">
        <div class="p-d-flex p-flex-wrap">
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.REGISTRATION_PLATE_NUMBER' | translate }} : </label>
            <ivz-input-text
              inputId="REGISTRATION_PLATE_NUMBER"
              [(ivzModel)]="model.registrationPlateNumber"
              [ivzConfig]="DEFAULT_INPUTTEXT"
            ></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.CHASSIS_NUMBER' | translate }} : </label>
            <ivz-input-text inputId="CHASSIS_NUMBER" [(ivzModel)]="model.chassisNumber" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.MACHINE_NUMBER' | translate }} : </label>
            <ivz-input-text inputId="MACHINE_NUMBER" [(ivzModel)]="model.machineNumber" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.MACHINE_REGISTERED_STATUS' | translate }} : </label>
            <ivz-input-text
              inputId="MACHINE_REGISTERED_STATUS"
              [(ivzModel)]="model.machineRegisteredStatus"
              [ivzConfig]="DEFAULT_INPUTTEXT"
            ></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.REGISTERED_PLACE' | translate }} : </label>
            <ivz-input-text inputId="REGISTERED_PLACE" [(ivzModel)]="model.registeredPlace" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.QUANTITY' | translate }} : </label>
            <ivz-input-number inputId="QUANTITY" [(ivzModel)]="model.quantity" [ivzConfig]="CURRENCY_13_2_POS"> </ivz-input-number>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.UNIT' | translate }} : </label>
            <ivz-input-text inputId="UNIT" [(ivzModel)]="model.unit" [ivzConfig]="ID_INPUTTEXT"></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.GUARANTEE_AMOUNT' | translate }} : </label>
            <ivz-input-number inputId="GUARANTEE_AMOUNT" [(ivzModel)]="model.guaranteeAmount" [ivzConfig]="CURRENCY_13_2_POS"> </ivz-input-number>
          </div>
        </div>
      </p-fieldset>
      <p-fieldset [legend]="{ text: 'LABEL.REAL_ESTATE_INFORMATION' | translate }.text" [toggleable]="true">
        <div class="p-d-flex p-flex-wrap">
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.PROJECT_NAME' | translate }} : </label>
            <ivz-input-text inputId="PROJECT_NAME" [(ivzModel)]="model.projectName" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.TITLE_DEED_NUMBER' | translate }} : </label>
            <ivz-input-text inputId="TITLE_DEED_NUMBER" [(ivzModel)]="model.titleDeedNumber" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.TITLE_DEED_SUBDISTRICT' | translate }} : </label>
            <ivz-input-text
              inputId="TITLE_DEED_SUB_DISTRICT"
              [(ivzModel)]="model.titleDeedSubDistrict"
              [ivzConfig]="DEFAULT_INPUTTEXT"
            ></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.TITLE_DEED_DISTRICT' | translate }} : </label>
            <ivz-input-text inputId="TITLE_DEED_DISTRICT" [(ivzModel)]="model.titleDeedDistrict" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.TITLE_DEED_PROVINCE' | translate }} : </label>
            <ivz-input-text inputId="TITLE_DEED_PROVINCE" [(ivzModel)]="model.titleDeedProvince" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
          </div>
        </div>
      </p-fieldset>
      <p-fieldset [legend]="{ text: 'LABEL.VALUATION_INFORMATION' | translate }.text" [toggleable]="true">
        <div class="p-d-flex p-flex-wrap">
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.DATE_OF_VALUATION' | translate }} : </label>
            <ivz-calendar inputId="DATE_OF_VALUATION" [(ivzModel)]="model.dateOfValuation" [ivzConfig]="DATE"></ivz-calendar>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.CAPITAL_VALUATION' | translate }} : </label>
            <ivz-input-number inputId="CAPITAL_VALUATION" [(ivzModel)]="model.capitalValuation" [ivzConfig]="CURRENCY_13_2_POS"> </ivz-input-number>
          </div>
        </div>
      </p-fieldset>
      <p-fieldset [legend]="{ text: 'LABEL.VALUATION_INFORMATION' | translate }.text" [toggleable]="true">
        <div class="p-d-flex p-flex-wrap">
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.VALUATION_COMMITTEE' | translate }} : </label>
            <ivz-input-text inputId="VALUATION_COMMITTEE" [(ivzModel)]="model.valuationCommittee" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.OWNERSHIP' | translate }} : </label>
            <ivz-input-text inputId="OWNERSHIP" [(ivzModel)]="model.ownership" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
          </div>
        </div>
      </p-fieldset>
      <p-fieldset [legend]="{ text: 'LABEL.SYSTEM' | translate }.text" [toggleable]="true">
        <div class="p-d-flex p-flex-wrap">
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.CREATED_BY' | translate }} : </label>
            <ivz-input-text inputId="CREATED_BY" [(ivzModel)]="model.createdBy" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.CREATED_DATE_TIME' | translate }} : </label>
            <ivz-calendar inputId="CREATED_DATE_TIME" [(ivzModel)]="model.createdDateTime" [ivzConfig]="DATETIME"></ivz-calendar>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.MODIFIED_BY' | translate }} : </label>
            <ivz-input-text inputId="MODIFIED_BY" [(ivzModel)]="model.modifiedBy" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.MODIFIED_DATE_TIME' | translate }} : </label>
            <ivz-calendar inputId="MODIFIED_DATE_TIME" [(ivzModel)]="model.modifiedDateTime" [ivzConfig]="DATETIME"></ivz-calendar>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label required>{{ 'LABEL.COMPANY_ID' | translate }} : </label>
            <ivz-input-text inputId="COMPANY_ID" [(ivzModel)]="model.companyId" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label required>{{ 'LABEL.BUSINESS_UNIT_ID' | translate }} : </label>
            <ivz-input-text inputId="BUSINESS_UNIT_ID" [(ivzModel)]="model.ownerBusinessUnitId" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label required>{{ 'LABEL.OWNER' | translate }} : </label>
            <ivz-input-text inputId="OWNER" [(ivzModel)]="model.owner" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
          </div>
        </div>
      </p-fieldset>
    </p-panel-content>
    <p-footer class="ivz-panel-footer">
      <div class="p-d-flex p-jc-end">
        <ivz-button
          inputId="SAVE"
          [label]="'LABEL.SAVE' | translate"
          icon="pi pi-save"
          className="ivz-primary-btn p-m-2"
          [ivzConfig]="buttonConfig"
          (formValidate)="onSave($event)"
        ></ivz-button>
        <ivz-button
          inputId="SAVE_AND_CLOSE"
          [label]="'LABEL.SAVE_AND_CLOSE' | translate"
          icon="pi pi-times"
          className="ivz-primary-btn p-m-2"
          [ivzConfig]="buttonConfig"
          (formValidate)="onSaveAndClose($event)"
        >
        </ivz-button>
        <ivz-button
          inputId="CLOSE"
          [label]="'LABEL.CLOSE' | translate"
          icon="pi pi-power-off"
          className="ivz-primary-btn p-m-2"
          [ivzConfig]="buttonConfig"
          (click)="onClose()"
        >
        </ivz-button>
      </div>
    </p-footer>
  </p-panel>
</div>
