<div *ngIf="custom.visibleOutStanding && !isUpdateMode" class="ivz-item-card function-l">
  <list-invoice-outstanding-list (rowEmit)="onSubmitList($event)" [pageInfo]="outStandingPageInfo"></list-invoice-outstanding-list>
  <div class="p-d-flex p-jc-end">
    <ivz-button
      inputId="CLOSE"
      [label]="'LABEL.CLOSE' | translate"
      icon="pi pi-power-off"
      className="ivz-primary-btn p-m-2"
      [ivzConfig]="buttonConfig"
      [setBodyFunctionMode]="custom.visibleOutStanding && !isUpdateMode"
      (click)="onClose()"
    >
    </ivz-button>
  </div>
</div>

<div class="ivz-item-card" *ngIf="!custom.visibleOutStanding || isUpdateMode">
  <p-panel [showHeader]="true" [viewonly]="isView" class="ivz-panel">
    <p-header class="p-d-flex p-jc-between w-100">
      <div class="ivz-div-panel-title">
        <span class="ivz-panel-title p-m-2">{{ custom.title | translate }}</span>
      </div>
      <div class="ivz-div-panel-btn-group">
        <p-tieredMenu id="MENURELATED" #related [model]="relatedInfoItems" [popup]="true"> </p-tieredMenu>
        <p-button
          id="RELATED_INFO"
          #btnfn
          type="button"
          icon="pi pi-share-alt"
          (click)="related.toggle($event); function.hide(); group.hide()"
          [label]="'LABEL.RELATED_INFO' | translate"
          styleClass="p-button-text"
        >
        </p-button>
        <p-tieredMenu id="MENUFUNCTION" #function [model]="functionItems" [popup]="true"> </p-tieredMenu>
        <p-button
          id="FUNCTION"
          #btnfn
          type="button"
          icon="pi pi-cog"
          (click)="function.toggle($event); related.hide(); group.hide()"
          [label]="'LABEL.FUNCTION' | translate"
          styleClass="p-button-text"
        ></p-button>
        <p-tieredMenu id="MENUGROUP" #group [model]="itemsGroup" [popup]="true"> </p-tieredMenu>
        <p-button
          id="GROUP"
          #btnfn
          type="button"
          icon="pi pi-list"
          (click)="group.toggle($event); function.hide(); related.hide()"
          [label]="'LABEL.GROUP' | translate"
          styleClass="p-button-text"
        ></p-button>
      </div>
    </p-header>
    <p-panel-content class="ivz-div-panel-content">
      <p-fieldset [legend]="{ text: 'LABEL.GENERAL' | translate }.text" [toggleable]="true">
        <div class="p-d-flex p-flex-wrap">
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.PRODUCT_TYPE' | translate }} : </label>
            <ivz-dropdown
              inputId="PRODUCT_TYPE"
              [(ivzModel)]="model.productType"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="productTypeOptions"
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label required>{{ 'LABEL.DOCUMENT_ID' | translate }} : </label>
            <ivz-input-text inputId="DOCUMENT_ID" [(ivzModel)]="model.documentId" [ivzConfig]="ID_INPUTTEXT" required></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.CREDIT_APPLICATION_ID' | translate }} : </label>
            <ivz-input-text
              inputId="CREDIT_APP_TABLE_GUID"
              [(ivzModel)]="model.creditAppTable_Values"
              maxlength="1000"
              [ivzConfig]="DEFAULT_INPUTTEXT"
            ></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.INVOICE_ID' | translate }} : </label>
            <ivz-input-text
              inputId="INVOICE_TABLE_GUID"
              [(ivzModel)]="model.invoiceTable_Values"
              maxlength="1000"
              [ivzConfig]="DEFAULT_INPUTTEXT"
            ></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.INVOICE_DUE_DATE' | translate }} : </label>
            <ivz-calendar inputId="INVOICE_DUE_DATE" [(ivzModel)]="model.invoiceDueDate" [ivzConfig]="DATE"></ivz-calendar>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.INVOICE_TYPE_ID' | translate }} : </label>
            <ivz-input-text
              inputId="INVOICE_TYPE_GUID"
              [(ivzModel)]="model.invoiceType_Values"
              maxlength="1000"
              [ivzConfig]="DEFAULT_INPUTTEXT"
            ></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25" *ngIf="custom.visibleWhenSuspense">
            <label>{{ 'LABEL.SUSPENSE_INVOICE_TYPE' | translate }} : </label>
            <ivz-dropdown
              inputId="SUSPENSE_INVOICE_TYPE"
              [(ivzModel)]="model.suspenseInvoiceType"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="suspenseInvoiceTypeOptions"
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.CURRENCY_ID' | translate }} : </label>
            <ivz-input-text
              inputId="CURRENCY_GUID"
              [(ivzModel)]="model.currency_Values"
              maxlength="1000"
              [ivzConfig]="DEFAULT_INPUTTEXT"
            ></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.INVOICE_AMOUNT' | translate }} : </label>
            <ivz-input-number inputId="INVOICE_AMOUNT" [(ivzModel)]="model.invoiceAmount" [ivzConfig]="CURRENCY_13_2"> </ivz-input-number>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.BALANCE_AMOUNT' | translate }} : </label>
            <ivz-input-number inputId="BALANCE_AMOUNT" [(ivzModel)]="model.balanceAmount" [ivzConfig]="CURRENCY_13_2"> </ivz-input-number>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label required>{{ 'LABEL.SETTLE_AMOUNT' | translate }} : </label>
            <ivz-input-number
              inputId="SETTLE_AMOUNT"
              [(ivzModel)]="model.settleAmount"
              [ivzConfig]="CURRENCY_13_2"
              required
              (ivzModelChange)="onSettleAmountChange()"
              [ivzValidation]="onSettleAmountValidation()"
            ></ivz-input-number>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25" *ngIf="!custom.visibleWhenSuspense">
            <label>{{ 'LABEL.WHT_AMOUNT' | translate }} : </label>
            <ivz-input-number
              inputId="WHT_AMOUNT"
              [(ivzModel)]="model.whtAmount"
              [ivzConfig]="CURRENCY_13_2"
              (ivzModelChange)="onWHTAmountChange()"
              [ivzValidation]="onWHTAmountValidation()"
            >
            </ivz-input-number>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25" *ngIf="!custom.visibleWhenSuspense">
            <label>{{ 'LABEL.WHT_SLIP_RECEIVED_FROM_CUSTOMER' | translate }} : </label>
            <ivz-input-switch inputId="WHT_SLIP_RECEIVED_FROM_CUSTOMER" [(ivzModel)]="model.whtSlipReceivedByCustomer"></ivz-input-switch>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label required>{{ 'LABEL.SETTLE_INVOICE_AMOUNT' | translate }} : </label>
            <ivz-input-number
              inputId="SETTLE_INVOICE_AMOUNT"
              [(ivzModel)]="model.settleInvoiceAmount"
              [ivzConfig]="CURRENCY_13_2"
              required
              [ivzValidation]="onSettleInvoiceAmountValidation()"
            >
            </ivz-input-number>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25" *ngIf="!custom.visibleWhenSuspense">
            <label>{{ 'LABEL.SETTLE_TAX_AMOUNT' | translate }} : </label>
            <ivz-input-number inputId="SETTLE_TAX_AMOUNT" [(ivzModel)]="model.settleTaxAmount" [ivzConfig]="CURRENCY_13_2"> </ivz-input-number>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25" *ngIf="!custom.visibleWhenSuspense">
            <label>{{ 'LABEL.BUYER_AGREEMENT_ID' | translate }} : </label>
            <ivz-input-text
              inputId="BUYER_AGREEMENT_TABLE_GUID"
              [(ivzModel)]="model.buyerAgreementTable_Values"
              maxlength="1000"
              [ivzConfig]="DEFAULT_INPUTTEXT"
            ></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25" *ngIf="!custom.visibleWhenSuspense">
            <label>{{ 'LABEL.WHT_SLIP_RECEIVED_FROM_BUYER' | translate }} : </label>
            <ivz-input-switch inputId="WHT_SLIP_RECEIVED_FROM_BUYER" [(ivzModel)]="model.whtSlipReceivedByBuyer"></ivz-input-switch>
          </div>
        </div>
      </p-fieldset>
      <p-fieldset [legend]="{ text: 'LABEL.ASSIGNMENT_AGREEMENT' | translate }.text" [toggleable]="true" *ngIf="custom.visibleAssignmentAgreement">
        <div class="p-d-flex p-flex-wrap">
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.ASSIGNMENT_AGREEMENT_ID' | translate }} : </label>
            <ivz-input-text
              inputId="ASSIGNMENT_AGREEMENT_TABLE_GUID"
              [(ivzModel)]="model.assignmentAgreementTable_Values"
              maxlength="1000"
              [ivzConfig]="DEFAULT_INPUTTEXT"
            ></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.SETTLE_ASSIGNMENT_AMOUNT' | translate }} : </label>
            <ivz-input-number inputId="SETTLE_ASSIGNMENT_AMOUNT" [(ivzModel)]="model.settleAssignmentAmount" [ivzConfig]="CURRENCY_13_2_POS">
            </ivz-input-number>
          </div>
        </div>
      </p-fieldset>
      <p-fieldset [legend]="{ text: 'LABEL.FACTORING' | translate }.text" [toggleable]="true" *ngIf="custom.visibleFactoring">
        <div class="p-d-flex p-flex-wrap">
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.PURCHASE_AMOUNT' | translate }} : </label>
            <ivz-input-number inputId="PURCHASE_AMOUNT" [(ivzModel)]="model.purchaseAmount" [ivzConfig]="CURRENCY_13_2"> </ivz-input-number>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.PURCHASE_AMOUNT_BALANCE' | translate }} : </label>
            <ivz-input-number inputId="PURCHASE_AMOUNT_BALANCE" [(ivzModel)]="model.purchaseAmountBalance" [ivzConfig]="CURRENCY_13_2">
            </ivz-input-number>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.SETTLE_PURCHASE_AMOUNT' | translate }} : </label>
            <ivz-input-number inputId="SETTLE_PURCHASE_AMOUNT" [(ivzModel)]="model.settlePurchaseAmount" [ivzConfig]="CURRENCY_13_2">
            </ivz-input-number>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.SETTLE_RESERVE_AMOUNT' | translate }} : </label>
            <ivz-input-number inputId="SETTLE_RESERVE_AMOUNT" [(ivzModel)]="model.settleReserveAmount" [ivzConfig]="CURRENCY_13_2">
            </ivz-input-number>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label required>{{ 'LABEL.INTEREST_CALCULATION_METHOD' | translate }} : </label>
            <ivz-dropdown
              inputId="INTEREST_CALCULATION_METHOD"
              [(ivzModel)]="model.interestCalculationMethod"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="interestCalculationMethodOptions"
              required
            ></ivz-dropdown>
          </div>
        </div>
      </p-fieldset>
      <p-fieldset [legend]="{ text: 'LABEL.RETENTION' | translate }.text" [toggleable]="true" *ngIf="custom.visibleRetension">
        <div class="p-d-flex p-flex-wrap">
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.ACCUMULATE_RETENTION_AMOUNT' | translate }} : </label>
            <ivz-input-number inputId="RETENTION_AMOUNT_ACCUM" [(ivzModel)]="model.retentionAmountAccum" [ivzConfig]="CURRENCY_13_2">
            </ivz-input-number>
          </div>
        </div>
      </p-fieldset>
      <p-fieldset [legend]="{ text: 'LABEL.REFERENCE' | translate }.text" [toggleable]="true">
        <div class="p-d-flex p-flex-wrap">
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label required>{{ 'LABEL.REFERENCE_TYPE' | translate }} : </label>
            <ivz-dropdown
              inputId="REF_TYPE"
              [(ivzModel)]="model.refType"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="refTypeOptions"
              required
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label required>{{ 'LABEL.REFERENCE_ID' | translate }} : </label>
            <ivz-input-text inputId="REF_ID" [(ivzModel)]="model.refId" [ivzConfig]="ID_INPUTTEXT" required></ivz-input-text>
          </div>
        </div>
      </p-fieldset>
      <p-fieldset [legend]="{ text: 'LABEL.SYSTEM' | translate }.text" [toggleable]="true">
        <div class="p-d-flex p-flex-wrap">
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.CREATED_BY' | translate }} : </label>
            <ivz-input-text inputId="CREATED_BY" [(ivzModel)]="model.createdBy" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.CREATED_DATE_TIME' | translate }} : </label>
            <ivz-calendar inputId="CREATED_DATE_TIME" [(ivzModel)]="model.createdDateTime" [ivzConfig]="DATETIME"></ivz-calendar>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.MODIFIED_BY' | translate }} : </label>
            <ivz-input-text inputId="MODIFIED_BY" [(ivzModel)]="model.modifiedBy" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.MODIFIED_DATE_TIME' | translate }} : </label>
            <ivz-calendar inputId="MODIFIED_DATE_TIME" [(ivzModel)]="model.modifiedDateTime" [ivzConfig]="DATETIME"></ivz-calendar>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label required>{{ 'LABEL.COMPANY_ID' | translate }} : </label>
            <ivz-input-text inputId="COMPANY_ID" [(ivzModel)]="model.companyId" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label required>{{ 'LABEL.BUSINESS_UNIT_ID' | translate }} : </label>
            <ivz-input-text inputId="BUSINESS_UNIT_ID" [(ivzModel)]="model.ownerBusinessUnitId" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label required>{{ 'LABEL.OWNER' | translate }} : </label>
            <ivz-input-text inputId="OWNER" [(ivzModel)]="model.owner" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
          </div>
        </div>
      </p-fieldset>
    </p-panel-content>
    <p-footer class="ivz-panel-footer">
      <div class="p-d-flex p-jc-end">
        <ivz-button
          inputId="SAVE"
          [label]="'LABEL.SAVE' | translate"
          icon="pi pi-save"
          className="ivz-primary-btn p-m-2"
          [ivzConfig]="buttonConfig"
          (formValidate)="onSave($event)"
        ></ivz-button>
        <ivz-button
          inputId="SAVE_AND_CLOSE"
          [label]="'LABEL.SAVE_AND_CLOSE' | translate"
          icon="pi pi-times"
          className="ivz-primary-btn p-m-2"
          [ivzConfig]="buttonConfig"
          (formValidate)="onSaveAndClose($event)"
        >
        </ivz-button>
        <ivz-button
          inputId="CLOSE"
          [label]="'LABEL.CLOSE' | translate"
          icon="pi pi-power-off"
          className="ivz-primary-btn p-m-2"
          [ivzConfig]="buttonConfig"
          (click)="onClose()"
        >
        </ivz-button>
      </div>
    </p-footer>
  </p-panel>
</div>
