<div class="ivz-item-card function-s">
  <p-panel [showHeader]="true" [viewonly]="isView" class="ivz-panel">
    <p-header class="p-d-flex p-jc-between w-100">
      <div class="ivz-div-panel-title">
        <span class="ivz-panel-title p-m-2">{{ 'LABEL.ACTION_HISTORY' | translate }}</span>
      </div>
    </p-header>
    <p-panel-content class="ivz-div-panel-content">
      <div class="layout-dashboard">
        <div class="card-w-title timeline">
          <ul *ngIf="!isUndefinedOrZeroLength(model)">
            <li *ngFor="let itm of model">
              <div class="activity-link"></div>
              <div class="timeline-icon" style="background-color: #2196f3">
                <i class="pi pi-comment"></i>
              </div>
              <div class="timeline-content">
                <h3>{{ itm.createdBy }}</h3>
                <p [innerText]="itm.displayContent" style="white-space: pre-line"></p>
                <div class="timeline-footer">
                  <i class="pi pi-clock"></i><span>{{ itm.createdDateTime }}</span>
                </div>
              </div>
            </li>
          </ul>
          <ul *ngIf="isUndefinedOrZeroLength(model)">
            <li>
              <div class="activity-link"></div>
              <div class="timeline-icon" style="background-color: #2196f3">
                <i class="pi pi-comment"></i>
              </div>
              <div class="timeline-content">
                <h3></h3>
                <p [innerText]="'LABEL.NO_ITEM_AVAILABLE' | translate"></p>
                <div class="timeline-footer"><i class="pi pi-clock"></i><span></span></div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </p-panel-content>
    <p-footer class="ivz-panel-footer">
      <div class="p-d-flex p-jc-end">
        <ivz-button
          [label]="'LABEL.CLOSE' | translate"
          icon="pi pi-power-off"
          className="ivz-primary-btn p-m-2"
          [ivzConfig]="buttonConfig"
          (click)="onClose()"
        >
        </ivz-button>
      </div>
    </p-footer>
  </p-panel>
</div>
