<div class="ivz-item-card function-l">
  <p-panel [showHeader]="true" [viewonly]="isView" class="ivz-panel">
    <p-header class="p-d-flex p-jc-between w-100">
      <div class="ivz-div-panel-title">
        <span class="ivz-panel-title p-m-2">{{ 'LABEL.REPORT_WITHDRAWAL_TERM_EXTENSION' | translate }}</span>
      </div>
    </p-header>
    <p-panel-content class="ivz-div-panel-content">
      <div class="w-100" *ngIf="isViewBody">
        <p-fieldset [legend]="{ text: 'LABEL.PARAMETER' | translate }.text" [toggleable]="true">
          <div class="p-d-flex p-flex-wrap">
            <div class="p-d-flex p-flex-column ele-box-w-50">
              <label required>{{ 'LABEL.FROM_DUE_DATE' | translate }} : </label>
              <ivz-calendar inputId="FROM_DUE_DATE" [(ivzModel)]="model.fromDueDate" [ivzConfig]="DATE" required></ivz-calendar>
            </div>
            <div class="p-d-flex p-flex-column ele-box-w-50">
              <label required>{{ 'LABEL.TO_DUE_DATE' | translate }} : </label>
              <ivz-calendar inputId="TO_DUE_DATE" [(ivzModel)]="model.toDueDate" [ivzConfig]="DATE" required></ivz-calendar>
            </div>
            <div class="p-d-flex p-flex-column ele-box-w-50">
              <label>{{ 'LABEL.FROM_WITHDRAWAL_DATE' | translate }} : </label>
              <ivz-calendar inputId="FROM_WITHDRAWAL_DATE" [(ivzModel)]="model.fromWithdrawalDate" [ivzConfig]="DATE"></ivz-calendar>
            </div>
            <div class="p-d-flex p-flex-column ele-box-w-50">
              <label>{{ 'LABEL.TO_WITHDRAWAL_DATE' | translate }} : </label>
              <ivz-calendar inputId="TO_WITHDRAWAL_DATE" [(ivzModel)]="model.toWithdrawalDate" [ivzConfig]="DATE"></ivz-calendar>
            </div>
            <div class="p-d-flex p-flex-column ele-box-w-100">
              <label required>{{ 'LABEL.CUSTOMER_ID' | translate }} : </label>
              <ivz-multi-select
                inputId="CUSTOMER_TABLE_GUID"
                [ivzConfig]="DEFAULT_MULTISELECT"
                [(ivzModel)]="model.customerTableGUID"
                [options]="customerTableOptions"
                required
              ></ivz-multi-select>
            </div>
            <div class="p-d-flex p-flex-column ele-box-w-100">
              <label required>{{ 'LABEL.BUYER_ID' | translate }} : </label>
              <ivz-multi-select
                inputId="BUYER_TABLE_GUID"
                [ivzConfig]="DEFAULT_MULTISELECT"
                [(ivzModel)]="model.buyerTableGUID"
                [options]="buyerTableOptions"
                required
              ></ivz-multi-select>
            </div>
            <div class="p-d-flex p-flex-column ele-box-w-100">
              <label required>{{ 'LABEL.STATUS' | translate }} : </label>
              <ivz-multi-select
                inputId="DOCUMENT_STATUS_GUID"
                [ivzConfig]="DEFAULT_MULTISELECT"
                [(ivzModel)]="model.documentStatusGUID"
                [options]="documentStatusOptions"
                required
              ></ivz-multi-select>
            </div>
            <div class="p-d-flex p-flex-column ele-box-w-100">
              <label>{{ 'LABEL.SHOW_OUTSTANDING_ONLY' | translate }} : </label>
              <ivz-input-switch inputId="SHOW_OUTSTANDING_ONLY" [(ivzModel)]="model.showOutstandingOnly"></ivz-input-switch>
            </div>
          </div>
        </p-fieldset>
      </div>
      <div class="w-100">
        <ivz-report-form [parameter]="parameters" (reportReady)="onReportReady($event)" [isExportToExcel]="true"></ivz-report-form>
      </div>
    </p-panel-content>
    <p-footer class="ivz-panel-footer">
      <div class="p-d-flex p-jc-end">
        <ivz-button
          *ngIf="isViewBody"
          inputId="OK"
          [label]="'LABEL.OK' | translate"
          icon="pi pi-times"
          className="ivz-primary-btn p-m-2"
          [ivzConfig]="buttonConfig"
          (formValidate)="onSaveAndClose($event)"
        >
        </ivz-button>
        <ivz-button
          inputId="CLOSE"
          [label]="'LABEL.CLOSE' | translate"
          icon="pi pi-power-off"
          className="ivz-primary-btn p-m-2"
          [ivzConfig]="buttonConfig"
          (click)="onClose()"
        >
        </ivz-button>
      </div>
    </p-footer>
  </p-panel>
</div>
