<div class="ivz-item-card function-l">
  <p-panel [showHeader]="true" [viewonly]="isView" class="ivz-panel">
    <p-header class="p-d-flex p-jc-between w-100">
      <div class="ivz-div-panel-title">
        <span class="ivz-panel-title p-m-2">{{ 'LABEL.PRINT_PURCHASE' | translate }}</span>
      </div>
    </p-header>
    <p-panel-content class="ivz-div-panel-content">
      <div class="w-100" *ngIf="isViewBody">
        <p-fieldset [legend]="{ text: 'LABEL.GENERAL' | translate }.text" [toggleable]="true">
          <div class="p-d-flex p-flex-wrap">
            <div class="p-d-flex p-flex-column ele-box-w-25">
              <label>{{ 'LABEL.PURCHASE_ID' | translate }} : </label>
              <ivz-input-text inputId="PURCHASE_ID" [(ivzModel)]="model.purchaseId" [ivzConfig]="ID_INPUTTEXT"></ivz-input-text>
            </div>
            <div class="p-d-flex p-flex-column ele-box-w-25">
              <label>{{ 'LABEL.PURCHASE_DATE' | translate }} : </label>
              <ivz-calendar inputId="PURCHASE_DATE" [(ivzModel)]="model.purchaseDate" [ivzConfig]="DATE"></ivz-calendar>
            </div>
            <div class="p-d-flex p-flex-column ele-box-w-50">
              <label>{{ 'LABEL.STATUS' | translate }} : </label>
              <ivz-input-text inputId="DOCUMENT_STATUS" [(ivzModel)]="model.documentStatus" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
            </div>
            <div class="p-d-flex p-flex-column ele-box-w-50">
              <label>{{ 'LABEL.CUSTOMER_ID' | translate }} : </label>
              <ivz-input-text inputId="CUSTOMER_ID" [(ivzModel)]="model.customerId" maxlength="150" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
            </div>
            <div class="p-d-flex p-flex-column ele-box-w-25">
              <label>{{ 'LABEL.ROLL_BILL' | translate }} : </label>
              <ivz-input-switch inputId="ROLLBILL" [(ivzModel)]="model.rollbill"></ivz-input-switch>
            </div>
            <div class="p-d-flex p-flex-column ele-box-w-25">
              <label>{{ 'LABEL.ADDITIONAL_PURCHASE' | translate }} : </label>
              <ivz-input-switch inputId="ADDITIONAL_PURCHASE" [(ivzModel)]="model.additionalPurchase"></ivz-input-switch>
            </div>
          </div>
        </p-fieldset>
      </div>
      <div class="w-100">
        <ivz-report-form [parameter]="parameters" (reportReady)="onReportReady($event)"></ivz-report-form>
      </div>
    </p-panel-content>
    <p-footer class="ivz-panel-footer">
      <div class="p-d-flex p-jc-end">
        <ivz-button
          *ngIf="isViewBody"
          inputId="OK"
          [label]="'LABEL.OK' | translate"
          icon="pi pi-times"
          className="ivz-primary-btn p-m-2"
          [ivzConfig]="buttonConfig"
          (formValidate)="onSaveAndClose($event)"
        >
        </ivz-button>
        <ivz-button
          inputId="CLOSE"
          [label]="'LABEL.CLOSE' | translate"
          icon="pi pi-power-off"
          className="ivz-primary-btn p-m-2"
          [ivzConfig]="buttonConfig"
          (click)="onClose()"
        >
        </ivz-button>
      </div>
    </p-footer>
  </p-panel>
</div>
