<div class="ivz-item-card function-m">
  <p-panel [showHeader]="true" [viewonly]="isView" class="ivz-panel">
    <p-header class="p-d-flex p-jc-between w-100">
      <div class="ivz-div-panel-title">
        <span class="ivz-panel-title p-m-2">{{ 'LABEL.UPDATE_STATUS_AMEND_BUYER_INFORMATION' | translate }}</span>
      </div>
    </p-header>
    <p-panel-content class="ivz-div-panel-content">
      <p-fieldset [legend]="{ text: 'LABEL.GENERAL' | translate }.text" [toggleable]="true">
        <div class="p-d-flex p-flex-wrap">
          <div class="p-d-flex p-flex-column ele-box-w-100">
            <label>{{ 'LABEL.CREDIT_APPLICATION_REQUEST_ID' | translate }} : </label>
            <ivz-input-text inputId="CREDIT_APP_REQUEST_ID" [(ivzModel)]="model.creditAppRequestId" [ivzConfig]="ID_INPUTTEXT"></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-100">
            <label>{{ 'LABEL.DESCRIPTION' | translate }} : </label>
            <ivz-input-text inputId="DESCRIPTION" [(ivzModel)]="model.description" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-100">
            <label>{{ 'LABEL.CREDIT_APPLICATION_REQUEST_TYPE' | translate }} : </label>
            <ivz-dropdown
              inputId="CREDIT_APP_REQUEST_TYPE"
              [(ivzModel)]="model.creditAppRequestType"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="creditAppRequestTypeOptions"
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-100">
            <label>{{ 'LABEL.CUSTOMER_ID' | translate }} : </label>
            <ivz-input-text inputId="CUSTOMER_ID" [(ivzModel)]="model.customerId" maxlength="1000" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label required>{{ 'LABEL.APPROVED_DATE' | translate }} : </label>
            <ivz-calendar inputId="APPROVED_DATE" [(ivzModel)]="model.approvedDate" [ivzConfig]="DATE" required></ivz-calendar>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label required>{{ 'LABEL.APPROVAL_RESULT' | translate }} : </label>
            <ivz-dropdown
              inputId="APPROVAL_DECISION"
              [(ivzModel)]="model.approvalDecision"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="approvalDecisionOptions"
              required
            ></ivz-dropdown>
          </div>
        </div>
      </p-fieldset>
    </p-panel-content>
    <p-footer class="ivz-panel-footer">
      <div class="p-d-flex p-jc-end">
        <ivz-button
          inputId="OK"
          [label]="'LABEL.OK' | translate"
          icon="pi pi-times"
          className="ivz-primary-btn p-m-2"
          [ivzConfig]="buttonConfig"
          (formValidate)="onSaveAndClose($event)"
        >
        </ivz-button>
        <ivz-button
          inputId="CANCEL"
          [label]="'LABEL.CANCEL' | translate"
          icon="pi pi-power-off"
          className="ivz-primary-btn p-m-2"
          [ivzConfig]="buttonConfig"
          (click)="onClose()"
        >
        </ivz-button>
      </div>
    </p-footer>
  </p-panel>
</div>
