<!-- <p-panel [showHeader]="true" [viewonly]="isView" class="ivz-panel"> -->
<!-- <p-panel-content class="ivz-div-panel-content"> -->
<p-fieldset [legend]="{ text: 'LABEL.GENERAL' | translate }.text" [toggleable]="true">
  <div class="p-d-flex p-flex-wrap">
    <div class="p-d-flex p-flex-column ele-box-w-50">
      <label [required]="custom.isRequired">{{ 'LABEL.USER_NAME' | translate }} : </label>

      <ivz-dropdown
        inputId="USER_NAME"
        [options]="adUserNameOptions"
        (ivzModelChange)="onUserNameChange($event)"
        [(ivzModel)]="model.userName"
        [ivzConfig]="DEFAULT_DROPDOWN"
        [required]="custom.isRequired"
      ></ivz-dropdown>
    </div>
    <div class="p-d-flex p-flex-column ele-box-w-50">
      <label>{{ 'LABEL.NAME' | translate }} : </label>
      <ivz-input-text inputId="NAME" (ivzModelChange)="onModelChange($event)" [(ivzModel)]="model.name"></ivz-input-text>
    </div>
    <div class="p-d-flex p-flex-column ele-box-w-50">
      <label>{{ 'LABEL.EMAIL' | translate }} : </label>
      <ivz-input-text inputId="EMAIL" (ivzModelChange)="onEmailChange($event)" [(ivzModel)]="model.email"></ivz-input-text>
    </div>
    <div class="p-d-flex p-flex-column ele-box-w-50">
      <label>{{ 'LABEL.PHONE_NUMBER' | translate }} : </label>
      <ivz-input-text inputId="PHONE_NUMBER" (ivzModelChange)="onModelChange($event)" [(ivzModel)]="model.phoneNumber"></ivz-input-text>
    </div>

    <div class="p-d-flex p-flex-column ele-box-w-50">
      <label>{{ 'LABEL.IN_ACTIVE' | translate }} : </label>
      <!-- <p-inputSwitch id="IN_ACTIVE" [readonly]="getReadonly([ordinal.Second], 'IN_ACTIVE')" [(ngModel)]="model.inActive"> </p-inputSwitch> -->
      <ivz-input-switch inputId="IN_ACTIVE" [(ivzModel)]="model.inActive"></ivz-input-switch>
    </div>
  </div>
</p-fieldset>
<p-fieldset [legend]="{ text: 'LABEL.SETUP' | translate }.text" [toggleable]="true">
  <div class="p-d-flex p-flex-wrap">
    <div class="p-d-flex p-flex-column ele-box-w-50">
      <label>{{ 'LABEL.LANGUAGE' | translate }} : </label>
      <ivz-dropdown
        inputId="LANGUAGE"
        [options]="sysLanguageOptions"
        (ivzModelChange)="onModelChange($event)"
        [(ivzModel)]="model.languageId"
        [ivzConfig]="DEFAULT_DROPDOWN"
      ></ivz-dropdown>
    </div>
  </div>
</p-fieldset>
<p-fieldset [legend]="{ text: 'LABEL.SYSTEM' | translate }.text" [toggleable]="true">
  <div class="p-d-flex p-flex-wrap">
    <div class="p-d-flex p-flex-column ele-box-w-25">
      <label>{{ 'LABEL.CREATED_BY' | translate }} : </label>
      <ivz-input-text inputId="CREATED_BY" [(ivzModel)]="model.createdBy" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
    </div>
    <div class="p-d-flex p-flex-column ele-box-w-25">
      <label>{{ 'LABEL.CREATED_DATE_TIME' | translate }} : </label>
      <ivz-calendar inputId="CREATED_DATE_TIME" [(ivzModel)]="model.createdDateTime" [ivzConfig]="DATETIME"></ivz-calendar>
    </div>
    <div class="p-d-flex p-flex-column ele-box-w-25">
      <label>{{ 'LABEL.MODIFIED_BY' | translate }} : </label>
      <ivz-input-text inputId="MODIFIED_BY" [(ivzModel)]="model.modifiedBy" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
    </div>
    <div class="p-d-flex p-flex-column ele-box-w-25">
      <label>{{ 'LABEL.MODIFIED_DATE_TIME' | translate }} : </label>
      <ivz-calendar inputId="MODIFIED_DATE_TIME" [(ivzModel)]="model.modifiedDateTime" [ivzConfig]="DATETIME"></ivz-calendar>
    </div>
  </div>
</p-fieldset>
<!-- </p-panel-content> -->
<!-- </p-panel> -->
