<div class="ivz-item-card function-m">
  <p-panel [showHeader]="true" [viewonly]="isView" class="ivz-panel">
    <p-header class="p-d-flex p-jc-between w-100">
      <div class="ivz-div-panel-title">
        <span class="ivz-panel-title p-m-2">{{ 'LABEL.ADDITIONAL_PURCHASE' | translate }}</span>
      </div>
    </p-header>
    <p-panel-content class="ivz-div-panel-content">
      <p-fieldset [legend]="{ text: 'LABEL.REFERENCE' | translate }.text" [toggleable]="true">
        <div class="p-d-flex p-flex-wrap">
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.REFERENCE_PURCHASE_ID' | translate }} : </label>
            <ivz-input-text
              inputId="REF_PURCHASE_ID"
              [(ivzModel)]="model.refPurchaseId"
              maxlength="150"
              [ivzConfig]="DEFAULT_INPUTTEXT"
            ></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.REFERENCE_PURCHASE_DATE' | translate }} : </label>
            <ivz-calendar inputId="REF_PURCHASE_DATE" [(ivzModel)]="model.refPurchaseDate" [ivzConfig]="DATE"></ivz-calendar>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.REFERENCE_DUE_DATE' | translate }} : </label>
            <ivz-calendar inputId="REF_DUE_DATE" [(ivzModel)]="model.refDueDate" [ivzConfig]="DATE"></ivz-calendar>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.REFERENCE_PURCHASE_PCT' | translate }} : </label>
            <ivz-input-number inputId="REF_PURCHASE_PCT" [(ivzModel)]="model.refPurchasePct" [ivzConfig]="PERCENT_10_7_POS"> </ivz-input-number>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.REFERENCE_PURCHASE_AMOUNT' | translate }} : </label>
            <ivz-input-number inputId="REF_PURCHASE_AMOUNT" [(ivzModel)]="model.refPurchaseAmount" [ivzConfig]="CURRENCY_13_2"> </ivz-input-number>
          </div>
        </div>
      </p-fieldset>
      <p-fieldset [legend]="{ text: 'LABEL.ADDITIONAL' | translate }.text" [toggleable]="true">
        <div class="p-d-flex p-flex-wrap">
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label required>{{ 'LABEL.PURCHASE_DATE' | translate }} : </label>
            <ivz-calendar
              inputId="PURCHASE_DATE"
              [(ivzModel)]="model.purchaseDate"
              [ivzConfig]="DATE"
              required
              [ivzValidation]="custom.onValidatePurchaseDate(model)"
            ></ivz-calendar>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label required>{{ 'LABEL.DUE_DATE' | translate }} : </label>
            <ivz-calendar
              inputId="DUE_DATE"
              [(ivzModel)]="model.dueDate"
              [ivzConfig]="DATE"
              required
              [ivzValidation]="custom.onValidateDueDate(model)"
            ></ivz-calendar>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label required>{{ 'LABEL.LINE_PURCHASE_PCT' | translate }} : </label>
            <ivz-input-number
              inputId="LINE_PURCHASE_PCT"
              [(ivzModel)]="model.linePurchasePct"
              [ivzConfig]="PERCENT_10_7_POS"
              required
              (ivzModelChange)="onLinePurchasePctChange($event)"
              [ivzValidation]="custom.onValidateMaxPurchasePct(model)"
            >
            </ivz-input-number>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label required>{{ 'LABEL.DESCRIPTION' | translate }} : </label>
            <ivz-input-text inputId="DESCRIPTION" [(ivzModel)]="model.description" [ivzConfig]="DEFAULT_INPUTTEXT" required></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.PURCHASE_PCT' | translate }} : </label>
            <ivz-input-number inputId="PURCHASE_PCT" [(ivzModel)]="model.purchasePct" [ivzConfig]="PERCENT_10_7_POS"> </ivz-input-number>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.LINE_PURCHASE_AMOUNT' | translate }} : </label>
            <ivz-input-number inputId="LINE_PURCHASE_AMOUNT" [(ivzModel)]="model.linePurchaseAmount" [ivzConfig]="CURRENCY_13_2"> </ivz-input-number>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.PURCHASE_AMOUNT' | translate }} : </label>
            <ivz-input-number inputId="PURCHASE_AMOUNT" [(ivzModel)]="model.purchaseAmount" [ivzConfig]="CURRENCY_13_2"> </ivz-input-number>
          </div>
        </div>
      </p-fieldset>
    </p-panel-content>
    <p-footer class="ivz-panel-footer">
      <div class="p-d-flex p-jc-end">
        <ivz-button
          inputId="OK"
          [label]="'LABEL.OK' | translate"
          icon="pi pi-times"
          className="ivz-primary-btn p-m-2"
          [ivzConfig]="buttonConfig"
          (formValidate)="onSaveAndClose($event)"
        >
        </ivz-button>
        <ivz-button
          inputId="CANCEL"
          [label]="'LABEL.CANCEL' | translate"
          icon="pi pi-power-off"
          className="ivz-primary-btn p-m-2"
          [ivzConfig]="buttonConfig"
          (click)="onClose()"
        >
        </ivz-button>
      </div>
    </p-footer>
  </p-panel>
</div>
