<div class="ivz-item-card function-l">
  <p-panel [showHeader]="true" [viewonly]="isView" class="ivz-panel">
    <p-header class="p-d-flex p-jc-between w-100">
      <div class="ivz-div-panel-title">
        <span class="ivz-panel-title p-m-2">{{ 'LABEL.UPDATE_CUSTOMER_STATUS' | translate }}</span>
      </div>
    </p-header>
    <p-panel-content class="ivz-div-panel-content">
      <div class="p-d-flex p-flex-wrap">
        <div class="p-d-flex p-flex-column ele-box-w-25">
          <label>{{ 'LABEL.CUSTOMER_ID' | translate }} : </label>
          <ivz-input-text inputId="CUSTOMER_ID" [(ivzModel)]="model.customerTableId" [ivzConfig]="ID_INPUTTEXT"></ivz-input-text>
        </div>
        <div class="p-d-flex p-flex-column ele-box-w-25">
          <label>{{ 'LABEL.ORIGINAL_STATUS_ID' | translate }} : </label>
          <ivz-input-text inputId="ORIGINAL_STATUS_ID" [(ivzModel)]="model.originalDocumentStatus" [ivzConfig]="ID_INPUTTEXT"></ivz-input-text>
        </div>
        <div class="p-d-flex p-flex-column ele-box-w-25">
          <label required>{{ 'LABEL.NEW_STATUS_ID' | translate }} : </label>
          <ivz-dropdown
            inputId="NEW_STATUS_ID"
            [(ivzModel)]="model.documentStatusGUID"
            [ivzConfig]="DEFAULT_DROPDOWN"
            [options]="documentStatusOptions"
            [ivzValidation]="getDocumentStatusValidation()"
            required
          ></ivz-dropdown>
        </div>
      </div>
    </p-panel-content>
    <p-footer class="ivz-panel-footer">
      <div class="p-d-flex p-jc-end">
        <ivz-button
          inputId="OK"
          [label]="'LABEL.OK' | translate"
          icon="pi pi-times"
          className="ivz-primary-btn p-m-2"
          [ivzConfig]="buttonConfig"
          (formValidate)="onSaveAndClose($event)"
        >
        </ivz-button>
        <ivz-button
          inputId="CANCEL"
          [label]="'LABEL.CANCEL' | translate"
          icon="pi pi-power-off"
          className="ivz-primary-btn p-m-2"
          [ivzConfig]="buttonConfig"
          (click)="onClose()"
        >
        </ivz-button>
      </div>
    </p-footer>
  </p-panel>
</div>
