<div class="ivz-item-card">
  <p-panel [showHeader]="true" [viewonly]="isView" class="ivz-panel">
    <p-header class="p-d-flex p-jc-between w-100">
      <div class="ivz-div-panel-title">
        <span class="ivz-panel-title p-m-2">{{ 'LABEL.RELATED_PERSON__ORGANIZATION' | translate }}</span>
      </div>
      <div class="ivz-div-panel-btn-group">
        <p-tieredMenu id="MENURELATED" #related [model]="relatedInfoItems" [popup]="true"> </p-tieredMenu>
        <p-button
          id="RELATED_INFO"
          #btnfn
          type="button"
          icon="pi pi-share-alt"
          (click)="related.toggle($event); function.hide(); group.hide()"
          [label]="'LABEL.RELATED_INFO' | translate"
          styleClass="p-button-text"
        >
        </p-button>
        <p-tieredMenu id="MENUFUNCTION" #function [model]="functionItems" [popup]="true"> </p-tieredMenu>
        <p-button
          id="FUNCTION"
          #btnfn
          type="button"
          icon="pi pi-cog"
          (click)="function.toggle($event); related.hide(); group.hide()"
          [label]="'LABEL.FUNCTION' | translate"
          styleClass="p-button-text"
        ></p-button>
        <p-tieredMenu id="MENUGROUP" #group [model]="itemsGroup" [popup]="true"> </p-tieredMenu>
        <p-button
          id="GROUP"
          #btnfn
          type="button"
          icon="pi pi-list"
          (click)="group.toggle($event); function.hide(); related.hide()"
          [label]="'LABEL.GROUP' | translate"
          styleClass="p-button-text"
        ></p-button>
      </div>
    </p-header>
    <p-panel-content class="ivz-div-panel-content">
      <p-fieldset [legend]="{ text: 'LABEL.GENERAL' | translate }.text" [toggleable]="true">
        <div class="p-d-flex p-flex-wrap">
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label [required]="custom.isManunal">{{ 'LABEL.RELATED_PERSON_ID' | translate }} : </label>
            <ivz-input-text
              inputId="RELATED_PERSON_ID"
              [(ivzModel)]="model.relatedPersonId"
              [ivzConfig]="ID_INPUTTEXT"
              [required]="custom.isManunal"
            ></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label required>{{ 'LABEL.NAME' | translate }} : </label>
            <ivz-input-text inputId="NAME" [(ivzModel)]="model.name" [ivzConfig]="DEFAULT_INPUTTEXT" required></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.OPERATED_BY' | translate }} : </label>
            <ivz-input-text inputId="OPERATED_BY" [(ivzModel)]="model.operatedBy" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label required>{{ 'LABEL.RECORD_TYPE' | translate }} : </label>
            <ivz-dropdown
              inputId="RECORD_TYPE"
              [(ivzModel)]="model.recordType"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="recordTypeOptions"
              (ivzModelChange)="onRecoedTypeChange($event)"
              (ivzBindingChange)="onRecordTypeBinding($event)"
              required
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.BACKGROUND_SUMMARY' | translate }} : </label>
            <ivz-textarea inputId="BACKGROUND_SUMMARY" [(ivzModel)]="model.backgroundSummary" [ivzConfig]="DEFAULT_TEXTAREA"> </ivz-textarea>
          </div>
        </div>
      </p-fieldset>
      <p-fieldset [legend]="{ text: 'LABEL.TAX_INFORMATION' | translate }.text" [toggleable]="true">
        <div class="p-d-flex p-flex-wrap">
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label required>{{ 'LABEL.IDENTIFICATION_TYPE' | translate }} : </label>
            <ivz-dropdown
              inputId="IDENTIFICATION_TYPE"
              [(ivzModel)]="model.identificationType"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="identificationTypeOptions"
              (ivzModelChange)="onIdentificationTypeChange($event)"
              (ivzBindingChange)="onIdentificationTypeBinding($event)"
              required
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.TAX_ID' | translate }} : </label>
            <ivz-input-text inputId="TAX_ID" [(ivzModel)]="model.taxId" [ivzConfig]="TAX_ID_INPUTTEXT"></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.PASSPORT_ID' | translate }} : </label>
            <ivz-input-text inputId="PASSPORT_ID" [(ivzModel)]="model.passportId" [ivzConfig]="ID_INPUTTEXT"></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.WORK_PERMIT_ID' | translate }} : </label>
            <ivz-input-text inputId="WORK_PERMIT_ID" [(ivzModel)]="model.workPermitId" [ivzConfig]="ID_INPUTTEXT"></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.DATE_OF_ISSUE' | translate }} : </label>
            <ivz-calendar inputId="DATE_OF_ISSUE" [(ivzModel)]="model.dateOfIssue" [ivzConfig]="DATE"></ivz-calendar>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.ISSUED_BY' | translate }} : </label>
            <ivz-input-text inputId="ISSUED_BY" [(ivzModel)]="model.issuedBy" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.DATE_OF_EXPIRY' | translate }} : </label>
            <ivz-calendar inputId="DATE_OF_EXPIRY" [(ivzModel)]="model.dateOfExpiry" [ivzConfig]="DATE"></ivz-calendar>
          </div>
        </div>
      </p-fieldset>
      <p-fieldset [legend]="{ text: 'LABEL.PERSONAL_INFORMATION' | translate }.text" [toggleable]="true">
        <div class="p-d-flex p-flex-wrap">
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.DATE_OF_BIRTH' | translate }} : </label>
            <ivz-calendar
              inputId="DATE_OF_BIRTH"
              [(ivzModel)]="model.dateOfBirth"
              [ivzConfig]="DATE"
              [ivzValidation]="onDateOfBirthChange(model.dateOfBirth)"
            ></ivz-calendar>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.AGE' | translate }} : </label>
            <ivz-input-number inputId="AGE" [(ivzModel)]="model.age" [ivzConfig]="CURRENCY_13_2"></ivz-input-number>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.NATIONALITY_ID' | translate }} : </label>
            <ivz-dropdown
              inputId="NATIONALITY_GUID"
              [(ivzModel)]="model.nationalityGUID"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="nationalityOptions"
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.RACE_ID' | translate }} : </label>
            <ivz-dropdown inputId="RACE_GUID" [(ivzModel)]="model.raceGUID" [ivzConfig]="DEFAULT_DROPDOWN" [options]="raceOptions"></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.GENDER_ID' | translate }} : </label>
            <ivz-dropdown
              inputId="GENDER_GUID"
              [(ivzModel)]="model.genderGUID"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="genderOptions"
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.MARITAL_STATUS_ID' | translate }} : </label>
            <ivz-dropdown
              inputId="MARITAL_STATUS_GUID"
              [(ivzModel)]="model.maritalStatusGUID"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="maritalStatusOptions"
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.SPOUSE_NAME' | translate }} : </label>
            <ivz-input-text inputId="SPOUSE_NAME" [(ivzModel)]="model.spouseName" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.OCCUPATION_ID' | translate }} : </label>
            <ivz-dropdown
              inputId="OCCUPATION_GUID"
              [(ivzModel)]="model.occupationGUID"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="occupationOptions"
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.POSITION' | translate }} : </label>
            <ivz-input-text inputId="POSITION" [(ivzModel)]="model.position" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.WORK_EXPERIENCE_YEAR' | translate }} : </label>
            <ivz-input-number inputId="WORK_EXPERIENCE_YEAR" [(ivzModel)]="model.workExperienceYear" [ivzConfig]="INTEGER"></ivz-input-number>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.WORK_EXPERIENCE_MONTH' | translate }} : </label>
            <ivz-input-number inputId="WORK_EXPERIENCE_MONTH" [(ivzModel)]="model.workExperienceMonth" [ivzConfig]="INTEGER"></ivz-input-number>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.COMPANY_NAME' | translate }} : </label>
            <ivz-input-text inputId="COMPANY_NAME" [(ivzModel)]="model.companyName" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label require>{{ 'LABEL.INCOME' | translate }} : </label>
            <ivz-input-number inputId="INCOME" [(ivzModel)]="model.income" [ivzConfig]="CURRENCY_13_2"> </ivz-input-number>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.OTHER_SOURCE_INCOME' | translate }} : </label>
            <ivz-input-text inputId="OTHER_SOURCE_INCOME" [(ivzModel)]="model.otherSourceIncome" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.OTHER_INCOME' | translate }} : </label>
            <ivz-input-number inputId="OTHER_INCOME" [(ivzModel)]="model.otherIncome" [ivzConfig]="CURRENCY_13_2"> </ivz-input-number>
          </div>
        </div>
      </p-fieldset>
      <p-fieldset [legend]="{ text: 'LABEL.CONTACT_INFORMATION' | translate }.text" [toggleable]="true">
        <div class="p-d-flex p-flex-wrap">
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.PHONE' | translate }} : </label>
            <ivz-input-text inputId="PHONE" [(ivzModel)]="model.phone" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.EXTENSION' | translate }} : </label>
            <ivz-input-text inputId="EXTENSION" [(ivzModel)]="model.extension" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.MOBILE' | translate }} : </label>
            <ivz-input-text inputId="MOBILE" [(ivzModel)]="model.mobile" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.FAX' | translate }} : </label>
            <ivz-input-text inputId="FAX" [(ivzModel)]="model.fax" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.EMAIL' | translate }} : </label>
            <ivz-input-text inputId="EMAIL" [(ivzModel)]="model.email" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.LINE_ID' | translate }} : </label>
            <ivz-input-text inputId="LINE_ID" [(ivzModel)]="model.lineId" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
          </div>
        </div>
      </p-fieldset>
      <p-fieldset [legend]="{ text: 'LABEL.REGISTRATION' | translate }.text" [toggleable]="true">
        <div class="p-d-flex p-flex-wrap">
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.REGISTRATION_TYPE_ID' | translate }} : </label>
            <ivz-dropdown
              inputId="REGISTRATION_TYPE_GUID"
              [(ivzModel)]="model.registrationTypeGUID"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="registrationTypeOptions"
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.DATE_OF_ESTABLISHMENT' | translate }} : </label>
            <ivz-calendar inputId="DATE_OF_ESTABLISHMENT" [(ivzModel)]="model.dateOfEstablishment" [ivzConfig]="DATE"></ivz-calendar>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.PAID-UP_CAPITAL' | translate }} : </label>
            <ivz-input-number inputId="PAID_UP_CAPITAL" [(ivzModel)]="model.paidUpCapital" [ivzConfig]="CURRENCY_13_2"> </ivz-input-number>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.REGISTERED_CAPITAL' | translate }} : </label>
            <ivz-input-number inputId="REGISTERED_CAPITAL" [(ivzModel)]="model.registeredCapital" [ivzConfig]="CURRENCY_13_2"> </ivz-input-number>
          </div>
        </div>
      </p-fieldset>
      <p-fieldset [legend]="{ text: 'LABEL.SYSTEM' | translate }.text" [toggleable]="true">
        <div class="p-d-flex p-flex-wrap">
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.CREATED_BY' | translate }} : </label>
            <ivz-input-text inputId="CREATED_BY" [(ivzModel)]="model.createdBy" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.CREATED_DATE_TIME' | translate }} : </label>
            <ivz-calendar inputId="CREATED_DATE_TIME" [(ivzModel)]="model.createdDateTime" [ivzConfig]="DATETIME"></ivz-calendar>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.MODIFIED_BY' | translate }} : </label>
            <ivz-input-text inputId="MODIFIED_BY" [(ivzModel)]="model.modifiedBy" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.MODIFIED_DATE_TIME' | translate }} : </label>
            <ivz-calendar inputId="MODIFIED_DATE_TIME" [(ivzModel)]="model.modifiedDateTime" [ivzConfig]="DATETIME"></ivz-calendar>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label required>{{ 'LABEL.COMPANY_ID' | translate }} : </label>
            <ivz-input-text inputId="COMPANY_ID" [(ivzModel)]="model.companyId" [ivzConfig]="DEFAULT_INPUTTEXT" required></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label required>{{ 'LABEL.BUSINESS_UNIT_ID' | translate }} : </label>
            <ivz-input-text
              inputId="BUSINESS_UNIT_ID"
              [(ivzModel)]="model.ownerBusinessUnitId"
              [ivzConfig]="DEFAULT_INPUTTEXT"
              required
            ></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label required>{{ 'LABEL.OWNER' | translate }} : </label>
            <ivz-input-text inputId="OWNER" [(ivzModel)]="model.owner" [ivzConfig]="DEFAULT_INPUTTEXT" required></ivz-input-text>
          </div>
        </div>
      </p-fieldset>
    </p-panel-content>
    <p-footer class="ivz-panel-footer">
      <div class="p-d-flex p-jc-end">
        <ivz-button
          inputId="SAVE"
          [label]="'LABEL.SAVE' | translate"
          icon="pi pi-save"
          className="ivz-primary-btn p-m-2"
          [ivzConfig]="buttonConfig"
          (formValidate)="onSave($event)"
        ></ivz-button>
        <ivz-button
          inputId="SAVE_AND_CLOSE"
          [label]="'LABEL.SAVE_AND_CLOSE' | translate"
          icon="pi pi-times"
          className="ivz-primary-btn p-m-2"
          [ivzConfig]="buttonConfig"
          (formValidate)="onSaveAndClose($event)"
        >
        </ivz-button>
        <ivz-button
          inputId="CLOSE"
          [label]="'LABEL.CLOSE' | translate"
          icon="pi pi-power-off"
          className="ivz-primary-btn p-m-2"
          [ivzConfig]="buttonConfig"
          (click)="onClose()"
        >
        </ivz-button>
      </div>
    </p-footer>
  </p-panel>
</div>
