<div class="ivz-item-card">
  <p-panel [showHeader]="true" [viewonly]="isView" class="ivz-panel">
    <p-header class="p-d-flex p-jc-between w-100">
      <div class="ivz-div-panel-title">
        <span class="ivz-panel-title p-m-2">{{ 'LABEL.BATCH_VIEW' | translate }}</span>
      </div>
      <div class="ivz-div-panel-btn-group">
        <p-tieredMenu id="MENURELATED" #related [model]="relatedInfoItems" [popup]="true"> </p-tieredMenu>
        <p-button
          id="RELATED_INFO"
          #btnfn
          type="button"
          icon="pi pi-share-alt"
          (click)="related.toggle($event); function.hide(); group.hide()"
          [label]="'LABEL.RELATED_INFO' | translate"
          styleClass="p-button-text"
        >
        </p-button>
        <p-tieredMenu id="MENUFUNCTION" #function [model]="functionItems" [popup]="true"> </p-tieredMenu>
        <p-button
          id="FUNCTION"
          #btnfn
          type="button"
          icon="pi pi-cog"
          (click)="function.toggle($event); related.hide(); group.hide()"
          [label]="'LABEL.FUNCTION' | translate"
          styleClass="p-button-text"
        ></p-button>
        <p-tieredMenu id="MENUGROUP" #group [model]="itemsGroup" [popup]="true"> </p-tieredMenu>
        <p-button
          id="GROUP"
          #btnfn
          type="button"
          icon="pi pi-list"
          (click)="group.toggle($event); function.hide(); related.hide()"
          [label]="'LABEL.GROUP' | translate"
          styleClass="p-button-text"
        ></p-button>
      </div>
    </p-header>
    <p-panel-content class="ivz-div-panel-content">
      <p-fieldset [legend]="{ text: 'LABEL.GENERAL' | translate }.text" [toggleable]="true">
        <div class="p-d-flex p-flex-wrap">
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.TRIGGER_ID' | translate }} : </label>
            <ivz-input-text inputId="TRIGGER_ID" [(ivzModel)]="model.triggerId" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.JOB_ID' | translate }} : </label>
            <ivz-input-text inputId="JOB_ID" [(ivzModel)]="model.jobId" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-100">
            <label>{{ 'LABEL.DESCRIPTION' | translate }} : </label>
            <ivz-textarea inputId="DESCRIPTION" [cols]="50" [(ivzModel)]="model.description" [ivzConfig]="DEFAULT_TEXTAREA"></ivz-textarea>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.START_DATE_TIME' | translate }} : </label>
            <ivz-input-text inputId="START_DATE_TIME" [(ivzModel)]="model.startDateTime" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.END_DATE_TIME' | translate }} : </label>
            <ivz-input-text inputId="END_DATE_TIME" [(ivzModel)]="model.endDateTime" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.NEXT_SCHEDULED_TIME' | translate }} : </label>
            <ivz-input-text inputId="NEXT_SCHEDULED_TIME" [(ivzModel)]="model.nextScheduledDateTime" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.BATCH_LAST_EXECUTED_DATE_TIME' | translate }} : </label>
            <ivz-input-text inputId="LAST_EXECUTED" [(ivzModel)]="model.lastExecutedDateTime" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
          </div>
        </div>
      </p-fieldset>
      <p-fieldset [legend]="{ text: 'LABEL.DETAILS' | translate }.text" [toggleable]="true">
        <div class="p-d-flex p-flex-wrap">
          <div class="p-grid p-col-12 p-nogutter i-fieldset-container ui-fluid">
            <!-- JOB INFO -->
            <div class="p-col-6 p-xl-6 p-lg-6 p-sm-12 p-justify-start p-nogutter i-fieldset-container ui-fluid">
              <p-fieldset [legend]="{ text: 'LABEL.JOB_INFO' | translate }.text" [toggleable]="true" class="p-nogutter">
                <div class="p-d-flex p-flex-column ele-box-w-100">
                  <label>{{ 'LABEL.JOB_STATUS' | translate }} : </label>
                  <ivz-dropdown
                    inputId="JOB_STATUS"
                    [placeholder]="'LABEL.SELECT' | translate"
                    [showClear]="false"
                    [options]="batchJobStatusOptions"
                    [(ivzModel)]="model.jobStatus"
                    [ivzConfig]="DEFAULT_DROPDOWN"
                  ></ivz-dropdown>
                </div>
                <div class="p-d-flex p-flex-column ele-box-w-100">
                  <label>{{ 'LABEL.CONTROLLER_URL' | translate }} : </label>
                  <ivz-input-text inputId="CONTROLLER_URL" [(ivzModel)]="model.controllerUrl" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
                </div>
                <div class="p-d-flex p-flex-column ele-box-w-100">
                  <label>{{ 'LABEL.JOB_DATA' | translate }} : </label>
                  <div id="JOB_DATA" pInputTextarea class="display-textarea" [innerHtml]="model.paramValues"></div>
                </div>
              </p-fieldset>
            </div>
            <!-- TRIGGER_INFO -->
            <div class="p-col-6 p-xl-6 p-lg-6 p-sm-12 p-justify-start p-nogutter i-fieldset-container ui-fluid">
              <p-fieldset [legend]="{ text: 'LABEL.TRIGGER_INFO' | translate }.text" [toggleable]="true" class="p-nogutter">
                <div class="p-d-flex p-flex-column ele-box-w-100">
                  <label>{{ 'LABEL.REPEAT_EVERY' | translate }} : </label>

                  <ivz-select-button
                    inputId="BATCH_REPEAT_EVERY"
                    [(ivzModel)]="intervalValue"
                    multiple="true"
                    [options]="intervalValueOption"
                    disable="true"
                  ></ivz-select-button>
                </div>

                <div
                  *ngIf="
                    !(
                      isUndefinedOrZeroLength(model.recurringCount) &&
                      (model.intervalType === batchIntervalType.MONTHS || model.intervalType === batchIntervalType.YEARS)
                    )
                  "
                  class="p-col-12 p-xl-12 p-lg-12 p-sm-12 p-dir-col i-field-container"
                >
                  <label>{{ 'LABEL.UNIT' | translate }} : </label>
                  <ivz-dropdown
                    inputId="UNIT"
                    [placeholder]="'LABEL.SELECT' | translate"
                    [showClear]="false"
                    [options]="batchIntervalTypeOptions"
                    [(ivzModel)]="model.intervalType"
                    [ivzConfig]="DEFAULT_DROPDOWN"
                  ></ivz-dropdown>
                </div>
                <div
                  *ngIf="
                    isUndefinedOrZeroLength(model.recurringCount) &&
                    (model.intervalType === batchIntervalType.MONTHS || model.intervalType === batchIntervalType.YEARS)
                  "
                  class="p-col-12 p-xl-12 p-lg-12 p-sm-12 p-dir-col i-field-container"
                >
                  <label>{{ 'LABEL.UNIT' | translate }} : </label>
                  <ivz-dropdown
                    inputId="UNIT"
                    [placeholder]="'LABEL.SELECT' | translate"
                    [showClear]="false"
                    [options]="batchIntervalTypeOptions"
                    [(ivzModel)]="model.intervalType"
                    [ivzConfig]="DEFAULT_DROPDOWN"
                  ></ivz-dropdown>
                </div>
                <div
                  *ngIf="
                    isUndefinedOrZeroLength(model.recurringCount) &&
                    (model.intervalType === batchIntervalType.MONTHS || model.intervalType === batchIntervalType.YEARS)
                  "
                  class="p-col-12 p-xl-12 p-lg-12 p-sm-12 p-dir-col i-field-container"
                >
                  <label>{{ 'LABEL.RUN_AT_THE_END_OF_THE_MONTH' | translate }} : </label>
                  <ivz-input-switch
                    inputId="RUN_AT_THE_END_OF_THE_MONTH"
                    [(ivzModel)]="model.isEndOfMonth"
                    [ivzConfig]="DEFAULT_INPUTSWITCH"
                  ></ivz-input-switch>
                </div>
                <div *ngIf="!isUndefinedOrZeroLength(model.recurringCount)" class="p-col-12 p-xl-12 p-lg-12 p-sm-12 p-dir-col i-field-container">
                  <label>{{ 'LABEL.REPEAT_FOR' | translate }} : </label>
                  <div class="p-grid p-align-center">
                    <div class="p-col-3">
                      <ivz-input-text inputId="REPEAT_FOR" [(ivzModel)]="model.recurringCount" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
                    </div>
                  </div>
                </div>
                <div class="p-col-3">
                  <label>{{ 'LABEL.IS_FINALIZED' | translate }} : </label>
                  <ivz-input-switch inputId="IS_FINALIZED" [(ivzModel)]="model.isFinalized" [ivzConfig]="DEFAULT_INPUTSWITCH"></ivz-input-switch>
                </div>
              </p-fieldset>
            </div>
          </div>
        </div>
      </p-fieldset>
      <p-fieldset [legend]="{ text: 'LABEL.SYSTEM' | translate }.text" [toggleable]="true">
        <div class="p-d-flex p-flex-wrap">
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.CREATED_BY' | translate }} : </label>
            <ivz-input-text inputId="CREATED_BY" [(ivzModel)]="model.createdBy" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.CREATED_DATE_TIME' | translate }} : </label>
            <ivz-calendar inputId="CREATED_DATE_TIME" [(ivzModel)]="model.createdDateTime" [ivzConfig]="DATETIME"></ivz-calendar>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.MODIFIED_BY' | translate }} : </label>
            <ivz-input-text inputId="MODIFIED_BY" [(ivzModel)]="model.modifiedBy" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.MODIFIED_DATE_TIME' | translate }} : </label>
            <ivz-calendar inputId="MODIFIED_DATE_TIME" [(ivzModel)]="model.modifiedDateTime" [ivzConfig]="DATETIME"></ivz-calendar>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label required>{{ 'LABEL.COMPANY_ID' | translate }} : </label>
            <ivz-input-text inputId="COMPANY_ID" [(ivzModel)]="model.companyId" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
          </div>
          <!-- <div class="p-d-flex p-flex-column ele-box-w-25">
          <label required>{{ 'LABEL.BUSINESS_UNIT_ID' | translate }} : </label>
          <ivz-input-text inputId="BUSINESS_UNIT_ID" [(ivzModel)]="model.ownerBusinessUnitId" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
        </div>
        <div class="p-d-flex p-flex-column ele-box-w-25">
          <label required>{{ 'LABEL.OWNER' | translate }} : </label>
          <ivz-input-text inputId="OWNER" [(ivzModel)]="model.owner" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
        </div> -->
        </div>
      </p-fieldset>
      <p-fieldset [legend]="{ text: 'LABEL.BATCH_INSTANCE_HISTORY' | translate }.text" [toggleable]="true" listview>
        <div class="p-grid p-col-12 p-justify-start div-form-input">
          <batch-history-list [parentKey]="id" [pageInfo]="childPaths[0]"></batch-history-list>
        </div>
      </p-fieldset>
    </p-panel-content>
    <p-footer class="ivz-panel-footer">
      <div class="p-d-flex p-jc-end">
        <!-- <ivz-button
          inputId="SAVE"
          [label]="'LABEL.SAVE' | translate"
          icon="pi pi-save"
          className="ivz-primary-btn p-m-2"
          [ivzConfig]="buttonConfig"
          (formValidate)="onSave($event)"
        ></ivz-button>
        <ivz-button
          inputId="SAVE_AND_CLOSE"
          [label]="'LABEL.SAVE_AND_CLOSE' | translate"
          icon="pi pi-times"
          className="ivz-primary-btn p-m-2"
          [ivzConfig]="buttonConfig"
          (formValidate)="onSaveAndClose($event)"
        >
        </ivz-button> -->
        <ivz-button
          [label]="'LABEL.CLOSE' | translate"
          icon="pi pi-power-off"
          className="ivz-primary-btn p-m-2"
          [ivzConfig]="buttonConfig"
          (click)="onClose()"
        >
        </ivz-button>
      </div>
    </p-footer>
  </p-panel>
</div>
