<div class="ivz-item-card function-l">
  <p-panel [showHeader]="true" [viewonly]="isView" class="ivz-panel">
    <p-header class="p-d-flex p-jc-between w-100">
      <div class="ivz-div-panel-title">
        <span class="ivz-panel-title p-m-2">{{ 'LABEL.PRINT_COLLECTION' | translate }}</span>
      </div>
    </p-header>
    <p-panel-content class="ivz-div-panel-content">
      <div class="w-100" *ngIf="isViewBody">
        <p-fieldset [legend]="{ text: 'LABEL.GENERAL' | translate }.text" [toggleable]="true">
          <div class="p-d-flex p-flex-wrap">
            <div class="p-d-flex p-flex-column ele-box-w-25">
              <label>{{ 'LABEL.COLLECTION_ID' | translate }} : </label>
              <ivz-input-text inputId="RECEIPT_TEMP_ID" [(ivzModel)]="model.receiptTempId" [ivzConfig]="ID_INPUTTEXT"></ivz-input-text>
            </div>
            <div class="p-d-flex p-flex-column ele-box-w-25">
              <label>{{ 'LABEL.RECEIPT_DATE' | translate }} : </label>
              <ivz-calendar inputId="RECEIPT_DATE" [(ivzModel)]="model.receiptDate" [ivzConfig]="DATE"></ivz-calendar>
            </div>
            <div class="p-d-flex p-flex-column ele-box-w-25">
              <label>{{ 'LABEL.TRANSACTION_DATE' | translate }} : </label>
              <ivz-calendar inputId="TRANS_DATE" [(ivzModel)]="model.transDate" [ivzConfig]="DATE"></ivz-calendar>
            </div>
            <div class="p-d-flex p-flex-column ele-box-w-25">
              <label>{{ 'LABEL.PRODUCT_TYPE' | translate }} : </label>
              <ivz-dropdown
                inputId="PRODUCT_TYPE"
                [(ivzModel)]="model.productType"
                [ivzConfig]="DEFAULT_DROPDOWN"
                [options]="productTypeOptions"
              ></ivz-dropdown>
            </div>
            <div class="p-d-flex p-flex-column ele-box-w-25">
              <label>{{ 'LABEL.RECEIVED_FROM' | translate }} : </label>
              <ivz-dropdown
                inputId="RECEIVED_FROM"
                [(ivzModel)]="model.receivedFrom"
                [ivzConfig]="DEFAULT_DROPDOWN"
                [options]="receivedFromOptions"
              ></ivz-dropdown>
            </div>
            <div class="p-d-flex p-flex-column ele-box-w-25">
              <label>{{ 'LABEL.CUSTOMER_ID' | translate }} : </label>
              <ivz-input-text inputId="CUSTOMER_ID" [(ivzModel)]="model.customerId" [ivzConfig]="ID_INPUTTEXT"></ivz-input-text>
            </div>
            <div class="p-d-flex p-flex-column ele-box-w-25">
              <label>{{ 'LABEL.BUYER_ID' | translate }} : </label>
              <ivz-input-text inputId="BUYER_ID" [(ivzModel)]="model.buyerId" [ivzConfig]="ID_INPUTTEXT"></ivz-input-text>
            </div>
          </div>
        </p-fieldset>
        <p-fieldset [legend]="{ text: 'LABEL.COLLECTION_INFORMATION' | translate }.text" [toggleable]="true">
          <div class="p-d-flex p-flex-wrap">
            <div class="p-d-flex p-flex-column ele-box-w-25">
              <label>{{ 'LABEL.RECEIPT_AMOUNT' | translate }} : </label>
              <ivz-input-number inputId="RECEIPT_AMOUNT" [(ivzModel)]="model.receiptAmount" [ivzConfig]="CURRENCY_13_2"> </ivz-input-number>
            </div>
            <div class="p-d-flex p-flex-column ele-box-w-25">
              <label>{{ 'LABEL.SETTLE_FEE_AMOUNT' | translate }} : </label>
              <ivz-input-number inputId="SETTLE_FEE_AMOUNT" [(ivzModel)]="model.settleFeeAmount" [ivzConfig]="CURRENCY_13_2"> </ivz-input-number>
            </div>
            <div class="p-d-flex p-flex-column ele-box-w-25">
              <label>{{ 'LABEL.SETTLE_AMOUNT' | translate }} : </label>
              <ivz-input-number inputId="SETTLE_AMOUNT" [(ivzModel)]="model.settleAmount" [ivzConfig]="CURRENCY_13_2"> </ivz-input-number>
            </div>
          </div>
        </p-fieldset>
        <p-fieldset [legend]="{ text: 'LABEL.SUSPENSE_RETENTION' | translate }.text" [toggleable]="true">
          <div class="p-d-flex p-flex-wrap">
            <div class="p-d-flex p-flex-column ele-box-w-25">
              <label>{{ 'LABEL.SUSPENSE_INVOICE_TYPE_ID' | translate }} : </label>
              <ivz-input-text
                inputId="SUSPENSE_INVOICE_TYPE_GUID"
                [(ivzModel)]="model.suspenseInvoiceType_Values"
                [ivzConfig]="ID_INPUTTEXT"
              ></ivz-input-text>
            </div>
            <div class="p-d-flex p-flex-column ele-box-w-25">
              <label>{{ 'LABEL.SUSPENSE_AMOUNT' | translate }} : </label>
              <ivz-input-number inputId="SUSPENSE_AMOUNT" [(ivzModel)]="model.suspenseAmount" [ivzConfig]="CURRENCY_13_2"> </ivz-input-number>
            </div>
            <div class="p-d-flex p-flex-column ele-box-w-25">
              <label>{{ 'LABEL.CREDIT_APPLICATION_ID' | translate }} : </label>
              <ivz-input-text inputId="CREDIT_APP_TABLE_GUID" [(ivzModel)]="model.creditAppTable_Values" [ivzConfig]="ID_INPUTTEXT"></ivz-input-text>
            </div>
          </div>
        </p-fieldset>
      </div>
      <div class="w-100">
        <ivz-report-form [parameter]="parameters" (reportReady)="onReportReady($event)"></ivz-report-form>
      </div>
    </p-panel-content>
    <p-footer class="ivz-panel-footer">
      <div class="p-d-flex p-jc-end">
        <ivz-button
          *ngIf="isViewBody"
          inputId="OK"
          [label]="'LABEL.OK' | translate"
          icon="pi pi-times"
          className="ivz-primary-btn p-m-2"
          [ivzConfig]="buttonConfig"
          (formValidate)="onSaveAndClose($event)"
        >
        </ivz-button>
        <ivz-button
          inputId="CLOSE"
          [label]="'LABEL.CLOSE' | translate"
          icon="pi pi-power-off"
          className="ivz-primary-btn p-m-2"
          [ivzConfig]="buttonConfig"
          (click)="onClose()"
        >
        </ivz-button>
      </div>
    </p-footer>
  </p-panel>
</div>
