<div class="ivz-item-card">
  <p-panel [showHeader]="true" [viewonly]="isView" class="ivz-panel">
    <p-header class="p-d-flex p-jc-between w-100">
      <div class="ivz-div-panel-title">
        <span class="ivz-panel-title p-m-2">{{ custom.title | translate }}</span>
      </div>
      <div class="ivz-div-panel-btn-group">
        <p-tieredMenu id="MENURELATED" #related [model]="relatedInfoItems" [popup]="true"> </p-tieredMenu>
        <p-button
          id="RELATED_INFO"
          #btnfn
          type="button"
          icon="pi pi-share-alt"
          (click)="related.toggle($event); function.hide(); group.hide()"
          [label]="'LABEL.RELATED_INFO' | translate"
          styleClass="p-button-text"
        >
        </p-button>
        <p-tieredMenu id="MENUFUNCTION" #function [model]="functionItems" [popup]="true"> </p-tieredMenu>
        <p-button
          id="FUNCTION"
          #btnfn
          type="button"
          icon="pi pi-cog"
          (click)="function.toggle($event); related.hide(); group.hide()"
          [label]="'LABEL.FUNCTION' | translate"
          styleClass="p-button-text"
        ></p-button>
        <p-tieredMenu id="MENUGROUP" #group [model]="itemsGroup" [popup]="true"> </p-tieredMenu>
        <p-button
          id="GROUP"
          #btnfn
          type="button"
          icon="pi pi-list"
          (click)="group.toggle($event); function.hide(); related.hide()"
          [label]="'LABEL.GROUP' | translate"
          styleClass="p-button-text"
        ></p-button>
      </div>
    </p-header>
    <p-panel-content class="ivz-div-panel-content">
      <p-fieldset [legend]="{ text: 'LABEL.GENERAL' | translate }.text" [toggleable]="true">
        <div class="p-d-flex p-flex-wrap">
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label [required]="custom.isManual">{{ 'LABEL.WITHDRAWAL_ID' | translate }} : </label>
            <ivz-input-text
              inputId="WITHDRAWAL_ID"
              [(ivzModel)]="model.withdrawalId"
              [ivzConfig]="ID_INPUTTEXT"
              [required]="custom.isManual"
            ></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label required>{{ 'LABEL.DESCRIPTION' | translate }} : </label>
            <ivz-input-text inputId="DESCRIPTION" [(ivzModel)]="model.description" [ivzConfig]="DEFAULT_INPUTTEXT" required></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label required>{{ 'LABEL.PRODUCT_TYPE' | translate }} : </label>
            <ivz-dropdown
              inputId="PRODUCT_TYPE"
              [(ivzModel)]="model.productType"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="productTypeOptions"
              required
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label required>{{ 'LABEL.CREDIT_APPLICATION_ID' | translate }} : </label>
            <ivz-input-text
              inputId="CREDIT_APP_TABLE_GUID"
              [(ivzModel)]="model.creditAppTable_Values"
              maxlength="1000"
              [ivzConfig]="DEFAULT_INPUTTEXT"
              required
            ></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label [required]="custom.isCreditAppLineMandatory">{{ 'LABEL.CREDIT_APPLICATION_LINE' | translate }} : </label>
            <ivz-dropdown
              inputId="CREDIT_APP_LINE_GUID"
              [(ivzModel)]="model.creditAppLineGUID"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="creditAppLineOptions"
              (ivzModelChange)="onCreditAppLineChange()"
              [required]="custom.isCreditAppLineMandatory"
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label required>{{ 'LABEL.STATUS' | translate }} : </label>
            <ivz-input-text
              inputId="DOCUMENT_STATUS_GUID"
              [(ivzModel)]="model.documentStatus_Values"
              maxlength="1000"
              [ivzConfig]="DEFAULT_INPUTTEXT"
              required
            ></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label required>{{ 'LABEL.CUSTOMER_ID' | translate }} : </label>
            <ivz-input-text
              inputId="CUSTOMER_TABLE_GUID"
              [(ivzModel)]="model.customerTable_Values"
              maxlength="1000"
              [ivzConfig]="DEFAULT_INPUTTEXT"
              required
            ></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.BUYER_ID' | translate }} : </label>
            <ivz-input-text
              inputId="BUYER_TABLE_GUID"
              [(ivzModel)]="model.buyerTable_Values"
              maxlength="1000"
              [ivzConfig]="DEFAULT_INPUTTEXT"
            ></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label [required]="custom.isBuyerAgreementTableMandatory">{{ 'LABEL.BUYER_AGREEMENT_ID' | translate }} : </label>
            <ivz-dropdown
              inputId="BUYER_AGREEMENT_TABLE_GUID"
              [(ivzModel)]="model.buyerAgreementTableGUID"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="buyerAgreementTableOptions"
              [required]="custom.isBuyerAgreementTableMandatory"
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.REASON_ID' | translate }} : </label>
            <ivz-dropdown
              inputId="DOCUMENT_REASON_GUID"
              [(ivzModel)]="model.documentReasonGUID"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="documentReasonOptions"
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.REMARK' | translate }} : </label>
            <ivz-textarea inputId="REMARK" [(ivzModel)]="model.remark" [ivzConfig]="DEFAULT_TEXTAREA"> </ivz-textarea>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label required>{{ 'LABEL.OPERATION_REPORT_SIGNATURE' | translate }} : </label>
            <ivz-dropdown
              inputId="OPER_REPORT_SIGNATURE_GUID"
              [(ivzModel)]="model.operReportSignatureGUID"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="employeeActiveOption"
              (ivzOnFocus)="onEmployeeTableDropdownFocus($event)"
              required
            ></ivz-dropdown>
          </div>
        </div>
      </p-fieldset>
      <p-fieldset [legend]="{ text: 'LABEL.WITHDRAWAL_INFORMATION' | translate }.text" [toggleable]="true">
        <div class="p-d-flex p-flex-wrap">
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label required>{{ 'LABEL.WITHDRAWAL_DATE' | translate }} : </label>
            <ivz-calendar
              inputId="WITHDRAWAL_DATE"
              [(ivzModel)]="model.withdrawalDate"
              [ivzConfig]="DATE"
              (ivzModelChange)="onWithdrawalDateChange()"
              required
            ></ivz-calendar>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label required>{{ 'LABEL.CREDIT_TERM_ID' | translate }} : </label>
            <ivz-dropdown
              inputId="CREDIT_TERM_GUID"
              [(ivzModel)]="model.creditTermGUID"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="creditTermOptions"
              (ivzModelChange)="onWithdrawalDateChange()"
              required
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label required>{{ 'LABEL.DUE_DATE' | translate }} : </label>
            <ivz-calendar inputId="DUE_DATE" [(ivzModel)]="model.dueDate" [ivzConfig]="DATE" required></ivz-calendar>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.TOTAL_INTEREST_PCT' | translate }} : </label>
            <ivz-input-number inputId="TOTAL_INTEREST_PCT" [(ivzModel)]="model.totalInterestPct" [ivzConfig]="PERCENT_5_2"> </ivz-input-number>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.WITHDRAWAL_AMOUNT' | translate }} : </label>
            <ivz-input-number
              inputId="WITHDRAWAL_AMOUNT"
              [(ivzModel)]="model.withdrawalAmount"
              [ivzConfig]="CURRENCY_13_2"
              (ivzModelChange)="onWithdrawalAmountChange()"
            >
            </ivz-input-number>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.INTEREST_CUT_DAY' | translate }} : </label>
            <ivz-dropdown
              inputId="INTEREST_CUT_DAY"
              [(ivzModel)]="model.interestCutDay"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="dayOfMonthOptions"
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.METHOD_OF_PAYMENT_ID' | translate }} : </label>
            <ivz-input-text
              inputId="METHOD_OF_PAYMENT_GUID"
              [(ivzModel)]="model.methodOfPayment_Values"
              maxlength="1000"
              [ivzConfig]="DEFAULT_INPUTTEXT"
            ></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.NET_PAID' | translate }} : </label>
            <ivz-input-number inputId="NET_PAID" [(ivzModel)]="model.netPaid" [ivzConfig]="CURRENCY_13_2"> </ivz-input-number>
          </div>
        </div>
      </p-fieldset>
      <p-fieldset [legend]="{ text: 'LABEL.RETENTION' | translate }.text" [toggleable]="true">
        <div class="p-d-flex p-flex-wrap">
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.RETENTION_CALCULATE_BASE' | translate }} : </label>
            <ivz-dropdown
              inputId="RETENTION_CALCULATE_BASE"
              [(ivzModel)]="model.retentionCalculateBase"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="retentionCalculateBaseOptions"
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.RETENTION_PCT' | translate }} : </label>
            <ivz-input-number inputId="RETENTION_PCT" [(ivzModel)]="model.retentionPct" [ivzConfig]="PERCENT_5_2"> </ivz-input-number>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.RETENTION_AMOUNT' | translate }} : </label>
            <ivz-input-number inputId="RETENTION_AMOUNT" [(ivzModel)]="model.retentionAmount" [ivzConfig]="CURRENCY_13_2"> </ivz-input-number>
          </div>
        </div>
      </p-fieldset>
      <p-fieldset [legend]="{ text: 'LABEL.ASSIGNMENT_AGREEMENT' | translate }.text" [toggleable]="true">
        <div class="p-d-flex p-flex-wrap">
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.ASSIGNMENT_AGREEMENT_ID' | translate }} : </label>
            <ivz-dropdown
              inputId="ASSIGNMENT_AGREEMENT_TABLE_GUID"
              [(ivzModel)]="model.assignmentAgreementTableGUID"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="assignmentAgreementTableOptions"
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.ASSIGNMENT_AMOUNT' | translate }} : </label>
            <ivz-input-number inputId="ASSIGNMENT_AMOUNT" [(ivzModel)]="model.assignmentAmount" [ivzConfig]="CURRENCY_13_2"> </ivz-input-number>
          </div>
        </div>
      </p-fieldset>
      <p-fieldset [legend]="{ text: 'LABEL.TERM_EXTENSION' | translate }.text" [toggleable]="true">
        <div class="p-d-flex p-flex-wrap">
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.TERM_EXTENSION' | translate }} : </label>
            <ivz-input-switch inputId="TERM_EXTENSION" [(ivzModel)]="model.termExtension"></ivz-input-switch>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.NUMBER_OF_EXTENSION' | translate }} : </label>
            <ivz-input-number inputId="NUMBER_OF_EXTENSION" [(ivzModel)]="model.numberOfExtension" [ivzConfig]="INTEGER"></ivz-input-number>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.EXTEND_WITHDRAWAL_ID' | translate }} : </label>
            <ivz-input-text
              inputId="EXTEND_WITHDRAWAL_TABLE_GUID"
              [(ivzModel)]="model.extendWithdrawalTable_Values"
              maxlength="1000"
              [ivzConfig]="DEFAULT_INPUTTEXT"
            ></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.ORIGINAL_WITHDRAWAL_ID' | translate }} : </label>
            <ivz-input-text
              inputId="ORIGINAL_WITHDRAWAL_TABLE_GUID"
              [(ivzModel)]="model.originalWithdrawalTable_Values"
              maxlength="1000"
              [ivzConfig]="DEFAULT_INPUTTEXT"
            ></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.TERM_EXTENSION_SERVICE_FEE_TYPE_ID' | translate }} : </label>
            <ivz-dropdown
              inputId="TERM_EXTENSION_INVOICE_REVENUE_TYPE_GUID"
              [(ivzModel)]="model.termExtensionInvoiceRevenueTypeGUID"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="invoiceRevenueTypeOptions"
              (ivzModelChange)="onTermExtensionInvoiceRevenueTypeChange()"
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.TERM_EXTENSION_FEE_AMOUNT' | translate }} : </label>
            <ivz-input-number
              inputId="TERM_EXTENSION_FEE_AMOUNT"
              [(ivzModel)]="model.termExtensionFeeAmount"
              [ivzConfig]="CURRENCY_13_2"
              (ivzModelChange)="onTermExtensionFeeAmountChange()"
            >
            </ivz-input-number>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.SETTLE_TERM_EXTENSION_FEE_AMOUNT' | translate }} : </label>
            <ivz-input-number
              inputId="SETTLE_TERM_EXTENSION_FEE_AMOUNT"
              [(ivzModel)]="model.settleTermExtensionFeeAmount"
              [ivzConfig]="CURRENCY_13_2"
            >
            </ivz-input-number>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.EXTEND_INTEREST_DATE' | translate }} : </label>
            <ivz-calendar inputId="EXTEND_INTEREST_DATE" [(ivzModel)]="model.extendInterestDate" [ivzConfig]="DATE"></ivz-calendar>
          </div>
        </div>
      </p-fieldset>
      <p-fieldset [legend]="{ text: 'LABEL.COMMENT' | translate }.text" [toggleable]="true">
        <div class="p-d-flex p-flex-wrap">
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.OPERATION' | translate }} : </label>
            <ivz-input-switch
              inputId="OPERATION_MARK_COMMENT"
              [(ivzModel)]="model.operationMarkComment"
              (ivzModelChange)="onOperationChange()"
            ></ivz-input-switch>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.CREDIT' | translate }} : </label>
            <ivz-input-switch
              inputId="CREDIT_MARK_COMMENT"
              [(ivzModel)]="model.creditMarkComment"
              (ivzModelChange)="onCreditChange()"
            ></ivz-input-switch>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.OPERATION_COMMENT' | translate }} : </label>
            <ivz-textarea inputId="OPERATION_COMMENT" [(ivzModel)]="model.operationComment" [ivzConfig]="DEFAULT_TEXTAREA"> </ivz-textarea>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.CREDIT_COMMENT' | translate }} : </label>
            <ivz-textarea inputId="CREDIT_COMMENT" [(ivzModel)]="model.creditComment" [ivzConfig]="DEFAULT_TEXTAREA"> </ivz-textarea>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.MARKETING' | translate }} : </label>
            <ivz-input-switch
              inputId="MARKETING_MARK_COMMENT"
              [(ivzModel)]="model.marketingMarkComment"
              (ivzModelChange)="onMarketingChange()"
            ></ivz-input-switch>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-50">
            <label>{{ 'LABEL.MARKETING_COMMENT' | translate }} : </label>
            <ivz-textarea inputId="MARKETING_COMMENT" [(ivzModel)]="model.marketingComment" [ivzConfig]="DEFAULT_TEXTAREA"> </ivz-textarea>
          </div>
        </div>
      </p-fieldset>
      <p-fieldset [legend]="{ text: 'LABEL.FINANCIAL_DIMENSIONS' | translate }.text" [toggleable]="true">
        <div class="p-d-flex p-flex-wrap">
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.DIMENSION_1' | translate }} : </label>
            <ivz-dropdown
              inputId="DIMENSION1GUID"
              [(ivzModel)]="model.dimension1GUID"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="ledgerDimensionOptions1"
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.DIMENSION_2' | translate }} : </label>
            <ivz-dropdown
              inputId="DIMENSION2GUID"
              [(ivzModel)]="model.dimension2GUID"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="ledgerDimensionOptions2"
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.DIMENSION_3' | translate }} : </label>
            <ivz-dropdown
              inputId="DIMENSION3GUID"
              [(ivzModel)]="model.dimension3GUID"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="ledgerDimensionOptions3"
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.DIMENSION_4' | translate }} : </label>
            <ivz-dropdown
              inputId="DIMENSION4GUID"
              [(ivzModel)]="model.dimension4GUID"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="ledgerDimensionOptions4"
            ></ivz-dropdown>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.DIMENSION_5' | translate }} : </label>
            <ivz-dropdown
              inputId="DIMENSION5GUID"
              [(ivzModel)]="model.dimension5GUID"
              [ivzConfig]="DEFAULT_DROPDOWN"
              [options]="ledgerDimensionOptions5"
            ></ivz-dropdown>
          </div>
        </div>
      </p-fieldset>
      <p-fieldset [legend]="{ text: 'LABEL.SYSTEM' | translate }.text" [toggleable]="true">
        <div class="p-d-flex p-flex-wrap">
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.CREATED_BY' | translate }} : </label>
            <ivz-input-text inputId="CREATED_BY" [(ivzModel)]="model.createdBy" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.CREATED_DATE_TIME' | translate }} : </label>
            <ivz-calendar inputId="CREATED_DATE_TIME" [(ivzModel)]="model.createdDateTime" [ivzConfig]="DATETIME"></ivz-calendar>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.MODIFIED_BY' | translate }} : </label>
            <ivz-input-text inputId="MODIFIED_BY" [(ivzModel)]="model.modifiedBy" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label>{{ 'LABEL.MODIFIED_DATE_TIME' | translate }} : </label>
            <ivz-calendar inputId="MODIFIED_DATE_TIME" [(ivzModel)]="model.modifiedDateTime" [ivzConfig]="DATETIME"></ivz-calendar>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label required>{{ 'LABEL.COMPANY_ID' | translate }} : </label>
            <ivz-input-text inputId="COMPANY_ID" [(ivzModel)]="model.companyId" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label required>{{ 'LABEL.BUSINESS_UNIT_ID' | translate }} : </label>
            <ivz-input-text inputId="BUSINESS_UNIT_ID" [(ivzModel)]="model.ownerBusinessUnitId" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
          </div>
          <div class="p-d-flex p-flex-column ele-box-w-25">
            <label required>{{ 'LABEL.OWNER' | translate }} : </label>
            <ivz-input-text inputId="OWNER" [(ivzModel)]="model.owner" [ivzConfig]="DEFAULT_INPUTTEXT"></ivz-input-text>
          </div>
        </div>
      </p-fieldset>
      <p-fieldset *ngIf="isUpdateMode" [legend]="{ text: 'LABEL.WITHDRAWAL_LINE' | translate }.text" [toggleable]="true" listview>
        <div class="p-grid p-col-12 p-justify-start div-form-input">
          <withdrawal-line-list [pageInfo]="childPaths[0]"></withdrawal-line-list>
        </div>
      </p-fieldset>
    </p-panel-content>
    <p-footer class="ivz-panel-footer">
      <div class="p-d-flex p-jc-end">
        <ivz-button
          inputId="SAVE"
          [label]="'LABEL.SAVE' | translate"
          icon="pi pi-save"
          className="ivz-primary-btn p-m-2"
          [ivzConfig]="buttonConfig"
          (formValidate)="onSave($event)"
        ></ivz-button>
        <ivz-button
          inputId="SAVE_AND_CLOSE"
          [label]="'LABEL.SAVE_AND_CLOSE' | translate"
          icon="pi pi-times"
          className="ivz-primary-btn p-m-2"
          [ivzConfig]="buttonConfig"
          (formValidate)="onSaveAndClose($event)"
        >
        </ivz-button>
        <ivz-button
          inputId="CLOSE"
          [label]="'LABEL.CLOSE' | translate"
          icon="pi pi-power-off"
          className="ivz-primary-btn p-m-2"
          [ivzConfig]="buttonConfig"
          (click)="onClose()"
        >
        </ivz-button>
      </div>
    </p-footer>
  </p-panel>
</div>
